
[%
# title.tt
# jt6 20060424 WTSI
#
# build the tab title for the iPfam pages
#
# $Id: title.tt,v 1.3 2007-03-15 11:00:07 jt6 Exp $

IF titleType == "tab" %]
<h2><em>i</em>Pfam:<em>[% pfam.pfamA_id %]</em>&nbsp;([% pfam.pfamA_acc %])</h2>
[% ELSIF titleType == "page" %]
Domain Interactions for: [% pfam.pfamA_id %]( [% pfam.pfamA_acc %] )
[% END %]