
[%#
# title.tt
# jt6 20060424 WTSI
#
# build the tab title for the iPfam pages
#
# $Id: title.tt,v 1.2 2006-09-28 10:09:08 rdf Exp $
%]

[% IF titleType == "page" %]
Domain Interactions for: [% pfam.pfamA_id %]( [% pfam.pfamA_acc %] )
[% ELSIF titleType == "tab" %]
<h2>iPfam:[% pfam.pfamA_id %]</h2>
[% END %]
