
[%#
# title.tt
# jt6 20060424 WTSI
#
# build the tab title for the iPfam pages
#
# $Id: title.tt,v 1.1 2006-08-22 13:30:00 rdf Exp $
%]

[% IF titleType == "tab" %]
<h2>iPfam: <em></em></h2>
[% ELSIF titleType == "page" %]
iPfam:&nbsp;()
[% END %]
