[%
# head.tt
# jt6 20060314 WTSI
#
# the contents of the <head> section of the web page. This template controls the
# importing of stylesheets, javascripts, etc., and decides which tab should be
# shown, using a snippet of JS.
#
# $Id: head.tt,v 1.23 2007-05-08 15:19:51 jt6 Exp $
-%]

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- ====================================================================== -->
<!-- make the site RSS feed discoverable --> 

<link href="[% c.uri_for( "/rss/pfam.rdf" ) %]" 
      rel="alternate"
      type="application/rss+xml"
      title="Pfam News" />

<!-- ====================================================================== -->
<!-- load the common files first -->

<!-- prototype -->
<script type="text/javascript" src="[% base %]javascripts/prototype.js"></script>

<!-- local javascript -->
<script type="text/javascript" src="[% base %]javascripts/pfFunctions.js"></script>

<!-- global stylesheet -->
<link rel="stylesheet" href="[% base %]css/pfam.css" type="text/css" />

<!-- ====================================================================== -->
<!-- load dynamically required stylesheets and javascript files-->
[%
# somewhere to aggregate the lists of requirements from all templates
cssIncludes = [];
cssIeIncludes = [];
cssIeAllIncludes = [];
jsIncludes  = [];

# merge the requirements
FOREACH key IN requirements.keys;
  SWITCH key;
    CASE "css";
      FOREACH stylesheet IN requirements.css;
        cssIncludes.push( "<link rel='stylesheet' href='${base}css/$stylesheet' type='text/css' />" );
      END;
    CASE "cssIe";
      FOREACH stylesheet IN requirements.cssIe;
        cssIeIncludes.push( "<link rel='stylesheet' href='${base}css/$stylesheet' type='text/css' />" );
      END;
    CASE "cssIeAll";
      FOREACH stylesheet IN requirements.cssIeAll;
        cssIeAllIncludes.push( "<link rel='stylesheet' href='${base}css/$stylesheet' type='text/css' />" );
      END;
    CASE "js";
      FOREACH js IN requirements.js;
        jsIncludes.push( "<script type='text/javascript' src='${base}javascripts/$js'></script>" );
      END;
  END; # of SWITCH
END -%]

<!-- required javascripts -->
[%-
# dump out the uniquified requirements for all browsers

# first javascripts
FOREACH script IN jsIncludes.unique %]
[% script;
END %]

<!-- styles applicable to all browsers -->
[%- FOREACH stylesheet IN cssIncludes.unique %]
[% stylesheet;
END %]

[% IF cssIeIncludes.size -%]
<!-- styles applicable to IE6 and below -->
<!--[if lt IE 7 ]>
  <link rel="stylesheet" href="[% base %]css/pfam_ie.css" type="text/css" />
[%- FOREACH stylesheet IN cssIeIncludes.unique %]
  [% stylesheet;
END %]
<![endif]-->
[%- END -%]

[% IF cssIeAllIncludes.size -%]
<!-- styles applicable to all versions of IE -->
<!--[if IE ]>
  <link rel="stylesheet" href="[% base %]css/pfam_all_ie.css" type="text/css" / >
[%- FOREACH stylesheet IN cssIeAllIncludes.unique %]
  [% stylesheet;
END %]
<![endif]-->
[%- END -%]

<!-- ====================================================================== -->
<!-- set the favicon -->

<link rel="shortcut icon" 
      type="image/png" 
      href="[% base %]images/favicon.png" />
      
<!-- ====================================================================== -->
