[%
# head.tt
# jt6 20060314 WTSI
#
# the contents of the <head> section of the web page. This template controls the
# importing of stylesheets, javascripts, etc., and decides which tab should be
# shown, using a snippet of JS.
#
# $Id: head.tt,v 1.11 2006-11-07 16:48:34 jt6 Exp $
-%]

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- ====================================================================== -->
<!-- make the site RSS feed discoverable --> 

<link href="/rss/pfam_rss_feed.rdf" 
      rel="alternate"
      type="application/rss+xml"
      title="Pfam News" />

<!-- ====================================================================== -->
<!-- stylesheets -->

<link rel="stylesheet" href="[% c.uri_for( "/css/pfam.css" ) %]" type="text/css" />
<link rel="stylesheet" href="[% c.uri_for( "/css/lightbox.css" ) %]" type="text/css" />
<link rel="stylesheet" href="[% c.uri_for( "/css/annotate.css" ) %]" type="text/css" />
<link rel="stylesheet" href="[% c.uri_for( "/css/alignment.css" ) %]" type="text/css" />
<link rel="stylesheet" href="[% c.uri_for( "/css/tab_layout.css" ) %]" type="text/css" />
[% IF layouts.${pageType}.css.global -%]
  [% css = layouts.${pageType}.css.global -%]
  <link rel="stylesheet" href="[% c.uri_for( "/css/${css}" ) %]" type="text/css" />
[% END -%]

<!-- styles applicable to all versions of IE -->
<!--[if IE ]>
<link rel="stylesheet" href="[% c.uri_for( "/css/pfam_all_ie.css" ) %]" type="text/css" />
<link rel="stylesheet" href="[% c.uri_for( "/css/tab_layout_all_ie.css" ) %]" type="text/css" />
<![endif]-->

<!-- styles applicable to IE6 and below -->
<!--[if lt IE 7 ]>
<link rel="stylesheet" href="[% c.uri_for( "/css/pfam_ie.css" ) %]" type="text/css" />
<link rel="stylesheet" href="[% c.uri_for( "/css/tab_layout_ie.css" ) %]" type="text/css" />
[% # stylesheets for individual page types are currently assumed to be applicable
   # to IE6 and below
IF layouts.${pageType}.css.ie;
  css = layouts.${pageType}.css.ie -%]
  <link rel="stylesheet" href="[% c.uri_for( "/css/${css}" ) %]" type="text/css" />
[% END -%]
<![endif]-->

<!-- ====================================================================== -->
<!-- set the favicon -->
<link rel="shortcut icon" href="[% c.uri_for( "/images/favicon.ico" ) %]" />

<!-- ====================================================================== -->
<!-- sortable tables -->
<script type="text/javascript" src="[% c.uri_for("/javascripts/sorttable.js" ) %]"></script>

<!-- ====================================================================== -->
<!-- YAHOO modules -->

<!-- Namespace source file -->
<script type="text/javascript" src="[% c.uri_for( "/javascripts/yui/yahoo.js" ) %]"></script>

<!-- Dependency source files -->
<script type="text/javascript" src="[% c.uri_for( "/javascripts/yui/dom.js" ) %]" ></script>
<script type="text/javascript" src="[% c.uri_for( "/javascripts/yui/event.js" ) %]" ></script>

<!-- TreeView widget and accompanying stylesheet -->
<script type="text/javascript" src="[% c.uri_for( "/javascripts/yui/treeview.js" ) %]"></script>
<script type="text/javascript" src="[% c.uri_for( "/javascripts/yui/TaskNode.js" ) %]"></script>
<link rel="stylesheet" type="text/css" href="[% c.uri_for( "/css/tree.css" ) %]" />

<!-- tooltips -->
<script type="text/javascript" src="[% c.uri_for( "/javascripts/yui/container.js" ) %]"></script>

<!-- ====================================================================== -->
<!-- scriptaculous and prototype -->

<script type="text/javascript" src="[% c.uri_for( "/javascripts/prototype.js" ) %]"></script>
<script type="text/javascript" src="[% c.uri_for( "/javascripts/selector-addon-v1.js" ) %]"></script>
<script type="text/javascript" src="[% c.uri_for( "/javascripts/scriptaculous/scriptaculous.js" ) %]"></script>
<script type="text/javascript" src="[% c.uri_for( "/javascripts/scriptaculous/effects.js" ) %]"></script>

<script type="text/javascript" src="[% c.uri_for( "/javascripts/lightbox.js" ) %]"></script>

<!-- ====================================================================== -->
<!-- local javascript -->

<script type="text/javascript" src="[% c.uri_for( "/javascripts/pfFunctions.js" ) %]"></script>
<script type="text/javascript" src="[% c.uri_for( "/javascripts/family.js" ) %]"></script>
<script type="text/javascript" src="[% c.uri_for( "/javascripts/structure.js" ) %]"></script>
<script type="text/javascript" src="[% c.uri_for( "/javascripts/clans.js" ) %]"></script>
<script type="text/javascript" src="[% c.uri_for( "/javascripts/protein.js" ) %]"></script>
<script type="text/javascript" src="[% c.uri_for( "/javascripts/pfamb.js" ) %]"></script>

<!-- ====================================================================== -->
<!-- jmol -->	
<script type="text/javascript" src="[% c.uri_for( "/jmol/Jmol.js" ) %]"></script>

<!-- ====================================================================== -->
<!-- build the menus... -->

<script type="text/javascript" src="[% c.uri_for( "/javascripts/jimmac.js" ) %]"></script>
<script type="text/javascript">
  new ypSlideOutMenu("menu2","down",273,-2,100,125);
  new ypSlideOutMenu("menu3","down",373,-2,100,100);
  new ypSlideOutMenu("menu4","down",473,-2,100,50);
  new ypSlideOutMenu("menu5","down",573,-2,100,50);
  new ypSlideOutMenu("menu6","down",673,-2,100,600);
</script>

<!-- ====================================================================== -->
<!-- tab selection -->

[%# do we want to highlight a particular tab ? %]
<script type="text/javascript">
  serverRoot = "[% constants.root # the server root, e.g. /catalyst/PfamWeb %]";
  section    = "[% pageType       # the site section, e.g. family, protein, etc. %]";
  showTab    = "[% showTab        # default tab; can be overridden by the cookie %]";
  Event.observe( window, "load", chooseTab, false );
</script> 

