
<title>Pfam: [% title %]</title>

<!-- ====================================================================== -->
<!-- JT 20051020 WTSI -->

<script type="text/javascript" src="[% constants.server %][% constants.root %]/pfam.js"></script>

<!-- make the site RSS feed discoverable --> 
<link href="/rss/pfam_rss_feed.rdf" 
      rel="alternate"
      type="application/rss+xml"
      title="Pfam News" />

<!-- ====================================================================== -->
<!-- JT 20051129 WTSI -->

<!-- javascript for sortable tables -->
<script type="text/javascript"
        src="[% constants.server %][% constants.root %]/sortabletable.js">
  <!-- see http://webfx.eae.net/dhtml/sortabletable/sortabletable.html -->
</script>

<!-- ====================================================================== -->
<!-- Sanger menus... -->

<!-- <link rel="stylesheet" href="[% constants.server %]/css/wtsi.css" type="text/css" /> -->

<link rel="stylesheet" href="[% constants.server %]/css/menus/jimmac.css" type="text/css" />
<script type="text/javascript" src="[% constants.server %]/js/menus/jimmac.js"></script>
<script type="text/javascript">
  new ypSlideOutMenu("menu2","down",273,16,100,125)
  new ypSlideOutMenu("menu3","down",373,16,100,100)
  new ypSlideOutMenu("menu4","down",473,16,100,50)
  new ypSlideOutMenu("menu5","down",573,16,100,50)
  new ypSlideOutMenu("menu6","down",673,16,100,600)
</script>

<!-- ====================================================================== -->
<!-- Pfam specific CSS -->

<link rel="stylesheet" href="/static/css/pfam.css" type="text/css" />

<!-- ====================================================================== -->
<!-- TT-specific CSS -->

<link rel="stylesheet" href="/static/css/blocks.css" type="text/css" />
	
<!-- ====================================================================== -->
<!-- YAHOO modules -->

<!-- Namespace source file -->
<script type="text/javascript" src="/static/javascripts/YAHOO.js" ></script>

<!-- Dependency source files -->
<script type="text/javascript" src="/static/javascripts/dom.js" ></script>
<script type="text/javascript" src="/static/javascripts/event.js" ></script>

<!-- Connection Manager source file -->
<script type="text/javascript" src="/static/javascripts/connection.js"></script>

<!-- ====================================================================== -->
<!-- JSON handling -->

<script type="text/javascript" src="/static/javascripts/json.js"></script>

<!-- ====================================================================== -->
<!-- my code -->

<script type="text/javascript" src="/static/javascripts/Block.js"></script>
<script type="text/javascript" src="/static/javascripts/blockConfig.js"></script>
