
[%#
# icons.tt
# jt6 20060406 WTSI
#
# overview icons for the top of the page
#
# $Id: icons.tt,v 1.6 2006-04-10 10:11:18 jt6 Exp $
%]

[% icons = [
             { id     = "archIcon",
               block  = "domainsBlock",
               count  = summaryData.numArchitectures,
               items  = "architectures" },
             { id     = "seqIcon",    
			   block  = "alignBlock",
               count  = summaryData.numSequences,
               items  = "sequences" },
             # this is hard coded !
             { id     = "ipfamIcon",
               block  = "ipfamBlock",
               count  = summaryData.numIpfam,
               items  = "interactions" },
			 # that was hard coded !
             { id     = "specIcon",
               block  = "treeBlock",
               count  = summaryData.numSpecies,
               items  = "species" },
             { id     = "structIcon",
               block  = "pdbBlock",
               count  = summaryData.numStructures,
               items  = "structures" },
           ]
%]

<div id="icons">
  [% FOREACH icon IN icons %]
    [% IF activity.${icon.block} %]
      <a href="javascript:show('[% icon.block %]')" id="[% icon.id %]"><em>[% icon.count %]</em>&nbsp;[% icon.items %]</a>
    [% ELSE %]
      <span id="[% icon.id %]"><em>[% icon.count %]</em>&nbsp;[% icon.items %]</span>
    [% END %]
  [% END %]
</div>
