[%
# jumpBox.tt
# jt6 20061215 WTSI
#
# build a "jump box", consisting of a search field and submit button.
#
# $Id: jumpBox.tt,v 1.6 2007-04-20 15:26:09 jt6 Exp $

META naked = 1;

# decide if we want the long or short starting message in the field
msg = short ? "enter ID/acc" : "enter an ID or accession";
%]

<!-- start of the jump box -->

<div id="jumpBox" class="sidebarComponent">
	<h1>
		<span>Jump to...</span>
		<a href="[% c.uri_for( "/help" ) %]">
	 		<img class="info" alt="View help" src="[% c.uri_for( "/images/info.gif" ) %]" /></a>
	</h1>

  [% IF addHeader %]
  <p class="small">
    Enter the accession or ID for the Pfam family, protein entry, PDB entry or clan
    that you would like to visit.
  </p>
  [% END %]
  
	<form action="[% c.uri_for( "/search/jump" ) %]" method="get" name="jumpForm" id="jumpForm">
		<input class="entryField" type="text" onfocus="if(!cleared){this.value='';cleared=true}" size="10" name="entry" id="entry" />
	</form>
	<script type="text/javascript">
		$("entry").value = "[% msg %]";
		var cleared = false;
	</script>
	<div onclick="if($F('entry')&amp;&amp;cleared)$('jumpForm').submit()"
		 class="glassButton goButton">&nbsp;</div>
	<div class="cleaner"><!-- empty --></div>
  [% IF c.req.param( "jumpFailed" ) %]
  <span class="error">Couldn't figure out jump</span>
  [% END %]
</div>

<!-- end of the jump box -->
