[%
# someSequences.tt
# jt6 20060410 WTSI
#
# This template generates a page fragment showing the domain graphics for
# the user-selected sequences that came from the species tree. It should be 
# called by the DomainGraphics controller, via ajax.
#
# $Id: someSequences.tt,v 1.12 2009-10-16 14:52:45 jt6 Exp $

META naked = 1;

USE String;

BLOCK graphicRow; -%]

  <!-- start of graphics row [% loop.index %] -->
  
  <div id="row[% id %]"
       class="graphicRow [% loop.index % 2 ? "odd" : "even" %]">

    <span class="graphicLabel">
      <a href="[% c.uri_for( "/protein", id ) %]">[% id %]</a>
      [% # capitalise the species name
      info = String.new( seqInfo.$id.species );
      "["; info.replace( '\[\s*', '' ).capital; "]" -%]
      [% seqInfo.$id.desc -%]
      ([% seqInfo.$id.length %] residues)
    </span>

    <div class="pgholder"></div>

    [%-# somewhere to stuff the post-post-loaded graphics... %]
    <div class="domainArch">
      <div style="display: none" 
           class="loading">
        Loading all sequences...
      </div>
    </div>

  </div> 
  
  <!-- end of graphics row [% loop.index %] -->

[% END; # of "BLOCK graphicRow"

# and actually build the rows now...
FOREACH id IN ids;  
  PROCESS graphicRow id = id;
END; # of "FOREACH id" -%]

<script type="text/javascript">
  // <![CDATA[

  [% # we need to stash a couple of bits of information for each of the architecture:
     #   count: the number of sequences for this architecture
     #   arch:  the auto_architecture number for this architecture
     # we store them on the HTML nodes directly, so that they're easily accessible to
     # the javascript object that controls this page
  FOREACH id IN ids -%]
  $("row[% id %]").store( "count", [% seqInfo.$id.num %] )
                  .store( "arch",  [% seqInfo.$id.auto_arch %] );
  [% END -%]

  var uri = "[% c.uri_for( '/domaingraphics' ) %]";
  var layout = [% layout OR "{}" %];
  var assignedColours = [% assignedColours OR "{}" %];

  var dgl = new DomainGraphicsLoader( uri, layout, assignedColours );

  // ]]>
</script>

[% IF first.defined AND last.defined;
  IF ( last + 1 ) < numRows %]
    <div id="next[% first %]">
      <p>
        Currently showing sequences 1 to [% last + 1 %], out of a
        total of [% numRows %].
      </p>
      <input id="loadingButton"
             type="button"
             value="Show next [% count %]" />
      <span id="loadingSpinner"
            class="loading"
            style="display: none">Loading next set...</span>
    </div>

    <script type="text/javascript">
      // <![CDATA[

      $("loadingButton").observe( "click", function() {
        $('loadingSpinner').show();
        if ( $('loadingButton') ) {
          $('loadingButton').disable();
        }
        var r = new Ajax.Updater( 
          "next[% first %]",
          "[% c.uri_for( '/domaingraphics' ) %]",
          { evalScripts: true,
            parameters:  { jobId:   "[% jobId %]",
                           start:   "[% last + 1 %]",
                           subTree: 1 },
            onFailure:   function() {
                           $('next[% first %]').update( 'There was a problem retrieving the next set of domain graphics' );
                         }
          }
        );
      } );

      // ]]>
    </script>

  [% ELSE %]
    <p>
      [% IF numRows > 1 %]
        Showing all [% numRows %] sequences.
      [% ELSE %]
        Showing the only sequence.
      [% END %]
    </p>
  [% END;
END %]
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
