
[%
# speciesTreeJS.tt
# jt6 20070626 WTSI
#
# build the javascript boiler plate that controls loading of the species
# tree
#
# $Id: speciesTreeJS.tt,v 1.1 2007-06-28 13:28:47 jt6 Exp $
%]

<script type="text/javascript">
  // <![CDATA[
  [%# the parameters for the initial ajax call to build the tree -%]
  loadOptions.st.params = "acc=[% acc %]";
  loadOptions.st.uri    = "[% base %]speciestree/interactive";

  [%# the URL to visit when the user selects nodes and wants to view the subtree -%]
  var selectURI         = "[% base %]speciestree/subtree";

  [%# a hash that maps between the ID of the summary node and the TaskNode object -%]
  nodeMapping = {};

  [%# a hash that maps between the ID of the summary node and string of sequence 
    # accessions -%]
  nodeSequences = {};

  [%# hide the controls until the tree is loaded, to avoid them overlaying the footer %]
  $("treeToolsContent").hide();

  // ]]>
</script>
