
[%
# speciesTreeJS.tt
# jt6 20070626 WTSI
#
# build the javascript boiler plate that controls loading of the species
# tree
#
# $Id: speciesTreeJS.tt,v 1.7 2008-02-04 17:14:53 jt6 Exp $

stUri = c.uri_for( "/speciestree" );
%]

<script type="text/javascript">
  // <![CDATA[
  [%# the parameters for the initial ajax call to build the tree -%]
  loadOptions.st.params  = { acc: "[% acc %]",
                             ie:  Prototype.Browser.IE };
  if( Prototype.Browser.IE ) {
    loadOptions.st.uri = "[% stUri %]/text";
  } else {
    loadOptions.st.uri = "[% stUri %]/interactive";
  }

  [%# the URL for storing the list of selected IDs -%]
  var selectStoreURI     = "[% stUri %]/store_ids";

  [%# the URL to visit when the user selects nodes and wants to view the 
    # selected sequences as domain graphics -%]
  var selectGraphicsURI  = "[% stUri %]/graphics";

  [%# the URL to visit when the user selects nodes and wants to view the 
    # selected sequences as an alignment -%]
  var selectAlignmentURI = "[% c.uri_for( "/family/alignment/builder" ) %]";

  [%# the URL to visit when the user selects nodes and wants to download the 
    # selected sequence accessions -%]
  var selectAccessionsURI = "[% stUri %]/accessions";

  [%# the URL to visit when the user selects nodes and wants to download the 
    # selected sequences in FASTA format -%]
  var selectFastaURI = "[% stUri %]/sequences";

  [%# a hash that maps between the ID of the summary node and the TaskNode object -%]
  nodeMapping = {};

  [%# a hash that maps between the ID of the summary node and string of sequence 
    # accessions -%]
  nodeSequences = {};

  // ]]>
</script>
