[%
# speciesTreeControls.tt
# jt6 20070626 WTSI
#
# build the "control panel" for the species tree
#
# $Id: speciesTreeTools.tt,v 1.10 2007-11-09 16:38:36 jt6 Exp $
%]

<div id="treeTools">

  <div id="treeToolsHeader" onclick="toggleTools()">
    <h3>Tree controls</h3>
    <span id="toolsToggle">Hide</span>
		<div class="cleaner"><!-- empty --></div>
  </div>

  <div id="treeToolsContent" style="display: none">

    <ul>
      <li>
        Fully <a href="#" onclick="tree.expandAll();return false">expand</a> tree
      </li>
      <li>
        Fully <a href="#" onclick="tree.collapseAll();return false">collapse</a> tree
      </li>
      <li>
        <div id="ddph">Expand tree...</div>
      </li>
    </ul>

    <h3>Annotation</h3>
    <ul> 
      [% IF entryType == "A" %]
      <li>
        <a id="seedToggle" 
           href="#"
           onclick="toggleHighlightSeed();return false">Hide</a> highlighting 
        of species in seed
      </li>
      [% END %]
      <li>
        <a id="sumToggle"
           href="#"
           onclick="toggleShowSummaries();return false">Hide</a> summaries
      </li>
      <li>
        Key: <span class="specSum">species</span>, 
             <span class="seqSum">sequences</span>,
             <span class="domSum">domains</span>
      </li>
    </ul>

    <h3>Download</h3>
    <ul>
      <li>
        <a href="[% c.uri_for( "/speciestree/text", { acc = acc, loadTree = 1 } ) | html %]">Save</a> 
        a text representation
      </li>
    </ul>

    <h3>View selected sequences</h3>
    <ul>
      <li>
        <a onclick="tree.getRoot().children[0].uncheck();return false"
           href="#">Uncheck</a> all
      </li>
      <li>
        <span class="link" onclick="collectSequences( 'G', '[% acc %]' )">
          Graphically</span>
      </li>
      [% IF entryType == "A" %]
        <li>
          As an <span class="link" onclick="collectSequences( 'A', '[% acc %]' )">
            alignment</span>
        </li>
      [% END %]
    </ul>

  </div>

</div>
