[%
# tooltips.tt
# jt6 20061026 WTSI
#
# write a snippet of javascript that creates tooltip objects. Relies on the 
# "tips" hash which is initialised at the top of the wrapper.
#
# $Id: tooltips.tt,v 1.1 2006-10-26 16:06:25 jt6 Exp $
%]

<script type="text/javascript">
[%
FOREACH contextId IN tips.keys;

  section = tips.$contextId.section;
  id      = tips.$contextId.id;

  header = helpSystem.section.${section}.tip.${id}.header;
  body   = helpSystem.section.${section}.tip.${id}.body;

  CALL c.log.debug( "contextId: |$contextId|" );
  CALL c.log.debug( "  section: ${tips.$contextId.section}" );
  CALL c.log.debug( "  id:      ${tips.$contextId.id}" );
  CALL c.log.debug( "  header:  $header" );
  CALL c.log.debug( "  body:    $body" );

%]
var [% contextId %] = new YAHOO.widget.Tooltip( "[% contextId %]_tipDiv", 
                                                {
                                                  context: "[% contextId %]", 
                                                  width: "200px"
                                                }
                                              );
[% contextId %].setHeader( "[% header %]" );
[% contextId %].setBody( "[% body %]" );
[% contextId %].render();

[%
END;
%]
</script>
