
[%#
# graphics.tt
# jt6 20060502 WTSI
# 
# block for graphics for the protein section
#
# $Id: graphics.tt,v 1.3 2006-05-24 16:06:30 jt6 Exp $
-%]

<!-- start protein graphics block -->

<div class="block" id="proteinGraphicsBlock">
  <div class="handle">
    <h1>Graphics</h1>
  </div>
  <div class="blockContent">

    <!-- start of graphics div -->
    <div id="graphicsHolder">
	  <p id="pgph">
        <img src="static/images/loading.gif" alt="loading..." />
        Loading feature alignment...
      </p>
    </div>
    <!-- end of graphics div -->

    <script type="text/javascript">
      loadOptions.pg.uri    = "[% c.uri_for( "/updatesources" ) %]";
      loadOptions.pg.params = "acc=[% pfamseq.pfamseq_acc %]";
	</script>

	<p><a id="revealControl" href="#" onclick="revealDASSources();return false">Show</a></p>

	<div id="checkboxes" style="display: none">

    <p>Using the following default servers:</p>
	<ul>
      [% FOREACH source IN dasSourcesRs -%]
        [% IF source.default_server -%]
        <li>[% source.name %]</li>
        [% END -%]
      [% END -%]
    </ul>

	[% c.prototype.form_remote_tag( { url    => c.uri_for( "/updatesources" ),
			                       	  update => "graphicsHolder" } ) %]
  
	  <input type="hidden" name="acc" value="[% pfamseq.pfamseq_acc %]" />

      [% FOREACH source IN dasSourcesRs.sort("name") -%]
	    [% IF NOT source.default_server -%]
  	      <div class="source">
  	        <input name="[% source.server_id %]" type="checkbox" />
    	      <span class="checkboxLabel">
              <a href="[% source.helper_url %]">[% source.name %]</a>
              (<a href="[% source.url %]">source</a>)
  	        </span>
          </div>
        [% END -%]
      [% END -%]

	  <input name="submit" value="Update" type="submit" />

	</form>

	  <div class="cleaner">&nbsp;</div>
	</div>

  </div>

</div>

<!-- end protein graphics block -->
