[%
# loadGraphics.tt
# jt6 20060503 WTSI
#
# contents of the protein graphics block. Called using an ajax request
# via Protein::Graphics and stuffed into a div in the existing page
#
# $Id: loadGraphics.tt,v 1.12 2006-10-24 12:48:27 jt6 Exp $

META naked = 1
-%]

<!-- start of features map -->

<div id="featuresMap">

  <div id="highlight"></div>
  <div id="cursor"></div>

  [% lastImage = maps.size - 1 %]
  [% range = [ 0 .. lastImage ] %]
  [% FOREACH i IN range %]
  	[% map = maps.$i %]
	<div class="featuresRow" id="featuresRow[% i %]">

      <p class="featuresLabel">[% map.server %]</p>

      <img class="featuresImage" id="featuresImage[% i %]" src="[% constants.tmp %]/[% map.image %]" usemap="#featuresMap[% i %]" alt="" />

      <map name="featuresMap[% i %]">
        [% map.map %]
      </map>

    </div>
  [% END %]

  <div class="cleaner">&nbsp;</div>

</div>

<div id="status">&nbsp;</div>

<script type="text/javascript">
  var areas = $("featuresMap").getElementsByTagName( "area" );

  for( var i = 1; i <= areas.length; i++ ) {
	if( $("featuresArea" + i) ) {
	  Event.observe( "featuresArea" + i, "mouseover", highlightFeature );
      //domTT_addPredefined( "featuresArea" + i + "Tip",
	  //  "caption",    $("tip" + i + "Caption" ),
      //  "content",    $("tip" + i + "Content" ),
	  //  "styleClass", "niceTitle",
      //  "trail",      true
	  //);
	}
  }
  Event.observe( "featuresMap", "mousemove", moveCursor );
  Event.observe( "highlight",   "mousemove", moveCursor, true );
  Event.observe( "highlight",   "mouseout",  unhighlight );

</script>

<!-- end of features map -->
