
[%#
# simap.tt
# jt6 20060719 WTSI
# 
# block for the SIMAP data
#
# $Id: simap.tt,v 1.5 2006-09-13 08:30:10 jt6 Exp $
-%]

<!-- start SIMAP block -->

<div class="block" id="proteinSIMAPBlock">
  <div class="handle">
    <h1>SIMAP</h1>
  </div>
  <div class="blockContent">

	<!-- start of SIMAP graphics div -->
    <div id="simapGraphicsHolder">
	  <p id="simapph" class="loading">
        Loading feature alignment...
      </p>
    </div>
    <!-- end of graphics div -->

    <script type="text/javascript">
      loadOptions.simap.uri    = "[% c.uri_for( "/protein/simap" ) %]";
      loadOptions.simap.params = "acc=[% pfamseq.pfamseq_acc %]";
  	</script>

  </div> <!-- end of "blockContent" -->
</div> <!-- end of "block" -->

<!-- end SIMAP block -->
