[% 
# structure.tt
# jt6 20060719 WTSI
# 
# block for the structure data for the sequence section
#
# $Id: structure.tt,v 1.14 2008-05-16 15:30:35 jt6 Exp $

RETURN UNLESS pfamMaps.size;
-%]

<!-- start structure block -->

<div class="block" id="proteinStructureBlock">
  <div class="handle">
    <h1>Structures</h1>
  </div>
  <div class="blockContent">
    <p>
      For those sequences which have a structure in the
      <a class="ext" href="http://www.wwpdb.org/">Protein DataBank</a>, we
      use the mapping between <a class="ext" 
        href="http://www.ebi.uniprot.org/">UniProt</a>, PDB and Pfam coordinate
      systems from the <a class="ext" 
        href="http://www.ebi.ac.uk/msd/">MSD</a> group, to allow us to map
      Pfam domains onto UniProt three-dimensional structures. The table below
      shows the mapping between Pfam domains, this UniProt entry and a 
      corresponding three dimensional structure. 
    </p>

    [%- mapping = {};
    FOREACH pdbMap IN pfamMaps;
      seqKey = pdbMap.pfamA_id; # N.B. seqKey is the Pfam ID here !!!
      IF ! mapping.$seqKey;
        mapping.$seqKey = {};
      END;
    
      resKey = "${pdbMap.seq_start} - ${pdbMap.seq_end}";
      IF ! mapping.$seqKey.$resKey;
        mapping.$seqKey.$resKey = {};
      END;

      pdbKey = pdbMap.pdb_id;
      IF ! mapping.$seqKey.$resKey.$pdbKey;
        mapping.$seqKey.$resKey.$pdbKey = {};
      END;
      IF ! mapping.$seqKey.$resKey.COUNT;
        mapping.$seqKey.$resKey.COUNT = 1;
      ELSE;
        mapping.$seqKey.$resKey.COUNT = mapping.$seqKey.$resKey.COUNT + 1;
      END;

      chainKey = pdbMap.chain;
      IF ! mapping.$seqKey.$resKey.$pdbKey.$chainKey;
        mapping.$seqKey.$resKey.$pdbKey.$chainKey = {};
      END;
      IF ! mapping.$seqKey.$resKey.$pdbKey.COUNT;
        mapping.$seqKey.$resKey.$pdbKey.COUNT = 1;
      ELSE;
        mapping.$seqKey.$resKey.$pdbKey.COUNT = mapping.$seqKey.$resKey.$pdbKey.COUNT + 1;
      END;
    
      pdbResKey = "${pdbMap.pdb_res_start} - ${pdbMap.pdb_res_end}";
      IF ! mapping.$seqKey.$resKey.$pdbKey.$chainKey.$pdbResKey;
        mapping.$seqKey.$resKey.$pdbKey.$chainKey.$pdbResKey = pdbMap;
      END;
      IF ! mapping.$seqKey.COUNT;
        mapping.$seqKey.COUNT = 1;
      ELSE;
        mapping.$seqKey.COUNT = mapping.$seqKey.COUNT + 1;
      END;

    END -%]

    <table class="details" id="structuresTable" summary="Structure summary">
      <thead>
        <tr class="caption">
          <th id="unpId">Pfam family</th>
          <th id="unpRes">UniProt residues</th>
          <th id="pdbId">PDB ID</th>
          <th id="chId">PDB chain ID</th>
          <th id="pdbRes">PDB residues</th>
          <th id="viewCol">View</th>
        </tr>
      </thead>
      <tbody>
        [%- USE seqKeyIter = iterator( mapping.keys.sort );
        oe = 0;
        FOREACH seqKey IN seqKeyIter;
          NEXT IF mapping.$seqKey == "COUNT";
          oe=oe+1;
          FOREACH resKey IN mapping.$seqKey.keys.sort;
            NEXT IF mapping.$seqKey.$resKey == "COUNT";
            FOREACH pdbKey IN mapping.$seqKey.$resKey.keys.sort;
              FOREACH chainKey IN mapping.$seqKey.$resKey.$pdbKey.keys.sort;
                NEXT IF mapping.$seqKey.$resKey.$pdbKey == "COUNT";
                FOREACH pdbResKey IN mapping.$seqKey.$resKey.$pdbKey.$chainKey.keys.sort -%]
                  <tr>
                    [% IF seqKey != prevSeqKey -%]
                      <td class="[% oe % 2 ? "odd" : "even" %]"[% IF mapping.$seqKey.COUNT > 1 %] rowspan="[% mapping.$seqKey.COUNT %]"[% END %]>
                        <a href="[% c.uri_for( "/family",  { id = seqKey } ) %]">[% seqKey %]</a>
                      </td>
                    [% END;
                    IF seqKey != prevSeqKey OR resKey != prevResKey -%]
                      <td class="[% oe % 2 ? "odd" : "even" %]"[% IF mapping.$seqKey.$resKey.COUNT > 1 %] rowspan="[% mapping.$seqKey.$resKey.COUNT %]"[% END %]>
                        [% resKey %]
                      </td>
                    [% END;
                    IF seqKey != prevSeqKey OR resKey != prevResKey OR pdbKey != prevPdbKey -%]
                      <td class="[% oe % 2 ? "odd" : "even" %]"[% IF mapping.$seqKey.$resKey.$pdbKey.COUNT > 1 %] rowspan="[% mapping.$seqKey.$resKey.$pdbKey.COUNT %]"[% END %]>
                        <a href="[% c.uri_for( "/structure", { id = pdbKey } ) %]">[% pdbKey %]</a>
                    </td>
                    [% END;
                    prevSeqKey = seqKey;
                    prevResKey = resKey;
                    prevPdbKey = pdbKey -%]
                    <td class="[% oe % 2 ? "odd" : "even" %]">
                      [% IF chainKey;
                        chainKey;
                      ELSE %]
                        <span class="inactive">n/a</span>
                      [% END %]
                    </td>
                    <td class="[% oe % 2 ? "odd" : "even" %]">[% pdbResKey %]</td>
                    <td class="[% oe % 2 ? "odd" : "even" %]">
                      <a href="[% c.uri_for( "/structure/viewer", { id = pdbKey, viewer = "jmol" } ) | html %]"
                         onclick="popUp(this.href,'console',800,800,'jmolWin');return false;">
                         Jmol</a>  
                      <a href="[% c.uri_for( "/structure/viewer", { id = pdbKey, viewer = "av" } ) | html %]"
                         onclick="popUp(this.href,'console',800,800,'avWin');return false;">
                         AstexViewer</a>  
                      <a href="http://das.sanger.ac.uk/registry/showspice.jsp?display=DS_241&amp;pdb=[% pdbKey %]"
                         onclick="popUp(this.href,'console',800,800,'avWin');return false;"
                         class="ext">SPICE</a>  
                    </td>
                  </tr>
                [%- END; # of pdbResKey
                END; # of chainKey
              END; # of pdbKey
            END; # of resKey
          END; # of seqKey -%]
      </tbody>
    </table>

    <script type="text/javascript">
      // <![CDATA[

      // how many columns are there in the table ?
      var firstRow = $("structuresTable").getElementsByTagName("tr")[1]
      var numColsTable  = firstRow.getElementsByTagName("td").length;

      // walk over all of the cells in the table and add listeners for mouseover and 
      // mouseout events
      $A( $("structuresTable").getElementsByTagName( "td" ) ).each( function( cell ) {
          cell.onmouseover = highlight.mouseoverHandler.bindAsEventListener( highlight );
          cell.onmouseout  = highlight.mouseoutHandler.bindAsEventListener( highlight );
        }
      );

      // ]]>
    </script>

  </div> <!-- end of "blockContent" -->
</div> <!-- end of "block" -->

<!-- end structure block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
