
[%
# summary.tt
# jt6 20060427 WTSI
# 
# build the summary block for proteins
#
# $Id: summary.tt,v 1.19 2007-10-15 09:20:02 jt6 Exp $

USE String;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "protein.css" );
requirements.cssIeAll.push( "protein_all_ie.css" );

requirements.js.push( "protein.js" );

#-------------------------------------------------------------------------------

# a row counter
oe = 0;
-%]

<script type="text/javascript">
  // <![CDATA[
  Event.observe( window, "load", proteinPostLoad, false );
  // ]]>
</script>

<!-- start protein summary block -->

<div class="block" id="proteinSummaryBlock">
  <div class="handle">
    <h1>Summary</h1>
  </div>
  <div class="blockContent">
    
    <h1>[% pfamseq.pfamseq_id %]</h1>

    <p>
      This is the summary of UniProt entry 
      <a href="http://www.ebi.uniprot.org/entry/[% pfamseq.pfamseq_id %]"
         class="ext">[% pfamseq.pfamseq_id %]</a>
      (<a href="http://www.ebi.uniprot.org/entry/[% pfamseq.pfamseq_acc %]"
          class="ext">[% pfamseq.pfamseq_acc %]</a>).
    </p>

    <table class="layout" summary="Protein summary information">
      <tbody>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
          <td class="label">Description:</td>
          <td class="data">
            [% pfamseq.description %]
          </td>
        </tr>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
        <td class="label">Source organism:</td>
          <td class="data">
          [% IF pfamseq.ncbi_code %]
            <span class="ext">
              <a href="http://www.ebi.ac.uk/newt/display?search=[% pfamseq.ncbi_code %]">
                [% pfamseq.species %]</a> 
              (<acronym title="National Center for Biotechnology Information">NCBI</acronym> taxonomy ID 
              <a href="http://www.ebi.ac.uk/newt/display?search=[% pfamseq.ncbi_code %]">
                [% pfamseq.ncbi_code %]</a>)
            </span>
            [% ELSE;  
              pfamseq.species;
            END;
            IF genomeCode %]
              <br />
              <a href="[% base %]proteome?taxId=[% genomeCode %]">View</a> Pfam genome data.
            [% END %]
          </td>
        </tr>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
          <td class="label">Length:</td>
          <td class="data">
            [% pfamseq.length %] amino acids
          </td>
        </tr>
      </tbody>
    </table>
    <p class="small">
      <strong>Please note:</strong> when we start each new Pfam data release,
      we take a copy of the UniProt sequence database. This snapshot of 
      UniProt forms the basis of the overview that you see here. It is 
      important to note that although some UniProt entries may be removed 
      <em>after</em> a Pfam release, these entries will not be removed from 
      Pfam until the <em>next</em> Pfam data release.
    </p>

    <h2>Pfam domains</h2>

    [% IF imageKey.size %]
      <p>
        This image shows the arrangement of the Pfam domains that we found on 
        this sequence. Clicking on a domain will take you to the page describing 
        that Pfam entry. The table below gives the domain boundaries for each of 
        the domains. Note that some domains may be obscured by other, overlapping 
        domains. This is noted in the table where applicable.
      </p>
    [% ELSE %]
      <p>
        There were no Pfam domains found on this sequence.
      </p>
    [% END %]

    <div class="summaryGraphic">
      [% image = pfamImageset.each_image;
      CALL image.print_image %]
      <img class="graphicImage" 
           src="[% constants.tmp %]/[% image.file_location %]" 
           alt="" 
           usemap="#singleImageMap" />      
      [% IF image.image_map %]
        <map id="singleImageMap" name="singleImageMap">
          [% image.image_map %]
        </map>
      [% END %]
    </div>

    [% # only show the key if there was a domain hit
    IF imageKey.size %]

      <table id="imageKey"
             class="details"
             summary="Key for the Pfam domain image">
        <thead>
          <tr>
            <th>Source</th>
            <th>Domain</th>
            <th>Start</th>
            <th>End</th>
          </tr>
        </thead>
        <tbody>
          [% oe = 0; 
          FOREACH row IN imageKey;
            IF row.colour;
              colour = " style=\"color: \#${row.colour}\"";
            END %]
            <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
              <td [% IF row.type.match( '(?i)pfama' ); colour %] class="pfamA"[% END %]>
                [% row.source ? row.source : row.type %]
              </td>
              <td>
                [% IF row.type.match( '(?i)pfama' ) %]
                  <a href="[% base %]family?id=[% row.label %]">
                    [% row.label %]</a>
                  [% IF row.hidden %] (hidden)[% END;
                ELSIF row.type.match( '(?i)pfamb' ) %]
                  <a href="[% base %]pfamb?id=[% row.label %]">
                    [% row.label %]</a>
                  [% IF row.hidden %] (hidden)[% END;
                END %]
              </td>
              <td>[% row.start %]</td>
              <td>[% row.end %]</td>
            </tr>
          [% END %]
        </tbody>
      </table>
      
    [% END %]
    
  </div> <!-- end of "blockContent" -->
</div>

<!-- end protein summary block -->
