[%
# summary.tt
# jt6 20060427 WTSI
#
# build the summary block for proteins
#
# $Id: summary.tt,v 1.32 2009-12-07 22:33:46 jt6 Exp $

USE String;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files

PROCESS "components/require.tt";

requirements.css.push( "protein.css" );
requirements.cssIeAll.push( "protein_all_ie.css" );

requirements.js.push( "protein.js" );
sharedRequirements.js.push( "tablekit.js" );

# this needs to be loaded before we try to load the canvas text library,
# but if we include it specifically for IE, it gets added below everything
# else. We can add it here safely, however, because excanvas checks to see
# if canvas is implemented before trying to inject itself
requirements.js.push( "excanvas.js" );

# need to load the canvas.text.js file before trying to load the font file,
# otherwise it bails with an error about "face.glyphs is undefined"
requirements.jsIe.push( "canvas.text.js?reimplement=true&amp;dontUseMoz=true" ); #reimplement=true&amp;
requirements.jsIe.push( "faces/optimer-bold-normal.js" );

requirements.js.push( "domain_graphics.js" );
#requirements.js.push( "domain_graphics_loader.js" );

#-------------------------------------------------------------------------------

# a row counter
oe = 0;

seq_acc = '';
IF ( pfamseq.pfamseq_acc );
  seq_acc = pfamseq.pfamseq_acc;
ELSE;
  seq_acc = pfamseq.uniprot_acc;
END;

seq_id = '';
IF ( pfamseq.pfamseq_id );
  seq_id = pfamseq.pfamseq_id;
ELSE;
  seq_id = pfamseq.uniprot_id;
END;

-%]

<!-- start protein summary block -->

<div class="block" id="proteinSummaryBlock">
  <div class="handle">
    <h1>Summary</h1>
  </div>
  <div class="blockContent">

    <p>
      This is the summary of UniProt entry
      <a href="http://www.uniprot.org/entry/[% seq_id %]"
         class="ext">[% seq_id %]</a>
      (<a href="http://www.uniprot.org/entry/[% seq_acc %]"
          class="ext">[% seq_acc %]</a>)[%
      IF from_secondary_acc -%] (via secondary accession <strong>[% from_secondary_acc %]</strong>)[% END %][% seq_source %].

    </p>

    <table class="layout" summary="Protein summary information">
      <tbody>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
          <td class="label">Description:</td>
          <td class="data">
            [% pfamseq.description %]
          </td>
        </tr>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
        <td class="label">Source organism:</td>
          <td class="data">
            [%- IF pfamseq.ncbi_taxid;
              ncbi_taxid = pfamseq.ncbi_taxid.ncbi_taxid %]
              <a class="ext" href="http://www.uniprot.org/taxonomy/[% ncbi_taxid %]">
                [% pfamseq.species %]</a>
              [%- IF ncbi_taxid != "0" %]
                (<acronym title="National Center for Biotechnology Information">NCBI</acronym> taxonomy ID
                <a class="ext" href="http://www.uniprot.org/taxonomy/[% ncbi_taxid %]">
                  [% ncbi_taxid %]</a>)
              [% END -%]
              <br />
              [%- IF complete_proteome %]
                <a href="[% c.secure_uri_for( '/proteome', ncbi_taxid ) %]">
                  View</a> Pfam proteome data.
              [%- END;
            ELSE;
              pfamseq.species;
            END %]
          </td>
        </tr>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
          <td class="label">Length:</td>
          <td class="data">
            [% pfamseq.length %] amino acids
          </td>
        </tr>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
          <td class="label">Reference Proteome:</td>
          <td class="data">
            [% IF ( pfamseq.pfamseq_acc ) %]
              <img src="[% c.secure_uri_for('/static/images/tick_18.png') %]" alt="&#10003;" />
            [% ELSE %]
              <img src="[% c.secure_uri_for('/static/images/cross_18.png') %]" alt="x" />
            [% END %]
          </td>
        </tr>
      </tbody>
    </table>
    <p class="small">
      <strong>Please note:</strong> when we start each new Pfam data release,
      we take a copy of the UniProt sequence database. This snapshot of
      UniProt forms the basis of the overview that you see here. It is
      important to note that, although some UniProt entries may be removed
      <em>after</em> a Pfam release, these entries will not be removed from
      Pfam until the <em>next</em> Pfam data release.
    </p>

    <h2>Pfam domains</h2>
    <div id="pgdesc" style="display: none">
      <p>
        This image shows the arrangement of the Pfam domains that we found on
        this sequence. Clicking on a domain will take you to the page describing
        that Pfam entry. The table below gives the domain boundaries for each of
        the domains.
        <span onclick="reveal( this, 'domainTableNotes', false, true );"
              class="moreLink">
          More...</span>
      </p>
    </div>
    <div id="domainTableNotes" style="display: none">
      <p>
        E-values are based on searching the Pfam-A family against UniProtKB
        <a class="ext" href="http://ftp.uniprot.org/pub/databases/uniprot/previous_releases/release-[% relData.swiss_prot_version %]/knowledgebase/">
          [% relData.swiss_prot_version %]</a> using hmmsearch.
      </p>
      <hr />
    </div>

    <div id="pgholder" class="pgholder"></div>

    <p class="modernBrowserJson">
      <a id="jsonDownloadLink" class="link">Download</a> the data used to generate the domain graphic in JSON format.
    </p>

    <div class="oldBrowserJson">
      <p class="oldBrowserJson">
        <span id="showJson" class="link">Show</span> or
        <span id="hideJson" class="link">hide</span> the data used to generate the graphic in JSON format.
      </p>
    </div>

      <div id="jsonData" class="json" style="display: none"></div>

    <table class="resultTable details"
           id="imageKey"
           summary="Key for the Pfam domain image">
      <thead>
        <tr>
          <th class="dh" rowspan="2">Source</th>
          <th class="dh" rowspan="2">Domain</th>
          <th class="dh" rowspan="2">Start</th>
          <th class="dh" rowspan="2">End</th>
          <th class="sh" style="display: none" colspan="2">Gathering threshold (bits)</th>
          <th class="sh" style="display: none" colspan="2">Score (bits)</th>
          <th class="sh" style="display: none" colspan="2">E-value</th>
        </tr>
        <tr>
          <th class="sh" style="display: none">Sequence</th>
          <th class="sh" style="display: none">Domain</th>
          <th class="sh" style="display: none">Sequence</th>
          <th class="sh" style="display: none">Domain</th>
          <th class="sh" style="display: none">Sequence</th>
          <th class="sh" style="display: none">Domain</th>
        </tr>
      </thead>
      <tbody> [%-
      FOREACH seq_start IN regions.keys.nsort;
        FOREACH row IN regions.$seq_start;
          IF row.pfama_acc %]
            <tr class="[% loop.odd ? 'odd' : 'even' %]">
              <td class="pfama_[% row.pfama_acc.pfama_acc %]">Pfam</td>
              <td><a href="[% c.secure_uri_for( '/family', row.pfama_acc.pfama_id ) %]">[% row.pfama_acc.pfama_id %]</a></td>
              <td>[% row.seq_start %]</td>
              <td>[% row.seq_end %]</td>
              <td class="sh" style="display: none">[% row.pfama_acc.sequence_ga %]</td>
              <td class="sh" style="display: none">[% row.pfama_acc.domain_ga %]</td>
              <td class="sh" style="display: none">[% row.sequence_bits_score %]</td>
              <td class="sh" style="display: none">[% row.domain_bits_score %]</td>
              <td class="sh" style="display: none">[% row.sequence_evalue_score %]</td>
              <td class="sh" style="display: none">[% row.domain_evalue_score %]</td>
            </tr>
          [%- ELSE %]
            <tr class="[% loop.odd ? 'odd' : 'even' %]">
              <td class="domain">[% row.type_id %]</td>
              <td><span class="inactive">n/a</span></td>
              <td>[% row.seq_start %]</td>
              <td>[% row.seq_end %]</td>
              <td class="sh" style="display: none"><span class="inactive">n/a</span></td>
              <td class="sh" style="display: none"><span class="inactive">n/a</span></td>
              <td class="sh" style="display: none"><span class="inactive">n/a</span></td>
              <td class="sh" style="display: none"><span class="inactive">n/a</span></td>
              <td class="sh" style="display: none"><span class="inactive">n/a</span></td>
              <td class="sh" style="display: none"><span class="inactive">n/a</span></td>
            </tr>
          [%- END; # of IF
        END; # of FOREACH row
      END %]
      </tbody>
    </table>
    <p>
      <span id="showScores" class="link">Show</span> or
      <span id="hideScores" class="link">hide</span> domain scores.
    </p>

    <script type="text/javascript">
      // <![CDATA[

      [%-# retrieve the domain graphics description %]
      var layout = [% layout || "[]" %];
      var sequence = layout[0];

      [%-# build the domain graphic %]
      var pg = new PfamGraphic( "pgholder", sequence);
      pg.setBaseUrl( "[% c.secure_uri_for( '/' ) %]" );
      pg.render();

      [%-# show the blurb about the image %]
      $("pgdesc").show();

      [%-# a base URI for the family links in the table %]
      var familyUri = "[% c.secure_uri_for( '/family' ) %]";

      [%-# colour the Pfam-A accessions in the key table according to their domain colour
         # in the graphic. If there are no regions, just hide the table instead %]
      if ( sequence.regions.size() > 0 ) {

        [%-# retrieve the domain colours from the graphic description %]
        var colours = {};
        sequence.regions.each( function( region ) {
          colours[region.metadata.accession] = region.colour;
        } );

        [%- # find the table cells that need colouring using a natty little selector... %]
        $$("[class^='pfama']").each( function(cell) {
          var pfamaAcc = cell.className.match('^pfama_(.*)')[1];
          cell.setStyle( { color: colours[pfamaAcc] } );
          [%-# we add the classname to set the bold font here rather than in the HTML,
             # because if we did that it would interfere with the "cell.className" call
             # above, and I like that simplicity... %]
          cell.addClassName( "domain" );
        } );

      } else {
        $("imageKey").hide();
      }

      /*
      var sorter = new TableKit( "imageKey",
                                 { editable:     false,
                                   resizable:    false,
                                   rowEvenClass: "even",
                                   rowOddClass:  "odd",
                                   stripe:       true,
                                   observers: {
                                     onSortStart: function( table, event ) {
                                       table.down("thead").removeClassName("sortIndicator");
                                     }
                                   }
                                 } );
      //sorter.sort(3);
      */

      document.observe( "dom:loaded", function() {
        $("showScores").observe( "click", function() {
          $$(".sh").invoke( "show" );
        } );
        $("hideScores").observe( "click", function() {
          $$(".sh").invoke( "hide" )
        } );
      } );

      var jsonLink = document.getElementById("jsonDownloadLink");
      if (jsonLink != null) {
        var hideBrowserType = "oldBrowserJson"
        if (typeof jsonLink.download != "undefined") {
          var jsonBlob = new Blob([JSON.stringify(sequence, null, 4)]);
          var jsonURL = URL.createObjectURL(jsonBlob);
          jsonLink.href = jsonURL;
          jsonLink.download = "[% seq_acc %].json";
        } else {
          console.log("jsonURL");
          hideBrowserType = "modernBrowserJson"
          var jsonDiv = document.getElementById("jsonData");
          var jsonP = document.createElement("pre");
          jsonP.innerHTML = JSON.stringify(sequence, null, 4);
          jsonDiv.appendChild(jsonP);

          document.observe( "dom:loaded", function() {
            $("showJson").observe( "click", function() {
              $$(".json").invoke( "show" );
            } );
            $("hideJson").observe( "click", function() {
              $$(".json").invoke( "hide" )
            } );
          } );

        }
        var elements = document.getElementsByClassName(hideBrowserType);
        for (var i = 0; i < elements.length; i++) {
          elements[i].style.display = "none";
        }
      }
      // ]]>
    </script>

  </div> <!-- end of "blockContent" -->
</div>

<!-- end protein summary block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
