[%
# getStarted.tt
# rdf 20060927 WTSI
# 
# build the getStarted block for the help pages
#
# $Id: getStarted.tt,v 1.3 2009-06-09 12:23:40 jt6 Exp $
%]

<!-- start getStarted block -->

<div class="block" id="helpGetStartedBlock">
  <div class="handle">
    <h1>How to search Rfam</h1>
  </div>
  <div class="blockContent">
    
    <p> 
      In addition to the quick links on the home page, every page in the Rfam
      site includes a "search" link in the page header, which you can use to
      access all of the search methods that we offer:
    </p>
    
    <ul>
      <li><a href="#jumpto">"Jump to" search</a></li>
      <li><a href="#keyword">Keyword search</a></li>
      <li><a href="#seqsearch">Sequence search</a></li>
      <li><a href="#type">Search by family type</a></li>
      <li><a href="#taxonomy">Taxonomy search</a></li>
    </ul>

    <p>
      Additionally, every page in the Rfam site includes a "browse" link in
      the page header, which you can use to browse the Rfam families by name
      or by species name.
    </p>

    <ul>
      <li><a href="#browsefamilies">Browse by family name</a></li>
      <li><a href="#browsegenomes">Browse genome annotations</a></li>
    </ul>

    <hr />

    <img class="jumpTo" 
         src="[% c.uri_for( '/static/images/jump_to.gif' ) %]" 
         alt="jump to..." />

    <h2><a name="jumpto">Using the "Jump to" search</a></h2>

    <p>
      Many pages in the site include a small search box, entitled
      "Jump to...". The "Jump to..." box allows you to go immediately to the
      page for any entry in the Rfam site. This is primarily useful when you
      know the family or the sequence accession you are interested in.
    </p>
    <p>
      The "Jump to..." search understands Genbank/EMBL accessions,
      Rfam family accessions and identifiers for most types of entry.
      For example, to find a particular family, you can enter either an Rfam
      family accession, e.g. <strong>RF00198</strong>, or, if you find it 
      easier to remember, a family ID, such as <strong>SL1</strong>. This will 
      take you to the main entry for this family.  Note that the search is 
      case insensitive. Searches for family identifiers such as 'RNase' or 
      'mrp' will be too ambiguous and you will get an error "Couldn't guess 
      entry". In this case you need to specify the the full family name, 
      e.g. RNase_mrp'. If you want to search with an ambiguous family 
      identifier use the keyword search instead.
    </p>
    <p> 
      Alternatively, if you are interested in the annotations to a
      particular sequence or genome you can use the Genbank/EMBL accession,
      e.g. <strong>AE017225</strong> and you will be taken to a list of the 
      relevant Rfam family annotations to this sequence. This also works for 
      EMBL CON files, e.g. <strong>CM000428</strong>.
    </p> 

    <p> 
      The order in which the search tries to match your query term
      against the various types of ID and accession in the database is:
    </p> 
    <ul>
      <li>Rfam accession, e.g. <strong>RF00198</strong></li>
      <li>Rfam identifier, e.g. <strong>SL1</strong></li>
      <li>Genome Genbank/EMBL accession, e.g. <strong>AE017225</strong></li>
      <li>Sequence Genbank/EMBL accession e.g. <strong>AF325543</strong></li>
    </ul> 
    <p> 
      If all of the guesses fail, you'll see an error
      message saying "Entry not found".  
    </p>
    
    <hr />

    <img class="jumpTo" 
         src="[% c.uri_for( '/static/images/kw_search.gif' ) %]" 
         alt="keyword search" />

    <h2><a name="keyword">Keyword search</a></h2>
        
    <p>
      Each page in the Rfam site contains a keyword search box in the
      header. This is the broadest text search we offer and you can use
      this to find all Rfam families that match a particular keyword. The
      search will try to match your query term against textual information from
      several different sections of the Rfam database:
    </p>
    <ul>
      <li>text fields for Rfam families, such as family descriptions and 
        identifiers</li>
      <li>Rfam associated Wikipedia entries</li>
      <li>Literature reference titles and authors</li>
      <li>PDB structures</li>
    </ul>
    
    <p>
      Your keyword should be a simple text string (letters and numbers),
      but underscores, hyphens, periods and spaces are also
      accepted. Wildcard terms are not necessary, since the search system will
      add wildcards to the end of your search terms. If in doubt, use the
      shortest text string you can and you will receive the widest set of
      possible matches. You can then sort the results and refine your search
      if needed. 
    </p>
    <p>
      Do remember that the keyword search tries to match against all
      of the sections of the database, including the Wikipedia article, so if
      your term is mentioned in the family description text, you will also
      get a match.
    </p>
    <p>
      If you search with two terms at once your will only receive a result if 
      a match is found for both terms.
    </p>

    <h3>A brief explanation of the results page</h3>

    <p> 
      Your query term is reported and, if the term you used exactly
      matched a family ID or accession, this is also reported. This text is
      followed by a small table that provides a summary showing in which 
      section of the database your query string was found. 
    </p>
    <p>
      The larger table that follows provides links to the
      families that have a match to your query in at least one section of
      the database. Each matching family is listed only once, though it may 
      have matches in more than one section of the database. For each 
      family with a match we report:
    </p>
    <ul>
      <li>accession (linked to the the family page)</li>
      <li>identifier (linked to the family page)</li> 
      <li>family description line</li>
      <li>between one and four columns that specify in which of the sections 
        of the database the match was found</li>
    </ul>
    <p>
      If your query term does not match any data in the database,
      you will be taken to a 'no results' page which will offer you tips on
      how to refine your search.
    </p>

    <hr/>

    <h2><a name="seqsearch">Sequence search</a></h2>

    <p>
      Searching a nucleotide sequence (DNA or RNA) against the Rfam library
      of covariance models will identify any regions in your sequence we
      would classify as belonging to one our RNA families.
    </p>

    <h3>Single sequence search</h3>
    
    <p>
      If your sequence is in the EMBL release on which rfamseq is based, your
      sequence will already be searched and annotated. You can use the
      Genbank/EMBL accession in a "look up sequence box" on the sequence
      search page or a "jump to" box. Simply paste the accession into
      the box. The accession version number is not required. 
    </p>
    <p>
      You can find out which version of EMBL we are currently using in the
      release README file on our <a class="ext"
        href="ftp://ftp.sanger.ac.uk/pub/databases/Rfam">ftp site</a>, or
      at the top of the help summary page. 
    </p>
     
    <h3>Medium scale batch searches (less than 1,000 sequences)</h3>
    
    <p>
      If you have multiple nucleotide sequences to search, you can use our
      batch upload facility to upload a file of your sequences in FASTA
      format. Information on the format for this file can be found under the
      more link <a href="http://rfam.sanger.ac.uk/search">here</a>. We will
      search your sequences against our library of CMs and email the results
      back to you, usually within 48 hours. We request that you search a
      maximum of 1000 sequences in each file. Each sequence may be up to 200kb 
      in length.
    </p>
 
    <h3>Large scale batch searches (more than 1,000 sequences)</h3>

    <p>
      If you have a large number of nucleotide searches, it may be more
      convenient to run Rfam locally. You should read the help pages on 
      <span class="link" onclick="tabPage.switchTab('helpGenomeAnnotBlock');">
        running Rfam locally</span>.
    </p>
    
    <hr/>

    <h2><a name="type">Search by entry type</a></h2> 

    <p>
      Each family in Rfam is assigned to a "type" category, based on
      its function. These categories are hierarchical such that an entry
      classified as a ncRNA "gene" can be classified further as a 
      "gene;snoRNA", which can in turn be classified further as
      "gene;snoRNA;CD-box". The full list of the existing "type" categories 
      is:
    </p>
    <ul>
      <li>Cis-reg;</li>
      <li>Cis-reg; IRES;</li>
      <li>Cis-reg; frameshift_element;</li>
      <li>Cis-reg; leader;</li>
      <li>Cis-reg; riboswitch;</li>
      <li>Cis-reg; thermoregulator;</li>
      <li>Gene;</li>
      <li>Gene; CRISPR;</li>
      <li>Gene; antisense;</li>
      <li>Gene; miRNA;</li>
      <li>Gene; rRNA;</li>
      <li>Gene; ribozyme;</li>
      <li>Gene; sRNA;</li>
      <li>Gene; snRNA;</li>
      <li>Gene; snRNA; snoRNA; CD-box;</li>
      <li>Gene; snRNA; snoRNA; HACA-box;</li>
      <li>Gene; snRNA; snoRNA; scaRNA;</li>
      <li>Gene; snRNA; splicing;</li>
      <li>Gene; tRNA;</li>
      <li>Intron;</li>
    </ul>

    <p>
      The "search by type" form allows you to browse the families according to
      these categories. The tick boxes at each level in the tree diagram allow 
      you to access the families assigned at each type level.
    </p>

    <hr />

    <h2><a name="taxonomy">Taxonomy search</a></h2>

    <p>
      This is one of the more interesting and powerful ways to search Rfam,
      provided you know how to use it. Within Rfam we store the taxonomy
      information associated with all of the sequences for which we provide Rfam
      annotations. Using the taxonomy search form, you can identify families 
      that are specific to a given taxonomic level or those found in a given 
      set of  taxonomic levels. You can also limit your queries to those
      families which are found only in a single species or taxonomic
      level. Please read the information under the "More..." link on the
      taxonomy search page for details on how to use this search.
    </p>
    
    <hr />

    <h2><a name="browsefamilies">Browse families by name</a></h2>
    
    <p>
      The browse link at the top of each page will take you to an
      index page, from which you can browse all Rfam families by
      their family names (otherwise known as the Rfam IDs). These are the
      familiar names for the RNA, such as "tRNA" or
      "Hammerhead_1". The families are organised alphabetically and you can
      use the ranges (A-F, G-L etc) to take you to the appropriate place in
      the list. Families where the name begins with a number (e.g. "6S", "7SK")
      can be found under the 0-9 index.
    </p>
    <p>
      We also provide a "Top_twenty" list where you can browse the top
      twenty largest RNA families in Rfam. These families contain the
      greatest number of sequences (sequence depth) in the full alignments
      of all families in Rfam.
    </p>
    
    <hr />

    <h2><a name="browsegenomes">Browse genome annotations</a></h2> 

    <p>
      The genome browsing index enables you to obtain a list of all the
      Rfam families that have been annotated on a particular genome sequence. 
      To find out which genomes we annotate, you should read our
      Genome Annotation section. Essentially, if a species has a completed
      genome sequence or a WGS genome assembly in the EMBL nucleotide
      database, we will have collated all the Rfam annotations to this genome
      sequence and you can access them here.
    </p>
    <p>
      You can use the indices to browse the alphabetical list of
      all genomes by species names. However, if you are only interested in
      the genomes of a particular kingdom, you can use the alphabetical lists
      to view only the species for the kingdom of interest. The letter indices
      will take you to the appropriate place in the species lists, but you 
      should note that you can still move up and down the alphabetical list, 
      simply by scrolling the page. You can also use the quick links at the top 
      of the table to jump to another letter in the alphabet.
    </p>
    <p>
      Note that the species lists can be sorted simply by clicking on the column
      headers, allowing you to order the data by criteria such as
      number of Rfam annotations or genome size.
    </p>
    <p>
      You should also note that, if your species of interest is not in the
      genomes list, this does not necessarily mean we do not have any Rfam
      annotations to this species. It simply means we do not have a complete
      genome sequence for this species to map our Rfam families
      to. You should use the taxonomy search explained above to identify
      any annotations for your species of interest.
    </p>

  </div> 
</div>

<!-- end getStarted block -->

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk), 
Jennifer Daub (jd7@sanger.ac.uk) and Paul Gardner (pg5@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
