[%
# linking.tt
# rdf 20060927 WTSI
# 
# build the linking block for the help pages
#
# $Id: linking.tt,v 1.3 2009-06-09 12:23:40 jt6 Exp $
%]

<!-- start linking block -->

<div class="block" id="helpLinkingBlock">
  <div class="handle">
    <h1>How to link to Rfam?</h1>
  </div>
  <div class="blockContent">
    <p>
      Rfam is maintained by a consortium of researchers and hosted at two sites: the 
      <a class="ext" href="http://www.sanger.ac.uk/">Wellcome Trust 
        Sanger Institute</a>, Cambridge, UK (WTSI),  and 
      <a class="ext" href="http://rfam.janelia.org/">Janelia Farm</a>, Ashburn, 
      VA, USA. Currently these sites do not run the same Rfam website, but
      we hope that the Janelia site will be updated to the new Rfam
      website with the next release of Rfam.
    </p>
    <p>
      Although we have no plans to change the locations of resources within 
      this site dramatically, webmasters are advised to link only to the 
      following types of page within the site.
    </p>
    
    <h3>Home pages</h3>
    <dl class="sitesList">
      <dt>WTSI:</dt>
      <dd>
        <a href="http://rfam.sanger.ac.uk/">http://rfam.sanger.ac.uk/</a>
      </dd>
      <dt>Janelia:</dt>
      <dd>
        <a class="ext" href="http://rfam.janelia.org/">http://rfam.janelia.org/</a>
      </dd>
    </dl>
    
   <h3>Searching a nucleotide sequence against Rfam</h3>
    <dl class="sitesList">
      <dt>WTSI:</dt>
      <dd>
        <a href="http://rfam.sanger.ac.uk/search?tab=sequenceSearchBlock">
          http://rfam.sanger.ac.uk/search?tab=sequenceSearchBlock</a>
      </dd>
      </dl>
   
    <h3>Linking to Rfam family pages</h3>
    
    <p>
      You can refer to Rfam families either by accession or ID. You can also 
      refer to a family by "entry", although this is a convenience 
      that should be used only if you're not sure if what you have is an 
      accession or an ID.
    </p>
    <p>
      Rfam accession numbers are more stable between releases than IDs and
      we <strong>strongly</strong> recommend that you link by accession number.
    </p>
    <p>
      Here are some examples of linking to Rfam at WTSI: 
    </p>
    <dl class="sitesList">
      <dt>By accession:</dt>
      <dd>
        <a href="http://rfam.sanger.ac.uk/family?acc=RF00360">
          http://rfam.sanger.ac.uk/family?acc=RF00360</a>
      </dd>
      <dt>By ID:</dt>
      <dd>
        <a href="http://rfam.sanger.ac.uk/family?id=snoZ107_R87">
          http://rfam.sanger.ac.uk/family?id=snoZ107_R87</a>
      </dd>
      <dt>Using &quot;entry&quot;:</dt>
      <dd>
        <a href="http://rfam.sanger.ac.uk/family?entry=RF00360">
          http://rfam.sanger.ac.uk/family?entry=RF00360</a>
        or<br />
        <a href="http://rfam.sanger.ac.uk/family?entry=snoZ107_R87">
          http://rfam.sanger.ac.uk/family?entry=snoZ107_R87</a>
      </dd>
    </dl>

  
  </div>
</div>

<!-- end linking block -->

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk), 
Jennifer Daub (jd7@sanger.ac.uk) and Paul Gardner (pg5@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
