[%
# theTeam.tt
# rdf 20060927 WTSI
# 
# build the theTeam block for the help pages
#
# $Id: theTeam.tt,v 1.3 2009-06-09 12:23:40 jt6 Exp $
%]

<!-- start theTeam block -->

<div class="block" id="helpTheTeamBlock">
  <div class="handle">
    <h1>The Rfam Consortium</h1>
  </div>
  <div class="blockContent">
    <p>
     	The Rfam database is curated and maintained at the <a class="ext" 
        href="http://www.sanger.ac.uk/">Wellcome Trust Sanger Institute</a>. 
      The resource is a collaboration with researchers at <a class="ext" 
        href="http://rfam.janelia.org/">Janelia Farm</a>, Maryland, VA, USA,
      and the <a class="ext" href="http://www.ls.manchester.ac.uk/">
        University of Manchester</a>, UK. The current list of consortium 
      members, their institutes and primary role is listed below.
    </p>  
  
    <h3>Wellcome Trust Sanger Institute (UK)</h3>
  
    <ul>
      <li>Alex Bateman - coordinator of the Pfam, Merops and Rfam databases</li>
      <li>Sarah Burge - Rfam project leader</li>
      <li>Jennifer Daub - Rfam research and development</li>
      <li>Ruth Eberhardt - curator</li>
      <li>John Tate - web developer</li>
    </ul>
    
    <h3>Janelia Farm Research Center (USA)</h3>
  
    <ul>
      <li>Sean Eddy - coordinator of Rfam-USA, founding developer and 
        author of Infernal software</li>
      <li>Eric Nawrocki - developer of Infernal software</li>  
    </ul>
    
    <h3>Manchester University (UK)</h3>
  
    <ul>
      <li>Sam Griffiths-Jones - founding Rfam developer and continued 
        collaborator</li>
    </ul>
    
    <h3>University of Canterbury (NZ)</h3>

    <ul>
      <li>Paul Gardner - former Rfam project leader and continued collaborator</li>
    </ul>

    <h3>Mirror Sites</h3>

    [% PROCESS "components/mirrors.tt" %]  
  
    <h3>Previous contributors</h3>
  
    <ul>
       <li>Mhairi Marshall</li>
       <li>Simon Moxon</li>  
       <li>Adam Wilkinson</li>
       <li>William Mifsud</li>
       <li>Enrico Marantidis</li>
       <li>Diana Kolbe</li>
    </ul>
  
    <p>
      Rfam is a collaborative venture and we hope to be able to interact
      with as many people as possible to provide a quality database. Please
      get in touch with us for information. You can 
      <span class="link" onclick="tabPage.switchTab('helpContactUsBlock');">
        contact us</span> in various ways, including the help desk email 
      address that can be found at the bottom of every page.
    </p>
    
  </div>
</div>

<!-- end theTeam block -->

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk), 
Jennifer Daub (jd7@sanger.ac.uk) and Paul Gardner (pg5@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
