[%
# theTeam.tt
# rdf 20060927 WTSI
# 
# build the theTeam block for the help pages
#
# $Id: theTeam.tt,v 1.2 2009-05-06 11:48:34 jd7 Exp $
%]

<!-- start theTeam block -->

<div class="block" id="helpTheTeamBlock">
  <div class="handle">
    <h1>The Rfam Consortium</h1>
  </div>
  <div class="blockContent">
    <p>
     	The Rfam database is curated and maintained at the Wellcome Trust
	Sanger Institute, Cambridge, UK. The resource is a collaboration with
	researchers at Janelia Farm, Ashburn, VA, and the University of
	Manchester, UK.  The current list of consortium members, their institutes 
      and primary role is listed below.
    </p>  
  
    <h3>Wellcome Trust Sanger Institute (UK)</h3>
  
    <ul>
      <li>Alex Bateman - Co-ordinator of the Pfam, Merops and Rfam databases </li>
      <li>Jennifer Daub - Rfam research and development</li>
      <li>Paul Gardner - Rfam Project leader</li>
      <li>John Tate - Web development</li>
    </ul>
    
    <h3>Manchester University (UK)</h3>
  
    <ul>
      <li>Sam Griffiths-Jones - Founding Rfam developer and continued collaborator</li>
    </ul>
    
    <h3>Janelia Farm Research Center (USA)</h3>
  
    <ul>
      <li>Sean Eddy - Co-ordinator of Rfam-USA, founding developer and author of Infernal software</li>
      <li>Eric Nawrocki - Developer of Infernal software</li>	
      <li>Diane Kolbe - Developer of Infernal software</li>
    </ul>
    
    <h3>Mirror Sites</h3>

    [% PROCESS "components/mirrors.tt" %]  
  
    <h3>Previous contributors</h3>
  
    <ul>
       <li>Mhairi Marshall</li>
       <li>Simon Moxon</li>	
       <li>Adam Wilkinson</li>
       <li>William Mifsud</li>
       <li>Enrico Marantidis</li>
    </ul>
  
    <p>
      Rfam is a collaborative venture and we hope to be able to interact
      with as many people as possible to provide a quality database. Please
      get into contact with any one of us for information. You can E-mail Rfam
      using the address found at the bottom of the page.
    </p>
    
  </div>
</div>
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
