
[%
# domains.tt
# jt6 20060410 WTSI
#
# block showing the domain summary graphics. This is a wrapper around another
# template, which is called using an XMLHttpRequest to DomainGraphics.pm.
#
# $Id: domains.tt,v 1.2 2008-06-17 09:22:05 jt6 Exp $

#-------------------------------------------------------------------------------

%]

<!-- start domain architectures block -->

<div class="block" id="domainsBlock"> 
  <div class="handle"> 
    <h1>Domain organisation</h1> 
  </div>
  <div class="blockContent">

    <p>Domain organisation.</p>

  </div>
</div>

<!-- end domain architectures block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
