[%
META naked = 1;

USE dumper;

BLOCK walkTree;
    
	IF tree.branches;

		FOREACH node_name IN tree.branches.keys;

			node = tree.branches.$node_name;
			node_id = node_name.replace( '\W', '_' );

			IF NOT node.branches OR node.branches.keys.size > 1 OR parent == "root"
-%]
				var summaryId = YAHOO.util.Dom.generateId();
				var html = '\
				  <div class="nodeSummary[% NOT node.branches ? " leafNode" : "" %][% node.inSeed ? " seedNode" : "" %]"\
				       id="' + summaryId +'">\
				    <div class="specSum">[% node.species.size %]</div>\
				    <div class="seqSum">[% node.sequences.size %]</div>\
				    <div class="domSum">[% node.frequency %]</div>\
				  </div>';

				var [% node_id %] = new YAHOO.widget.TaskNode("[% node_name %]", [% parent %], html, true, false, [% node.inSeed ? "true" : "false" %] );

				nodeMapping[summaryId] = [% node_id %];
[%
			ELSE;
-%]
				var [% node_id %] = new YAHOO.widget.TextNode("[% node_name %]", [% parent %], true);
[%
			END;

			IF node.branches;
	 			INCLUDE walkTree tree=node parent=node_id;
			ELSE
-%]
				nodeSequences[summaryId] = "[% node.sequences.keys.join(" ") %]";
[%
			END; # of if node.branches

		END; # of FOREACH node_name

	END; # of if tree.branches

END; # BLOCK walkTree

INCLUDE walkTree tree=rawTree parent="root";
-%]

var dd = [];

dd[dd.length] = '<form>';
dd[dd.length] = 'Expand to depth ';
dd[dd.length] = '<select id="depthSelector">';
for( var i = 1; i <= [% rawTree.maxTreeDepth %]; i++ ) {
	dd[dd.length] = '<option value="' + i + '"';
    if( i == [% rawTree.maxTreeDepth %] ) {
      dd[dd.length] = ' selected="1"';
    }
	dd[dd.length] = '>' + i + '</option>';
}
dd[dd.length] = '</select>';
dd[dd.length] = '<input type="button" value="Go" onclick="expandToDepth()" />';
dd[dd.length] = '</form>';

Element.update( "ddph", dd.join("") );

[%-# make the tree controls visible once the tree is loaded %]
Element.show( "treeToolsContent" );
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
