[%
# treeMap.tt
# jt6 20060511 WTSI
#
# format the image map for the species tree
#
# $Id: treeMap.tt,v 1.1.1.1 2008-03-17 16:37:43 jt6 Exp $

# tell the wrapper not to add any header or footer
META naked = 1;

-%]

<img src="[% c.uri_for( "/family/tree/image", { acc = acc, alnType = alnType } ) | html %]" 
     usemap="#nhxmap" />

<map name="nhxmap">
[% FOREACH node IN tree.node_array;
  matches = node.N.match( '^(.*?)\/\d+-\d+$' );
  IF node.area AND matches.0 -%]
  <area coords="[% node.area.join( "," ) %]" 
        href="[% c.uri_for( "/protein", { id = matches.0 } ) %]" />
  [% END;
END -%]
</map>

