<div class="block" id="domdomintSummaryBlock">
  <div class="handle">
    <h1>Domain-Domain interaction: [% from.pfama_id %]-[% to.pfama_id %]</h1>
  </div>
  
  <div class="blockContent">
    This is the summary page for the interaction between domain [% from.pfama_id %]and domain [% to.pfama_id %].
    
  </div>
  

</div>
