
[%
# clans.tt
# jt6 20100323 WTSI
# 
# build a "browse" page for clans
#
# $Id$

META title = "Browse Rfam clans";
META fullPage = 1;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "browse.css" );
sharedRequirements.js.push( "tablekit.js" );

#-------------------------------------------------------------------------------

pages = [ "0 - 9" ];
CALL pages.import( [ "A" .. "Z" ] );

# shortcuts for URIs
clanURI = c.uri_for( "/clan" );

# generate the page list
pageList = PROCESS "components/pageList.tt", 
                   pageList=pages
                   activeLetters=active_letters.clans
                   pageURI = "#";
%]

<!-- start browse page -->

<h1 class="pageHeader">Browse Rfam clans</h1>

<p class="browseSummary">
  Rfam has a total of <strong>[% clans.size %]</strong> clans. 
  The table may be sorted by clicking on the column titles, or restored to the 
  original order <span class="link" id="sortLink">here</span>. 
  Go <a href="[% c.uri_for( '/browse' ) %]">back</a> to the browse index. 
</p>

[% pageList %]

<table class="details browse" 
       id="browseTable"
       summary="Browse Pfam clans">
  <thead>
    <tr class="caption">
      <th id="indexCol" class="rowNum">Original order</th>
      <th>ID</th>
      <th>Accession</th>
      <th>Number of<br />families</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  [% first = "";
  FOREACH clan IN clans;
    IF clan.clan_id.match('^\d');
      initialLetter = "0 - 9";
    ELSE;
	    initialLetter = clan.clan_id.split("").first | upper;
    END %]
    <tr class="[% loop.index % 2 ? 'odd' : 'even' %]">
      <td class="rowNum">[% loop.index %]</td>
  	  <td>
        <a [%- IF initialLetter != first %]name="[% initialLetter %]" 
           id="[% initialLetter %]"[% first = initialLetter | upper %][% END %] 
           href="[% clanURI; '/'; clan.clan_acc %]">
          [% clan.clan_id %]</a>
      </td>
      <td><a href="[% clanURI; '/'; clan.clan_acc %]">[% clan.clan_acc %]</a></td>
      <td>[% clan.get_column("num_families") %]</td>
      <td>[% clan.clan_description %]</td>
    </tr>
  [% END # of FOREACH %]
  </tbody>
</table>

[% pageList %]

<script type="text/javascript">
  // <![CDATA[
  var sorter = new TableKit( "browseTable",
                              {
                                editable: false,
                                resizable: false,
                                rowEvenClass: "even",
                                rowOddClass: "odd",
                                stripe: true
                              } );    

  [% # add a listener to the "return to original sort order" link,
     # now that the table sort object is actually defined %]
  $("sortLink").observe( "click", function() {
    sorter.sort(0);
  } );
  // ]]>
</script>

<!-- end browse page -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
