
[%
# browseFamilies.tt
# jt6 20060717 WTSI
# 
# build a "browse" page for Rfam families
#
# $Id: families.tt,v 1.3 2008-07-25 15:54:50 jt6 Exp $

META title = "Browse Rfam families";
META fullPage = 1;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "browse.css" );

#-------------------------------------------------------------------------------

pages = { 'A' => 'F',
          'G' => 'L',
          'M' => 'S',
          'T' => 'Z' };
%]

<!-- start browse page -->

<h1 class="pageHeader">
  [%- IF ( from AND to ) OR numbers; 
    "Browse Rfam families "; from; " - "; to;
  ELSIF top20;
    "Browse Top 20 Largest Rfam families";
  END %]
</h1>

<div class="pageLinks">
  <a href="[% c.uri_for( '/browse', top20 => 1 ) | html %]">
    Top twenty</a>
  <a href="[% c.uri_for( '/browse', numbers => 1 ) | html %]">
    0 - 9</a>
  [% FOREACH from IN pages.keys.sort;
    to = pages.$from; %]
  <a href="[% c.uri_for( '/browse', from => from, to => to ) | html %]">
    [% from | ucfirst %] - [% to | ucfirst %]</a>
  [% END %]
</div>
          
<table class="details browse" summary="Details of Rfam families">
  <thead>
    <tr>
      <th rowspan="2">ID</th>
      <th rowspan="2">Accession</th>
      <th rowspan="2">Type</th>
      <th colspan="2">Number of sequences</th>
      <th rowspan="2">Description</th>
    </tr>
    <tr>
      <th>Seed</th>
      <th>Full</th>
    </tr>
  </thead>
  <tbody>
  [% FOREACH rfam IN families -%]
    <tr class="[% loop.index % 2 ? "odd" : "even" %]">
      <td>
        <a href="[% c.uri_for( '/family', acc = rfam.rfam_acc ) %]">[% rfam.rfam_id %]</a>
      </td>
      <td>
        <a href="[% c.uri_for( '/family', acc = rfam.rfam_acc ) %]">[% rfam.rfam_acc %]</a>
      </td>
      <td>[% rfam.type %]</td>
      <td>[% rfam.num_seed %]</td>
      <td>[% rfam.num_full %]</td>
      <td class="left">[% rfam.description | html %]</td>
    </tr>
  [% END %]
  </tbody>
</table>

<div class="pageLinks">
  <a href="[% c.uri_for( '/browse', top20 => 1 ) | html %]">
    Top twenty</a>
  <a href="[% c.uri_for( '/browse', numbers => 1 ) | html %]">
    0 - 9</a>
  [% FOREACH from IN pages.keys.sort;
    to = pages.$from; %]
  <a href="[% c.uri_for( '/browse', from => from, to => to ) | html %]">
    [% from | ucfirst %] - [% to | ucfirst %]</a>
  [% END %]
</div>

<!-- end browse page -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
