[%
# index.tt
# jt6 20070426 WTSI
# 
# build a "browse" index page
#
# $Id: index.tt,v 1.6 2008-12-08 13:01:06 jt6 Exp $

META title = "Browse Rfam";
META fullPage = 1;

USE dumper;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "browse.css" );

#-------------------------------------------------------------------------------

alphabet = [ "A" .. "Z" ];
-%]

<!-- start of browse index page -->
<div id="browseIndex">
  
  <h2>Browse Rfam</h2>
  
  <p>
    You can use the links below to find lists of families, clans, genomes, or
    families that have a three-dimensional structure associated with them. You
    can also list the Wikipedia articles that are referenced by Rfam families.
  </p>
  <table summary="Browse the Rfam database">
    <tbody>
      <tr>
        <td class="type">FAMILIES</td>
        <td class="links">
          [% num = "0 - 9";
          IF active_letters.families.$num -%]
            <a href="[% c.uri_for( '/family/browse#0' ) %]">0 - 9</a>
          [% ELSE -%]
            <span class="inactive">0 - 9</span>
          [% END;
          FOREACH letter IN alphabet;
            IF active_letters.families.$letter -%]
              <a href='[% c.uri_for( "/family/browse#$letter" ) %]'>[% letter %]</a>
            [% ELSE -%]
              <span class="inactive">[% letter %]</span>
            [%- END;
          END -%]
        </td>
      </tr>
      
      <tr>
        <td class="type">GENOMES</td>
        <td class="links">
          [% num = "0 - 9";
          IF active_letters.genomes.$num -%]
            <a href="[% c.uri_for( '/genome/browse#0' ) %]">0 - 9</a>
          [% ELSE -%]
            <span class="inactive">0 - 9</span>
          [% END;
          FOREACH letter IN alphabet;
            IF active_letters.genomes.$letter -%]
              <a href='[% c.uri_for( "/genome/browse#$letter" ) %]'>[% letter %]</a>
            [% ELSE -%]
              <span class="inactive">[% letter %]</span>
            [%- END;
          END -%]
        </td>
      </tr>
      
      <tr>
        <td class="type">CLANS</td>
        <td class="links">
          [% num = "0 - 9";
          IF active_letters.clans.$num -%]
            <a href="[% c.uri_for( '/clan/browse#0' ) %]">0 - 9</a>
          [% ELSE -%]
            <span class="inactive">0 - 9</span>
          [% END;
          FOREACH letter IN alphabet;
            IF active_letters.clans.$letter -%]
              <a href='[% c.uri_for( "/clan/browse#$letter" ) %]'>[% letter %]</a>
            [% ELSE -%]
              <span class="inactive">[% letter %]</span>
            [%- END;
          END -%]
        </td>
      </tr>
      
      <tr>
        <td class="type">FAMILIES WITH<br />STRUCTURES</td>
        <td class="links">
          [% num = "0 - 9";
          IF active_letters.families_with_structures.$num -%]
            <a href="[% c.uri_for( '/family/browse/with_structure#0' ) %]">0 - 9</a>
          [% ELSE -%]
            <span class="inactive">0 - 9</span>
          [% END;
          FOREACH letter IN alphabet;
            IF active_letters.families_with_structures.$letter -%]
              <a href='[% c.uri_for( "/family/browse/with_structure#$letter" ) %]'>[% letter %]</a>
            [% ELSE -%]
              <span class="inactive">[% letter %]</span>
            [%- END;
          END -%]
        </td>
      </tr>
      
      <tr>
        <td class="type">WIKIPEDIA ARTICLES</td>
        <td class="links">
          [% num = "0 - 9";
          IF active_letters.articles.$num -%]
            <a href="[% c.uri_for( '/articles/browse#0' ) %]">0 - 9</a>
          [% ELSE -%]
            <span class="inactive">0 - 9</span>
          [% END;
          FOREACH letter IN alphabet;
            IF active_letters.articles.$letter -%]
              <a href='[% c.uri_for( "/articles/browse#$letter" ) %]'>[% letter %]</a>
            [% ELSE -%]
              <span class="inactive">[% letter %]</span>
            [%- END;
          END -%]
        </td>
      </tr>
      
    </tbody>
  </table>  
  
  <hr />
  
</div>

<!-- end of browse index page -->

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
