[%
# interactions.tt
# jt6 20060719 WTSI
# 
# block for the interactions data for the sequence section
#
# $Id: interactions.tt,v 1.3 2010-02-03 16:31:07 pg6 Exp $

RETURN UNLESS rest.interactions;
-%]

<!-- start interactions block -->

<div class="block" id="proteinInteractionsBlock">
  <div class="handle">
    <h1>Interactions</h1>
  </div>
  
  <div class="blockContent" >
    <p>
      Following is the list of protein accessions which are found to be interacting
      with the protein <strong>[% rest.protein.accession %]</strong>,
      
    </p>
    <p>
      [%FOREACH interaction IN rest.interactions.sort( pfamA_id ) %]
      <span class="listItem">
        <a href="[% base %]protprotinteraction?from=[% rest.protein.accession %]&to=[% interaction %]">
          [% interaction %]</a>
      </span>
    [% END %]
    </p>
    <div class='cleaner'></div> 
  </div>
    
</div>

<!-- end interactions block -->
