
[%
# tax.tt
# jt6 20061108 WTSI
# 
# build the taxonomy search block
#
# $Id: tax.tt,v 1.2 2007-05-16 14:48:54 jt6 Exp $
%]

<!-- start taxonomy search block -->

<div class="block" id="searchTaxBlock">
  <div class="handle">
    <h1>Taxonomy search</h1>
  </div>
  <div class="blockContent">

  	<p>
  	  This search tool is under review and may not be implemented in this 
      release of the Pfam website.
    </p>
  
  </div>
</div>

<!-- end taxonomy search block -->
