
[%
# summary.tt
# jt6 20060821 WTSI
# 
# build the summary block for the proteome pages
#
# $Id: other.tt,v 1.1 2006-11-01 13:01:50 rdf Exp $
%]

<!-- start proteome summary block -->

<div class="block" id="proteomeOtherBlock">
  <div class="handle">
    <h1>Proteome Other Stuff Summary</h1>
  </div>

</div>

<!-- end proteome summary block -->
