[%
# stats.tt
# jt6 20060821 WTSI
# 
# build the domain composition block for the proteome pages
#
# $Id: stats.tt,v 1.11 2009-11-02 15:40:24 jt6 Exp $

oe = 0;
%]

<!-- start domain composition block -->

<div class="block" id="proteomeStatsBlock">
  <div class="handle">
    <h1>Domain composition</h1>
  </div>
  <div class="blockContent">
    
    <p>
      This section shows the composition of this proteome, in terms of the Pfam
      domains which are found on its constituent sequences.
      <span onclick="reveal( this, 'statsNotes', false, true )"
            class="moreLink">
        More...</span>
    </p>
    <div id="statsNotes" style="display: none">
      <p>
       Each row of the table shows a Pfam domain that was found on one
       or more of the sequences from this proteome. The two data columns show:       
      </p>
      <dl>
        <dt>
          <em>number of sequences</em>
        </dt>
        <dd>
          the number of distinct protein sequences from this proteome that are
          found to have the given Pfam domain present 
        </dd>
        <dt>
          <em>occurrences</em>
        </dt>
        <dd>
          the number of times that the Pfam domain occurs throughout this 
          proteome
        </dd>
      </dl>
      <p>
        Finally, the &#39;View graphics&#39; and &#39;View alignment&#39;
        columns allow you to view the sequences for a given domain either
        as a set of Pfam graphics, one per sequence, or as a sequence alignment. 
        The domain graphics and sequence alignment are shown in a separate 
        browser window.
      </p>

      <hr />
    </div>
    
    <div id="statsTableDiv">
      <p class="loading">Loading domain composition table...</p>
    </div>
    
    <script type="text/javascript">
      // <![CDATA[

      Event.observe( window, "load", function() {
        var r = new Ajax.Updater(
          "statsTableDiv",
          "[% c.uri_for( '/proteome/stats' ) %]",
          {
            method:      "get",
            evalScripts: true,
            parameters: { taxId: "[% taxId %]" },
            onFailure: function( oResponse ) {
              $("statsTableDiv")
                .update( "There was a problem loading the statistics table." );
            }
          }
        );
      } );

      // ]]>
    </script>

  </div>

</div>

<!-- end domain composition block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
