[%
# structure.tt
# rdf 20070817 WTSI
#
# Get a list of the proteome structures;
#
# $Id: structure.tt,v 1.11 2009-10-07 13:57:29 jt6 Exp $

RETURN UNLESS summaryData.numStructures;
-%]

<!-- start structure block -->

<div class="block" id="proteomeStrucBlock">
  <div class="handle">
    <h1>Structures</h1>
  </div>
  <div class="blockContent">  
    <p>
      For those sequences which have a structure in the
      <a class="ext" href="http://www.wwpdb.org/">Protein DataBank</a>, we
      use the mapping between <a class="ext" 
        href="http://www.uniprot.org/">UniProt</a>, PDB and Pfam coordinate
      systems from the <a class="ext" 
        href="http://www.ebi.ac.uk/msd/">MSD</a> group, to allow us to map
      Pfam domains onto UniProt three-dimensional structures. The table below
      shows the structures on which the <strong>x[% pfam.pfamA_id %]</strong>
      domain has been found. 
    </p>

    <div id="structureTableDiv">
      <p class="loading">Loading structure mapping table...</p>
    </div>
    
    <script type="text/javascript">
      // <![CDATA[

      Event.observe( window, "load", function() {
        var r = new Ajax.Updater(
          "structureTableDiv",
          "[% c.uri_for( "/proteome/structures" ) %]",
          {
            evalScripts: true,
            parameters:  { taxId: "[% taxId %]" },
            onFailure:   function( oResponse ) {
                           $("structureTableDiv").update( "There was a problem loading the structure mapping table." );
                        }
          }
        );
      } );

      // ]]>
    </script>

  </div>
</div>

<!-- end structure block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
