
[%
# summary.tt
# jt6 20060821 WTSI
# 
# build the summary block for the proteome pages
#
# $Id: stats.tt,v 1.2 2007-08-20 15:48:49 jt6 Exp $

oe = 0;
%]

<!-- start proteome statistics block -->

<div class="block" id="proteomeStatsBlock">
  <div class="handle">
    <h1>Pfam Domain Composition</h1>
  </div>
  <div class="blockContent">

    <table class="details" summary="Domain statistics for this proteome">
    	<tbody>
      	<tr class="[% oe % 2 ? "odd" :"even"; oe=oe+1 %]">
      		<th>Pfam</th>
      		<th>Description</th>
      		<th>Number of sequences<!-- link numbers to domain graphics view --></th>
      		<th>Number of domains  <!-- link numbers to alignment section --></th>
        </tr>
      	[% FOREACH row IN statsData.slice( 0, 100 ) %]
      	<tr class="[% oe % 2 ? "odd" :"even"; oe=oe+1 %]">
      		<td>
      		  <a href="[% base %]family?acc=[% row.get_column('pfamA_acc') %]">
      		    [% row.get_column('pfamA_id') %]</a>
          </td>
      		<td>[% row.get_column('description') %]</td>
      		<td>
      		  <a href="[% base %]domaingraphics?pfamAcc=[% row.get_column('pfamA_acc') %]&amp;taxId=[% taxId %]">
              [% row.get_column('numberSeqs') %]</a>
          </td>
      		<td>
            <a href="[% base %]domaingraphics?pfamAcc=[% row.get_column('pfamA_acc') %]&amp;taxId=[% taxId %]">
        		  [% row.get_column('numberRegs') %]</a>
          </td>
      	</tr>
      	[% END %]
    	</tbody>
  	</table>

  </div>
</div>

<!-- end proteome statistics block -->
