
[%#
# summary.tt
# jt6 20060821 WTSI
# 
# build the summary block for the proteome pages
#
# $Id: summary.tt,v 1.1 2006-08-22 13:27:56 rdf Exp $
%]

<!-- start proteome summary block -->

<div class="block" id="proteomeSummaryBlock">
  <div class="handle">
    <h1>Proteome Summary</h1>
  </div
  <div class="blockContent">
	[% oe = 0 %]

    <table class="layout">
	<tbody>
	<tr class="[% IF oe % 2 %]odd[% ELSE %]even[% END %][% oe=oe+1 %]">
		<td>Name:</td>		
	      <td class="data">	
	        wibble
          </td>	
	</tr>
	<tr class="[% IF oe % 2 %]odd[% ELSE %]even[% END %][% oe=oe+1 %]">
		<td>Number Sequences:</td>		
	      <td class="data">	
	        lots
          </td>	
	</tr>	
	<tr class="[% IF oe % 2 %]odd[% ELSE %]even[% END %][% oe=oe+1 %]">
		<td>Number of Domains:</td>		
	      <td class="data">	
	        10,000
          </td>	
	</tr>
	<tr class="[% IF oe % 2 %]odd[% ELSE %]even[% END %][% oe=oe+1 %]">
		<td>Percentage Coverage:</td>		
	      <td class="data">	
	        50%
       	  </td>
		
	</tr>
	</tbody>
</table>
  </div>

</div>

<!-- end proteome summary block -->
