
[%
# summary.tt
# jt6 20060821 WTSI
# 
# build the summary block for the proteome pages
#
# $Id: summary.tt,v 1.12 2009-05-12 09:35:01 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "proteome.css" );

# YUI stuff - this is for the tree viewer
sharedRequirements.css.push( "tree.css" );

#-------------------------------------------------------------------------------

oe = 0;
%]

<script type="text/javascript">
  // <![CDATA[
  //Event.observe( window, "load", proteomePostLoad, false );
  // ]]>
</script>
  
<!-- start proteome summary block -->

<div class="block" id="proteomeSummaryBlock">
  <div class="handle">
    <h1>Summary</h1>
  </div>
  <div class="blockContent">

    <p>
      This section gives details of the Pfam domains that are found on 
      the completed proteome of
      <a href="http://www.ebi.ac.uk/integr8/QuickSearch.do?action=doOrgSearch&amp;organismName=[% proteomeSpecies.ncbi_code %]"
         class="ext"><em>[% proteomeSpecies.species %]</em></a>
      (<acronym title="National Center for Biotechnology Information">NCBI</acronym> 
      taxonomy ID
      <a href="http://www.ebi.ac.uk/newt/display?search=[% proteomeSpecies.ncbi_code %]"
         class="ext">[% proteomeSpecies.ncbi_code %]</a>).
    </p>

    <table class="layout" summary="Summary of information for the proteome">
      <tbody>
        <tr class="[% oe % 2 ? "odd" :"even"; oe=oe+1 %]">
          <td class="label">Taxonomic lineage</td>    
          <td class="data" id="lineage">
          </td>
        </tr>
        <tr class="[% oe % 2 ? "odd" :"even"; oe=oe+1 %]">
          <td class="label">Number of sequences:</td>    
          <td class="data">  
            [% proteomeSpecies.total_genome_proteins %] 
            </td>
        </tr>  
        <tr class="[% oe % 2 ? "odd" :"even"; oe=oe+1 %]">
          <td class="label">Number of domains:</td>    
          <td class="data">  
            [% proteomeSpecies.num_total_regions %] 
            </td>
        </tr>
        <tr class="[% oe % 2 ? "odd" :"even"; oe=oe+1 %]">
          <td class="label">Sequence coverage:</td>    
          <td class="data">  
            [% proteomeSpecies.sequence_coverage %]%
          </td>
        </tr>
        <tr class="[% oe % 2 ? "odd" :"even"; oe=oe+1 %]">
          <td class="label">Residue coverage:</td>    
          <td class="data">  
            [% proteomeSpecies.residue_coverage %]%
           </td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>

<script type="text/javascript">
  // <![CDATA[

  // set up the post-load AJAX call
  Event.observe(
    window,
    "load",
    function() {
      new Ajax.Request( "[% c.uri_for( "/domaingraphics" ) %]",
                        { parameters: { taxId: "[% taxId %]" },
                          onSuccess:  function( oResponse ) {
                                        $("pdgph").update( oResponse.responseText );
                                      },
                          onFailure:  function( oResponse ) {
                                        $("pdgph").update( "Domain graphics loading failed." );
                                      }
                        } );
    },
    false );

  // build the little taxonomy tree
  try {
    var tree = new YAHOO.widget.TreeView("lineage"); 
    var parent = tree.getRoot();
    [% FOREACH node_name IN proteomeSpecies.taxonomy.split(';');
      node_id = "node" _ node_name.replace( '\W', '' ); %]
      var [% node_id %]Node = new YAHOO.widget.TextNode( 
        { label: "[% node_name %]",
          href:  "http://www.ebi.ac.uk/newt/display?match=complete%20word&search=[% node_name %]" },
        parent,
        true );
      parent = [% node_id %]Node;
    [%- END %]
    tree.draw();
  } catch( e ) {
    // fall-back to the lineage string itself
    $("lineage").update("[% proteomeSpecies.taxonomy %]");
  }
  // ]]>
</script>

<!-- end proteome summary block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
