[%
# files.tt
# jt6 20120119 WTSI
# 
# build the block showing files used in the VM
#
# $Id$

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "help.css" );
requirements.cssIeAll.push( "help_ie.css" );

#-------------------------------------------------------------------------------
-%]

<!-- start files block -->

<div class="block" id="vmConfigureAppBlock">
  <div class="handle">
    <h1>Configure PfamWeb application</h1>
  </div>
  <div class="blockContent">

<pre>

These are the files and directories that are used by the Pfam website and
related processes on this VM.

jt6 20120109 WTSI

/
├── etc/
│   ├── aliases
│   ├── apt/
│   │   └── apt.conf.d
│   │       └── 70debconf
│   ├── default/
│   │   └── monit
│   ├── init.d/
│   │   ├── lighttpd
│   │   ├── monit
│   │   └── pfamweb
│   ├── lighttpd/
│   │   ├── conf-available/
│   │   │   └── 20-pfamweb.conf
│   │   ├── conf-enabled/
│   │   │   └── 20-pfamweb.conf -> ../conf-available/20-pfamweb.conf
│   │   └── lighttpd.conf
│   └── monit/
│   │   ├── conf.d/
│   │   │   ├── general
│   │   │   ├── lighttpd
│   │   │   └── pfamweb
│   │   └── monitrc
│   └── timezone
├── home/
│   └── pfamadmin/
│       ├── mail/
│       ├── .bashrc
│       ├── .bash_aliases
│       ├── 00README.txt
│       ├── 01configure_vm.txt
│       ├── 02install_databases.txt
│       ├── 03configure_pfamweb.txt
|       ├── 04configure_crons.txt
|       ├── 05start_website.txt
|       ├── 06files.txt
│       └── create_web_user.sql
├── opt/
│   └── www/
│       ├── PfamBackend/
│       |   └── scripts/
│       |       └── update_das_sources.pl
│       ├── PfamBase/
│       ├── PfamLib/
│       ├── PfamSchemata/
│       ├── PfamScripts
│       │   └── wiki
│       │       ├── approvals.cgi
│       │       ├── mapping.cgi
│       │       ├── mapping_cron.pl
│       │       ├── rescrape.pl
│       │       ├── revisions.cgi
│       │       ├── scrape_cron.pl
│       │       ├── sync_articles_cron.pl
│       │       └── update_cron.pl
│       ├── PfamWeb/
│       |   ├── bin/
│       |   ├── inc/
│       |   ├── instructions.txt
│       |   ├── lib/
│       |   ├── LICENSE
│       |   ├── Makefile.PL
│       |   ├── root/
│       |   ├── script/
│       |   │   ├── pfamweb_cgi.pl
│       |   │   ├── pfamweb_create.pl
│       |   │   ├── pfamweb_fastcgi.pl
│       |   │   ├── pfamweb_server.pl
│       |   │   └── pfamweb_test.pl
│       |   └── t/
│       └── conf/
│           ├── changelog.conf
│           ├── crons.conf
│           ├── pfamweb.conf
│           ├── pfamweb_local.conf
│           └── robots/
│               ├── inra.conf
│               ├── janelia.conf
│               ├── sbc.conf
│               └── wtsi.conf
├── tmp/
│   └── pfamweb_fastcgi.socket
└── var/
    ├── log/
    │   └── lighttpd/
    |       ├── access.log
    |       └── error.log
    ├── run/
    │   ├── lighttpd.pid
    │   └── monit.pid
    └── tmp/
        └── opt/

</pre>
  </div>
</div>

<!-- end files block -->
[%#
Copyright (c) 2012: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
