[%
# summary.tt
# jt6 20120119 WTSI
# 
# build the summary block for the VM documentation pages
#
# $Id$

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "help.css" );
requirements.cssIeAll.push( "help_ie.css" );

#-------------------------------------------------------------------------------
-%]

<!-- start install_dbs block -->

<div class="block" id="vmInstallDBBlock">
  <div class="handle">
    <h1>Install databases</h1>
  </div>
  <div class="blockContent">

<pre>
This file documents the steps involved with setting up the Pfam databases.

The Pfam release database uses around 300Gb of disk space when installed
and running, making it too large to distribute easily within a VM.
Instead, you will need to set up a local installation of MySQL and
install the Pfam database within it, using dump files available on the
Pfam FTP area. 

The Pfam website uses two separate databases. One, the main Pfam release
database, contains all of the data about Pfam families. The other, "web_user",
stores ancillary data, such as the content scraped from Wikipedia. You will
need to set up both databases in order to run the website.

jt6 20111012 WTSI


1. Install MySQL
================

You can download MySQL from:

  http://dev.mysql.com/downloads/mysql/

The main Pfam websites use MySQL 5.0 and we recommend that you install
at least version 5.0.

Installing and configuring MySQL itself is beyond the scope of this document,
but there are many tutorials and guides on the web.


2. Install the Pfam database
============================

You can find the database dump files on the Pfam FTP area, at:

  ftp://ftp.sanger.ac.uk/pub/databases/Pfam/current_release/database_files/

The "database_files" directory contains two files for every table, a
".sql" file with the SQL "CREATE TABLE" statement, and a ".txt" file
with the raw data. You will need to download and install all of the
tables. One way to load, for example, the VERSION table is:

  mysql> source VERSION.sql
  Query OK, 0 rows affected (0.00 sec)

  Query OK, 0 rows affected (0.00 sec)

  Query OK, 0 rows affected (0.00 sec)

  Query OK, 0 rows affected (0.00 sec)

  Query OK, 0 rows affected (0.00 sec)

  Query OK, 0 rows affected (0.08 sec)

  Query OK, 0 rows affected (0.00 sec)

  Query OK, 0 rows affected (0.00 sec)

  Query OK, 0 rows affected (0.02 sec)

  Query OK, 0 rows affected (0.04 sec)

  Query OK, 0 rows affected (0.00 sec)

  Query OK, 0 rows affected (0.00 sec)

  Query OK, 0 rows affected (0.00 sec)

  Query OK, 0 rows affected (0.00 sec)

  Query OK, 0 rows affected (0.00 sec)

  Query OK, 0 rows affected (0.00 sec)

  mysql> load data infile "/nfs/users/nfs_j/jt6/Downloads/VERSION.txt" into table VERSION;
  Query OK, 1 row affected (0.01 sec)
  Records: 1  Deleted: 0  Skipped: 0  Warnings: 0

You can confirm that the table now has data by doing an extra query:

  mysql> select * from VERSION\G
  *************************** 1. row ***************************
                       pfam_release: 25.0
                  pfam_release_date: 2011-03-31
                 swiss_prot_version: 2010_05
                     trembl_version: 2010_05
                      hmmer_version: 3.0b2
                     pfamA_coverage: 76.7
          pfamB_additional_coverage: 7.9
             pfamA_residue_coverage: 53.9
  pfamB_additional_residue_coverage: 6.9
                    number_families: 12273
  1 row in set (0.00 sec)

  mysql> 


3. Create the "web_user" database
=================================

Creating the "web_user" database should be as simple as running an SQL
script to create the database and a set of empty tables.

You can find the script for generating the "web_user" database at:

  └── home/
      └── pfamadmin/
          └── create_web_user.sql

You can execute the script either from the shell using something like:

  pfamadmin@ubuntu:~$ mysql < create_web_user.sql

or from within the mysql client, with:

  mysql> source create_web_user.sql


Useful links
============

http://dev.mysql.com/doc/refman/5.1/en/installing.html
http://dev.mysql.com/doc/refman/5.0/en/batch-commands.html

</pre>
  </div>
</div>

<!-- end install_dbs block -->
[%#
Copyright (c) 2012: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
