[%
# summary.tt
# jt6 20120119 WTSI
# 
# build the summary block for the VM documentation pages
#
# $Id$

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "help.css" );
requirements.cssIeAll.push( "help_ie.css" );

sharedRequirements.js.push( "prettify.js" );
sharedRequirements.css.push( "prettify.css" );

#-------------------------------------------------------------------------------
-%]

<!-- start summary block -->

<div class="block" id="vmSummaryBlock">
  <div class="handle">
    <h1>VM Summary</h1>
  </div>
  <div class="blockContent">

    <p>
      Installing the Pfam website from scratch can be a tricky and
      time-consuming task. To make it easier for users to install and run the
      site locally, we have built a 
      <a class="ext" href="http://en.wikipedia.org/wiki/Virtual_machine">
        virtual machine</a>
      (VM) with everything necessary pre-installed and, as far as possible,
      pre-configured.
    </p>
    <p>
      The following pages explain how to install the virtual machine in your
      local virtualisation software and then configure it to run the website.
      With the exception of the "Install VM" section, you can find exactly the
      same information in a set of text files in the home directory of the main
      "pfamadmin" user account within the VM itself.
    </p>
    <p>
      Note that this VM encapsulates only the code needed to run the Pfam
      website. It does <strong>not</strong> include the Pfam database, since
      that runs to several hundred gigabytes when installed and running. You
      will need to retrieve and install the database separately. The VM also
      does <strong>not</strong> include the code needed to run sequence and
      other searches through the website. That functionality requires another
      set of scripts and software and, in our case, an entirely separate set of
      machines. We&apos;ll look at building another VM for that task later, if
      there&apos;s interest.
    </p>

    <h2>Setting up the VM</h2>

    <p>
      These are the basic steps involved:
    </p>
    <ol>
      <li>
        <span class="link" onclick="tabPage.switchTab('vmInstallVMBlock')">
          Install</span> the virtual machine image
      </li>
      <li>
        <span class="link" onclick="tabPage.switchTab('vmConfigureVMBlock')">
          Set up</span> the virtual machine itself
      </li>
      <li>
        Install the Pfam 
        <span class="link" onclick="tabPage.switchTab('vmInstallDBBlock')">
          release database</span> and create the "web_user" database
      </li>
      <li>
        <span class="link" onclick="tabPage.switchTab('vmConfigureAppBlock')">
          Configure</span> the PfamWeb application
      </li>
      <li>
        Set up the 
        <span class="link" onclick="tabPage.switchTab('vmConfigureCronsBlock')">
          cron scripts</span>
      </li>
      <li>
        <span class="link" onclick="tabPage.switchTab('vmStartAppBlock')">
          Start</span>
        PfamWeb and lighttpd
      </li>
      <li>
        <span class="link" onclick="tabPage.switchTab('vmStartAppBlock')">
          Enable monit</span> to make the site start on boot
      </li>
    </ol>

    <h2>Machine specification</h2>

    <table summary="VM spec"
           class="layout">
      <tbody>
        <tr class="odd">
          <td class="label">Operating system</td>
          <td>Ubuntu 11.10 (oneiric) (64 bit)</td>
        </tr>
        <tr class="even">
          <td class="label">Last package update</td>
          <td>2012-01-24</td>
        </tr>
        <tr class="odd">
          <td class="label">CPU cores</td>
          <td>1</td>
        </tr>
        <tr class="even">
          <td class="label">Memory</td>
          <td>1032 Mb</td>
        </tr>
        <tr class="odd">
          <td class="label">Hard drive</td>
          <td>20 Gb (virtual size, dynamically allocated)</td>
        </tr>
        <tr class="even">
          <td class="label">OVA file</td>
          <td>
            <a class="ext" href="ftp://ftp.sanger.ac.uk/pub/databases/Pfam/vm/PfamWeb_20120124.ova">PfamWeb_20120124.ova</a>
            (1.0Gb) (md5 checksum 10df9f25b297ba0489728fead361e73a)
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<!-- end summary block -->
[%#
Copyright (c) 2012: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
