
<!-- start dbRefs block -->

<div class="block" id="dbRefsBlock">
  <div class="handle">
	<h1>Database references</h1>
  </div>
  <div class="blockContent[% IF NOT open %] closed[% END %]">

	<p>hello world</p>

  </div>
</div>

<!-- end dbRefs block -->
