[%
# structuresTab.tt
# jt6 20060424 WTSI
#
# $Id: structureTab.tt,v 1.7 2009-09-04 10:47:29 jt6 Exp $

USE String;

META naked=1;
-%]
<table id="structuresTable" class="details">
  <thead class="sortIndicator">
    <tr>
      <th id="indexCol" class="rowNum">Original order</th>
      <th class="sortcol">Family accession</th>
      <th class="sortcol">PDB ID</th>
      <th class="sortcol">PDB chain ID</th>
      <th class="sortcol">PDB Residues</th>
      <th class="sortcol">Bit score</th>
      <th class="sortcol">View</th>
    </tr>
  </thead>
  <tbody>
  [% FOREACH region IN rfamMaps %]
    <tr class="[% loop.parity %]">
      <td class="rowNum">[% loop.index %]</td>
      <td>[% region.rfam_acc.rfam_acc %]</td>
      <td>
        <a name="ref[% loop.index %]"
         class="ext"
         href="http://www.rcsb.org/pdb/explore.do?structureId=[% region.pdb_id %]">
        [% region.pdb_id %] </a>
      </td>
      <td>[% region.chain %]</td>
      <td>[% region.pdb_start %] - [% region.pdb_end %]</td>
      <td>[% region.bit_score %]</td>
      <td> <a href="[% c.uri_for( '/structure', region.pdb_id, 'av' ) %]"
             onclick="popUp(this.href,'console',800,800,'avWin');return false;">
             AstexViewer</a></td>
    </tr>
  [% END; %]
  </tbody>
</table>

<script type="text/javascript">
  // <![CDATA[

  var sorter = new TableKit( "structuresTable",
                             {
                               editable: false,
                               resizable: false,
                               rowEvenClass: "even",
                               rowOddClass: "odd",
                               stripe: true,
                               observers: {
                                 onSortStart: function( table, event ) {
                                   table.down("thead").removeClassName("sortIndicator");
                                 }
                               }
                             } );

  if ( $("sortLink") ) {
    $("sortLink").observe( "click", function() {
      sorter.sort(0);
    } );
  }

  // ]]>
</script>


[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
