
[%
# summary.tt
# jt6 20060424 WTSI
# 
# build the summary block for clans
#
# $Id: summary.tt,v 1.24 2009-12-07 22:31:41 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

#requirements.css.push( "clans.css" );
#requirements.cssIe.push( "clans_ie.css" );

#-------------------------------------------------------------------------------

USE Number.Format( THOUSANDS_SEP = "," );

# process the template that defines the blocks that do various things with
# database links. We use it later to convert IDs in the Pfam comment and to
# build tables of database links 
PROCESS components/links.tt;

membershipList = BLOCK;
  total = 0;
  size = 0;
  members = [];
  
  # can't sort the contents of "clan.clan_memberships" directly. Convert the 
  # list into rows from the rfam table first
  FOREACH member IN clan.clan_memberships;
    members.push( member.auto_rfam );
  END;
  FOREACH rfam IN members.sort( "rfam_id" ); -%]
    <span class="listItem">
      <a title="[% rfam.rfam_acc %]"
         href="[% c.uri_for( '/family', rfam.rfam_acc ) %]">
        [% rfam.rfam_id %]</a>
    </span>
    [% total = total + rfam.num_full;
    size = size + 1;
  END;
END; -%]

<!-- start clan summary block -->

<div class="block" id="clanSummaryBlock">
  <div class="handle">
    <h1>Summary</h1>
  </div>
  <div class="blockContent">

    [%- # a placeholder for the structure image -%]
    <div id="siph"
         class="pdbImageFragment"
         style="display: none">&nbsp;</div>

    <h1>[% clan.clan_description %]</h1>

    <p>[% clan.clan_comment %]</p>

    <p>This clan contains <strong>[% size %]</strong> families and
      the total number of sequence regions in the clan is <strong>
        [% total | format_number %]</strong>.</p>

    [% IF clan.clan_literature_references.size %]
      <h2>Literature references</h2>
  
      <ol>
        [% # hash the literature references on "order_added"... I'm sure we should be able to do
           # this with a simple "sort", but it's screwing up somewhere...
           litRefs = {};
           FOREACH ref IN clan.clan_literature_references;
             litRefs.${ref.order_added} = ref;
           END;
           FOREACH refNum IN litRefs.keys.nsort;
             ref = litRefs.$refNum; -%]
          <li>
            [% ref.auto_lit.author %], [% ref.auto_lit.journal %]: [% ref.auto_lit.title %]
            <a class="ext" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;dopt=Abstract&amp;list_uids=[% ref.auto_lit.medline %]">[% ref.auto_lit.medline %]</a>
          </li>
        [% END %]
      </ol>
    [% END %]

    <h2>Members</h2>

    <p>This clan contains the following [% size %] member families:</p>

    [% membershipList %]

    [% # add the tables showing internal and external database links 
    PROCESS buildLinksTable type="clan" -%]

  </div>

  [% # for loading the example structure image we use the call to the family
     # controller, rather than having a separate one %]

  <script type="text/javascript">
    // <![CDATA[

/*
    document.observe( "dom:loaded", function() {
      var r = new Ajax.Updater( 
        "siph",
        "[% c.uri_for( '/family/structures', members.first.rfam_acc ) %]",
        {
          evalScripts: true,
          onSuccess: function() {
            $("siph").show();
          },
          on204: function() {
            // capture the 204 so that we don't end up showing an empty box... 
          }
        }
      );
    } );
*/

    // ]]>
  </script>

</div>

<!-- end clan summary block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
