#!/bin/sh

# PRE-COMMIT HOOK - copy this file in to the reposiotry under the hook
#directory and name it pre-commit. Fix the 

#Do not change this.....

REPOS="$1"
TXN="$2"

export ROOT=/path/to/production/code/checkout 
export RFAM_CONFIG=$ROOT/trunk/Rfam/Conf/rfam.conf
export PERL5LIB=$ROOT/Rfam/Lib:$ROOT/Rfam/Schemata:$ROOT/Bio-Easel/blib:$ROOT/Bio-Easel/arch
export PATH=$ROOT/Scripts/svn:/opt/bin:$PATH
#export LD_LIBRARY_PATH=/opt/lib

/usr/bin/perl $ROOT/Rfam/Scripts/svnhooks/pre-commit.pl -txn $TXN -repos $REPOS || exit 1

# All checks passed, so allow the commit.
exit 0