[%
# systemError.tt
# jt6 20060921 WTSI
#
# show a system error report
#
# $Id: systemError.tt,v 1.1 2008-07-25 13:13:53 jt6 Exp $

# tell the wrapper to add the full page footer
META fullPage = 1;
-%]

<!-- start error report -->

<div class="errorReport">

  <p>There was a system error on your last request.</p>

  [% IF c.error.size AND c.debug %]
    <p class="message">[% c.error.first %]</p>
  [% END %]

  <p>
    This error has been recorded and will be investigated. If you would like to 
    let us know what you were doing when the error occurred, please file a bug
    report.
  </p>

  <p>
    You might like to go <a href="#" onclick="history.go(-1)">back</a> to the
    previous page and see if it works this time...
  </p>

</div>

<script type="text/javascript">
  // <![CDATA[

  [%# if the errorReport div isn't a direct child of the <body>, then it's 
    # been included via an AJAX call. In that case we don't want the default
    # page header, footer, navbar, etc. to be displayed. Instead we'll 
    # replace the contents of the parent of the errorReport div with just the 
    # errorReport div %]
  var errorReport  = $$(".errorReport").first();
  var errorWrapper = errorReport.up();

  if ( errorWrapper.nodeName !== "BODY" ) {
    var errorReportEl = errorReport.remove();
    errorWrapper.update( errorReportEl );
  }

  // ]]>
</script>

<!-- end error report -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
