[%
# wrapper.tt
# jt6 20060327 WTSI
#
# wrapper for all page content. Contains the page header and footer
#
# $Id: wrapper.tt,v 1.2 2008-05-16 14:58:22 jt6 Exp $

# see if the page should be left completely bare of any header/footer
IF template.naked;
	content;
ELSE;

# no; add some sort of wrapper around it, but figure out whether we need
# the tab footer or full page footer later on

-%]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>

  <head>
    [% IF template.title -%]
      <title>[% c.config.title %]: [% template.title %]</title>
    [% ELSIF pageType;
      titleFile = "components/blocks/${pageType}/title.tt" -%]
      <title>[% c.config.title %]: [% PROCESS $titleFile titleType="page" %]</title>
    [% ELSE -%]
      <title>[% c.config.title %]</title>
    [% END;

    # import javascripts, stylesheets, etc.
    PROCESS components/head.tt -%]
  </head>

  <body>

    [% # build the page header, with the swoosh, menus, etc.
    PROCESS components/header.tt;

    # add a wrapper div if this is a tab layout page
    UNLESS template.fullPage %]<div class="cbb" id="contentContainer">[% END %]

    <!-- start of content -->
    [% content %]
    <!-- end of content -->

    [% # add the common footer %]
    <!-- start of footer -->
    <div id="footer"></div>

    <div class="cleaner"><!-- wrap --></div>
    <!-- end of footer -->

    [% # close the wrapper div if this is a tab layout page
    UNLESS template.fullPage %]</div>[% END;

    TRY;
      PROCESS "components/footer_${c.config.site}.tt";
    CATCH file;
      CALL c.log.error( "wrapper.tt: couldn't find the site-specific footer" );
    END -%]

    <script type="text/javascript">
      // <![CDATA[
      Event.observe( window, 'load', addHoverListeners, false );
      // ]]>
    </script>

  </body>

</html>
[% END # of "if template.naked" %]
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
