[%-
IF NOT pfam.clan_acc;
  RETURN;
END;
-%]

<!-- start clan block -->

<div class="block[% IF NOT pfam.clan_acc %] inactive[% END %]" id="clanBlock">
  <div class="handle">
    <h1>Pfam Clans</h1>
  </div>
  <div class="blockContent">

  [% oe = 0 %]

    <table class="layout">
	  <tbody>
        <tr class="[% IF oe % 2 %]odd[% ELSE %]even[% END %][% oe=oe+1 %]">
		  <td class="label">Clan:</td>
	      <td class="data">
            <a href="[% c.uri_for( "/clan", id=pfam.clan_id ) %]">[% pfam.clan_id %]</a> (<a href="[% c.uri_for( "/clan", acc=pfam.clan_acc ) %]">[% pfam.clan_acc %]</a>)
          </td>
		</tr>
        <tr class="[% IF oe % 2 %]odd[% ELSE %]even[% END %][% oe=oe+1 %]">
		  <td class="label">Description:</td>
	      <td class="data">
            [% pfam.clan_description %]
          </td>
		</tr>
		</tr>
        [% IF pfam.clan_comment %]
        <tr class="[% IF oe % 2 %]odd[% ELSE %]even[% END %][% oe=oe+1 %]">
		  <td class="label">Comment:</td>
	      <td class="data">
            [% pfam.clan_comment %]
          </td>
		</tr>
        [% END %]
      </tbody>
    </table>

  </div>

</div>

<!-- end clan block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
