[%
# db.tt
# jt6 20081118 WTSI
#
# the database cross references tab for the family section
#
# $Id: db.tt,v 1.1 2008-12-08 13:03:19 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

#PROCESS "components/require.tt";

#-------------------------------------------------------------------------------

PROCESS components/links.tt
-%]

<!-- start dbXrefs block -->

<div class="block" id="dbBlock">
  <div class="handle">
    <h1>Database references</h1>
  </div>
  <div class="blockContent">

    <p>
      This section shows the database cross-references that we have for this
      Rfam family
    </p>

    <h2>Literature references</h2>

    <ol>
    [% FOREACH xref IN rfam.rfam_literature_references;
      ref = xref.auto_lit %]
      <li>
        <p>
          [% ref.author; ' '; ref.journal; ' '; ref.title %]
          <a name="ref[% loop.index %]"
             class="ext" 
             href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?Retrieve&amp;db=PubMed&amp;dopt=Abstract&amp;list_uids=[% ref.medline %]">
            PUBMED:[% ref.medline %]</a>
        </p>
      </li>
    [% END %]
    </ol>

    [% # add the tables showing internal and external database links 
    PROCESS buildLinksTable type="rfam" %]

  </div>
</div>

<!-- end dbXrefs block --> 
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
