[%
# family_matches.tt
# jt6 20081208 WTSI
#
# the family matches tab for the motif section
#
# $Id: sequences.tt,v 1.3 2009-10-08 16:01:48 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";
sharedRequirements.js.push( "tablekit.js" );

sharedRequirements.js.push(  "lightbox2.js" );
sharedRequirements.css.push( "lightbox2.css" );

#-------------------------------------------------------------------------------

USE Number.Format( THOUSANDS_SEP = "," );
USE String;
%]

<!-- start sequences block -->

<div class="block" id="motifsBlock">
  <div class="handle">
    <h1>Motif matches</h1>
  </div>
  <div class="blockContent">
    <div id="matchesTab">
    
    <p>
    There are <strong>[% family_matches.count %]</strong> motifs which match this family.
    </p>
    
    <p>
      This section shows the motifs which have match for this family.
      <span onclick="reveal( this, 'motifNotes', false, true );"
            class="moreLink">
        More...</span>
    </p>

    <div id="motifNotes" style="display: none">
      <p>
        Motifs in this context are defined as recurring RNA sequence and/or secondary
        structure found within larger structures that can be modelled by
        either a covariance model or a profile HMM. The motifs models come from 
        release 0.3 of the RMfam database available at http://github.com/ppgardne/RMfam.
      </p>
      <p>
        To annotate families with the motif models, GSC (Gerstein/Sonnhammer/Chothia tree weights) filtered SEED sequences from each family were
        searched with motif CM models using Infernal v1.1. Families which had 2 or more sequences
        that scored above the model gathering threshold, and where more than 10% of sequnences in the SEED match
        were annotated for the given motif. 
      <p>
        <strong>Number of Hits</strong>: the number of seqeunces in the SEED which form a match with the motif model.
      </p>

      <p>
        <strong>Fraction of Hits</strong>: the fraction of sequences in the SEED which form a match with the motif model.
      </p>

      <p>
        <strong>Average Sum Bits</strong>: the weighted sum of the bit scores for the macthes between the motif and the family, normalised with the total weight. 
      
      </p>

      <p>
        <strong>Image</strong>: this plot illustrates where on the consensus secodary structure of the family, does matches between seed sequences and the motif models        occur.
      </p>

   </div>
   
   [% IF family_matches.count %]
     <table summary="Family Matches"
         id="familyMatchesTable"
         class="details">
      <thead class="sortIndicator">
        <tr>
          <th id="indexCol" class="rowNum">Original order</th>
          <th>Motif Accession</th>
          <th>Motif Description</th>
          <th>Number of Hits</th>
          <th>Fraction of Hits</th>
          <th>Average Sum Bits</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        [% WHILE (match = family_matches.next) ; 
             matchURI = c.uri_for( '/motif', match.motif_acc.motif_acc, 'image', acc)
             matchTitle = example %]
          <tr class="[% loop.parity %]">
            <td class="rowNum">[% loop.index %]</td>
            <td><a href="[% c.uri_for( '/motif', match.motif_acc.motif_acc ) %]">[% match.motif_acc.motif_acc %]</a></td>
            <td>[% match.motif_acc.description %]</td>
            <td>[% match.num_hits %]</td>
            <td>[% match.frac_hits %]</td>
            <td>[% match.avg_weight_bits %]</td>
            <td>
              <a href="[% matchURI %]"
                    rel="lightbox[mots]="
                    title="[% matchTitle %]">
              <img src="/static/images/seq_icon.png"
                   class="seqIcon"
                   alt="Match Image" /></a>
            </td>
          </tr>
        [% END %]
    </tbody>
  </table>

  [% END %]

  <script type="text/javascript">
    // <![CDATA[

    var sorter = new TableKit( "familyMatchesTable",
                               {
                                 editable: false,
                                 resizable: false,
                                 rowEvenClass: "even",
                                 rowOddClass: "odd",
                                 stripe: true,
                                 observers: {
                                   onSortStart: function( table, event ) {
                                     table.down("thead").removeClassName("sortIndicator");
                                   }
                                 }
                               } );


    // ]]>
  </script>


    </div>
  </div>
</div>


<!-- end sequences block --> 

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
