[%
# pdb.tt
# jt6 20060424 WTSI
#
# Format the mapping between uniprot and PDB for the given Pfam family.
#
# $Id: pdb.tt,v 1.5 2009-10-08 16:01:48 jt6 Exp $

RETURN UNLESS summaryData.numStructures;
-%]

<!-- start pdb block -->

<div class="block" id="pdbBlock">
  <div class="handle">
    <h1>Structures</h1>
  </div>
  <div class="blockContent">  
    <p>
      For those sequences which have a structure in the
      <a class="ext" href="http://www.wwpdb.org/">Protein DataBank</a>, we
      generate a mapping between <a class="ext" 
        href="http://www.ebi.ac.uk/embl/">EMBL</a>, PDB and Rfam coordinate
      systems. The table below
      shows the structures on which the <strong>[% rfam.rfam_id %]</strong>
      family has been found. 
    </p>

    <div id="familyStructureTabHolder">
      <p id="fstrucph" class="loading">
        Loading structure mapping...
      </p>  
    </div> <!-- end of familyStructureTabHolder -->
  </div>

  <script type="text/javascript">
    // <![CDATA[
    document.observe( "dom:loaded", function() {
      var r = new Ajax.Request( 
        "[% c.uri_for( '/family', acc, 'structures' ) %]",
	      {
          method:         'get',
          requestHeaders: { Accept: 'text/html' },
	        onSuccess:      function fstrucSuccess( oResponse ) {
	          $("familyStructureTabHolder").update( oResponse.responseText );
	          // how many columns are there in the table ?
		        var firstRow = $("structuresTable").getElementsByTagName("tr")[1]
		        numColsTable  = firstRow.getElementsByTagName("td").length;
		
		        // walk over all of the cells in the table and add listeners for mouseover and 
		        // mouseout events
		        $A( $("structuresTable").getElementsByTagName( "td" ) ).each( function( cell ) {
	            cell.onmouseover = highlight.mouseoverHandler.bindAsEventListener( highlight );
	            cell.onmouseout  = highlight.mouseoutHandler.bindAsEventListener( highlight );
            } );
    
          },
          onFailure:      function () {
            $("fstrucph").update( "Graphics loading failed." );
          }
        }
      );
    } );
    // ]]>
  </script>

</div>

<!-- end pdb block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
