
[%
# phylo.tt
# jt6 20060515 WTSI
#
# block showing the phylogenetic tree for a family
#
# $Id: phylo.tt,v 1.2 2008-06-17 09:05:08 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

# tooltips script and stylesheet
sharedRequirements.js.push( "prototip.js" );
sharedRequirements.css.push( "prototip.css" );

# the tabs script
sharedRequirements.js.push( "control.tabs.2.1.1.js" );

#-------------------------------------------------------------------------------

treeUri = c.uri_for( "/family/tree" );
%]

<!-- start of phyloBlock -->

<div class="block" id="phyloBlock">
  <div class="handle">
    <h1>Trees</h1>
  </div>
  <div class="blockContent">
    <p>
      This page displays the [% treemethod %] predicted phylogenetic tree,
      generated using phylip3.66-erate for the given alignment.
    </p>

    <ul id="alignmentTabs" class="controlTabList">
      <li><a href="#species_tree">Species</a></li>
      <li><a href="#acc_tree">Accessions</a></li>  
      <li><a href="#treeHelp">About</a></li>  
    </ul>
    
    <div id="species_tree"
         class="controlTabContent treemap">
    </div>

    <div id="acc_tree"
         class="controlTabContent treemap"
         style="display: none">
    </div>
    
    <div id="treeHelp"
         class="controlTabContent"
         style="display: none">
      <p>
        This is a paragraph that explains what's going on with these trees.
      </p>
    </div>
    
    <script type="text/javascript">
      // <![CDATA[

      // submit AJAX requests for each of the label types
      //['species','acc'].each( function(label) {
      ['species'].each( function(label) {

        var r = new Ajax.Request(
          '[% treeUri %]', 
          { parameters: { acc:   '[% acc %]',
                          label: label },
            onSuccess: function( oResponse ) {
              // $$(".treemap").invoke( "hide" );
              $(label+"_tree").update( oResponse.responseText );
            }
          }
        );
        
      } );
      
      // add the tab controller
      var alignmentTabsController = new Control.Tabs( "alignmentTabs", 
                                                       { defaultTab: "species_tree" } );

      // ]]>
    </script>

<!--
    <p>
      <strong>Note:</strong> You can also download the data files for the
      <a href="[% c.uri_for( "/family/tree/download", { alnType => "seed", acc => acc } ) | html %]">seed</a> or the
      <a href="[% c.uri_for( "/family/tree/download", { alnType => "full", acc => acc } ) | html %]">full</a>
      trees.
    </p>
-->

  </div>
</div>

<!-- end of phyloBlock -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
