[%
# refseq.tt
# jt6 20120806 WTSI
#
# the refseq tab for the family section
#
# $Id$

META naked = 1;

USE Number.Format( THOUSANDS_SEP = "," );

refseqRegionsCount = refseqRegions.count;
%]

<p>
  [% IF refseqRegionsCount %]
    There are <strong>[% refseqRegionsCount %]</strong> refseq sequence
    regions for this family.
    [% IF refseqRegionsCount < limits.showAll;
      tabLabel = refseqRegionsCount %]
      You can <a href="[% c.uri_for( '/family', acc, 'refseq' ) %]">download</a>
      the details of all regions as a tab-delimited file. The table of results
      below may be sorted by clicking on the column titles, or restored to the 
      original order <span class="link" id="rsSortLink">here</span>. 
    [% ELSIF refseqRegionsCount < limits.showText;
      tabLabel = limits.showAll _ "+" %]
      We are showing the first <strong>[% limits.showAll %]</strong>, sorted
      by bit score, but you can still 
      <a href="[% c.uri_for('/family', acc, 'regions' ) %]">download</a> 
      the details of all of them as a tab-delimited file.
      The table of results below may be sorted by clicking on the column titles, or 
      restored to the original order <span class="link" id="sortLink">here</span>. 
    [% ELSE;
      tabLabel = limits.showText _ "+" %]
      We are showing the first <strong>[% limits.showAll %]</strong>, sorted by
      bit score, but there are too many regions to download. If you really need
      a list of all regions for this family, please contact us at the address
      below and we will do our best to help. 
    [% END;
  ELSE;
    tabLabel = 0 %]
    There are no refseq regions for this family.
  [% END %]
</p>

[% IF refseqRegionsCount %]
  <table summary="Rfam refseq regions"
         id="refseqTable"
         class="details">
    <thead class="sortIndicator">
      <tr>
        <th id="indexCol" class="rowNum">Original order</th>
        <th>Sequence accession</th>
        <th>Bits score</th>
        <th>Start</th>
        <th>End</th>
        <th>Description</th>
        <th>Species</th>
      </tr>
    </thead>
    <tbody>
      [% seqUri = c.uri_for( '/sequence/' );
      FOREACH region IN refseqRegions.slice(0, limits.showAll) %]
        <tr class="[% loop.index % 2 ? 'odd' : 'even' %]">
          <td class="rowNum">[% loop.index %]</td>
          <td>
            <a href="http://www.ncbi.nlm.nih.gov/nuccore/[% region.refseq_accession %]"
               class="ext">[% region.refseq_accession %]</a>
          </td>
          <td>[% region.bits_score %]</td>
          <td>[% region.refseq_start | format_number %]</td>
          <td>[% region.refseq_end   | format_number %]</td>
          <td class="left">[% region.description %]</td>
          <td>[% region.species %]</td>
        </tr>
      [% END;
      IF refseqRegionsCount > limits.showAll %]
        <tr class="truncationWarning">
          <td colspan="8">
            <strong>Note</strong>: this table contains only the first
            <strong>[% limits.showAll %]</strong> sequences. 
            [% IF refseqRegionsCount < limits.showText %]
              <a href="[% c.uri_for('/family', acc, 'regions' ) %]">Download</a> 
              the full result set.
            [% END %]
          </td>
        </tr>
      [% END %]
    </tbody>
  </table>
[%- END %]

<script type="text/javascript">
  // <![CDATA[

  [% IF refseqRegionsCount %]
    var rsSorter = new TableKit( "refseqTable",
                                 {
                                   editable: false,
                                   resizable: false,
                                   rowEvenClass: "even",
                                   rowOddClass: "odd",
                                   stripe: true,
                                   observers: {
                                     onSortStart: function( table, event ) { 
                                       table.down("thead").removeClassName("sortIndicator");
                                     }
                                   }
                                 } );    

    if ( $("rsSortLink") ) {
      $("rsSortLink").observe( "click", function() {
        rsSorter.sort(0);
      } );
    }
  [% END %]

  $("refseqTabLabel").update( "Refseq ([% tabLabel %])" );

  // ]]>
</script>

[%#
Copyright (c) 2012: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Sarah Burge (sb30@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
