[%
# secondary_structure.tt
# jt6 20080523 WTSI
# 
# build the secondary structure block for families
#
# $Id: secondary_structure.tt,v 1.4 2008-12-09 13:17:13 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

sharedRequirements.js.push( "sharedFunctions.js" );

#-------------------------------------------------------------------------------

labels = [ 
           { type  => 'cons',
             short => 'seqcons',
             long  => 'Sequence conservation' },
           { type  => 'fcbp',
             short => 'bpcons',
             long  => 'Basepair conservation' },
           { type  => 'cov',
             short => 'cov',
             long  => 'Covariation' },
           { type  => 'ent',
             short => 'ent',
             long  => 'Relative entropy' },
           { type  => 'maxcm',
             short => 'maxcm'
             long  => 'Maximum CM parse' },
           { type  => 'norm',
             short => 'norm',
             long  => 'Normal' }
         ];
%]

<!-- start secondary structure block -->

<div class="block" id="familySSBlock">
  <div class="handle">
    <h1>Secondary structure</h1>
  </div>
  <div class="blockContent">

    <p>
      This section shows a variety of different secondary structure 
      representations for this family. 
      <span onclick="reveal( this, 'ssNotes', false, true );"
            class="moreLink">
        More...</span>
    </p>

    <div id="ssNotes" style="display: none">
      <p>
        In this page you can view static images showing the secondary structure
        of this family using a variety of colouring schemes:
      </p>
      <p>
        <strong>Conservation (cons)</strong>: this plot colours each character 
        by how well conserved it is. A site with 100% sequence conservation 
        is coloured red, 0% is violet.
      </p>
      <p>
        <strong>Covariation (cov)</strong>: this plot colours each base-pair 
        according to how much the corresponding nucleotides are co-varying. 
        A base-pair position at which every pair of nucleotides is co-variant 
        with respect to every other pair in the alignment gets a score of 2 
        and is coloured red. 
        Conversely, a base-pair position at every pair is anti-co-variant with 
        respect to every other pair (e.g. lots of mutations to 
        non-canonical pairs) gets a score of -2 and is coloured violet.
        Further information on this metric can be found in this 
        <a href="/static/documents/structure_statistics.pdf">document</a>.
      </p>
      <p>
        <strong>Sequence entropy (ent)</strong>: this plot colours each 
        character by how under-
        or over-represented the residues at the site are. Sites where one or
        more nucleotides are over-represented while the other nucleotides are
        either non-existent or near the background frequencies, receive
        positive scores; sites where all the nucleotides are under-represented
        receive negative scores. Further information on this metric can be
        found in this <a href="/static/documents/structure_statistics.pdf">document</a>.
      </p>
      <p>
        <strong>Fraction of canonical basepairs (fcbp</strong>): this plot 
        colours each base-pair by the percentage of canonical basepairs 
        (A:U, C:G, G:U) which are found in the corresponding position in the 
        alignment. A pair of sites with 100% canonical pairs is coloured red, 
        a site with 0% is violet.
      </p>
      <p>
        <strong>Maximum parse of the covariance model (maxcm)</strong>: this
        plot takes the covariance model for the family and generates the 
        sequence with the maximum possible score for that model. Each 
        character is coloured by how many bits it contributes to the total 
        score.
      </p>
      <p>
        <strong>Sequence</strong>: for most of the above cases, the 
        representative sequence used for the backbone is the most 
        informative sequence (MIS). Any residue that has a higher frequency 
        than than the background frequency is projected into the 
        <a class="ext" href="http://www.chem.qmul.ac.uk/iubmb/misc/naseq.html">
          IUPAC redundancy codes</a>.
      </p>
      <p>
        <strong>Normal</strong>: normal, usual, run-of-the-mill.
      </p>
      <p>
        You can also view the secondary structure in the VARNA applet. The
        applet is shown in a separate pop-up window.
      </p>
      <h3>Acknowledgements</h3>
      <p>
        The bulk of the code for generating these graphics was kindly supplied
        by Andreas Gruber and Ivo Hofacker. The statistics were implemented by
        Rfam.
      </p>
      <p>
        The <a class="ext" href="http://varna.lri.fr/">VARNA</a> applet is developed by 
        <a class="ext" href="http://www.lix.polytechnique.fr/~ponty/">Yann Ponty</a>
        <em>et al</em>:
      </p>
      <div class="citation">
        <span class="title">
          <a class="ext" 
             href="http://bioinformatics.oxfordjournals.org/cgi/content/full/25/15/1974">
            VARNA: Interactive drawing and editing of the RNA secondary structure</a>: 
        </span>
        <span class="authors">
          K&eacute;vin Darty, Alain Denise and Yann Ponty
        </span>
        <span class="ref">
          <span class="jrnl">Bioinformatics</span>&nbsp;(2009)
          &nbsp;25:1974-1975
        </span>
      </div>
      <hr />
    </div>

    <p>
      You can view the secondary structure of the family using the 
      <strong><span class="link" id="varnaLink">VARNA</span></strong> applet. 
      You can see more information about VARNA iself 
      <a class="ext" href="http://varna.lri.fr/">here</a>.
    </p>

    <ul id="ssImageTabs" class="controlTabList">
[% FOREACH hash IN labels -%]
      <li><a href="#[% hash.type %]Image"
             title="[% hash.long %]">[% hash.short %]</a></li>
[% END -%]
    </ul>

[% FOREACH hash IN labels -%]
    <div id="[% hash.type %]Image" [% IF NOT loop.first %] style="display: none"[% END %]
         class="controlTab ssImage">
      <img alt=""
           src="[% c.uri_for( '/family', acc, 'image', hash.type ) | html -%]" />
    </div>
[% END -%]

    <script type="text/javascript">
      // <![CDATA[
      var ssImageTabsController = 
        new Control.Tabs( "ssImageTabs",
                          { defaultTab: "[% labels.first.type %]Image" } );
      
      // "defaultTab" doesn't seem to set this correctly, hence the next call:
      ssImageTabsController.setActiveTab("[% types.first %]Image");

      // add a listener for the VARNA link
      $("varnaLink").observe( "click", function() {
        popUp( "[% c.uri_for( '/family', acc, 'varna' ) %]", 'console', 800, 800, 'varnaWin' );
      } );
      // ]]>
    </script>

  </div>
</div>

<!-- end secondary structure block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
