
[%
# species.tt
# jt6 20060411 WTSI
#
# block showing the species tree. This is a wrapper around another
# template, which is called using an XMLHttpRequest to SpeciesTree.pm.
#
# $Id: species.tt,v 1.4 2009-05-06 11:50:18 jd7 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

# YUI stuff - this is for the tree viewer
sharedRequirements.css.push( "tree.css" );
sharedRequirements.js.push( "yui/TaskNode.js" );
sharedRequirements.js.push( "treeTweak.js" );

#-------------------------------------------------------------------------------
%]

<!-- start species block -->

<div class="block" id="speciesBlock">
  <div class="handle">
    <h1>Species distribution</h1>
  </div>
  <div class="blockContent">

    [% PROCESS components/speciesTreeTools.tt  # add the "control panel %]
    
    <div id="speciesTreeDesc">
      <p>
        The tree shows the occurrence of this RNA across different species.
        <span onclick="reveal( this, 'speciesNotes', false, true );"
              class="moreLink">
          More...</span>
      </p>
  
      <div id="speciesNotes" style="display: none">
        <h2>Species trees</h2>
        <p> 
          For the majority of our families we provide an interactive tree
          representation, which allows you to select specific nodes in the tree
          and view the selected sequences as an alignment.
        </p>
        <p>
          Unfortunately we have found that there are problems viewing the 
          interactive tree when the it becomes larger than a certain limit. 
          Furthermore, we have found that Internet Explorer can become 
          unresponsive when viewing some trees, regardless of their size. 
          We therefore show a text representation of the species tree when the
          size is above a certain limit or if you are using Internet Explorer
          to view the site.
        </p>
        <p>
          If you are using IE you can still load the interactive tree by 
          clicking the &quot;Generate interactive tree&quot; button, but please 
          be aware of the potential problems that the interactive species tree 
          can cause.
        </p>
        
        <h3>Interactive tree</h3>
        <p>
          For all of the sequence regions (RNA annotations) in a full
          alignment, we count the total number that are found in the
          alignment. This total is shown in the <span
          class="domSum">purple</span> box.
        </p>
        <p>
          We also count the number of unique sequences on which each RNA is 
          found, which is shown in <span class="seqSum">green</span>.
          <strong>Note</strong> that an RNA annotation may appear
          multiple times on the same sequence, leading to the difference between
          these two numbers (think of repeats like tRNA where the same RNA is
          found in tandem along a single sequence).
        </p>
        <p>
          Finally, we group sequences from the same organism according
          to the <a class="ext" href="http://www.ncbi.nlm.nih.gov/"><acronym 
          title="National Center for Biotechnology Information">NCBI</acronym></a> 
          code that is assigned by
          <a class="ext" href="http://www.ebi.uniprot.org/">UniProt</a>, 
          allowing us to count the number of distinct sequences on which the 
          RNA is found. This value is shown in the <span class="specSum">
          pink</span> boxes.
        </p>
        <p>
          We use the NCBI species tree to group organisms according to
          their taxonomy and this forms the structure of the displayed tree.
          <strong>Note</strong> that in some cases the trees are too large (have
          too many nodes) to allow us to build an interactive tree. In
          these few cases if you do really need to see a representation of the
          tree for this entry, please contact us and we will be happy to discuss
          ways to generate it for you.
        </p>
        <p>
          You can use the tree controls to manipulate how the interactive tree
          is displayed:
        </p>
        <ul>
          <li>show/hide the summary boxes</li>
          <li>highlight species that are represented in the seed alignment</li>
          <li>expand/collapse the tree or expand it to a given depth</li>
          <li>select a sub-tree or a set of species within the tree and view
            them graphically or as an alignment</li>
          <li>save a plain text representation of the tree</li>
        </ul>
        <hr />
      </div>
    </div>

    <!-- start of tree -->
    <div id="treeDiv" class="ygtv-checkbox">
      <div id="loadTree">
        <p>
          The interactive species trees can be large and slow to generate. If you would like
          to see the tree for this family, please press the button below.
        </p>
        <button id="loadTreeButton">Load tree</button>
      </div>
      <p id="stph" class="loading" style="display: none">Loading species tree...</p>
    </div>

    [% PROCESS components/speciesTreeJS.tt  # add the JS that sets up the post-load %]

  </div>

  <script type="text/javascript">
    // <![CDATA[

    $("loadTreeButton").observe( "click", function() {
      $("loadTree").remove();
      $("stph").show();
      var r = new Ajax.Request(
        stUri,
        {
          method:     "get",
          parameters: { acc: "[% acc %]",
                        ie:  Prototype.Browser.IE },
          onSuccess:  stSuccess,
          onFailure:  stFailure
        }
      );
    } );

    // ]]>
  </script>

</div>


<!-- end of species block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
