[%
# species.tt
# jt6 20060411 WTSI
#
# block showing the species tree. This is a wrapper around another
# template, which is called using an XMLHttpRequest to SpeciesTree.pm.
#
# $Id: species.tt,v 1.4 2009-05-06 11:50:18 jd7 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

# YUI stuff - this is for the tree viewer
sharedRequirements.css.push( "tree.css" );
sharedRequirements.js.push( "yui/TaskNode.js" );
sharedRequirements.js.push( "treeTweak.js" );

sharedRequirements.js.push( "tree_factory.js" ); # handles tree data

sharedRequirements.js.push( "sunburst.js" );     # sunburst tree
sharedRequirements.css.push( "sunburst.css" );

sharedRequirements.js.push( "updater.js" );
sharedRequirements.js.push( "sunburst_controller.js" );# an object to handle wiring
                                                       # the sunburst into the page

# this needs to be loaded before we try to load the canvas text library,
# but if we include it specifically for IE, it gets added below everything
# else. We can add it here safely, however, because excanvas checks to see
# if canvas is implemented before trying to inject itself
sharedRequirements.js.push( "excanvas.js" );

# need to load the canvas.text.js file before trying to load the font file, 
# otherwise it bails with an error about "face.glyphs is undefined"
sharedRequirements.js.push( "canvas.text.js" );
sharedRequirements.js.push( "faces/optimer-bold-normal.js" );

#-------------------------------------------------------------------------------
%]

<!-- start species block -->

<div class="block" id="speciesBlock">
  <div class="handle">
    <h1>Species distribution</h1>
  </div>
  <div class="blockContent">

    <div id="speciesTreeTabs" class="nestedTabs yui-navset">

      <ul id="speciesTreeTabsNav" class="yui-nav">
        <li class="selected"><a href="#sunburstTreeTab">Sunburst</a></li>
        <li><a href="#yuiTreeTab">Tree</a></li> 
      </ul>
      
      <div class="yui-content">
  
        <!-- start of sunburst tab -->

        <div id="sunburstTreeTab"> 

          [% IF no_sunburst %]
          <p>
            We are unable to display the sunburst tree for this family.
          </p>
          <ul>
            <li>[% no_sunburst %]</li>
          </ul>
          [% ELSE;
            PROCESS components/blocks/family/sunburstTreeTab.tt;
          END %]

        </div>

        <!-- end of sunburst tab -->

        <!-- start of yui-tree tab -->

        <div id="yuiTreeTab">

          [% PROCESS components/blocks/family/speciesTreeTab.tt %]

        </div>

        <!-- end of yui-tree tab -->

      </div> [%# end of "yui-content" %]
      
    </div> [%# end of "speciesTreeTabs" %]

  </div>

  <script type="text/javascript">
    // <![CDATA[

    [%# these are URLs for the various actions that might be carried out on 
      # the species trees, both sunburst and YUI tree -%]

    // the URL for storing the list of selected IDs 
    var selectStoreURI = "[% stUri %]/store_ids";

    // the URL to visit when the user selects nodes and wants to download the 
    // selected sequences as an alignment - Rfam specific
    var selectRfamAlignmentURI = "[% stUri %]/alignment";

    // the URL to visit when the user selects nodes and wants to download the 
    // selected sequence accessions
    var selectAccessionsURI = "[% stUri %]/accessions";

    // the URL to visit when the user selects nodes and wants to download the 
    // selected sequences in FASTA format
    var selectFastaURI = "[% stUri %]/sequences";

    var treeData = [% rfam.rfam_species_trees.json_string || "{}" %],
        YUITreeLoaded = false,
        speciesTreeTabView,
        sunburst,
        slider;

    [%-# set up the "Show/Hide" buttons in the tool panels %]
    document.observe("dom:loaded", function() {

      // set up the tree tabs
      speciesTreeTabView = new YAHOO.widget.TabView("speciesTreeTabs");

      // add a listener for the tab change, so that we can load the YUI species
      // tree on-demand
      speciesTreeTabView.addListener( "activeTabChange", function() {
        if ( YUITreeLoaded ) {
          return;
        }

        var r = new Ajax.Request(
          stUri,
          {
            method:     "get",
            parameters: { acc: "[% acc %]",
                          ie:  Prototype.Browser.IE },
            onSuccess:  stSuccess,
            onFailure:  stFailure
          }
        );

        YUITreeLoaded = true;
      } );

    } ); [%# end of "document.observe..." %]

    // ]]>
  </script>

</div>


<!-- end of species block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
