[%
# structuresTab.tt
# jt6 20060424 WTSI
#
# build a table showing the mapping between UniProt accession and PDB regions
#
# $Id: structureTab.tt,v 1.4 2009-01-06 12:10:01 jt6 Exp $

USE dumper;
USE String;
META naked = 1;

oe = 0;
mapping = {};
FOREACH pdbMap IN rfamMaps;
  seqKey = pdbMap.rfamseq_acc;
  IF ! mapping.$seqKey;
    mapping.$seqKey = {};
  END;
  
  resKey = "${pdbMap.seq_start} - ${pdbMap.seq_end}";
  IF ! mapping.$seqKey.$resKey;
    mapping.$seqKey.$resKey = {};
  END;

  pdbKey = pdbMap.pdb_id;
  IF ! mapping.$seqKey.$resKey.$pdbKey;
    mapping.$seqKey.$resKey.$pdbKey = {};
  END;
  IF ! mapping.$seqKey.$resKey.COUNT;
    mapping.$seqKey.$resKey.COUNT = 1;
  ELSE;
    mapping.$seqKey.$resKey.COUNT = mapping.$seqKey.$resKey.COUNT + 1;
  END;

  chainKey = pdbMap.chain;
  IF ! mapping.$seqKey.$resKey.$pdbKey.$chainKey;
    mapping.$seqKey.$resKey.$pdbKey.$chainKey = {};
  END;
  IF ! mapping.$seqKey.$resKey.$pdbKey.COUNT;
    mapping.$seqKey.$resKey.$pdbKey.COUNT = 1;
  ELSE;
    mapping.$seqKey.$resKey.$pdbKey.COUNT = mapping.$seqKey.$resKey.$pdbKey.COUNT + 1;
  END;
  
  pdbResKey = "${pdbMap.pdb_res_start} - ${pdbMap.pdb_res_end}";
  IF ! mapping.$seqKey.$resKey.$pdbKey.$chainKey.$pdbResKey;
    mapping.$seqKey.$resKey.$pdbKey.$chainKey.$pdbResKey = pdbMap;
 	END;
  IF ! mapping.$seqKey.COUNT;
    mapping.$seqKey.COUNT = 1;
  ELSE;
    mapping.$seqKey.COUNT = mapping.$seqKey.COUNT + 1;
  END;

END -%]

<table class="details" id="structuresTable">
  <thead>
    <tr class="caption">
      <th id="unpId">EMBL entry</th>
      <th id="unpRes">EMBL residues</th>
      <th id="pdbId">PDB ID</th>
      <th id="chId">PDB chain ID</th>
      <th id="pdbRes">PDB residues</th>
      <th id="viewCol">View</th>
    </tr>
  </thead>
  <tbody>

  [%- 
    sequenceUri        = c.uri_for( "/sequence" );
    structureUri       = c.uri_for( "/structure" );
    structureViewerUri = c.uri_for( "/structure/viewer" );
    
    USE seqKeyIter = iterator( mapping.keys.sort );
    FOREACH seqKey IN seqKeyIter;
      NEXT IF mapping.$seqKey == "COUNT";
      FOREACH resKey IN mapping.$seqKey.keys.sort;
	      NEXT IF mapping.$seqKey.$resKey == "COUNT";
        FOREACH pdbKey IN mapping.$seqKey.$resKey.keys.sort;
          FOREACH chainKey IN mapping.$seqKey.$resKey.$pdbKey.keys.sort;
	          NEXT IF mapping.$seqKey.$resKey.$pdbKey == "COUNT";
            FOREACH pdbResKey IN mapping.$seqKey.$resKey.$pdbKey.$chainKey.keys.sort -%]
              <tr>
  		        [% IF seqKey != prevSeqKey -%]
  		          <td class="[% oe % 2 ? "odd" : "even" %]"[% IF mapping.$seqKey.COUNT > 1 %] rowspan="[% mapping.$seqKey.COUNT %]"[% END %]>
                  <a href="[% sequenceUri; '/'; seqKey %]">[% seqKey %]</a>
                </td>
              [% END;

	            IF seqKey != prevSeqKey OR resKey != prevResKey -%]
	              <td class="[% oe % 2 ? "odd" : "even" %]"[% IF mapping.$seqKey.$resKey.COUNT > 1 %] rowspan="[% mapping.$seqKey.$resKey.COUNT %]"[% END %]>
                  [% resKey %]
                </td>
              [% END;

  		        IF seqKey != prevSeqKey OR resKey != prevResKey OR pdbKey != prevPdbKey -%]
	              <td class="[% oe % 2 ? "odd" : "even" %]"[% IF mapping.$seqKey.$resKey.$pdbKey.COUNT > 1 %] rowspan="[% mapping.$seqKey.$resKey.$pdbKey.COUNT %]"[% END %]>
	                <a href="http://www.rcsb.org/pdb/explore/explore.do?structureId=[% pdbKey %]">[% pdbKey %]</a>
                </td>
              [% END;
      				prevSeqKey = seqKey;
      				prevResKey = resKey;
      				prevPdbKey = pdbKey -%]

	            <td class="[% IF oe % 2 %]odd[% ELSE %]even[% END %]">
	            [% IF chainKey;
	              chainKey;
              ELSE -%]
                <span class="inactive">n/a</span>
              [% END %]
              </td>
    			    <td class="[% oe % 2 ? "odd" : "even" %]">[% pdbResKey %]</td>
    			    <td class="[% oe % 2 ? "odd" : "even" %]">
                <a href="[% structureViewerUri %]?viewer=jmol&amp;id=[% pdbKey %]"
                   onclick="popUp(this.href,'console',800,800,'jmolWin');return false;">
                   Jmol</a>
                <a href="[% structureViewerUri %]?viewer=av&amp;id=[% pdbKey %]"
                   onclick="popUp(this.href,'console',800,800,'avWin');return false;">
                   AstexViewer</a>
	            </td>
	          </tr>
	          [%- END; # of pdbResKey
	        END; # of chainKey
        END; # of pdbKey
	    END; # of resKey
      oe=oe+1;
    END # of seqKey -%]
  </tbody>
</table>

<script type="text/javascript">
  // <![CDATA[

  // how many columns are there in the table ?
  var firstRow = $("structuresTable").getElementsByTagName("tr")[1]
  var numColsTable  = firstRow.getElementsByTagName("td").length;

  // walk over all of the cells in the table and add listeners for mouseover and 
  // mouseout events
  $A( $("structuresTable").getElementsByTagName( "td" ) ).each( function( cell ) {
        cell.observe(  "mouseover", highlight.mouseoverHandler.bindAsEventListener( highlight ) );
        cell.observe( "mouseout",  highlight.mouseoutHandler.bindAsEventListener( highlight ) );
      }
    );
  // ]]>
</script>

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
