[%
# structuresTab.tt
# jt6 20060424 WTSI
#
# build a table showing the mapping between UniProt accession and PDB regions
#
# $Id: structureTab.tt,v 1.4 2009-01-06 12:10:01 jt6 Exp $

USE dumper;
USE String;
META naked = 1;

sharedRequirements.js.push( "tablekit.js" );
sharedRequirements.js.push(  "lightbox2.js" );
sharedRequirements.css.push( "lightbox2.css" );
-%]

<table id="structuresTable" class="details">
  <thead class="sortIndicator">
    <tr>
      <th id="indexCol" class="rowNum">Original order</th>
      <th>PDB ID</th>
      <th>PDB chain ID</th>
      <th>PDB Residues</th>
      <th>Bit score</th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
  [% WHILE (pdb = family_structures.next) ; %]
    <tr class="[% loop.parity %]">
      <td class="rowNum">[% loop.index %]</td>
      <td>
      <a name="ref[% loop.index %]"
       class="ext"
       href="http://www.rcsb.org/pdb/explore.do?structureId=[% pdb.pdb_id %]">
      [% pdb.pdb_id %] </a></td>
      <td>[% pdb.chain %]</td>
      <td>[% pdb.pdb_start %] - [% pdb.pdb_end %]</td>
      <td>[% pdb.bit_score %]</td>
      <td> <a href="[% c.uri_for( '/structure', pdb.pdb_id, 'av' ) %]"
             onclick="popUp(this.href,'console',800,800,'avWin');return false;">
             AstexViewer</a></td>
    </tr>
  [% END %]
  </tbody>
</table>

<script type="text/javascript">
  // <![CDATA[

  var sorter = new TableKit( "structuresTable",
                             {
                               editable: false,
                               resizable: false,
                               rowEvenClass: "even",
                               rowOddClass: "odd",
                               stripe: true,
                               observers: {
                                 onSortStart: function( table, event ) {
                                   table.down("thead").removeClassName("sortIndicator");
                                 }
                               }
                             } );

  if ( $("sortLink") ) {
    $("sortLink").observe( "click", function() {
      sorter.sort(0);
    } );
  }

  // ]]>
</script>

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
