
[%
# summary.tt
# jt6 20060406 WTSI
# 
# build the summary block for families
#
# $Id: summary.tt,v 1.1.1.1 2008-03-17 16:37:43 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

#requirements.css.push( "family.css" );
#requirements.cssIe.push( "family_ie.css" );

sharedRequirements.js.push( "scriptaculous/scriptaculous.js?load=effects" );

#requirements.js.push( "family.js" );

#-------------------------------------------------------------------------------

# on the assumption that the family page will always contain at least this
# block, we need to add the snippet of javascript here that will trigger
# the post-loading of the various other block contents.
%]

<script type="text/javascript">
  // <![CDATA[
  //Event.observe( window, "load", familyPostLoad, false );
  // ]]>
</script>

<!-- start summary block -->

<div class="block" id="familySummaryBlock">
  <div class="handle">
    <h1>Summary</h1>
  </div>
  <div class="blockContent">

    <h1>
      [% rfam.description %]
      <a href="[% c.uri_for( "/annotate", { acc => rfam.rfam_acc } ) %]">
        <img class="addAnnotation" 
             alt="Add an annotation" 
             src="[% c.uri_for( "/static/images/annotation.png" ) %]" /></a>
    </h1>

    [% IF rfam.comment.length %]
    <p>[% # if we want to mark up links in the comment, we need something like:
          #   PROCESS addLinks, input = rfam.comment 
          # otherwise:
          rfam.comment
          %]</p>
    [% ELSE %]
    <p class="inactive">No Rfam abstract.</p>
    [% END %]
  
    [% IF rfam.rfam_literature_references.size %]
      <h2>Literature references</h2>
  
      <ol>
      [% refNum = 1;
      FOREACH ref IN rfam.rfam_literature_references %]
        <li>
          <p>
            [% ref.author %], [% ref.journal %]: [% ref.title %]
            <a name="ref[% refNum %]"
               class="ext" 
               href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?Retrieve&amp;db=PubMed&amp;dopt=Abstract&amp;list_uids=[% ref.pmid %]">
              PUBMED:[% ref.pmid %]</a>
          </p>
        </li>
        [%- refNum = refNum + 1; 
      END %]
      </ol>
  
      <hr class="short"/>
    [% END %]

  </div>
</div>

<!-- end summary block -->
