
[%
# summary.tt
# jt6 20060406 WTSI
# 
# build the summary block for families
#
# $Id: summary.tt,v 1.2 2008-06-17 09:22:05 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "wp.css" );

#requirements.css.push( "family.css" );
#requirements.cssIe.push( "family_ie.css" );

#requirements.js.push( "family.js" );

#-------------------------------------------------------------------------------

# on the assumption that the family page will always contain at least this
# block, we need to add the snippet of javascript here that will trigger
# the post-loading of the various other block contents.
%]

<script type="text/javascript">
  // <![CDATA[
  //Event.observe( window, "load", familyPostLoad, false );
  // ]]>
</script>

<!-- start summary block -->

<div class="block" id="familySummaryBlock">
  <div class="handle">
    <h1>Summary</h1>
  </div>
  <div class="blockContent">

    <h1>
      [% rfam.description %]
      <a href="[% c.uri_for( "/annotate", { acc => rfam.rfam_acc } ) %]">
        <img class="addAnnotation" 
             alt="Add an annotation" 
             src="[% c.uri_for( "/static/images/annotation.png" ) %]" /></a>
    </h1>
    <p>
      The Rfam group coordinates the annotation of Rfam families in  
      <a class="ext" href="http://www.wikipedia.org/">Wikipedia</a>.
      <span onclick="reveal( this, 'wikiNotes', false, true );"
            class="moreLink">
        More...</span>
    </p>
    <div id="wikiNotes" style="display: none">
      <p>
        This annotation is taken directly from Wikipedia and you can improve
        the quality of the annotation via the Wikipedia article.
      </p>
      <hr />
    </div>

    <div id="wpData">
    [% FOREACH wiki IN rfam.wikis;
      wiki.text;
    END -%]
    </div>
    
  </div>
</div>

<!-- end summary block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
