[%
# treeMap.tt
# jt6 20060511 WTSI
#
# format the image map for the species tree.
#
# TODO this needs to be re-factored to walk through the list of nodes only once.
# We should be looping just once and capturing output from the two components
# as we go.
#
# TODO refactor to reduce the number of DOM elements and JS objects that we 
# create
#
# $Id: treeMap.tt,v 1.6 2008-07-25 14:03:06 jt6 Exp $

# tell the wrapper not to add any header or footer
META naked = 1;
%]

<img src="[% c.uri_for( '/family/tree/image', { acc => acc, alnType => alnType, label => label } ) | html %]"
     id="[% label; '_'; alnType %]_img"
     usemap="#[% label; '_'; alnType %]_map" />


<map id="[% label; '_'; alnType %]_map"
     name="[% label; '_'; alnType %]_map" />


[%- # finally, the javascript that will generate tooltip objects for each node %]
<script type="text/javascript">
  // <![CDATA[

  var area;

[%- FOREACH node IN tree.node_array;

  matches = node.L.match( '^(\d+\.\d+)_(\w+)\.(\d+)\/(\d+)\-(\d+)\_(.*)$' );

  NEXT UNLESS node.area AND matches.1; %]
  
  area = new Element( "area", 
                      { coords:  "[% node.area.join(',') %]",
                        id:      "area_[% label; '_'; alnType; loop.index %]" } ); 
  $("[% label; '_'; alnType %]_map").insert( area );
  
  areas.set( "area_[% label; '_'; alnType; loop.index %]",
             "[% node.L %]" );

[% END; # of "foreach node"

  # add listeners to each area, which will display a tip on mouseover
%]
  areas.keys().each( function( area_id ) {
    $(area_id).observe( "mouseover", function(e) {
      showTreeTip( e.element() );
    } );
  } );

  // ]]>
</script>

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
