[%
# wiki.tt
# jt6 20080311 WTSI
#
# block showing the wikipedia annotation
#
# $Id: wiki.tt,v 1.2 2008-06-17 09:22:05 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "wp.css" );

#-------------------------------------------------------------------------------

-%]

<!-- start wiki architectures block -->

<div class="block" id="wikiBlock"> 
  <div class="handle"> 
    <h1>Wikipedia annotation</h1> 
  </div>
  <div class="blockContent">

    <p>
      The Rfam group coordinates the annotation of Rfam families in  
      <a class="ext" href="http://www.wikipedia.org/">Wikipedia</a>.
      <span onclick="reveal( this, 'wikiNotes', false, true );"
            class="moreLink">
        More...</span>
    </p>
    <div id="wikiNotes" style="display: none">
      <p>
        This annotation is taken directly from Wikipedia and you can improve
        the quality of the annotation via the Wikipedia article.
      </p>
      <hr />
    </div>

    <div id="wpData">
    [% FOREACH wiki IN rfam.wikis;
      wiki.text;
    END -%]
    </div>

  </div>
</div>

<!-- end wiki architectures block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
