[%
# wiki.tt
# jt6 20080311 WTSI
#
# block showing the wikipedia annotation
#
# $Id: wiki_frame.tt,v 1.1.1.1 2008-03-17 16:37:43 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

sharedRequirements.js.push( "scriptaculous/scriptaculous.js?load=effects" );

#-------------------------------------------------------------------------------

CALL c.log.debug( "got " _ rfam.wikis.size() _ " wikis" );

-%]

<!-- start wiki architectures block -->

<div class="block" id="wikiFrameBlock"> 
  <div class="handle"> 
    <h1>Wikipedia annotations</h1> 
  </div>
  <div class="blockContent">

    <p>
      This tab contains the Wikipedia page for Rfam family [% rfam.rfam_id %].
      <span class="link" style="font-weight: bold">More...</span>
    </p>

    [% FOREACH wiki IN rfam.wikis -%]
    <object type="text/html"
            classid="clsid:25336920-03F9-11CF-8FD0-00AA00686F13" 
            style="width: 100%; height: 500px; border: 1px solid #CCC"
            data="[% c.uri_for( '/family/wiki', title => wiki.title ) %]">
      <p>backup content</p>
    </object>
    [% END -%]

  </div>
</div>

<!-- end wiki architectures block -->
