
[%#
# sequence.tt
# rdf 20060821 WTSI
# 
# Lists the domain:domain interactions at the sequence
#
# $Id: sequence.tt,v 1.1 2006-08-22 13:31:40 rdf Exp $
%]

<!-- start domain-domain sequence block -->

<div class="block" id="iDomainDomainSequenceBlock">
  <div class="handle">
    <h1>Seqeuences containing Domain Interactions</h1>
  </div>
  <div class="blockContent">

    <h3>list of sequences:...</h3>

  </div>

</div>

<!-- end domain-domain sequences block -->
