
[%#
# summary.tt
# rdf 20060821 WTSI
# 
# build the summary block for the domain-domain intercation pages
#
# $Id: summary.tt,v 1.3 2008-05-16 15:30:35 jt6 Exp $
%]

<!-- start domain summary block -->

<div class="block" id="iDomainDomainSummaryBlock">
  <div class="handle">
    <h1>[% pfam_A.pfamA_id %]-[% pfam_B.pfamA_id %] Interaction Summary</h1>
  </div>
	<h3>Entry</h3>
	<p>Acc: IPF:[% pfam_A.pfamA_acc %]-[% pfam_B.pfamA_acc %]</p>
	<p>Id:  [% pfam_A.pfamA_id %]-[% pfam_B.pfamA_id %]</p>

	<h3>Interaction Summary</h3>
	<p>No. interchain interactions</p>
	<p>No. intrachain interactions</p>

	<p>Average number of interacting residues</p>
	<p>Average Number of Interacting bonds</p>

	<p>No. of domains regions</p>
	<p>There are X examples of [% pfam_A.pfamA_id %]-[% pfam_B.pfamA_id %] found in Z strucutres<p>

	<h5>Pie in the sky</h5>;
	<p>No. Geometric groups</p>


	<p>Other [% pfam_B.pfamA_id %] interactions</p>
	<p>Go terms</p>
	<p>Links to Pfam families<p>
</div>

<!-- end ipfam summary block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
