
[%#
# title.tt
# rdf 20060821 WTSI
#
# build the tab title for the domain-domain interaction pages
#
# $Id: title.tt,v 1.2 2006-09-28 10:10:07 rdf Exp $
%]

[% IF titleType == "tab" %]
<h2>[% pfam_B.pfamA_id %]-[% pfam_B.pfamA_id %] interaction: <em></em></h2>
[% ELSIF titleType == "page" %]
[% pfam_B.pfamA_id %]-[% pfam_B.pfamA_id %] intercations
[% END %]
