[%
# html_alignment.tt
# jt6 20080422 WTSI
# 
# build a page for the HTML alignment fragment
#
# $Id: html_alignment.tt,v 1.5 2009-06-09 15:17:56 jt6 Exp $

# tell the wrapper not to add any header or footer. We will generate a complete 
# page here ourselves
META naked = 1;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files

PROCESS "components/require.tt";

requirements.css.push( "alignment.css" );
requirements.css.push( "heatmap.css" );

#-------------------------------------------------------------------------------

pageContent = BLOCK;

type = alnType | ucfirst;
title = type _ " sequence alignment for " _ acc;
-%]

<h1>[% title %]</h1>

<div id="html_alignment">
[% html_alignment %]
</div>

<div id="key">

  <p>
    This alignment is coloured according to the ClustalX colouring scheme:
  </p>

  <dl class="colours">
    <dt class="o">&nbsp;</dt>
    <dd>Glycine (G)</dd>
    <dt class="y">&nbsp;</dt>
    <dd>Proline (P)</dd>
    <dt class="b">&nbsp;</dt>
    <dd>Small or hydrophobic (A,V,L,I,M,F,W)</dd>
    <dt class="g">&nbsp;</dt>
    <dd>Hydroxyl or amine amino acids (S,T,N,Q)</dd>
    <dt class="r">&nbsp;</dt>
    <dd>Charged amino-acids (D,E,R,K)</dd>
    <dt class="c">&nbsp;</dt>
    <dd>Histidine or tyrosine (H,Y)</dd>
  </dl>
  
  <p>
    For UniProt-based alignments, we also add some additional mark-up to the 
    alignments where appropriate. Active site information is shown as follows:
  </p>
  
  <dl> 
    <dt class="as">&nbsp;</dt>
    <dd>Active site (residue annotated in SwissProt as an active site)</dd>
    <dt class="pas">&nbsp;</dt>
    <dd>Predicted active site (residue aligns in a Pfam alignment with a 
      SwissProt active site)</dd>
    <dt class="sas">&nbsp;</dt>
    <dd>Predicted active site (residue annotated in SwissProt as a potential 
      active site)</dd>
  </dl>

  <p>
    Some UniProt sequences can be mapped to protein structures, in which case 
    we also show the secondary structure definition. These lines are shown below 
    the sequence to which they apply and are marked <code>(SS)</code>. The 
    meaning of each of the symbols is as follows:
  </p>

  <dl>
    <dt>C</dt>
    <dd>Random coil</dd>
    <dt class="H">H</dt>
    <dd>Alpha-helix</dd>
    <dt>G</dt>
    <dd>3(10) helix</dd>
    <dt>I</dt>
    <dd>Pi-helix</dd>
    <dt class="E">E</dt>
    <dd>Hydrogen bonded beta-strand (extended strand)</dd>
    <dt>B</dt>
    <dd>Residue in isolated beta-bridge</dd>
    <dt>T</dt>
    <dd>H-bonded turn (3-turn, 4-turn, or 5-turn)</dd>
    <dt>S</dt>
    <dd>Bend (five-residue bend centered at residue i)</dd>
  </dl>

</div>

[% IF errorMsg -%]
<p>
  [% errorMsg %]
</p>

<script type="text/javascript">
  // <![CDATA[
  $("key").hide();
  // ]]>
</script>

[% END -%]

<a href="#" onclick="window.close()" class="closer">Close window</a>

[% END; # of "pageContent = BLOCK"

PROCESS components/tools/toolWindow.tt %]
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
