[%
# jalview.tt
# jt6 20061005 WTSI
# 
# build a page for the jalview applet
#
# $Id: jalview.tt,v 1.2 2006-10-06 15:18:06 jt6 Exp $

# tell the wrapper not to add any header or footer. We'll generate a complete 
# page here ourselves
META naked = 1;

pageContent = BLOCK;

CALL c.log.debug( "in jalview.tt" );

title = "JalView"
-%]

<h1>JalView: alignment<em> for [% pfam.pfamA_id %]</em></h1>

 <applet code="jalview.bin.JalviewLite" width="140" height="35" archive="[% c.uri_for( "/jalview/jalviewApplet.jar" ) %]">
  <param name="file" value="[% c.uri_for( "/family/downloadalignment", acc=pfam.pfamA_acc, format="stockholm", type=type ) %]">
  <param name="defaultColour" value="Taylor">
  <param name="RGB"  value="#FFFFCC">
  <param name="linkLabel_2" value="Uniprot">
  <param name="linkUrl_2" value="[% c.uri_for( "/protein", acc=pfam.pfamA_acc ) %]">
  <param name="mailServer" value="www.sanger.ac.uk">
  <param name="srsServer" value="www.sanger.ac.uk/srs5bin/cgi-bin/">
  <param name="database" value="pfamseq">
</applet>

<br />

<a href="#" onclick="window.close()" class="closer">Close window</a>

[% END # of "pageContent = BLOCK" %]

[% PROCESS components/tools/toolWindow.tt %]
