
[%
# seqView.tt
# jt6 20061101 WTSI
# 
# build a page for viewing the sequences selected from a species tree. This
# template uses an ajax call to hand off to a controller that generates domain
# graphics for each of the selected sequences.
#
# $Id: seqViewGraphic.tt,v 1.8 2008-05-16 15:30:31 jt6 Exp $

# tell the wrapper not to add any header or footer. We will generate a complete 
# page here ourselves
META naked = 1;

pageContent = BLOCK;

title = "View selected sequences"
-%]

<h1>Pfam graphics for your selected sequences</h1>

<p>
  You selected <strong>[% selectedSeqAccs.size %]</strong> sequences.
  [% IF selectedSeqAccs.size >= 10 %]
    <span onclick="reveal( this, 'extraAccs', false, true )"
          class="moreLink">Show all accessions...</span>
  [% END %]
</p>
<div id="selectedAccs">
[% IF selectedSeqAccs.size >= 10 %]
  <p>
    [% i = 0;
    WHILE i < 10 %]
      <a href="[% c.uri_for( "/protein", { acc = selectedSeqAccs.$i } ) %]">
        [% selectedSeqAccs.$i %]</a>
    [% i = i + 1;
    END %]
    <span>&hellip;</span>
  </p>
  <div class="cleaner"><!-- empty --></div>
      
  <div id="extraAccs" style="display: none">
    [% i = 10;
    WHILE i < selectedSeqAccs.size %]
    <a href="[% c.uri_for( "/protein", { acc = selectedSeqAccs.$i } ) %]">
      [% selectedSeqAccs.$i %]</a>
    [% i = i + 1;
    END %]
  </div>
  <div class="cleaner"><!-- empty --></div>
[% ELSE %]
  <p>
  [% FOREACH seqAcc IN selectedSeqAccs %]
    <a href="[% c.uri_for( "/protein", { acc = seqAcc } ) %]">[% seqAcc %]</a>
  [% END %]
  </p>
[% END %]  
</div>

<div id="stdgph">
  <p class="loading">
  Loading domain graphics...
  </p>
</div>

<script type="text/javascript">
  // <![CDATA[
  var r = new Ajax.Request( "[% c.uri_for( "/domaingraphics" ) %]",
                            { method:     "get",
                              parameters: { jobId:   "[% jobId %]",
                                            subTree: 1 },
                              onSuccess:  function( oResponse ) {
                                            $("stdgph").update( oResponse.responseText );
                                          },
                              onFailure:  function( oResponse ) {
                                            $("stdgph").update( "Domain graphics loading failed." );
                                          }
                            } );
  // ]]>
</script>

<a href="#" onclick="window.close()" class="closer">Close window</a>

[% END # of "pageContent = BLOCK" %]

[% PROCESS components/tools/toolWindow.tt %]
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
