
[%
# seqView.tt
# jt6 20061101 WTSI
# 
# build a page for viewing the sequences selected from a species tree
#
# $Id: seqViewGraphic.tt,v 1.1 2007-08-14 11:42:12 rdf Exp $

# tell the wrapper not to add any header or footer. We'll generate a complete 
# page here ourselves
META naked = 1;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";
requirements.js.push( "scriptaculous/scriptaculous.js?load=effects" );
requirements.js.push( "family.js" );

#-------------------------------------------------------------------------------

pageContent = BLOCK;

CALL c.log.debug( "in seqView.tt" );

title = "View selected sequences"
-%]

<p>You selected the following sequences:</p>

<ul>
	[% FOR seq IN selectedSeqs %]
	<li>[% seq %]</li>
	[% END %]
</ul>

<div>

		<p>Style requsted:[% subTreeStyle %]</p>
		
      [%- FOREACH image IN images.each_image;
        CALL image.print_image;
        id = image.image_name -%]

        <img class="graphicImage"
             src="[% constants.tmp %]/[% image.file_location %]"
             usemap="#domainGraphicsMap[% loop.index %]"
             alt="" />
        <div class="cleaner"><!-- empty --></div>

        <map name="domainGraphicsMap[% loop.index %]"
             id="domainGraphicsMap[% loop.index %]">
          [% image.image_map %]
        </map>
      [% END %]
      </div>
     
<div id="stdgph">
  <p class="loading">
  Loading domain graphics...
  </p>
</div>

<script type="text/javascript">
  // <![CDATA[
  loadOptions.stdg.uri    = "[% base %]domaingraphics";
  loadOptions.stdg.params = "acc=[% subTreeAcc %]";
  loadOptions.stdg.params = "seqs=[% subTreeSeq %]";
  // ]]>
</script>

<a href="#" onclick="window.close()" class="closer">Close window</a>

[% END # of "pageContent = BLOCK" %]

[% PROCESS components/tools/toolWindow.tt %]
