
[%# requires a pfam object called "pfam" %]

<!-- start gene ontology block -->

<div class="block" id="goBlock">
  <div class="handle">
	<h1>Gene Ontology</h1>
  </div>
  <div class="blockContent[% IF NOT open %] closed[% END %]">

	[%- # re-order the data from the go table, keying on the category 
	    # rather than goId

	# the new hash
	entryList = {};
	FOREACH goEntry IN pfam.go;

		# get the elements from the DB
		category = goEntry.category;
		entry = {
			term     => goEntry.term,
			id       => goEntry.go_id,
		};

		# turns out that we need to define an array before we can push 
		# stuff into it...
		IF NOT entryList.defined("$category");
			entryList.$category = [];
		END;

		entryList.$category.push( entry );
	END;
	-%]

	<table style="border: 1px solid red;font-size: smaller;">
	[%- FOREACH category IN entryList.keys -%]
		[%- FOREACH row IN entryList.$category %]
			<tr style="border: 1px solid green;">
			[%- IF loop.first %]
				<td style="border: 1px solid blue;" 
                    rowspan="[% entryList.$category.size %]">[% category %]</td>
			[%- END %]
				<td style="border: 1px solid pink;">[% row.term %]</td>
				<td style="border: 1px solid pink;">[% row.id %]</td>
			</tr>
		[%- END -%]
	[%- END -%]
	</table>
  </div>
</div>

<!-- end gene ontology block -->
