
[%# requires a pfam object called "pfam" %]

<!-- start interpro block -->

<div class="block" id="interproBlock">
  <div class="handle">
    <h1>Interpro</h1>
  </div>
  <div class="blockContent[% IF NOT open %] closed[% END %]">
	<p>interpro id = [% pfam.interpro.interpro_id %]</p>
	<p>interpro abstract = [% pfam.interpro.abstract %]</p>
  </div>
</div>
	  
<!-- end interpro block -->
