
[%# requires a pfam object called "pfam" %]

<!-- start pfamRef block -->

<div class="block" id="pfamRefBlock">
  <div class="handle">
    <h1>Refs</h1>
  </div>
  <div class="blockContent[% IF NOT open %] closed[% END %]">
	[% FOREACH ref IN pfam.pfamA_lit_refs %]
        <p>Reference number = [% ref.order_added %] </p>
	<p>Medline = [% ref.medline %] </p>
	<p>title = [% ref.title %] </p>
	<p>author = [% ref.author %] </p>
	<p>journal = [% ref.journal %] </p>
	[% END %]

  </div>
</div>

<!-- end pfamRef block -->
