[%
# searchError.tt
# jt6 20060807 WTSI
# 
# keyword search error page
#
# $Id: error.tt,v 1.2 2008-09-18 13:54:41 jt6 Exp $

META title = "No search results";
META fullPage = 1
-%]

<div class="tips">

  <h1>No results</h1>

  <p>Your search (&quot;[% c.req.param( "query" ) | html %]&quot;) did not return any results</p>

  <h2>Search tips</h2>

  <p>Here are a few tips on how to get the most out of the Rfam search system:</p>

  <dl>
	<dt>
      avoid special characters
	</dt>
	<dd>
      your search term can only include standard word characters
      (letters and numbers), as well as
      space&nbsp;(&quot;&nbsp;&quot;),
      underscore&nbsp;(&quot;_&quot;), hyphen&nbsp;(&quot;-&quot;)
      and period&nbsp;(&quot;.&quot;). Search terms that include
      other characters will be rejected
	</dd>

	<dt>
      don&rsquo;t include wildcards
	</dt>
	<dd>
      the search system will automatically add wildcards to the end of
      your search terms, but will reject your search if it includes
      characters such as &quot;*&quot; or &quot;%&quot;
	</dd>

	<dt>
      don&rsquo;t worry about case
	</dt>
	<dd>
      the search is case insensitive, so changing the case of your
      search terms will not affect the results
	</dd>
	<dt>
		try fewer words
	</dt>
	<dd>
      if you don&rsquo;t get any results, try making your query less
      specific, e.g. use &quot;rhinovirus&quot; instead of &quot;human
      rhinovirus&nbsp;14&quot;
	</dd>
	<dt>
      check your spelling
	</dt>
	<dd>
      make sure that the spelling of your search terms is accurate;
      the database can&rsquo;t compensate for incorrect spelling
	</dd>
	<dt>
      obsolete entries
	</dt>
	<dd>
      entries may be removed from the Rfam database occasionally, as
      they are included in larger families, etc. Because details of
      the &rsquo;dead&rsquo; entries are not in the database, they will
      not appear in your search results
	</dd>

  </dl>

  <p class="back">Go <a href="javascript:history.go(-1)">back</a> to the previous page, or
   edit your query in the 
   <span class="link"
         onclick="$('siteSearchField').focus();javascript:$('siteSearchField').value='[% c.req.param( "query" ) | html%]'">
         search box</span> above.</p>

  <hr />
  
</div>

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
