
[%#
# dbRefs.tt
# jt6 20060424 WTSI
#
# $Id: dbRefs.tt,v 1.1 2006-04-25 16:28:00 jt6 Exp $
%]

<!-- start database references block -->

<div class="block" id="clanRefsBlock">
  <div class="handle">
    <h1>Database references</h1>
  </div>
  <div class="blockContent">

    <h3>Database links...</h3>

  </div>

</div>

<!-- end database references block -->
