
[%#
# domains.tt
# jt6 20060424 WTSI
#
# the domain organisation block for the clans sections
#
# $Id: domains.tt,v 1.2 2006-07-20 09:04:27 jt6 Exp $
%]

<!-- start domain organisation block -->

<div class="block" id="clanDomainsBlock">
  <div class="handle">
    <h1>Domain organisation</h1>
  </div>
  <div class="blockContent">

	<div id="clanGraphicsHolder">
      <p id="cgph">
        <img src="/images/loading.gif" alt="loading..." />
        Loading domain graphics...
      </p>
    </div> <!-- end of clanGraphicsHolder -->

  </div> <!-- end of blockContent -->

</div> <!-- end of clanDomainsBlock -->

<script type="text/javascript">
  loadOptions.cg.uri    = "[% c.uri_for( "/clangraphics" ) %]";
  loadOptions.cg.params = "id=[% clan.clan_id %]";
</script>

<!-- end domain organisation block -->
