[%-
# interactions.tt
# jt6 20060718 WTSI
#
# block for the interactions data for the clan section
#
# $Id: interactions.tt,v 1.7 2007-11-05 13:38:18 jt6 Exp $

RETURN UNLESS summaryData.numInt;

# build a hash to store the interactions data in a more useful data structure
intHash = {};
FOREACH interaction IN interactions;
  a = interaction.get_column('pfamA_A_id');
  b = interaction.get_column('pfamA_B_id');
  IF NOT intHash.$a.defined;
    intHash.$a = [];
  END;
  intHash.$a.push( b );
END;
-%]

<!-- start interactions block -->

<div class="block" id="clanInteractionsBlock">
  <div class="handle">
    <h1>Interactions</h1>
  </div>
  <div class="blockContent">

    <p>
      There [%- summaryData.numInt > 1 ? "are " : "is " %]
      <b>[% summaryData.numInt %]</b>
      interaction[% summaryData.numInt > 1 ? "s" : "" %] for this clan.
      <span onclick="reveal( this, 'intNotes', false, true )"
            class="moreLink">
        More...</span>
    </p>
    <div id="intNotes" style="display: none">
      <p>
        We determine these interactions using 
        <a href="http://www.sanger.ac.uk/Software/Pfam/iPfam"><em>i</em>Pfam</a>, 
        which considers the interactions between residues in three-dimensional 
        protein structures and maps those interactions back to Pfam families. 
        You can find more information about the <em>i</em>Pfam algorithm in  
        <a href="http://bioinformatics.oupjournals.org/cgi/content/full/21/3/410">
          journal article</a> that accompanies the website.
      </p>
      <hr />
    </div>

    <table class="details">
      <thead>          
        <tr>
          <th colspan="2">Interacting families</th>
        </tr>
        <tr>
          <th>A</th>
          <th>B</th>
        </tr>
      </thead>
      <tbody>
        [% USE aIter = iterator( intHash.keys );
        FOREACH a IN aIter;
          FOREACH b IN intHash.$a %]
            <tr>
              [% IF loop.first %]
              <td class="fixed" rowspan="[% loop.size %]">
                <a href="[% c.uri_for( "/family", { id = a } ) %]">
                  [% a %]</a>
              </td>
              [% END %]
              <td class="fixed">
                <a href="[% c.uri_for( "/family", { id = b } ) %]">
                  [% b %]</a>
              </td>
            </tr>
          [% END;
        END %]
      </tbody>
    </table>

  </div>
</div>

<!-- end interactions block -->
