
[%#
# domain.tt
# rdf 20060424 WTSI
# 
# Lists the domain:ligand interactions
#
# $Id: domainLigand.tt,v 1.1.1.1 2007-10-26 13:00:57 rdf Exp $
%]

<!-- start ipfam summary block -->

<div class="block" id="iLigandDomainBlock">
  <div class="handle">
    <h1>Domain:[% ligand.name %] Interactions</h1>
  </div>
  <div class="blockContent">

    <h3>list the domains:...</h3>

  </div>

</div>

<!-- end ipfam summary block -->
