
/* a completely new stylesheet to make sure that IE gets the box right...
   jt6 20060404 WTSI.
   
   $Id: box_ie.css,v 1.4 2006-04-07 10:23:52 jt6 Exp $
*/

.bt {
  background-image: url(/static/images/box.gif);
}

/* Top left corner */
.bt div {
  background-image: url(/static/images/box.gif);
}

/* Bottom border and right corner */
.bb {
  background-image: url(/static/images/box.gif);
}

/* Bottom left corner */
.bb div {
  background-image: url(/static/images/box.gif);
}

/* Left border */
.i1 {
  background-image: url(/static/images/borders.gif);
}

/* Right border */
.i2 {
  background-image: url(/static/images/borders_wide.gif);
}

/* set a height to fix up some rendering issues with IE... */
.i1, .i3 {
  height: 1px;
}

/* use the AlphaImageLoader filter to show the logos */

#seqIcon {
    background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/images/logos/alignment.png",sizingMethod="crop");
}

#archIcon {
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/images/logos/domains.png",sizingMethod="crop");
}

#structIcon	{ 
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/images/logos/structure.png",sizingMethod="crop");
}

#ipfamIcon {
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/images/logos/ipfam.png",sizingMethod="crop");
}

#specIcon {
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/images/logos/tree.png",sizingMethod="crop");
}

