
/* family.css
   jt6 20060413 WTSI

   Stylesheet for the items that are specific to the tab layout for
   the Pfam family pages.

   $Id: family.css,v 1.2 2006-04-25 16:23:52 jt6 Exp $
*/   

/* ======================================== */
/* page layout items */

/* styles for the markup that forms the page tab */
#tabTitle {
	color: #074987;
}

#pageType {
    border-color: #074987;
}

#pageType h2 {
  color: #074987;
/*    background: #074987; */
}

/* ======================================== */
/* components of the remainder of the page */

#content {
  border-top-color: #4577a5;
}

#contentContainer {
  background-color: #c2d2e1;
  background-image: url(/static/images/blue_page_border.gif);
}

#wrap {
  position: relative; /* needed to fix the IE peekaboo bug... */
  background: url(/static/images/blue_bg.gif) repeat-y 15% 0;
}

/* the left column navigation bar */

#sidebar {
    border-bottom-color: #4577a5;
}

/*
#sidebar li {
  border: 1px solid #c2d2e1;
  border-right: 1px solid #4577a5;
}
*/

#sidebar li a {
  color: #074987;
}

#sidebar li.selected a {
  border-color: #4577a5;
  background-image: url(/static/images/blue_selected_bg.gif);
}

#sidebar li span.inactive {
  color: #7c99b3;
}

#footer {
  border-top-color: #4577a5;
}

/* ======================================== */
/* general styles for "blocks" */

div.handle {
  background-color: #074987;
}

/* ======================================== */
/* rules for specific blocks */

div.pdbImageFragment {
	background: #e7edf3;
    border-color: #074987;
}

h4.pdbTitle  {
	color: #074987;
}

#curationBlock h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

#curationBlock h3 {
  width: 11.7em;
  margin: 0.2em 0;
  padding-top: 1em;
  text-decoration: underline;
  text-align: right;
  clear: both;
}

.blockContent div.row {
  clear: both;
  padding-top: 0.4em;
}

.blockContent span.label {
  float: left;
  text-align: right;
  width: 14em;
  font-weight: bold;
  padding-right: 0.4em;
}

.blockContent span.rowData {
  float: left;
}

#tableLabel {
  padding-top: 0.4em;
}

#modelDetails table {  
  margin: 0;
  padding: 0;
  display: inline;
}

#modelDetails .label {
  text-align: left;
}

#modelDetails thead tr {
  background: #c2d2e1;
}

#modelDetails th {
  border: 1px solid #074987;
  padding: 0.1em;
}

#modelDetails td {
  text-align: center;
  border: 1px solid #074987;
  padding: 0.1em;
}
