
/* ======================================== */
/* page layout items */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: small;
}

form  {
  margin: 0;
  padding: 0;
}

#header {
  margin: 0;
  padding: 0;
}

#wrapper {
	overflow:hidden;
 border: 1px solid red;
 width: 100%;
}

#content {
  margin: 0;
  width: 85%;
  float: right;
}

.cleaner {
  clear: both;
}

#sidebar {
	background: url(/static/images/sidebar_bg.gif) repeat-y right 0;
    border-bottom: 1px solid #4577a5;
    padding: 0.4em 0;
    width: 15%;
    float: left;
	margin-bottom: 0.4em;
}

/* ======================================== */
/* page components */

#pageHeader {
    background: url(/static/images/double_gradient.gif) no-repeat 15% bottom;
	color: #074987;
	padding: 0.4em;
}

#pageHeader h1 {
	margin: 0.2em;
	padding: 0;
    clear: both;
}

#newEntryForm {
	display: none;        /* N.B. */
    margin-top: 50px;
    padding: 0.4em;
    font-weight: bold;
    color: #074987;
}

#idField {
  border: 2px solid #074987;
}

#idSubmit {
  border: 2px solid #074987;
  background: #4577a5;
  color: #c2d2e1;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar ul li {
  padding-left: 0.4em;
}

#sidebar ul li a {
  border-bottom: 1px solid #83a4c3;
  border-right: 1px solid #4577a5;
  margin: 0;
  padding: 0.4em 0 0.4em 0.4em;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #074987;
}

#sidebar ul li a:hover {
  text-decoration: underline;
}

#sidebar ul li.selected a {
  background: url(/static/images/selected_bg.gif);
  border: 1px solid #4577a5;
  border-right: none;
}

#sidebar ul li a.lastItem {
	border: none;
}

hr.short {
  display: none;
}

/* ======================================== */
/* general block styles */

div.block {
  margin: 0.4em;
  display: none;
}

div.handle {
  color: #FEFEFE;
  padding: 0.2em;
  background-color: #074987;
  background-repeat: no-repeat;
  background-position: center right;
}

div.handle h1 {
  font-size: 1.5em;
  display: inline;
  padding: 0.4em 0;
}

div.blockContent {
  padding: 0.4em;
  border-top: none;
  font-size: smaller;
}

/* ======================================== */
/* rules for specific blocks */

#summaryBlock	div.handle { background-image: url(/static/images/pfam_logo.png) }
#interproBlock	div.handle { background-image: url(/static/images/open_book.png) }
#buildBlock		div.handle { background-image: url(/static/images/hammer.png) }
#pfamBlock		div.handle { background-image: url(/static/images/pfam_logo.png) }
#domainsBlock	div.handle { background-image: url(/static/images/pfam.png) }

#domainsBlock .blockContent {
	overflow: auto;
    max-height: 400px;
}
div.domain {
	padding: 6px;
}

#tabSummaryBlock {
  display: block;
}

div.pdbImageFragment {
	background: #e7edf3;
    border: 1px solid #074987;
	float: right;
    margin: 0.2em;
	padding: 0.3em;
    width: 200px;
}

h4.pdbTitle  {
	color: #074987;
    display: inline;
}

#iconsContent {
	clear: both;
	overflow: auto;
    background: #074987;
}

#iconsContent a {
	color: #fefefe;
	width: 8em;
	float: left;
	border-right: 1px solid #fefefe;
	padding: 0.4em 0.2em 0.4em 57px;
	background-color: #074987;
    background-repeat: no-repeat;
	background-position: 2px center;
}

#iconsContent a em {
	font-weight: bold;
    font-style: normal;
}

#iconsContent .lastIcon {
	border-right: none;
}

#seqIcon	{ background-image: url(/static/images/logos/alignment.png) }
#structIcon	{ background-image: url(/static/images/logos/structure.png) }
#archIcon	{ background-image: url(/static/images/logos/domains.gif) }
#specIcon	{ background-image: url(/static/images/logos/species.png) }
#ipfamIcon	{ background-image: url(/static/images/logos/ipfam.png) }
