
/* ======================================== */
/* page layout items */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: small;
}

form  {
  margin: 0;
  padding: 0;
}

#header {
  margin: 0;
  padding: 0;
}

#wrapper {
  overflow:hidden;
  width: 100%;
}

#content {
  margin: 0;
  width: 85%;
  float: right;
}

.cleaner {
  clear: both;
}

#sidebar {
	background: url(/static/images/sidebar_bg.gif) repeat-y right 0;
    border-bottom: 1px solid #4577a5;
    padding: 0.4em 0;
    width: 15%;
    float: left;
	margin-bottom: 0.4em;
}

/* ======================================== */
/* page components */

#stripe {
    background: #3b70a0;
    height: 8px;
}

#pageHeader {
    background: url(/static/images/double_gradient.gif) repeat-y 15% bottom;
	color: #074987;
    min-height: 60px;
}

#pageHeader h1 {
    background: url(/static/images/left_curve.gif) no-repeat top left;
	margin: 0;
	padding: 0.4em;
}

#newEntryForm {
	display: none;        /* N.B. */
    margin-top: 50px;
    padding: 0.4em;
    font-weight: bold;
    color: #074987;
}

#idField {
  border: 2px solid #074987;
}

#idSubmit {
  border: 2px solid #074987;
  background: #4577a5;
  color: #c2d2e1;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar ul li {
  padding-left: 0.4em;
}

#sidebar ul li a {
  outline: none;
/*  border-bottom: 1px solid #83a4c3;
  border-right: 1px solid #4577a5; */
  margin: 0;
  padding: 0.4em 0 0.4em 0.4em;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #074987;
}

#sidebar ul li a:hover {
  text-decoration: underline;
}

#sidebar ul li.selected a {
  outline: none;
  background: url(/static/images/selected_bg.gif);
  border: 1px solid #4577a5;
  border-right: none;
}

#sidebar ul li.selected a:hover {
  text-decoration: none;
}

#sidebar ul li a.lastItem {
  border: none;
}

hr.short {
  display: none;
}

/* ======================================== */
/* general block styles */

div.block {
  margin: 0.4em;
  display: none;
}

div.handle {
  color: #FEFEFE;
  padding: 0.2em;
  background-color: #074987;
  background-repeat: no-repeat;
  background-position: center right;
}

div.handle h1 {
  font-size: 1.5em;
  display: inline;
  padding: 0.4em 0;
}

div.blockContent {
  padding: 0.4em;
  border-top: none;
  font-size: smaller;
}

/* ======================================== */
/* rules for specific blocks */

#summaryBlock	div.handle { background-image: url(/static/images/pfam_logo.png) }
#interproBlock	div.handle { background-image: url(/static/images/open_book.png) }
#buildBlock		div.handle { background-image: url(/static/images/hammer.png) }
#pfamBlock		div.handle { background-image: url(/static/images/pfam_logo.png) }
#domainsBlock	div.handle { background-image: url(/static/images/pfam.png) }

#domainsBlock .blockContent {
	overflow: auto;
    max-height: 400px;
}
div.domain {
	padding: 6px;
}

#tabSummaryBlock {
  display: block;
}

div.pdbImageFragment {
	background: #e7edf3;
    border: 1px solid #074987;
	float: right;
    margin: 0.2em;
	padding: 0.3em;
    width: 200px;
}

h4.pdbTitle  {
	color: #074987;
    display: inline;
}

#icons {
  color: #fefefe;
  float: right;
  background: url(/static/images/right_top.png) top left no-repeat;
  margin: 0;
  padding: 0 0 0 40px;
  height: 60px;
}

#icons h2 {
  color: #fefefe;
  margin: 0;
  padding: 0;
  font-size: small;
  display: inline;
}

#icons span {
  border: 1px solid red;
  font-size: larger;
  margin: 1px;
}

#icons a {
  color: #fefefe;
  text-decoration: none;
}

#icons a:hover {
  text-decoration: underline;
}

#icons a em {
  font-weight: bold;
  font-style: normal;
}

#seqIcon	{ background-image: url(/static/images/logos/alignment.png) }
#structIcon	{ background-image: url(/static/images/logos/structure.png) }
#archIcon	{ background-image: url(/static/images/logos/domains.png) }
#specIcon	{ background-image: url(/static/images/logos/species.png) }
#ipfamIcon	{ background-image: url(/static/images/logos/ipfam.png) }

#logos a {
	color: #fefefe;
	float: left;
	padding: 22px 0.4em 0.2em 0.4em;
	  text-align:center;
    background-repeat: no-repeat;
	background-position: center -2px;
}
