
[%
# batch.tt
# jt6 20070419 WTSI
# 
# build the batch search block
#
# $Id: batch.tt,v 1.9 2007-11-28 12:20:33 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

# using styles from the help pages, plus the common styles for forms
requirements.css.push( "help.css" );
requirements.css.push( "forms.css" );
requirements.cssIeAll.push( "forms_all_ie.css" );

#-------------------------------------------------------------------------------

%]

<!-- start batch search block -->

<div class="block" id="searchBatchBlock">
  <div class="handle">
    <h1>Batch sequence search</h1>
  </div>
  <div class="blockContent">

    <p>
      Search multiple FASTA-format sequences for matching Pfam families. 
      <span class="moreLink" onclick="reveal(this,'batchNotes',false, true)">More...</span>
    </p>

    <div id="batchNotes" style="display: none">
      <p>
        This tool allows you to upload a file containing a set of sequences that
        will be searched for matching Pfam families. Results of the search will
        be returned to you at the email address that you specify.
      </p>
      <p>
        The sequence file that you upload should conform to the 
        <a class="ext" href="http://www.ncbi.nlm.nih.gov/blast/fasta.shtml">
          FASTA-format</a> specification. The format of your file will be 
        checked before your search is submitted and files that do not conform 
        to the specification will be rejected. 
      </p>
      <p>
        Files must contain header lines and sequence lines only. Header lines, 
        which begin with &quot;&gt;&quot;, can be used to describe the sequence 
        that follows. There is no fixed format for header lines but, for 
        security reasons, we restrict the characters that are allowed. If your 
        header lines contain any of the following characters, your file will be 
        rejected:
      </p>
      <code>; \ ! *</code>
      <p>
        Note that we explicitly include the semi-colon (;) in the list of 
        forbidden characters, although this may be used to denote comments in 
        some versions of the FASTA-format. Please do not use comments in the 
        FASTA files that you upload here.
      </p>
      <p>
        The FASTA-format specification recommends that header lines are kept 
        shorter than 80 characters. Note that although we do not restrict the
        length of header lines, the output that you will receive only shows
        the first <strong>20</strong> characters of each header line. You 
        should therefore ensure that the sequence is identifiable using only
        the first twenty characters of its header.
      </p>
      <p>
        Finally, the sequence lines of your file should contain only amino-acid 
        symbols, i.e. capital letters excluding &quot;J&quot;, and 
        &quot;O&quot;, plus &quot;-&quot; or &quot;*&quot; to denote gaps and 
        translation stops respectively. Note that in the context of a Pfam
        search, gaps and translation stops have little meaning and should not 
        normally be used.
      </p>
      <hr />
    </div>

    <div class="formWrapper">

      [% IF batchSearchError %]
      <div class="error">
        <h2>Error</h2>
        [% batchSearchError %]
      </div>
      [% END %]

      <form method="post" 
            id="proteinBatchSearchForm"
            action="[% c.uri_for( "/search/batch" ) %]"
            enctype="multipart/form-data">
    
        <div class="row">
          <label for="batchSeq">Sequences file</label>
          <input type="file" 
                 accept="text/plain"
                 size="20"
                 name="batchSeq"
                 id="batchSeq" />
        </div>
  
        <div class="row">
          <label for="batchOpts">Search strategy</label>
          <select name="batchOpts" id="batchOpts">
            <option value="both" selected="selected">Global &amp; local (merged)</option>
            <option value="bothNoMerge">Global &amp; local (separately)</option>
            <option value="ls">Global</option>
            <option value="fs">Local</option>
          </select>
        </div>
  
        <div class="row">
          <span class="label">Cut-off</span>
          <label for="batchGaButton" class="subLabel">
            <input class="radio"
                   type="radio" 
                   name="ga" 
                   id="batchGaButton" 
                   value="1" 
                   onclick="$('batchEvalue').disable()" />
            Gathering threshold
          </label>
        </div>

        <div class="row">
          <span class="label blankLabel">Cut-off</span>
          <label for="batchEButton" class="subLabel">
            <input class="radio"
                   type="radio" 
                   name="ga" 
                   id="batchEButton" 
                   value="0"
                   checked="checked" 
                   onclick="$('batchEvalue').enable()" />
            Use E-value
          </label>
        </div>
        
        <div class="row">
          <label for="batchEvalue">E-value</label>
          <input type="text" 
                 size="10" 
                 maxlength="10" 
                 value="1.0" 
                 name="evalue" 
                 id="batchEvalue" />
        </div>
  
        <div class="row">
          <label for="pEmail">Email address</label>
          <input type="text" size="20" maxlength="100" name="email" id="pEmail" />
        </div>
  
        <div class="row">
          <label class="blankLabel">Submit</label>
          <input class="submit"  type="submit" name="submit" value="Submit" />
          <input class="reset"   type="reset"  name="reset"  value="Reset" />
        </div>

      </form>
      
    </div>
  </div>
</div>

<!-- end batch search block -->
