
[%
# dna.tt
# jt6 20061108 WTSI
# 
# build the dna search block
#
# $Id: dna.tt,v 1.10 2009-10-07 14:00:12 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

# using styles from the help pages, plus the common styles for forms
requirements.css.push( "help.css" );
requirements.css.push( "forms.css" );
requirements.cssIeAll.push( "forms_all_ie.css" );

#-------------------------------------------------------------------------------

%]

<!-- start dna search block -->

<div class="block" id="searchDnaBlock">
  <div class="handle">
    <h1>DNA search</h1>
  </div>
  <div class="blockContent">

    <div style="border: 1px solid #074987; background-color: #EEE; color: #074987; padding: 0.5em; width: 80%; margin: 0.5em auto">

      <h1>Search queues paused</h1>

      <p>
        Pfam batch and DNA searches are managed by a job queuing system. On Monday 9th
        May 2011 we will be performing essential software upgrades to this queuing
        system, which will require us to stop and empty the queues entirely. In order
        to avoid searches being lost, we have now paused the submission of new search
        jobs through the website.
      </p>
      <p>
        Although you can continue to submit jobs, no new jobs will be run from 6pm
        Sunday 8th May 2011 (GMT) until the completion of the work. This means that
        there will be a delay of between 12 and 24 hours in returning job results.
      </p>
      <p>
        Please accept our apologies for any inconvenience. If you have any concerns
        about this work, please contact us at 
        <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#112;&#102;&#97;&#109;&#45;&#104;&#101;&#108;&#112;&#64;&#115;&#97;&#110;&#103;&#101;&#114;&#46;&#97;&#99;&#46;&#117;&#107;">&#112;&#102;&#97;&#109;&#45;&#104;&#101;&#108;&#112;&#64;&#115;&#97;&#110;&#103;&#101;&#114;&#46;&#97;&#99;&#46;&#117;&#107;</a>.
      </p>

    </div>

    <p>
      Search for Pfam domains on a DNA sequence.
      <span onclick="reveal(this,'dnaNotes',false, true)"
            class="moreLink">More...</span>
    </p>    

    <div id="dnaNotes" style="display: none">
      <p>
        This tool allows you to search DNA sequences of upto 80kb against Pfam
        HMMs, using the 
        <a class="ext" href="http://www.ebi.ac.uk/wise2/">Wise2</a> package. You 
        can see more information about Wise2 at the 
        <a class="ext" href="http://www.ebi.ac.uk/Wise2/doc_wise2.html">homepage</a>.
      </p>
      <p>
        Because these searches can be time consuming, we run the searches 
        offline and mail the results to you. Please ensure that the email 
        address that you enter is correct, as no checking is performed before 
        the search is run.
      </p>
      <hr />
    </div>

    <div class="formWrapper">

      [% IF dnaSearchError %]
      <div class="error">
        <h2>Error</h2>
        [% dnaSearchError %]
      </div>
      [% END %]
  
      <form method="post" 
            id="dnaSeqSearchForm"
            action="[% c.uri_for( "/search/dna" ) %]"
            enctype="multipart/form-data"
            onsubmit="return checkLength()">
  
        <div class="row">
          <label for="seq">Sequence</label>
          <textarea cols="60" 
                    rows="10"
                    name="seq"
                    id="dnaSeq"></textarea>
        </div>
  
        <div class="row">
          <label for="dEmail">Email address</label>
          <input type="text" 
                 size="20" 
                 maxlength="100" 
                 name="email" 
                 id="dEmail" />
        </div>
    
        <div class="row">
          <label class="blankLabel">Submit</label>
          <input class="submit" 
                 type="submit" 
                 name="submit" 
                 value="Submit"
                 onclick="if( ! $('dnaSeq').present() ){return false}"/>
          <input class="reset"
                 type="reset"
                 name="reset"
                 value="Reset" />
          <input class="example" 
                 type="button"
                 value="Example" 
                 onclick="$('dnaSeq').value=exDNASeq" />
        </div>
  
      </form>

    </div>
  
  </div>

  <script type="text/javascript">
    // <![CDATA[
    
    // a little check on the sequence length...
    var lengthWarning = false;
    checkLength = function() {

      if( $F('dnaSeq').length > 80000 ) {
        if( ! lengthWarning ) {
          new Insertion.After( "dnaSeq",
                               "<div class='error'>Your sequence must be &lt; 80kb<\/div>" );
          lengthWarning = true;
        }
        return false;
      } else {
        return true;
      }
    };

    var exDNASeq = "GCTCACAGCTGTGTCCTCCCCACCCCCTGGGACCACAAAGCTCCACCCCT\n\
GCCACCCCCTGACATCCTCAAGCCAAGGAGCCTGACCCAGGGCTCAGGGT\n\
GGGGTCACAAACCTGGGGGGGGTCTGATTTGCATGGATGGACTCTCCCCC\n\
TCTCAGAGTATGAAGAAAGGGAGAGATTTGGGGGAAGCTCAGCTTCAGCT\n\
GCGGGTAGAGAAGACAGGACTCAGGACAATCTCCAGCATGGCCTGGTCCC\n\
CTCTCTTCCTCACCCTCATCACTCACTGTGCAGGGTCCTGGGCCCAGTCT\n\
GTGCTGACTCAGCCACCCTCGGTGTCTGAAGCCCCCAGGCAGAGGGTCAC\n\
CATCTCCTGTTCTGGAAGCAGCTCCAACATCGGAAATAATGCTGTAAACT\n\
GGTACCAGCAGCTCCCAGGAAAGGCTCCCAAACTCCTCATCTATTATGAT\n\
GATCTGCTGCCCTCAGGGGTCTCTGACCGATTCTCTGGCTCCAAGTCTGG\n\
CACCTCAGCCTCCCTGGCCATCAGTGGGCTCCAGTCTGAGGATGAGGCTG\n\
ATTATTACTGTGCAGCATGGGATGACAGCCTGAATGGTCCCACAGTGCTC\n\
CAGGCCCAGGGGGAACAGAGACAAGAACCCCCTTCCTTTTCTGCCAGGAG\n\
GTATAATGTTGACTATGGGTTTGAAAGAGTGGGCTTTTCTTACCATAAG";
    // ]]>
  </script>

</div>

<!-- end dna search block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
