
[%
# tax.tt
# jt6 20061108 WTSI
# 
# build the taxonomy search block
#
# $Id: tax.tt,v 1.4 2007-09-21 11:25:29 jt6 Exp $
%]

<!-- start taxonomy search block -->

<div class="block" id="searchTaxBlock">
  <div class="handle">
    <h1>Taxonomy search</h1>
  </div>
  <div class="blockContent">

    <p>
      Find Pfam families according to taxonomy.
      <span class="moreLink" onclick="reveal(this,'taxNotes',false, true)">More...</span>
    </p>

    <div id="taxNotes" style="display: none">
      <p>
        Paste your query into the box below. 
      </p>
    </div>

    <div class="formWrapper">

      [% IF taxSearchError %]
      <div class="error">
        <h2>Error</h2>
        [% taxSearchError %]
      </div>
      [% END %]
  
      <form method="post" 
            id="proteinTaxSearchForm"
            action="[% base %]search/taxonomy">

        <div class="row">
          <label for="q">Query</label>
          <input type="text" 
                 size="40" 
                 name="q" 
                 id="q" />
        </div>
  
        <div class="row">
          <label class="blankLabel">Submit</label>
          <input class="submit"
                 type="submit"
                 name="submit"
                 value="Submit"
                 onclick="if( ! $('q').present() ){return false}"/>
          <input class="reset"
                 type="reset"
                 name="reset"
                 value="Reset" />
          <input class="example" 
                 type="button" 
                 value="Example"
                 onclick="$('q').value=exTax" />
        </div>

      </form>
  
    </div>
  
  </div>
</div>

<script type="text/javascript">
  // <![CDATA[
  var exTax = "a AND b";
  // ]]>
</script>

<!-- end taxonomy search block -->
