
[%
# alignmentTool.tt
# jt6 20061004 WTSI
# 
# build a page for the alignment viewer tool
#
# $Id: alignmentTool.tt,v 1.5 2007-05-16 15:02:47 jt6 Exp $

META naked = 1;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "family.css" );
requirements.cssIe.push( "family_ie.css" );

requirements.js.push( "family.js" );

#-------------------------------------------------------------------------------

pageContent = BLOCK
-%]

<script type="text/javascript">
  // <![CDATA[
  Event.observe( window, "load", familyPostLoad, false );
  loadOptions.ca.uri    = "[% base %]family/alignmentgenerator";
  loadOptions.ca.params = "acc=[% acc %]&alnType=[% alnType %]";
  // ]]>
</script>

<h1>Family alignment for [% pfam.pfamA_acc %]</h1>

<div id="caph">
  <p class="loading">
    Loading alignment...
  </p>
</div>

<a href="#" onclick="window.close()" class="closer">Close window</a>

[% END # of "pageContent = BLOCK" %]

[% PROCESS components/tools/toolWindow.tt %]
