[%#
# align.tt
# jt6 20060411 WTSI
#
# block showing the family alignment.
#
# $Id: align.tt,v 1.7 2006-10-03 13:55:55 jt6 Exp $
%]

<!-- start align block -->

<div class="block" id="alignBlock">
  <div class="handle">
    <h1>Alignments</h1>
  </div>
  <div class="blockContent">

	<div id="caph">
      <p class="loading">
        Loading alignment...
      </p>
    </div>

	<p>You can also view the 
      <a class="ext" 
         href="[% constants.alignURLRoot %]/seed/[% pfam.pfamA_acc %].shtml.gz"
         target="_blank">seed</a> and
      <a class="ext"
         href="[% constants.alignURLRoot %]/full/[% pfam.pfamA_acc %].shtml.gz"
         target="_blank">full</a> alignments in separate windows.
    </p>

  </div> [%# end of blockcontent %]

</div>

<script type="text/javascript">
  loadOptions.ca.uri    = "[% c.uri_for( "/family/alignmentgenerator" ) %]";
  loadOptions.ca.params = "acc=[% pfam.pfamA_acc %]";
</script>

<!-- end of align block -->
