
[%#
# curation.tt
# jt6 20060424 WTSI
#
# the curation details for the family section
#
# $Id: curation.tt,v 1.7 2006-08-22 15:18:31 jt6 Exp $
%]

<!-- start curation block -->

[%- USE String -%]

<div class="block" id="curationBlock">
  <div class="handle">
    <h1>Curation and Family Details</h1>
  </div>
  <div class="blockContent">

    <h3 class="inset">Curation</h3>

    [% IF pfam.status == "NEW" %]
      <p>This family is new in this Pfam release.</p>
    [% ELSIF pfam.status == "NOCHANGE" %]
      <p>This family has not been changed since the last Pfam release.</p>
    [% ELSIF pfam.status == "CHANGE" %]
      <p>This family has changed since the last Pfam release.</p>
    [% END %]

	[% oe = 0 %]

    <table class="layout">
	  <tbody>
<!--
        <tr class="[% IF oe % 2 %]odd[% ELSE %]even[% END %][% oe=oe+1 %]">
		  <td class="label" title="header=[Author name] body=[The name of the author of this Pfam family] requireclick=[on]">Author:</td>
	      <td class="data">
	        [% pfam.author %]
          </td>
		</tr>
-->
        <tr class="[% IF oe % 2 %]odd[% ELSE %]even[% END %][% oe=oe+1 %]">
		  <td class="label" title="header=[Seed source] body=[The method by which the seed alignment was generated] cssheader=[tipHeader] cssbody=[tipBody] requireclick=[on]">Seed source:</td>
	      <td class="data">
	        [% pfam.seed_source %]
          </td>
		</tr>
        <tr class="[% IF oe % 2 %]odd[% ELSE %]even[% END %][% oe=oe+1 %]">
	      <td class="label" title="header=[Previous IDs] body=[Any previous IDs by which this family has been known] cssheader=[tipHeader] cssbody=[tipBody] requireclick=[on]">Previous IDs:</td>
          <td class="data">
            [% IF pfam.previous_id %]
              [% pfam.previous_id %]
            [% ELSE %]
              <span class="inactive">none</span>
            [% END %]
          </td>
        </tr>

        <tr class="[% IF oe % 2 %]odd[% ELSE %]even[% END %][% oe=oe+1 %]">
	      <td class="label" title="header=[Family type] body=[domain, family, repeat and motif] cssheader=[tipHeader] cssbody=[tipBody] requireclick=[on]">Type:</td>
	      <td class="data">
            [% pfam.type %]
	      </td>
	    </tr>

        <tr class="[% IF oe % 2 %]odd[% ELSE %]even[% END %][% oe=oe+1 %]">
	      <td class="label">Number in seed:</td>
	      <td class="data">
            [% pfam.num_seed %]
	      </td>
	    </tr>

        <tr class="[% IF oe % 2 %]odd[% ELSE %]even[% END %][% oe=oe+1 %]">
          <td class="label">Number in full:</td>
		  <td class="data">
            [% pfam.num_full %]
	      </td>
	    </tr>

        <tr class="[% IF oe % 2 %]odd[% ELSE %]even[% END %][% oe=oe+1 %]">
          <td class="label">Average length of the domain:</td>
		  <td class="data">
            [% pfam.average_length %] aa
	      </td>
	    </tr>

        <tr class="[% IF oe % 2 %]odd[% ELSE %]even[% END %][% oe=oe+1 %]">
          <td class="label">Average identity of full alignment:</td>
		  <td class="data">
            [% pfam.percentage_id %] %
	      </td>
	    </tr>

        <tr class="[% IF oe % 2 %]odd[% ELSE %]even[% END %][% oe=oe+1 %]">
          <td class="label">Average coverage of the sequence by the domain:</td>
		  <td class="data">
            [% pfam.average_coverage %] %
	      </td>
	    </tr>
      </tbody>
	</table>

    <h3 class="inset">HMM information</h3>

    <table class="layout">
      <tbody>
        <tr class="[% IF oe % 2 %]odd[% ELSE %]even[% END %][% oe=oe+1 %]">
	      <td class="label">HMM build commands:</td>
          <td class="data">
            <div><em>ls model:</em> [% pfam.hmmbuild_ls %] [% pfam.hmmcalibrate_ls %]</div>
            <div><em>fs model:</em> [% pfam.hmmbuild_fs %] [% pfam.hmmcalibrate_fs %]</div>
          </td>
	    </tr>

        <tr class="[% IF oe % 2 %]odd[% ELSE %]even[% END %][% oe=oe+1 %]">
          <td class="label" id="tableLabel">Model details:</td>
          <td class="data">
            <table class="details">
              <thead>
                <tr>
                  <th rowspan="2">Parameter</th>
                  <th colspan="2">ls</th>
                  <th colspan="2">fs</th>
                </tr>
                <tr>
                  <th>Sequence</th>
                  <th>Domain</th>
                  <th>Sequence</th>
                  <th>Domain</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd">
                  <td class="label">Gathering cut-off</td>
                  <td>[% pfam.ls_sequence_GA | format( "%5.1f" ) %]</td>
                  <td>[% pfam.ls_domain_GA   | format( "%5.1f" ) %]</td>
                  <td>[% pfam.fs_sequence_GA | format( "%5.1f" ) %]</td>
                  <td>[% pfam.fs_domain_GA   | format( "%5.1f" ) %]</td>
                </tr>
                <tr class="even">
                  <td class="label">Trusted cut-off</td>
                  <td>[% pfam.ls_sequence_TC | format( "%5.1f" ) %]</td>
                  <td>[% pfam.ls_domain_TC   | format( "%5.1f" ) %]</td>
                  <td>[% pfam.fs_sequence_TC | format( "%5.1f" ) %]</td>
                  <td>[% pfam.fs_domain_TC   | format( "%5.1f" ) %]</td>
                </tr>
                <tr class="odd">
                  <td class="label">Noise cut-off</td>
                  <td>[% pfam.ls_sequence_NC | format( "%5.1f" ) %]</td>
                  <td>[% pfam.ls_domain_NC   | format( "%5.1f" ) %]</td>
                  <td>[% pfam.fs_sequence_NC | format( "%5.1f" ) %]</td>
                  <td>[% pfam.fs_domain_NC   | format( "%5.1f" ) %]</td>
                </tr>
              </tbody>
            </table>
	      </td>
        </tr>

        <tr class="[% IF oe % 2 %]odd[% ELSE %]even[% END %][% oe=oe+1 %]">
          <td class="label">Model length:</td>
          <td class="data">
            [% pfam.model_length %]
          </td>
	    </tr>

        <tr class="[% IF oe % 2 %]odd[% ELSE %]even[% END %][% oe=oe+1 %]">
          <td class="label">Family (HMM) version:</td>
          <td class="data">
            [% pfam.version %]
          </td>
	    </tr>
      </tbody>
    </table>

  </div>
</div>

<!-- end curation block --> 