[%
# interactions.tt
# jt6 20060719 WTSI
# 
# block for the interactions data for the family section
#
# $Id: interactions.tt,v 1.4 2007-03-15 10:57:09 jt6 Exp $

RETURN UNLESS summaryData.numInt -%]

<!-- start interactions block -->

<div class="block" id="ipfamBlock">
  <div class="handle">
    <h1>Interactions</h1>
  </div>
  <div class="blockContent">

    <p>
      There [%- summaryData.numInt > 1 ? "are " : "is "; summaryData.numInt %]
       <a href="[% c.uri_for( "/int/domain", acc=pfam.pfamA_acc ) %]">
         interaction[% summaryData.numInt > 1 ? "s" : "" %]</a> for this family.
     </p>

  </div>

</div>

<!-- end interactions block -->
