[%#
# interactions.tt
# jt6 20060719 WTSI
# 
# block for the interactions data for the family section
#
# $Id: interactions.tt,v 1.3 2006-08-14 11:00:52 jt6 Exp $
-%]

[%- RETURN UNLESS summaryData.numInt -%]

<!-- start interactions block -->

<div class="block" id="ipfamBlock">
  <div class="handle">
    <h1>Interactions</h1>
  </div>
  <div class="blockContent">

    <p>There are [% summaryData.numInt %] <a href="[% c.uri_for( "/int", acc=pfam.pfamA_acc ) %]">interactions</a> for this family.</p>

  </div>

</div>

<!-- end interactions block -->
