
[%
# logo.tt
# jt6 20080411 WTSI
#
# block showing the HMM logo for this family.
#
# $Id: logo.tt,v 1.4 2009-06-09 15:18:11 jt6 Exp $
%]

<!-- start logo block -->

<div class="block" id="logoBlock">
  <div class="handle">
    <h1>HMM logo</h1>
  </div>
  <div class="blockContent">
    <p>
      HMM logos is one way of visualising profile HMMs. Logos provide a
      quick overview of the properties of an HMM in a graphical form. You can 
      see a more detailed description of HMM logos and find out how you can 
      interpret them
      <a class="ext" href="http://www.sanger.ac.uk/Software/analysis/logomat-m/help.shtml">
        here</a>.
      <span onclick="reveal( this, 'logoNotes', false, true );"
            class="moreLink">
        More...</span>
    </p>
    <div id="logoNotes" style="display: none">
      <p>
        If you find these logos useful in your own work, please consider citing
        the following article:
      </p>
      <div class="citation">
        <span class="title">
          <a class="ext" 
             href="http://dx.doi.org/10.1186/1471-2105-5-7">
            HMM Logos for visualization of protein families</a>: 
        </span>
        <span class="authors">
          B. Schuster-B&#246;ckler, J. Schultz, S. Rahmann
        </span>
        <span class="ref">
          <span class="jrnl">BMC Bioinformatics</span>&nbsp;(2004)
          &nbsp;5:7
        </span>
      </div>
    </div>

    <div id="logo" style="width: 100%; overflow: auto"></div>

  </div>

  <script type="text/javascript">
    // <![CDATA[
    var r = new Ajax.Request( "[% c.uri_for( '/family/logo' ) %]",
                               {
                                 parameters: { acc: "[% acc %]" },
                                 evalScripts: true,
                                 onSuccess: function( oResponse ) {
                                   $("logo").update( oResponse.responseText );
                                 },
                                 on204: function( oResponse ) {
                                   $("logo").update( "We could not find a logo for this entry." );
                                 }
                               } );
    // ]]> 
  </script>

</div>

<!-- end of logo block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
