
[%
# phylo.tt
# jt6 20060515 WTSI
#
# block showing the phylogenetic tree for a family
#
# $Id: phylo.tt,v 1.14 2007-08-07 12:45:35 jt6 Exp $
%]

<!-- start of phyloBlock -->

<div class="block" id="phyloBlock">
  <div class="handle">
    <h1>Trees</h1>
  </div>
  <div class="blockContent">
    <p>
      This page displays the UPGMA based phylogentic tree, generated using 
      quicktree, for the given alignment.
    </p> 
    [% # the form that controls the tree display %]
    <form id="phyloForm"
          action="[% base %]family/tree">
      <div>
        <span>
          <input id="seedRb" 
                 name="type"
                 type="radio" 
                 checked="checked" 
                 value="seed" />
          <label for="seedRb">Seed ([% pfam.num_seed %])</label>
        </span>
        <span>
          <input id="fullRb" 
                 name="type"
                 type="radio" 
                 value="full" />
          <label for="fullRb">Full ([% pfam.num_full %])</label>
        </span>
        <input type="button"
               onclick="treeSubmitter()"
               value="Change tree" />
      </div>
    </form>

    <div id="alignmentTree">
      <p id="atph" class="loading">
          Loading alignment tree...
        </p>  
    </div>

    <script type="text/javascript">
      // <![CDATA[
      // set the options for the ajax call that populates the tree the first time
      loadOptions.at.uri    = "[% base %]family/tree";
      loadOptions.at.params = "acc=[% acc %]";

      // a function that submits subsequent requests 
      treeSubmitter = function() {
        var type = $("seedRb").checked ? "seed" : "full";
        new Ajax.Updater( 'alignmentTree', 
                          '[% base %]family/tree', 
                          { method:     'get',
                            parameters: { acc:     '[% acc %]',
                                          alnType: type } 
                          } );
        return false;
      };
      // ]]>
    </script>

    <p>
      <strong>Note:</strong> You can also download the data files for the
      <a href="[% base %]family/tree/download?alnType=seed&amp;acc=[% acc %]">seed</a> or the
      <a href="[% base %]family/tree/download?alnType=full&amp;acc=[% acc %]">full</a>
      trees.
    </p>

  </div>
</div>

<!-- end of phyloBlock -->
