
[%#
# phylo.tt
# jt6 20060515 WTSI
#
# block showing the phylogenetic tree for a family
#
# $Id: phylo.tt,v 1.4 2006-08-14 11:01:35 jt6 Exp $
%]

<!-- start of phyloBlock -->

<div class="block" id="phyloBlock">
  <div class="handle">
    <h1>Trees</h1>
  </div>
  <div class="blockContent">

	<div id="alignmentTree">
	  <p id="atph">
	    <img src="/images/loading.gif" alt="loading..." />
        Loading alignment tree...
      </p>	
	</div>

	[%# set the options for the ajax call that populates the tree -%]
    <script type="text/javascript">
      loadOptions.at.uri    = "[% c.uri_for( "/gettreemap" ) %]";
      loadOptions.at.params = "acc=[% pfam.pfamA_acc %]";
	</script>

    [%# the form that controls the tree display -%]
    [% c.prototype.form_remote_tag( {
             url    => c.uri_for( "/gettreemap" ),
             update => "alignmentTree"
           } ) %]
      <input name="acc" type="hidden" value="[% pfam.pfamA_acc %]" />
      <span>
        <input name="type" id="seedRb" type="radio" checked="checked" value="seed" />
        <label for="seedRb">Seed ([% pfam.num_seed %])</label>
      </span>
      <span>
        <input name="type" id="fullRb" type="radio" value="full" />
        <label for="fullRb">Full ([% pfam.num_full %])</label>
      </span>
      <input type="submit" name="submit" value="Change tree" />
    </form>

	[% CALL c.log.debug( "phylo.tt: treeURLRoot: |${constants.treeURLRoot}|" ) %]

    <p><strong>Note:</strong> You can also download the data files for the
	  <a href="[% constants.treeURLRoot %]/seed/[% pfam.pfamA_acc %].tree">seed</a> or the
	  <a href="[% constants.treeURLRoot %]/full/[% pfam.pfamA_acc %].tree">full</a> 
      trees.</p>

  </div>
</div>

<!-- end of phyloBlock -->