[%#
# species.tt
# jt6 20060411 WTSI
#
# block showing the species tree. This is a wrapper around another
# template, which is called using an XMLHttpRequest to SpeciesTree.pm.
#
# $Id: species.tt,v 1.4 2006-08-14 11:01:53 jt6 Exp $
%]

<!-- start species block -->

<div class="block" id="speciesBlock">
  <div class="handle">
    <h1>Species distribution</h1>
  </div>
  <div class="blockContent [% IF NOT open %]closed[% END %]">

	[%# the "tree" object is defined in family.js, in the atSuccess callback
        for the ajax call below. The script defines the object and the 
	    ajax response populates it %]

	<a href="javascript:tree.expandAll()">Fully expand tree</a>
	<a href="javascript:tree.collapseAll()">Fully collapse tree</a>

    <!-- start of tree -->
	<div id="treeDiv">
      <p id="stph">
        <img src="/images/loading.gif" alt="loading..." />
        Loading...
      </p>
    </div>
    <!-- end of tree -->

  </div>
</div>

<script type="text/javascript">
  loadOptions.st.uri    = "[% c.uri_for( "/family/speciestree" ) %]";
  loadOptions.st.params = "acc=[% pfam.pfamA_acc %]";
</script>

<!-- end of species block -->
