[%
# species.tt
# jt6 20060411 WTSI
#
# block showing the species tree. This is a wrapper around another
# template, which is called using an XMLHttpRequest to SpeciesTree.pm.
#
# $Id: species.tt,v 1.8 2006-10-16 14:16:22 jt6 Exp $
%]

<!-- start species block -->


<div class="block" id="speciesBlock">
  <div class="handle">
    <h1>Species distribution</h1>
  </div>
  <div class="blockContent [% IF NOT open %]closed[% END %]">

	[%# the "tree" object is defined in family.js, in the atSuccess callback
        for the ajax call below. The script defines the object and the 
	    ajax response populates it %]

	<div id="treeTools">
      <div id="treeToolsHeader" onclick="toggleTools();return false">
        <h3>Tree controls</h3>
        <span id="toolsToggle">Hide</span>
		<div class="cleaner"><!-- empty --></div>
      </div>
	  <div id="treeToolsContent">
         <ul>
	      <li><a href="#" onclick="tree.getRoot().children[0].uncheck();return false">Uncheck</a> all</li>
	      <li>Fully <a href="#" onclick="tree.expandAll();return false">expand</a> tree</li>
	      <li>Fully <a href="#" onclick="tree.collapseAll();return false">collapse</a> tree</li>
	      <li><div id="ddph">Expand tree...</div></li>
	    </ul>
	    <h3>Annotation</h3>
        <ul> 
	      <li><a id="seedToggle" href="#" onclick="toggleHighlightSeed();return false">Hide</a> highlighting of species in seed</li>
	      <li><a id="sumToggle" href="#" onclick="toggleShowSummaries();return false">Hide</a> summaries</li>
	      <li>Key: <span class="specSum">species</span>, <span class="seqSum">sequences</span>, <span class="domSum">domains</span></li>
        </ul>
        <h3>Download</h3>
	    <ul>
	      <li><a href="[% c.uri_for( "/family/texttree", acc=pfam.pfamA_acc ) | uri | html%]">Save</a> a text representation</li>
        </ul>
	    <h3>View selected sequences</h3>
        <ul>
          <li><a href="#" onclick="collectSequences();return false">Graphically</a></li>
          <li>As an <a href="#" onclick="collectSequences();return false">alignment</a></li>
        </ul>
      </div>
    </div>

    <!-- start of tree -->
	<div id="treeDiv">
      <p id="stph" class="loading">
        Loading...
      </p>
    </div>
    <!-- end of tree -->

  </div>
</div>

<form id="subTreeForm" action="[% c.uri_for( "/family/speciessubtree" ) %]" method="get">
	<input type="hidden" name="acc" value="[% pfam.pfamA_acc %]" />
 	<input type="hidden" name="seqs" id="seqs" />
</form>

<script type="text/javascript">
  loadOptions.st.uri    = "[% c.uri_for( "/family/speciestree" ) %]";
  loadOptions.st.params = "acc=[% pfam.pfamA_acc %]";
[%# a hash that maps between the ID of the summary node and the TaskNode object -%]
  nodeMapping = {};
[%# a hash that maps between the ID of the summary node and string of sequence accessions -%]
  nodeSequences = {};
[%# add a listener that will move the tools palette in response to scrolling of the window %]
  Event.observe( window, "scroll", moveTools, false );
</script>

<!-- end of species block -->
