
[%
# summary.tt
# jt6 20060406 WTSI
# 
# build the summary block for families
#
# $Id: summary.tt,v 1.30 2007-08-30 09:41:59 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "family.css" );
requirements.cssIe.push( "family_ie.css" );

requirements.js.push( "scriptaculous/scriptaculous.js?load=effects" );

requirements.js.push( "family.js" );

#-------------------------------------------------------------------------------

# on the assumption that the family page will always contain at least this
# block, we need to add the snippet of javascript here that will trigger
# the post-loading of the various other block contents.
%]

<script type="text/javascript">
  // <![CDATA[
  // [% IF c.debug; pfam.auto_pfamA; END %]
  Event.observe( window, "load", familyPostLoad, false );
  // ]]>
</script>

<!-- start summary block -->

<div class="block" id="familySummaryBlock">
  <div class="handle">
    <h1>Summary</h1>
  </div>
  <div class="blockContent">

    [%- # a placeholder for the structure image -%]
    <div id="siph">&nbsp;</div>

    <h1>
      [% pfam.description %]
      <a href="[% base %]annotate?acc=[% pfam.pfamA_acc %]">
        <img class="addAnnotation" 
             alt="Add an annotation" 
             src="[% base %]static/images/annotation.png" /></a>
    </h1>

    [% IF pfam.comment.length %]
    <p>[% pfam.comment %]</p>
    [% ELSE %]
    <p class="inactive">No Pfam abstract.</p>
    [% END %]
  
    <hr class="short"/>

    [% IF pfam.pfamA_lit_refs.size %]
      <h2>Literature references</h2>
  
      <ol>
      [% FOREACH ref IN pfam.pfamA_lit_refs %]
        <li>
          [% ref.author %], [% ref.journal %]: [% ref.title %]
          <a class="ext" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;dopt=Abstract&amp;list_uids=[% ref.pmid %]">PUBMED:[% ref.pmid %]</a>
        </li>
      [% END %]
      </ol>
  
      <hr class="short"/>
    [% END %]

    [% IF pfam.interpro.interpro_id %]
    <h2 id="interproTitle">
      Interpro entry 
      <a class="ext" href="http://www.ebi.ac.uk/interpro/DisplayIproEntry?ac=[% pfam.interpro.interpro_id %]">[% pfam.interpro.interpro_id %]</a>
    </h2>
    [% END %]

    [% # THIS IS A HACK ! the database entry for the interpro abstract appears
       # to contain <p> tags...
    pfam.interpro.abstract;

    IF pfam.clan_acc -%]
      <h2>Clan</h2>
  
      [% membershipList = BLOCK;
        total = 0;
        FOREACH member IN clan.clan_membership.sort("pfamA_id") %]
          <span class="listItem">
          [% IF member.pfamA_acc == pfam.pfamA_acc;
            member.pfamA_id;
          ELSE %]
            <a href="[% base %]family?acc=[% member.pfamA_acc %]">
              [% member.pfamA_id %]</a>
          [% END %]
          </span>
          [% total = total + 1;
        END; # of foreach
      END # of block %]

      <p>
        This family is a member of clan <strong>
        <a href="[% base %]clan?id=[% pfam.clan_id %]">[% pfam.clan_id %]</a></strong>
        (<a href="[% base %]clan?acc=[% pfam.clan_acc %]">[% pfam.clan_acc %]</a>),
        which contains the following [% total %] member[% total > 1 ? "s" : "" %]:
      </p>
    
      [% membershipList %]
    
      <div class="cleaner"></div>

    [%- END # of "if clan_acc" -%]

    [%- IF goTerms.size -%]
    
      <h2>Gene Ontology</h2>
      
      <table class="details" summary="Gene ontology data">
        <tbody>
          [%- FOREACH goTerm IN goTerms;
          
            # convert the db category into the readable one...
            IF goTerm.category == "function";
              category = "Molecular function";
            ELSIF goTerm.category == "process";
              category = "Biological process";
            ELSIF goTerm.category == "component";
              category = "Cellular component";
            ELSE;
              category = goTerm.category;
            END;          
          %]
          <tr class="[% loop.index % 2 ? "odd" : "even" %]">
            <td class="label">[% category %]</td>
            <td>
              <a href="http://www.ebi.ac.uk/ego/DisplayGoTerm?id=[% goTerm.go_id %]">
               [% goTerm.term %]</a>
              (<a href="http://www.ebi.ac.uk/ego/DisplayGoTerm?id=[% goTerm.go_id %]">[% goTerm.go_id %]</a>)
            </td>
          </tr>
          [% END -%]
        </tbody>
      </table>
    
    [%- END # of "if goTerms" -%]

    [% PROCESS components/links.tt %]

  </div>
</div>

<script type="text/javascript">
  // <![CDATA[
  loadOptions.si.uri    = "[% base %]family/structures";
  loadOptions.si.params = { acc: "[% pfam.pfamA_acc %]" };
  // ]]>
</script>

<!-- end summary block -->
