
[%#
# summary.tt
# jt6 20060406 WTSI
# 
# build the summary block for families
#
# $Id: summary.tt,v 1.6 2006-08-14 11:02:18 jt6 Exp $
%]

[%# on the assumption that the family page will always contain at least this
    block, we need to add the snippet of javascript here that will trigger
    the post-loading of the various other block contents. The actual function
    that does the post loading (familyPostLoad) is in pfFunctions.js
%]

<script type="text/javascript">
  Event.observe( window, "load", familyPostLoad, false );
</script>

<!-- start summary block -->

<div class="block" id="familySummaryBlock">
  <div class="handle">
    <h1>Summary</h1>
  </div>
  <div class="blockContent">

    <div id="siph">&nbsp;</div>

	<h3>[% pfam.description %]</h3>

	[% IF pfam.comment.length %]
	<p>[% pfam.comment %]</p>
	[% ELSE %]
	<p class="inactive">No further details</p>
	[% END %]

    <hr class="short"/>

	[% IF pfam.pfamA_lit_refs.size %]
    <h3>Literature references</h3>

    <ol>
	  [% FOREACH ref IN pfam.pfamA_lit_refs %]
	  <li>
        [% ref.author %], [% ref.journal %]: [% ref.title %]
		<a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;dopt=Abstract&amp;list_uids=[% ref.medline %]">[% ref.medline %]</a>
      </li>
	  [% END %]
	</ol>

    <hr class="short"/>
	[% END %]

	<h3>Interpro entry [% pfam.interpro.interpro_id %]</h3>

    [%#- THIS IS A HACK ! the database entry for the interpro abstract appears
        to contain <p> tags... -%]
	[% pfam.interpro.abstract %]

	[%- IF pfam.clan_acc -%]
	<h3>Clans</h3>

    [% membershipList = BLOCK %]
      [% total = 0 %]
      [% FOREACH member IN clan.clan_membership.sort("pfamA_id") %]
        <span class="clanMember">
          [% IF member.pfamA_acc == pfam.pfamA_acc %]
            [% member.pfamA_id %]
          [% ELSE %]
            <a href="[% c.uri_for( "/family", acc=member.pfamA_acc ) %]">
              [% member.pfamA_id %]</a>
          [% END %]
        </span>
        [% total = total + 1 %]
      [% END # of foreach %]
    [% END # of block %]

	<p>This family is a member of clan <strong>
      <a href="[% c.uri_for( "/clan", id=pfam.clan_id ) %]">[% pfam.clan_id %]</a></strong>
      (<a href="[% c.uri_for( "/clan", acc=pfam.clan_acc ) %]">[% pfam.clan_acc %]</a>),
      which contains the following [% total %] member[% total > 1 ? "s" : "" %]:
    </p>

	[% membershipList %]

    <div class="cleaner"></div>

    [%- END # of "if clan_acc" -%]

	[% PROCESS components/links.tt %]

  </div>
</div>

<script type="text/javascript">
  loadOptions.si.uri    = "[% c.uri_for( "/family/structures" ) %]";
  loadOptions.si.params = "acc=[% pfam.pfamA_acc %]";
</script>

<!-- end summary block -->
