[%
# summary.tt
# jt6 20060406 WTSI
# 
# build the summary block for families
#
# $Id: summary.tt,v 1.46 2009-10-07 13:41:56 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "family.css" );
requirements.cssIe.push( "family_ie.css" );

requirements.js.push( "family.js" );

# tooltip library and Pfam-style tip definition
requirements.js.push( "prototip.js" );
requirements.css.push( "prototip.css" );
requirements.js.push( "tip_definition.js" );

# this needs to be loaded before we try to load the canvas text library,
# but if we include it specifically for IE, it gets added below everything
# else. We can add it here safely, however, because excanvas checks to see
# if canvas is implemented before trying to inject itself
requirements.js.push( "excanvas.js" );

# need to load the canvas.text.js file before trying to load the font file, 
# otherwise it bails with an error about "face.glyphs is undefined"
requirements.js.push( "canvas.text.js?reimplement=true&amp;dontUseMoz=true" ); #reimplement=true&amp;
requirements.js.push( "faces/optimer-bold-normal.js" );

requirements.js.push( "domain_graphics.js" );
requirements.js.push( "domain_graphics_loader.js" );

#-------------------------------------------------------------------------------

# process the template that defines the blocks that do various things with
# database links. We use it later to convert IDs in the Pfam comment and to
# build tables of database links 
PROCESS components/links.tt; %]

<!-- start summary block -->

<div class="block" id="familySummaryBlock">
  <div class="handle">
    <h1>Summary</h1>
  </div>
  <div class="blockContent">

    [%- # a placeholder for the structure image -%]
    <div id="siph"
         class="pdbImageFragment"
         style="display: none">&nbsp;</div>

    <h1>
      [% pfam.description %]
      <a href="[% c.uri_for( "/annotate", { acc = pfam.pfamA_acc } ) %]">
        <img class="addAnnotation" 
             alt="Add an annotation" 
             src="[% c.uri_for( "/static/images/annotation.png" ) %]" /></a>
    </h1>

    [% IF pfam.comment.length %]
    <p>[% PROCESS addLinks, input = pfam.comment %]</p>
    [% ELSE %]
    <p class="inactive">No Pfam abstract.</p>
    [% END %]
  
    <hr class="short"/>

    [% IF pfam.pfama_literature_references.size %]
      <h2>Literature references</h2>
  
      <ol>
      [% # hash the literature references on "order_added"... I'm sure we should be able to do
         # this with a simple "sort", but it's screwing up somewhere...
      litRefs = {};
      FOREACH ref IN pfam.pfama_literature_references; 
        litRefs.${ref.order_added} = ref;
      END;
      FOREACH refNum IN litRefs.keys.nsort;
        ref = litRefs.$refNum; %]
        <li>
          <p>
            [% ref.auto_lit.author %], [% ref.auto_lit.journal %]: [% ref.auto_lit.title %]
            <a name="ref[% refNum %]"
               class="ext" 
               href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?Retrieve&amp;db=PubMed&amp;dopt=Abstract&amp;list_uids=[% ref.auto_lit.pmid %]">
              PUBMED:[% ref.auto_lit.pmid %]</a>
          </p>
        </li>
      [%- END %]
      </ol>
  
      <hr class="short"/>
    [% END %]

    [% IF pfam.interpro %]
      <h2 id="interproTitle">
        Interpro entry 
        <a class="ext" href="http://www.ebi.ac.uk/interpro/DisplayIproEntry?ac=[% pfam.interpro.interpro_id %]">[% pfam.interpro.interpro_id %]</a>
      </h2>
      [% # THIS IS A HACK ! the database entry for the interpro abstract appears
         # to contain <p> tags...
      pfam.interpro.abstract;

    END;

    IF clan -%]
      <h2>Clan</h2>
  
      [% membershipList = BLOCK;
        total = 0;
        members = [];

        # can't sort the contents of "clan.clan_memberships" directly. Convert the 
        # list into rows from the pfamA table first
        FOREACH member IN clan.clan_memberships;
          members.push( member.auto_pfama );
        END;
        FOREACH member IN members.sort("pfama_id") %]
          <span class="listItem">
          [% IF member.pfama_acc == pfam.pfama_acc;
            member.pfama_id;
          ELSE %]
            <a href="[% c.uri_for( '/family', member.pfama_acc ) %]">
              [% member.pfama_id %]</a>
          [% END %]
          </span>
          [% total = total + 1;
        END; # of foreach
      END # of block %]

      <p>
        This family is a member of clan <strong>
        <a href="[% c.uri_for( '/clan', clan.clan_id ) %]">[% clan.clan_id %]</a></strong>
        (<a href="[% c.uri_for( '/clan', clan.clan_acc ) %]">[% clan.clan_acc %]</a>),
        which contains the following [% total > 1 ? total _ " members" : "member" %]:
      </p>
    
      [% membershipList %]
    
      <div class="cleaner"></div>

    [%- END; # of "if clan_acc"

    IF goTerms.size -%]

      <h2>Gene Ontology</h2>

      [% categories = { 
        function  => { label   => "Molecular function",
                       goTerms => [] },
        process   => { label   => "Biological process",
                       goTerms => [] },
        component => { label   => "Cellular component",
                       goTerms => [] }
      };

      FOREACH goTerm IN goTerms;
        categories.${goTerm.category}.goTerms.push( goTerm ); 
      END -%]
      
      <table class="details links" summary="Gene ontology data">
        <tbody>
        [% FOREACH categoryName IN categories.keys.sort;
          category = categories.${categoryName};
          FOREACH goTerm IN category.goTerms -%]
          <tr class="[% loop.index % 2 ? "odd" : "even" %]">
            [% IF loop.first -%]
              <td class="label"[% IF loop.first %] rowspan="[% category.goTerms.size %]"[% END %]>
                [% category.label %]
              </td>
            [% END -%]
            <td>
              <a href="http://www.ebi.ac.uk/ego/DisplayGoTerm?id=[% goTerm.go_id %]">
                [% goTerm.term %]</a>
              (<a href="http://www.ebi.ac.uk/ego/DisplayGoTerm?id=[% goTerm.go_id %]">[% goTerm.go_id %]</a>)
            </td>
          </tr>
          [% END;
        END -%]
        </tbody>
      </table>
      
    [%- END; # of "if goTerms"

    # add the tables showing internal and external database links 
    PROCESS buildLinksTable; -%]

  </div>

  [% IF summaryData.numStructures -%]
  <script type="text/javascript">
    // <![CDATA[

    // set up the AJAX call to load the structure image
    document.observe( "dom:loaded", function() {

      var r = new Ajax.Updater( 
        "siph", 
        "[% c.uri_for( '/family/structures', pfam.pfama_acc ) %]",
        { evalScripts: true,
          onSuccess: function( response ) {
            $("siph").show();
          }
        }
      );

    } );
    // ]]>
  </script>
  [% END -%]

</div>

<!-- end summary block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
