
[%#
# title.tt
# jt6 20060424 WTSI
#
# build the titles for the family pages
#
# this one template should be able to generate two titles: the first ("tab") should
# be the one that appears inside the page, as the label for the "tab" that forms
# the page. This one can (and probably should) include HTML. The second title is the
# one that goes into the header of the HTML and will appear as the title for the 
# browser window or browser tab. This one shouldn't contain any HTML, and it will
# be prefixed with "Pfam: " in the page wrapper template.
#
# $Id: title.tt,v 1.6 2009-06-09 15:18:11 jt6 Exp $
%]

[% IF titleType == "tab" %]
<h1>Family: <em>[% pfam.pfama_id %]</em> ([% pfam.pfama_acc %])</h1>
[% ELSIF titleType == "page" %]
Family: [% pfam.pfama_id %] ([% pfam.pfama_acc %])
[% END %]
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
