[%
# treeMap.tt
# jt6 20060511 WTSI
#
# format the image map for the species tree
#
# $Id: treeMap.tt,v 1.3 2007-07-27 10:59:09 jt6 Exp $

# tell the wrapper not to add any header or footer
META naked = 1;

-%]

<img src="[% base %]family/tree/image?acc=[% acc %]&amp;alnType=[% alnType %]" 
     usemap="#nhxmap" />

<map name="nhxmap">
[% FOREACH node IN tree.node_array;
  matches = node.N.match( '^(.*?)\/\d+-\d+$' );
  IF node.area AND matches.0 -%]
  <area coords="[% node.area.join( "," ) %]" 
        href="[% base %]protein?id=[% matches.0 %]" />
  [% END;
END -%]
</map>

