
<!-- start of footer.tt -->

<div id="footer">
  <span>Comments or questions on the site? Send a mail to <a href="mailto:pfam@sanger.ac.uk">pfam@sanger.ac.uk</a></span>
</div>

<div id="modDate">
    <!-- hhmts start -->
Last modified: Fri Dec  2 14:26:34 GMT 2005
<!-- hhmts end -->
</div>

<!-- end of footer.tt -->