[%
# Define a macro that generates a boxover tooltip as a title attribute
# jt6 20060920 WTSI
#
# Usage: 
#
#  import it:
#    {%- PROCESS "components/help.tt" -%}
#
#  add a tip to the conf:
#    <helpSystem>
#    	<section curation>
#   	    <tip seedSource>
#   			header	"Seed source"
#   			body	"The method by which the seed alignment was generated"
#   	    </tip>
#   	</section>
#    </helpSystem>
#
#  include the tip:
#    <tr class="{% oe % 2 ?"odd" : "even"; oe=oe+1 %}">
#      <td class="label" {% addTip("curation","seedSource") %}>Seed source:</td>
#      <td class="data">{% pfam.seed_source %}</td>
#    </tr>

USE String;

MACRO addTip( section, tipId, elId ) BLOCK;
  CALL c.log.debug( "inside \"addTip\": |$section|$tipId|$elId|" );
  header = helpSystem.section.${section}.tip.${tipId}.header;
  body   = helpSystem.section.${section}.tip.${tipId}.body;
  IF header AND body;
    IF elId;
      contextId = elId;
    ELSE;
      contextId = String.new( "toolTipEl_$tipId" );
    "id=\"$contextId\"";
    END;

    CALL c.log.debug( "contextId: |$contextId|" );

    tips.$contextId = { section = section,
                        id      = tipId };

  END; # of IF

END; # of BLOCK 
-%]