
[%#
# icons.tt
# jt6 20060406 WTSI
#
# overview icons for the top of the page
#
# $Id: icons.tt,v 1.5 2006-04-07 10:21:43 jt6 Exp $
%]

<div id="icons">
  <a href="javascript:show('alignBlock')" id="seqIcon"><em>[% summaryData.numSequences %]</em>&nbsp;sequences</a>
  <a href="javascript:show('domainsBlock')" id="archIcon"><em>[% summaryData.numArchitectures %]</em>&nbsp;architectures</a>
  <a href="javascript:show('pdbBlock')" id="structIcon"><em>[% summaryData.numStructures %]</em>&nbsp;structures</a>
  <!-- this is a nasty hack ! It's hardcoded. Rob made me do it -->
  <a id="ipfamIcon"><em>[% summaryData.numIpfam %]</em>&nbsp;interactions</a>
  <!-- the last value is hard coded -->
  <a href="javascript:show('treeBlock')" id="specIcon" class="lastIcon"><em>[% summaryData.numSpecies %]</em>&nbsp;species</a>
</div>
