[%
# mirrors.tt
# jt6 20070910 WTSI
# 
# build the list of Pfam mirrors
#
# $Id: mirrors.tt,v 1.3 2008-05-16 15:30:32 jt6 Exp $

META naked = 1;
%]

<ul class="mirrors">
  <li class="uk mirror"><a href="http://pfam.sanger.ac.uk/" class="ext flag">WTSI, UK</a></li>
  <li class="se mirror"><a href="http://pfam.sbc.su.se/" class="ext flag">SBC, Sweden</a></li>
  <li class="us mirror"><a href="http://pfam.janelia.org/" class="ext flag">JFRC, USA</a></li>
  <li class="fr mirror"><a href="http://pfam.jouy.inra.fr/" class="ext flag">INRA, France</a></li>
</ul>
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
