[%
# navbar.tt
# jt6 20070328 WTSI
#
# build the navigation bar
#
# $Id: navbar.tt,v 1.1 2007-04-03 14:58:20 jt6 Exp $

# the names for the links in the page
navNames = { 
  home   = "HOME",
  search = "SEARCH",
  browse = "BROWSE",
  ftp    = "FTP",
  help   = "HELP" };

# only run uri_for once...
base = c.uri_for( "/" );

# the URIs for the links
navLinks = {
  home   = base,
  search = "${base}seqsearch",
  browse = "${base}family/browse",
  ftp    = "${base}help?tab=helpFtpBlock",
  help   = "${base}help" };

# the order of the items in the navbar - these are the keys for the two
# hashes above
navItems = [ "home", "search", "browse", "ftp", "help" ];
%]

<div id="navbar">
  <ul>
  [% FOREACH navItem IN navItems %]
    <li>
      [% IF c.stash.nav == navItem %]
        <span>[% navNames.$navItem %]</span>
      [% ELSE %]
        <a href="[% navLinks.$navItem %]">[% navNames.$navItem %]</a>
      [% END;
         IF ! loop.last %]&nbsp;|&nbsp;[% END %]
    </li>
  [% END %]
  </ul>
</div>
