
[%
# speciesTreeJS.tt
# jt6 20070626 WTSI
#
# build the javascript boiler plate that controls loading of the species
# tree
#
# $Id: speciesTreeJS.tt,v 1.4 2007-10-15 09:10:16 jt6 Exp $
%]

<script type="text/javascript">
  // <![CDATA[
  [%# the parameters for the initial ajax call to build the tree -%]
  loadOptions.st.params  = { acc: "[% acc %]",
                             ie:  Prototype.Browser.IE };
  if( Prototype.Browser.IE ) {
    loadOptions.st.uri = "[% base %]speciestree/text";
  } else {
    loadOptions.st.uri = "[% base %]speciestree/interactive";
  }

  [%# the URL to visit when the user selects nodes and wants to view the 
    # selected sequences as domain graphics -%]
  var selectGraphicsURI  = "[% base %]speciestree/selected";

  [%# the URL to visit when the user selects nodes and wants to view the 
    # selected sequences as an alignment -%]
  var selectAlignmentURI = "[% base %]family/alignment/builder";

  [%# a hash that maps between the ID of the summary node and the TaskNode object -%]
  nodeMapping = {};

  [%# a hash that maps between the ID of the summary node and string of sequence 
    # accessions -%]
  nodeSequences = {};

  // ]]>
</script>
