[%
# submenus.tt
# jt6 20061107 WTSI
#
# the markup for the site-wide submenus. These are included by the wrapper and placed
# at the bottom of the body, so that they're rendered on top of the earlier content
#
# $Id: submenus.tt,v 1.1 2006-11-07 16:48:34 jt6 Exp $
-%]

<!-- submenus start here -->
<div id="submenus">
  <div id="menu2Container">
    <div id="menu2Content" class="menuContent">
      <table>
        <tr class="hi"><td><a href="/Software/Pfam/search.shtml">Protein name or sequence</a></td></tr>
        <tr class="lo"><td><a href="/Software/Pfam/tsearch.shtml">Keyword</a></td></tr>
        <tr class="hi"><td><a href="/cgi-bin/Pfam/dql.pl">Domain query</a></td></tr>
        <tr class="lo"><td><a href="/Software/Pfam/dnasearch.shtml">DNA sequence</a></td></tr>
        <tr class="hi"><td><a href="/Software/Pfam/tql.shtml">Taxonomy query</a></td></tr>
      </table>
    </div>
  </div>
  <div id="menu3Container">
    <div id="menu3Content" class="menuContent">
      <table>
        <tr class="hi"><td><a href="/Software/Pfam/browse/top_twenty.shtml">Pfam family ID</a></td></tr>
        <tr class="lo"><td><a href="/cgi-bin/Pfam/genome_dist.pl">Genomes</a></td></tr>
         <tr class="hi"><td><a href="/Software/Pfam/browse/clans.shtml">Clans</a></td></tr>
        <tr class="lo"><td><a href="/Software/Pfam/iPfam/browse/number.shtml">Interaction</a></td></tr>
      </table>
    </div>
  </div>
  <div id="menu4Container">
    <div id="menu4Content" class="menuContent">
      <table>
        <tr class="hi"><td><a href="ftp://ftp.sanger.ac.uk/pub/databases/Pfam/">Hyperlink directly to the FTP site</a></td></tr>
        <tr class="lo"><td><a href="/Software/Pfam/ftp.shtml">View FTP sites</a></td></tr>
      </table>
    </div>
  </div>
  <div id="menu5Container">
    <div id="menu5Content" class="menuContent">
      <table>
        <tr class="hi"><td><a href="/Software/Pfam/iPfam">iPfam home page</a></td></tr>
        <tr class="lo"><td><a href="/Software/Pfam/iPfam/browse/number.shtml">Browse iPfam</a></td></tr>
      </table>
    </div>
  </div>
  <div id="menu6Container">
    <div id="menu6Content" class="menuContent">
      <table>
        <tr class="hi"><td><a href="[% c.uri_for( "/help", tab="helpSummaryBlock" ) %]">Summary</a></td></tr>
        <tr class="lo"><td><a href="[% c.uri_for( "/help", tab="helpChangesBlock" ) %]">Changes</a></td></tr>
        <tr class="hi"><td><a href="[% c.uri_for( "/help", tab="helpGetStartedBlock" ) %]">Getting started</a></td></tr>
        <tr class="lo"><td><a href="[% c.uri_for( "/help", tab="helpFAQBlock" ) %]">FAQ</a></td></tr>
        <tr class="hi"><td><a href="[% c.uri_for( "/help", tab="helpScoresBlock" ) %]">Scores</a></td></tr>
        <tr class="lo"><td><a href="[% c.uri_for( "/help", tab="helpDomainGraphicsBlock" ) %]">Guide to graphics</a></td></tr>
        <tr class="hi"><td><a href="[% c.uri_for( "/help", tab="helpLinkingBlock" ) %]">Linking to Pfam</a></td></tr>
        <tr class="lo"><td><a href="[% c.uri_for( "/help", tab="helpMirrorsBlock" ) %]">Mirrors</a></td></tr>
        <tr class="hi"><td><a href="[% c.uri_for( "/help", tab="helpReferencesBlock" ) %]">Citing Pfam</a></td></tr>
        <tr class="lo"><td><a href="[% c.uri_for( "/help", tab="helpGlossaryBlock" ) %]">Glossary</a></td></tr>
        <tr class="hi"><td><a href="[% c.uri_for( "/help", tab="helpTheTeamBlock" ) %]">Team members</a></td></tr>
        <tr class="lo"><td><a href="[% c.uri_for( "/help", tab="helpContactUsBlock" ) %]">Contact us</a></td></tr>
      </table>
    </div>
  </div>
</div>
<!-- submenus end -->
