
[%
# browseFamilies.tt
# jt6 20060717 WTSI
# 
# build a "browse" page for Pfam families
#
# $Id: families.tt,v 1.2 2007-08-23 13:42:35 jt6 Exp $

META title = "Browse Pfam families";
META fullPage = 1;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "browse.css" );

#-------------------------------------------------------------------------------

# get the argument in lowercase, for comparison purposes
lcChar = char | lower;

# the pages to be offered 
pages = [ "new", "top twenty", "numbers",
          "a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", 
          "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z" ];

# generate the list of browse pages, for inclusion at the top and bottom of 
# the page

# shortcuts for URIs
familyURI    = "${base}family";
tickURI      = "${base}static/images/tick.gif";
blankTickURI = "${base}static/images/blank_tick.gif";

# generate the page list
pageList = PROCESS "components/pageList.tt", 
                   lcChar=lcChar, 
                   pageURI = "${familyURI}/browse?browse=",
                   encode=1;
%]

<!-- start browse page -->

[% pageList %]

<table class="details browse" summary="Details of Pfam families">
  <thead>
    <tr>
      <th rowspan="2">Name</th>
      <th rowspan="2">Type</th>
      <th colspan="2">Alignment length</th>
      <th rowspan="2">Average length</th>
      <th rowspan="2">Average %id</th>
      <th rowspan="2">Average coverage</th>
      <th rowspan="2">Has 3D</th>
      <th rowspan="2">Change status</th>
      <th rowspan="2">Description</th>
    </tr>
    <tr>
      <th>seed</th>
      <th>full</th>
    </tr>
  </thead>
  <tbody>
  [% FOREACH pfam IN browse;
    IF pfam.change_status == "NEW";
	  status = "New";
    ELSIF pfam.change_status == "CHANGE";
      status = "Changed";
    ELSIF pfam.change_status == "NOCHANGE";
      status = "Unchanged";
    ELSE;
      status = pfam.change_status;
	END %]
    <tr class="[% loop.index % 2 ? "odd" : "even" %]">
      <td>
        <a href="[% familyURI %]?acc=[% pfam.pfamA_acc %]">[% pfam.pfamA_id %]</a>
      </td>
      <td>[% pfam.type %]</td>
      <td>[% pfam.num_seed %]</td>
      <td>[% pfam.num_full %]</td>
      <td>[% pfam.average_length %]</td>
      <td>[% pfam.percentage_id %]</td>
      <td>[% pfam.average_coverage %]</td>
  	  <td>
  	    <img alt="" src="[% ( pfam.number_structures > 0 ) ? tickURI : blankTickURI %]" />
      </td>
      <td>[% status %]</td>
      <td class="left">[% pfam.description | html %]</td>
    </tr>
  [% END %]
  </tbody>
</table>

[% pageList %]

<!-- end browse page -->
