
[%
# metaseq.tt
# jt6 20080320 WTSI
# 
# build a "browse" page for metaseq sources
#
# $Id: metaseq.tt,v 1.2 2008-05-16 15:30:34 jt6 Exp $

META title = "Browse Pfam metaseq datasets";
META fullPage = 1;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "browse.css" );

#-------------------------------------------------------------------------------

pages = [ "a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", 
          "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z" ];

# shortcuts for URIs
metaseqURI = c.uri_for( "/metaseq" );

# generate the page list
pageList = PROCESS "components/pageList.tt", 
                   lcChar=lcChar,
                   pageURI = "#";
%]

<!-- start browse page -->

<h1 class="pageHeader">Browse Pfam metaseq datasets</h1>

[% pageList %]

<table class="details browse" summary="Browse metaseq datasets">
  <thead>
    <tr>
      <th>Source</th>
      <th>Source ID</th>
    </tr>
  </thead>
  <tbody>
  [% FOREACH source IN browse %]
    <tr class="[% loop.index % 2 ? "odd" : "even" %]">
      <td>
        <a href="[% c.uri_for( '/metadataset', entry => source.get_column('src') ) %]"> 
          [% source.get_column('long_src') %]</a>
      </td>
      <td>[% source.get_column('src') %]</td>
    </tr>
  [% END %]
  </tbody>
</table>

[% pageList %]

<!-- end browse page -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
