[% 
# poll_xml.tt
# jt6 20071128 WTSI
#
# template for returning the URL for the results of a sequence search
#
# $Id: poll_xml.tt,v 1.7 2009-10-28 14:09:30 jt6 Exp $

META naked = 1;
-%]
<?xml version="1.0" encoding="UTF-8"?>
[%IF seqSearchError -%]
<error>
<![CDATA[
[% seqSearchError %]
]]>
</error>
[% ELSE -%]
<jobs xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://pfam.sanger.ac.uk/"
      xsi:schemaLocation="http://pfam.sanger.ac.uk/
                          http://pfam.sanger.ac.uk/static/documents/schemas/submission.xsd">
[% FOREACH jobId IN results.keys -%]
  <job job_id="[% jobId %]">
    <opened>[% results.$jobId.rows.0.opened %]</opened>
    <result_url>[% c.uri_for( '/search/sequence/resultset', jobId, { output => 'xml' } ) %]</result_url>
  </job>
[% END -%]
</jobs>
[% END; # of "IF seqSearchError" -%]
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
