[% 
# poll_xml.tt
# jt6 20071128 WTSI
#
# template for returning the URL for the results of a sequence search
#
# $Id: poll_xml.tt,v 1.3 2008-04-25 13:39:11 jt6 Exp $

USE dumper;

META naked = 1;

baseUri = "http://pfam.sanger.ac.uk/";
-%]
<pfam xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="[% baseUri %]"
      xsi:schemaLocation="[% baseUri %]
                          [% baseUri %]static/documents/schemas/submission.xsd"
<jobs>
[% FOREACH job IN jobStatus -%]
  <job job_id="[% job.jobId %]" type="[% job.jobClass %]">
    <opened>[% job.opened %]</opened>
    <estimated_time>[% job.estimatedTime %]</estimated_time>
    <result_url>
      <![CDATA[
[% job.doneURI %]?output=xml&jobId=[% job.jobId %]
      ]]>
    </result_url>
  </job>
[% END -%]
</jobs>
