span.T1  { color: #009900 }
span.T2  { color: #33cc00 }
span.T3  { color: #33cc00 }
span.T4  { color: #cc0000 }
span.T5  { color: #0033ff }
span.T6  { color: #6600cc }
span.T7  { color: #0099ff }
span.T8  { color: #0099ff }
span.T9  { color: #33cc00 }
span.T10 { color: #33cc00 }
span.T11 { color: #33cc00 }
span.T12 { color: #197fe5 }
span.T13 { color: #ff11ff }
span.T14 { color: #ffff11 }
span.T15 { color: #ff11ff }
span.T16 { color: #ff11ff }
span.T17 { color: #197fe5 }
span.T18 { color: #ff7f11 }
span.T19 { color: #197fe5 }
span.T20 { color: #197fe5 }
span.T21 { color: #ff1111 }
span.T22 { color: #197fe5 }
span.T23 { color: #197fe5 }
span.T24 { color: #11dd11 }
span.T25 { color: #ffff11 }
span.T26 { color: #11dd11 }
span.T27 { color: #ff1111 }
span.T28 { color: #11dd11 }
span.T29 { color: #11dd11 }
span.T30 { color: #197fe5 }
span.T31 { color: #197fe5 }
span.T32 { color: #666666 }
span.T33 { color: #11ffff }
span.T34 { color: #ff11ff }
span.S1  { background-color: #009900; color: black }
span.S2  { background-color: #33cc00; color: black }
span.S3  { background-color: #33cc00; color: black }
span.S4  { background-color: #cc0000; color: black }
span.S5  { background-color: #0033ff; color: black }
span.S6  { background-color: #6600cc; color: black }
span.S7  { background-color: #0099ff; color: black }
span.S8  { background-color: #0099ff; color: black }
span.S9  { background-color: #33cc00; color: black }
span.S10 { background-color: #33cc00; color: black }
span.S11 { background-color: #33cc00; color: black }
span.S12 { background-color: #197fe5; color: black }
span.S13 { background-color: #ff11ff; color: black }
span.S14 { background-color: #ffff11; color: black } /* !!!! */
span.S15 { background-color: #ff11ff; color: black }
span.S16 { background-color: #ff11ff; color: black }
span.S17 { background-color: #197fe5; color: black }
span.S18 { background-color: #ff7f11; color: black }
span.S19 { background-color: #197fe5; color: black }
span.S20 { background-color: #197fe5; color: black }
span.S21 { background-color: #ff1111; color: black }
span.S22 { background-color: #197fe5; color: black }
span.S23 { background-color: #197fe5; color: black }
span.S24 { background-color: #11dd11; color: black }
span.S25 { background-color: #ffff11; color: black }
span.S26 { background-color: #11dd11; color: black }
span.S27 { background-color: #ff1111; color: black }
span.S28 { background-color: #11dd11; color: black }
span.S29 { background-color: #11dd11; color: black }
span.S30 { background-color: #197fe5; color: black }
span.S31 { background-color: #197fe5; color: black }
span.S32 { background-color: #666666; color: black }
span.S33 { background-color: #11ffff; color: black } /* !!!! */
span.S34 { background-color: #ff11ff; color: black }
