
/* blocks.css
   jt6 20060317 WTSI

   stylesheet for the blocks layout of the new Pfam family page

  $Id: blocks.css,v 1.4 2006-03-24 11:46:17 jt6 Exp $
*/

/*----------------------------------------*/
/* page-specific styles */

h1.error {
	color: red;
}

#footer p {
	margin: 0;
    padding: 0;
}

body {
/*	background: #EEE url(/static/images/bg_diag.png) repeat scroll top left; */
  	background: #F8F8F8;
}

/*----------------------------------------*/
/* page layout */

#left {
    margin: 0;
    padding: 0;
	float: left;
    width: 65%;
}

#right {
    margin: 0;
    padding: 0;
 	float: left;
    width: 33%;
}

div.cleaner {
	clear: both;
	height: 1px;
	font-size: 1px;
	border: none;
	margin: 0; 
    padding: 0;
	background: transparent;
}

hr.short {
	width: 70%;
    border: none;
    border-top: 1px solid #074987;
}

/*----------------------------------------*/
/* block components */

/* the closer image */
a.open {
	width: 14px;
    height: 15px;
}

.closed {
	display: none;
}

div.block {	
	margin: 8px 4px;
	border: 1px solid #074987; /* <--------- block header colour (#074987) */
}

div.handle {
	color: #fefefe;
    background-color: #074987; /* <--------- block header colour */
    background-repeat: no-repeat;
	background-position: center right;
	padding: 0.1em;
}

div.handle h1 {
	margin: 0;
	padding: 0;
    font-size: 1em;
	display: inline;
}

div.blockContent {
    background: #e7edf3; /* <--------- block background (#cbdced) */
    display: block;
    padding: 0.4em;
    border-top: none;
    font-size: smaller;
}

#right div.blockContent {
    background: #cbdced;
}

/*----------------------------------------*/
/* specific blocks */

#domainsBlock .blockContent {
	overflow: auto;
    max-height: 200px;
}
.domain {
	padding: 10px;
}

#interproBlock	div.handle { background-image: url(/static/images/open_book.png) }
#goBlock		div.handle { background-image: url(/static/images/go.png) }
#pfamBlock		div.handle { background-image: url(/static/images/pfam_logo.png) }
#pfamRefBlock	div.handle { background-image: url(/static/images/open_book.png) }
#domainsBlock	div.handle { background-image: url(/static/images/pfam.png) }
#clanBlock		div.handle { background-image: url(/static/images/clan.png) }
#buildBlock		div.handle { background-image: url(/static/images/hammer.png) }
#pdbBlock		div.handle { background-image: url(/static/images/structure.png) }

#summaryBlock {
	line-height: 1.1em;
}

div.inactive {
	border: 1px solid #777;
}

div.inactive div.handle {
    background-color: #777;
    color: #BBB;
}
