
/* blocks.css
   jt6 20060317 WTSI

   stylesheet for the blocks layout of the new Pfam family page

  $Id: blocks.css,v 1.3 2006-03-20 14:39:34 jt6 Exp $
*/

/*----------------------------------------*/
/* page-specific styles */

h1.error {
	color: red;
}

#footer p {
	margin: 0;
    padding: 0;
}

body {
	background: #EEE url(/static/images/bg_diag.png) repeat scroll top left;
}

/*----------------------------------------*/
/* page layout */

#content {
	margin: 0 2px;
}

#left {
    margin: 0;
	margin-right: 10px;
    padding: 0;
	float: left;
    width: 600px;
}

#right {
	margin: 0;
    padding: 0;
 	float: left;
    width: 250px;
}

div.cleaner {
	clear: both;
	height: 1px;
	font-size: 1px;
	border: none;
	margin: 0; 
    padding: 0;
	background: transparent;
}

/*----------------------------------------*/
/* block components */

div.block {
	border: 1px solid #999;
    background: #DDD;
    margin-bottom: 2px; /* separation of boxes on the page */
}

div.blockContent {
	display: block;
	padding: 2px;
    border-top: 1px solid #999;
}

/* the closer image */
a.open {
	width: 14px;
    height: 15px;
}

.handle {
	padding: 0;
	background: #CCC;
}

.handle h1 {
	display: inline;
	font-size: medium;
}

.handle img { 
	cursor: pointer;
}

.closed {
	display: none;
}

.blockContent {
	font-size: smaller;
	background: #EEE;
}

/*----------------------------------------*/
/* specific blocks */

#pfamBlock		.blockContent { background: #AFC; }
#interproBlock	.blockContent { background: #FCA; }
#pdbBlock		.blockContent { background: #CAF; }
#goBlock		.blockContent { background: #ACF; }

#domainsBlock	.blockContent {
	overflow: auto;
    height: 200px;
}

.domain {
	padding: 10px;
}
