
/* clans
   jt6 20060421 WTSI

   Stylesheet for the items that are specific to the tab layout for
   the Pfam clan pages.

   $Id: clans.css,v 1.5 2006-07-14 12:55:12 jt6 Exp $
*/   

/* ======================================== */
/* page layout items */

/* styles for the markup that forms the page tab */
#tabTitle {
	color: #074987;
}

#pageType {
    border-color: #074987;
}

#pageType h2 {
  color: #074987;
/*    background: #074987; */
}

/* ======================================== */
/* components of the remainder of the page */

#spacer {
  background-color: #eff3e8; /* natural 3 */
}

#contentContainer {
  background-color: #eff3e8; /* natural 3 */
  background-image: url(/images/clan/page_border.gif);
}

#wrap {
  position: relative; /* needed to fix the IE peekaboo bug... */
  background: url(/images/clan/bg.gif) repeat-y 15% 0;
}

#content {
  border-top-color: #074987;
}

/* the left column navigation bar */

#sidebar {
    border-bottom-color: #074987;
}

#sidebar li a {
  color: #074987;
}

#sidebar li.selected a {
  border-color: #074987;
  background-image: url(/images/selected_bg.gif);
}

#sidebar li span.inactive {
  color: #afc088;
}

#footer {
  border-top-color: #074987;
}

/* ======================================== */
/* general styles for "blocks" */

div.handle {
  background-color: #074987;
}

/* ======================================== */
/* rules for specific blocks */

div.pdbImageFragment {
	background: #e7edf3;
    border-color: #074987;
}

h4.pdbTitle  {
	color: #074987;
}

span.clanMember {
  float: left;
  padding-left: 0.8em;
  width: 10em;
}
