
/* clans_ie.css
   jt6 20060418 WTSI.

   IE stylesheet to handle transparency...
   
   $Id: clans_ie.css,v 1.1 2006-04-20 16:37:15 jt6 Exp $
*/

hr.short {
    border-color: #060;
}

/* the curved corner for the page top tab */
#icons {
    background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/images/right_top_green.png",sizingMethod="crop");
}
