
/* clans.css
   jt6 20060418 WTSI

   Stylesheet for the clans page.

   $Id: clans.css,v 1.2 2006-04-20 16:37:14 jt6 Exp $
*/   

/* ======================================== */
/* page layout items */


/* the stripe between the page header and the top of the tab */
#tabHeader {
    background: #3b70a0;
}

/* styles for the markup that forms the page tab */
#tabTitle {
    background-image: url(/static/images/double_gradient_green_noborder.gif);
	color: #060;
}

#pageType {
    border-color: #060;
}

#pageType h2 {
    background: #060;
}

#corner {
	background: url(/static/images/left_curve.gif) no-repeat top left;
}

#icons {
    background-image: url(/static/images/right_top.png);
}

/* ======================================== */
/* components of the remainder of the page */

/* the left column navigation bar */

#sidebar {
/*    border-bottom-color: #0C0; */
/*	background-image: url(/static/images/sidebar_bg_green.gif); */
}

#sidebar li a {
  color: #060;
}

#sidebar li.selected a {
  border-color: #0C0;
  background-image: url(/static/images/selected_bg_green.gif);
}

#sidebar li span.inactive {
  color: #59b259;
}

/* ======================================== */
/* general styles for "blocks" */

div.handle {
  background-color: #060;
}

/* ======================================== */
/* rules for specific blocks */

div.pdbImageFragment {
	background: #DDD;
    border-color: #060;
}

h4.pdbTitle  {
	color: #060;
}

