
/* family.css
   jt6 20060413 WTSI

   Stylesheet for the items that are specific to the tab layout for
   the Pfam family pages.

   $Id: family.css,v 1.17 2006-10-23 12:06:53 jt6 Exp $
*/   

/*
background: #e7edf3 (Prime 1, 10%)
inactive:   #83a4c3 (Prime 1, 50%)
highlight/border: #074987 (Prime 1, 100%)
*/

/* ======================================== */
/* components of the remainder of the page */

#spacer {
  background-color: #e7edf3; /* Prime 1 */
}

#contentContainer {
  background-color: #e7edf3; /* Prime 1 */
  background-image: url(/catalyst/PfamWeb/images/family/page_border.gif);
}

#wrap {
  background: url(/catalyst/PfamWeb/images/family/bg.gif) repeat-y 15% 0;
}

/* ======================================== */
/* rules for specific blocks */

div.pdbImageFragment {
	background: #e7edf3;
    border-color: #074987;
}

div.blockContent ol {
    margin-right: 210px;
}

.pdbTitle  {
  color: #074987;
  font-weight: bold
}

#tableLabel {
  padding-top: 0.4em;
}

/* ---------------------------------------- */

#alignmentTree img {
    border: 1px solid #CCC;
}

#structuresListTable {
  background: #BBB;
}

#structuresListTable th {
  padding: 0.4em;
}

#structuresListTable td {
  padding: 0.2em 0.4em;
}

#structuresListTable tr.newRow td {
  border-top: 1px solid #BBB;
}

#unpId {
  width: 6em;
}
#unpRes {
  width: 6em;
}
#pdbId {
  width: 4em;
}
#chId {
  width: 3em;
}
#pdbRes {
  width: 6em;
}

#alignmentData {
  width: 55em;
  font-family: mono, Courier;
  font-size: smaller;
  overflow: auto;
}
#alignmentData span {
  white-space: nowrap;
}

#alignmentKey {
  width: 12em;
  font-family: mono, Courier;
  font-size: smaller;
  overflow: auto;
  float: left;
}
#alignmentKey span {
  display: block;
}

#alignmentKey span.odd {
  background: #BAB;
}
#alignmentKey span.even {
  background: #CBC;
}

#domainsBlock img {
  display: block;
  padding: 0.4em;
}

/* ---------------------------------------- */
/* alignment tab */

table.alignOpts td {
	text-align: left;
    vertical-align: middle;
}

table.alignOpts td.label {
	text-align: right;
}

table.alignOpts td span {
	width: 12em;
    display: block;
    float: left;
}

/* ---------------------------------------- */
/* species tree styles */

.highlightSeed {
	background: #CBD;
}

td.nodeSummaryCell {
	width: 16em;
}

div.nodeSummary {
	margin-left: 0.2em;
}

div.nodeSummary div {
    float: left;
    border-width: 1px;
	border-style: solid;
    width: 2.5em;
	height: 1.2em;
    padding: 0.1em;
    margin: 0.1em;
	text-align: center;
}

.specSum {
	background: #FDD;
    border-color: #B99;
}
.seqSum {
	background: #DFD;
    border-color: #9B9;
}
.domSum {
	background: #DDF;
    border-color: #99B;
}

#treeTools {
	width: 18em;
    padding: 0.2em;
	float: right;
    border: 1px solid #AAA;
    background: #e8e8e8;
	opacity: 0.75;
}

#treeTools ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#treeTools li {
    padding: 0.2em 0;
}

#treeTools h3 {
    font-size: 1em;
    padding: 0.4em 0 0.2em 0;
    margin: 0;
}

#treeToolsHeader h3 {
    margin: 0;
    padding: 0.2em 0;
	float: left;
}

#toolsToggle {
    cursor: pointer;
	float: right;
    padding: 0.2em 0;
}