
/* family.css
   jt6 20060413 WTSI

   Stylesheet for the items that are specific to the tab layout for
   the Pfam family pages.

   $Id: family.css,v 1.7 2006-07-07 16:09:52 jt6 Exp $
*/   

/* ======================================== */
/* page layout items */

/* styles for the markup that forms the page tab */
#tabTitle {
	color: #074987;
}

#pageType {
    border-color: #074987;
}

#pageType h2 {
  color: #074987;
/*    background: #074987; */
}

/* ======================================== */
/* components of the remainder of the page */

/* 
div#contentContainer
  div#wrap
    div#sidebar
    div#content
*/

#contentContainer {
  background-color: #c2d2e1;
  background-image: url(/images/family/page_border.gif);
}

#wrap {
  position: relative; /* needed to fix the IE peekaboo bug... */
  background: url(/images/family/bg.gif) repeat-y 15% 0;
}

#content {
  border-top-color: #4577a5;
}

/* the left column navigation bar */

#sidebar {
    border-bottom-color: #4577a5;
}

#sidebar li a {
  color: #074987;
}

#sidebar li.selected a {
  border-color: #4577a5;
  background-image: url(/images/family/selected_bg.gif);
}

#sidebar li div.inactive {
  color: #8daac4; /* was 7c99b3 */
}

#footer {
  border-top-color: #4577a5;
}

/* ======================================== */
/* general styles for "blocks" */

div.handle {
  background-color: #074987;
}

/* ======================================== */
/* rules for specific blocks */

div.pdbImageFragment {
	background: #e7edf3;
    border-color: #074987;
}

h4.pdbTitle  {
	color: #074987;
}

#tableLabel {
  padding-top: 0.4em;
}

/* ---------------------------------------- */

#alignmentTree img {
    border: 1px solid #CCC;
}

#structuresListTable {
  background: #BBB;
}

#structuresListTable th {
  padding: 0.4em;
}

#structuresListTable td {
  padding: 0.2em 0.4em;
}

#structuresListTable tr.newRow td {
  border-top: 1px solid #BBB;
}

#unpId {
  width: 6em;
}
#unpRes {
  width: 6em;
}
#pdbId {
  width: 4em;
}
#chId {
  width: 3em;
}
#pdbRes {
  width: 6em;
}

#alignmentData {
  width: 55em;
  font-family: mono;
  font-size: smaller;
  overflow: auto;
}
#alignmentData span {
  white-space: nowrap;
}

#alignmentKey {
  width: 12em;
  font-family: mono;
  font-size: smaller;
  overflow: auto;
  float: left;
}
#alignmentKey span {
  display: block;
}
#alignmentKey span.odd {
  background: #BAB;
}
#alignmentKey span.even {
  background: #CBC;
}

#domainsBlock img {
  display: block;
  padding: 0.4em;
}