
/* forms.css
   jt6 20061020 WTSI

   Stylesheet for various forms in the site.

   $Id: forms.css,v 1.5 2007-01-15 15:30:26 jt6 Exp $
*/   

/* ---------------------------------------- */
/* the annotation form */

/* the "add annotation" button image */
img.addAnnotation {
	width: 100px;
    height: 24px;
	vertical-align: middle;
    padding-bottom: 3px;
	border-style: none;
}

/* styles for the annotation form itself */
.formWrapper fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.formWrapper span.row {
  width: 100%;
  float: left;
  clear: both;
  margin: 0.2em;
}

.formWrapper label {
  font-weight: bold;
  width: 14em;
  text-align: right;
  float: left;
  padding: 0.2em;
  margin: 0.3em;
}

.formWrapper input,
.formWrapper textarea,
.formWrapper select {
  border: 1px solid #074987;
  background: #f5faff;
  margin: 0;
  padding: 0.2em;
}

.formWrapper input.submit,
.formWrapper input.reset,
.formWrapper input.example {
  margin: 0.1em;
  padding: 0.1em;
}

#annForm input.submit,
#annForm input.reset {
  margin: 0.1em 0.1em 0.1em 13.5em;
}

/* error messages */
.formWrapper span.error_messages {
  float: left;
  padding: 0;
  margin: 0 0.1em 0.6em 14.9em;
  color: #700;
  font-weight: bold;
}

/* ---------------------------------------- */
/* search forms */

#psfd input.submit,
#ksfd input.submit {
	margin: 0.1em 0.1em 0.1em 12.1em;
}

span.buttons {
	float: left;
}

div.domainList {
	float: left;
    border: 1px solid #009;
	background: #EEF;
    padding: 0.2em;
	margin: 0.5em;
}

div.domainList select {
	border: 1px solid #074987;
    background: #f5faff;
}

#idList {
	background: #EEF;
	border-color: #99D;
}

#haveList {
	background: #EFE;
	border-color: #9D9;
}

#notList {
	background: #FEE;
	border-color: #D99;
}
