
/* interactions.css
   jt6 20060421 WTSI

   Stylesheet for the items that are specific to the tab layout for
   the iPfam pages.

   $Id: ipfam.css,v 1.3 2006-07-14 12:55:12 jt6 Exp $
*/   

/* ======================================== */
/* page layout items */

/* styles for the markup that forms the page tab */
#tabTitle {
	color: #074987;
}

#pageType {
    border-color: #074987;
}

#pageType h2 {
  color: #6f63a2;
/*    background: #074987; */
}

/* ======================================== */
/* components of the remainder of the page */

#spacer {
  background-color: #f0e8e6; /* natural 9 */
}

#contentContainer {
  background-color: #f0e8e6; /* natural 9 */
  background-image: url(/images/ipfam/page_border.gif);
}

#wrap {
  position: relative; /* needed to fix the IE peekaboo bug... */
  background: url(/images/ipfam/bg.gif) repeat-y 15% 0;
}

#content {
  border-top-color: #6f63a2;
}

/* the left column navigation bar */

#sidebar {
    border-bottom-color: #6f63a2;
}

#sidebar li a {
  color: #074987;
}

#sidebar li.selected a {
  border-color: #6f63a2;
  background-image: url(/images/selected_bg.gif);
}

#sidebar li span.inactive {
  color: #83a4c3;
}

#footer {
  border-top-color: #6f63a2;
}

/* ======================================== */
/* general styles for "blocks" */

div.handle {
  background-color: #074987;
}

/* ======================================== */
/* rules for specific blocks */

div.pdbImageFragment {
	background: #e7edf3;
    border-color: #6f63a2;
}

h4.pdbTitle  {
	color: #074987;
}

