
/* family_ie.css
   jt6 20060406 WTSI.

   IE stylesheet to handle transparency...
   
   $Id: protein_ie.css,v 1.1 2006-05-15 10:51:23 jt6 Exp $
*/

hr.short {
    border-color: #074987;
}

/* the curved corner for the page top tab */
/* redundant if we switch to a GIF rather than a PNG...
#icons {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/images/right_top.png",sizingMethod="crop");
}
*/
