
/* protein
   jt6 20060413 WTSI

   Stylesheet for the items that are specific to the tab layout for
   the Pfam protein pages.

   $Id: protein.css,v 1.6 2006-07-14 12:55:12 jt6 Exp $
*/   

/* ======================================== */
/* page layout items */

/* styles for the markup that forms the page tab */
#tabTitle {
	color: #074987;
}

#pageType {
    border-color: #074987;
}

#pageType h2 {
  color: #074987;
/*    background: #074987; */
}

/* ======================================== */
/* components of the remainder of the page */

#spacer {
  background-color: #e6f2ee; /*  natural 4 */
}

#contentContainer {
  background-color: #e6f2ee; /*  natural 4 */
  background-image: url(/images/protein/page_border.gif);
}

#wrap {
  position: relative; /* needed to fix the IE peekaboo bug... */
  background: url(/images/protein/bg.gif) repeat-y 15% 0;
}

#content {
  border-top-color: #074987;
}

/* the left column navigation bar */

#sidebar {
    border-bottom-color: #074987;
}

#sidebar li a {
  color: #074987;
}

#sidebar li.selected a {
  border-color: #074987;
  background-image: url(/images/selected_bg.gif);
}

#sidebar li div.inactive {
  color: #83a4c3;
}

#footer {
  border-top-color: #074987;
}

/* ======================================== */
/* general styles for "blocks" */

div.handle {
  background-color: #074987;
}

/* ======================================== */
/* rules for specific blocks */

div.source {
	float: left;
    width: 16em;
	padding: 0.2em;
}

div.source span.checkboxLabel {
	float: left;
}

div.source input {
	float: left;
}
/* ---------------------------------------- */
/* DAS features */

#updatePanel {
    border: 1px solid #CCC;
	margin-top: 0.4em;
    padding: 0.2em;
}

#featuresMap {
	border: 1px solid #CCC;
}

p.featuresLabel {
	float: left;
    width: 6em;
    margin: 2px;
	text-align: right;
 clear: left;
}

img.featuresImage {
	float: left;
    margin-left: 6em;
    border: none;
    margin: 2px;
}

#tracks {
  border: none;
}

#highlight {
  /* need this to avoid IE making the box way bigger than specified... */
  font-size: 1px; 
  background: #99F;
  border: 1px solid #66C;
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  left: 0;
  top: 0;
  z-index: 1;
}

#cursor {
  font-size: 1px; 
  background: #CCC;
  display: none;
  width: 1px;
  height: 10px;
  position: absolute;
}

#status {
  padding: 2px;
  border: 1px solid #CCC;
  border-top: none;
  background: #EEE;
}

#pgUpdateSpinner {
	display: inline;
}

div.sequenceLine {
    margin: 0;
	padding: 0;
    clear:both;
	font-family: mono, Courier;
    font-size: 0.8em;
}

div.leftAlignmentLabel {
	margin: 0;
	padding: 0.1em 0.4em;
    float: left;
	text-align: right;
    width: 4em;
}

div.alignmentRow {	
	margin: 0;
	padding: 0.1em;
    float: left;
}

div.rightAlignmentLabel {
	margin: 0;
	padding: 0.1em;
	text-align: right;
    float: left;
    width: 3em;
}

#plainSequence {
	font-family: mono, Courier;
    font-size: 0.8em;
    margin: 0.2em;
    padding: 0.2em;
	border: 1px solid #CCC;
    background: #DDD;
	float: left;
}