
/* tab_layout_ie.css
   jt6 20060418 WTSI.

   IE stylesheet to apply various fixes for IE inadequacies and bugs
   
   $Id: tab_layout_ie.css,v 1.6 2006-09-11 10:28:31 jt6 Exp $
*/

hr.short {
    display: inline;
	height: 1px;
	border: none;
	border-top-width: 1px;
    border-top-style: solid;
    width: 80%;
}

/* the individual icons in the overview bar */
#seqIcon {
    background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/catalyst/PfamWeb/images/logos/alignment.png",sizingMethod="crop");
}

#archIcon {
    background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/catalyst/PfamWeb/images/logos/domains.png",sizingMethod="crop");
}

#structIcon {
    background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/catalyst/PfamWeb/images/logos/structure.png",sizingMethod="crop");
}

#ipfamIcon {
    background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/catalyst/PfamWeb/images/logos/ipfam.png",sizingMethod="crop");
}

#specIcon {
    background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/catalyst/PfamWeb/images/logos/tree.png",sizingMethod="crop");
}

/* turn off the background for the active tab in the sidebar. The IE filter
   just doesnt work... */
#sidebar li.selected {
    background-image: none;
/*    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/catalyst/PfamWeb/images/layout/wide_tab_shadow.png",sizingMethod="crop"); */
}

/* the shadow under the main content. Just turn it off for now, because the 
   shadow under the tab doesnt work and it would be wierd to have one but not
   the other */
#footer {
    background-image: none;
/*    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/catalyst/PfamWeb/images/layout/wide_tab_shadow.png",sizingMethod="crop"); */
/*  move the footer across to avoid an overhanging bit of background. That would
    be the IE box model bug I think... */
    left: 4px;
}

/* we need a spacer div inside the wrapper around the content and sidebar, to 
   avoid the IE peekaboo bug. In real browsers we can set the height of this to
   zero and it will essentially disappear, but in IE it has to have height: auto
   otherwise it disappears... taking the whole page contents with it. Dont you
   just love IE ? */
#spacer {
  height: auto;
}


