
/* tabs.css
   jt6 20060406 WTSI

   Stylesheet for the items that are specific to the tab layout for
   the Pfam family pages.

   $Id: tabs.css,v 1.9 2006-04-10 13:06:59 jt6 Exp $
*/   

/* ======================================== */
/* page layout items */


/* the stripe between the page header and the top of the tab */
#tabHeader {
    background: #3b70a0;
    height: 6px;
}

/* styles for the markup that forms the page tab */
#tabTitle {
    background: url(/static/images/double_gradient.gif) repeat-y 15% bottom;
	color: #074987;
    min-height: 50px;
    margin: 0;
    padding: 0 0 2px 0;
}

.cleaner {
    clear: both;
    height: 1px;
    margin: 0;
    padding: 0;
}

#corner h2 {
	margin: 0;
	padding: 0.2em;
    float: left;
}

#corner {
    background: url(/static/images/left_curve.gif) no-repeat top left;
    padding: 12px 0.4em 0.4em 0.4em;
}

#pageType {
    margin: 0;
    padding: 1px;
    float: left;
    border: 1px solid #074987;
}

#pageType h2 {
    color: #fefefe;
	margin: 0;
    padding: 0.1em;
    background: #074987;
}

/* the overview bar */
#icons {
    float: right;
    background: url(/static/images/right_top.png) top left no-repeat;
    margin: 0;
    padding: 0 0 6px 40px;
}

#icons a,
#icons span {
    outline: none;
	color: #fefefe;
    text-decoration: none;
	float: left;
	padding: 22px 0.4em 0.2em 0.4em;
	text-align:center;
    background-repeat: no-repeat;
	background-position: center -2px;
    font-size: smaller;
}

#icons span {
    color: #BBB;
    font-size: smaller;
}

#icons a:hover {
    outline: none;
    text-decoration: underline;
}

#icons a em,
#icons span em {
    font-weight: bold;
    font-style: normal;
}


/* the logos for the overview */
#seqIcon	{ background-image: url(/static/images/logos/alignment.png) }
#archIcon	{ background-image: url(/static/images/logos/domains.png) }
#structIcon	{ background-image: url(/static/images/logos/structure.png) }
#ipfamIcon	{ background-image: url(/static/images/logos/ipfam.png) }
#specIcon	{ background-image: url(/static/images/logos/tree.png) }

/* ======================================== */
/* components of the remainder of the page */

/* the left column navigation bar */

#sidebar {
    clear: both;
	background: url(/static/images/sidebar_bg.gif) repeat-y right 0;
    border-bottom: 1px solid #4577a5;
    padding: 0.4em 0;
    width: 15%;
    float: left;
	margin-bottom: 0.4em;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar li a {
  outline: none;
/*  border-bottom: 1px solid #83a4c3;
  border-right: 1px solid #4577a5; */
  margin: 0;
  padding: 0.2em 0 0.2em 0.6em;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #074987;
}

#sidebar li a:hover {
  text-decoration: underline;
}

#sidebar li.selected {
  background: url(/static/images/tab_shadow.png) no-repeat bottom left;
  margin-left: 0.2em;
  padding: 0 0 5px 0;
}

#sidebar li.selected a {
  outline: none;
  background: url(/static/images/selected_bg.gif);
  border: 1px solid #4577a5;
  border-right: none;
  padding: 0.2em 0 0.2em 0.4em;
}

#sidebar li.selected a:hover {
  text-decoration: none;
}

#sidebar li span.inactive {
  margin: 0;
  padding: 0.2em 0 0.2em 0.6em;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #7c99b3;
}

/* the main page content */

#content {
  margin: 0;
  width: 85%;
  float: right;
}

/* ======================================== */
/* general styles for "blocks" */

div.block {
  margin: 0.4em;
  display: none;
}

div.handle {
  color: #FEFEFE;
  padding: 0.2em;
  background-color: #074987;
  background-repeat: no-repeat;
  background-position: center right;
}

div.handle h1 {
  font-size: 1.5em;
  display: inline;
  padding: 0.4em 0;
}

div.blockContent {
  padding: 0.4em;
  border-top: none;
  font-size: smaller;
}

/* ======================================== */
/* rules for specific blocks */

/* the (currently grey-scale) logos for the individual tab titles */

#summaryBlock	div.handle { background-image: url(/static/images/pfam_logo.png) }
#interproBlock	div.handle { background-image: url(/static/images/open_book.png) }
#buildBlock		div.handle { background-image: url(/static/images/hammer.png) }
#pfamBlock		div.handle { background-image: url(/static/images/pfam_logo.png) }
#domainsBlock	div.handle { background-image: url(/static/images/pfam.png) }

#domainsBlock .blockContent {
	overflow: auto;
    max-height: 400px;
}
div.domain {
	padding: 6px;
}

#tabSummaryBlock {
  display: block;
}

div.pdbImageFragment {
	background: #e7edf3;
    border: 1px solid #074987;
	float: right;
    margin: 0.2em;
	padding: 0.3em;
    width: 200px;
}

h4.pdbTitle  {
	color: #074987;
    display: inline;
}

hr.short {
	height: 1px;
	border: none;
	border-top: 1px solid #074987;
    width: 80%;
}


/* ======================================== */
/* junk */

#newEntryForm {
	display: none;        /* N.B. */
    margin-top: 50px;
    padding: 0.4em;
    font-weight: bold;
    color: #074987;
}

#idField {
  border: 2px solid #074987;
}

#idSubmit {
  border: 2px solid #074987;
  background: #4577a5;
  color: #c2d2e1;
}

