[% 
# families_text.tt
# jt6 20080326 WTSI
#
# template for serialising the list of all Pfam-A families to plain text
#
# $Id: families_text.tt,v 1.4 2008-05-07 10:37:06 jt6 Exp $

USE date;

META naked = 1;

-%]
# list of all Pfam-A families, generated: [% date.format %]
# pfam release [% relData.pfam_release %], release date [% relData.pfam_release_date %]
[% FOREACH pfam IN entries;
pfam.pfamA_acc; "\t"; pfam.pfamA_id; "\t"; pfam.description %]
[% END -%]
