[% 
# families_pfamalyzer.tt
# jt6 20110711 WTSI
#
# template for serialising the list of all Pfam-A families to plain text, in
# a format suitable for use by PfamAlyzer.
#
# $Id$

META naked = 1;

FOREACH pfam IN entries;
  clan_acc = pfam.member.clan.clan_acc;
  pfam.pfama_id _ "\t" _ pfam.pfama_acc; # not sure why the leading "" is needed, but
  "\t" _ clan_acc IF clan_acc;                # not having it make a leading tab appear...
  UNLESS ( loop.last ); %]
[% END;
END;

# Copyright (c) 2011: Genome Research Ltd.
# 
# Authors: John Tate (jt6@sanger.ac.uk)
# 
# This is free software; you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation; either version 2 of the License, or (at your option) any later
# version.
# 
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
# details.
# 
# You should have received a copy of the GNU General Public License along with
# this program. If not, see <http://www.gnu.org/licenses/>.
-%]
