[% 
# pfama_xml.tt
# jt6 20071123 WTSI
#
# template for serialising Pfam-A data to XML format
#
# $Id: pfama_xml.tt,v 1.4 2008-05-16 15:31:06 jt6 Exp $

USE date;

META naked = 1;

baseUri = "http://pfam.sanger.ac.uk/";
-%]
<?xml version="1.0" encoding="UTF-8"?>
<!-- information on Pfam-A family [% pfam.pfamA_acc %] ([% pfam.pfamA_id %]), generated: [% date.format %] -->
<pfam xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="[% baseUri %]"
      xsi:schemaLocation="[% baseUri %]
                          [% baseUri %]static/documents/schemas/pfam_family.xsd"
      release="[% relData.pfam_release %]" 
      release_date="[% relData.pfam_release_date %]">
  <entry entry_type="Pfam-A" accession="[% pfam.pfamA_acc %]" id="[% pfam.pfamA_id %]">
    <description>
<![CDATA[
[% pfam.description | html %]
]]>
    </description>
    <comment>
<![CDATA[
[% pfam.comment | html %]
]]>
    </comment>
[% IF pfam.clan_acc -%]
    <clan_membership clan_acc="[% pfam.clan_acc %]" clan_id="[% pfam.clan_id %]" />
[% END;
CALL c.log.debug( "goTerms.size: |" _ goTerms.size _ "|" );
IF goTerms.size;
  categories = { 
    function  => { label   => "Molecular function",
                   goTerms => [] },
    process   => { label   => "Biological process",
                   goTerms => [] },
    component => { label   => "Cellular component",
                   goTerms => [] }
  };
  FOREACH goTerm IN goTerms;
    categories.${goTerm.category}.goTerms.push( goTerm ); 
  END -%]
    <go_terms>
[% FOREACH categoryName IN categories.keys.sort;
      category = categories.${categoryName};
      NEXT UNLESS category.goTerms.size -%]
      <category name="[% categoryName %]">
[% FOREACH goTerm IN category.goTerms.sort('go_id') -%]
        <term go_id="[% goTerm.go_id %]">[% goTerm.term %]</term>
[% END -%]
      </category>
[% END -%]
    </go_terms>
[% END; # of "if goTerms" -%]
    <curation_details>
      <status>[% pfam.change_status %]</status>
      <seed_source>[% pfam.seed_source %]</seed_source>
[% IF pfam.previous_id -%]
      <previous_id>[% pfam.previous_id %]</previous_id>
[% END -%]
      <num_archs>[% pfam.number_archs %]</num_archs>
      <num_seqs>
        <seed>[% pfam.num_seed %]</seed>
        <full>[% pfam.num_full %]</full>
      </num_seqs>
      <num_species>[% pfam.number_species %]</num_species>
      <percentage_identity>[% pfam.percentage_id %]</percentage_identity>
      <av_length>[% pfam.average_length %]</av_length>
      <av_coverage>[% pfam.average_coverage %]</av_coverage>
    </curation_details>
    <hmm_details hmmer_version="[% relData.hmmer_version %]" model_version="[% pfam.version %]" model_length="[% pfam.model_length %]">
      <ls>
        <build_commands>[% pfam.hmmbuild_ls %]</build_commands>      
        <cutoffs>
          <gathering>
            <sequence>[% pfam.ls_sequence_GA | format( "%.1f" ) %]</sequence>
            <domain>[% pfam.ls_domain_GA | format( "%.1f" ) %]</domain>
          </gathering>
          <trusted>
            <sequence>[% pfam.ls_sequence_TC | format( "%.1f" ) %]</sequence>
            <domain>[% pfam.ls_domain_TC | format( "%.1f" ) %]</domain>
          </trusted>
          <noise>
            <sequence>[% pfam.ls_sequence_NC | format( "%.1f" ) %]</sequence>
            <domain>[% pfam.ls_domain_NC | format( "%.1f" ) %]</domain>
          </noise>
        </cutoffs>
      </ls>    
      <fs>
        <build_commands>[% pfam.hmmbuild_fs %]</build_commands>
        <cutoffs>
          <gathering>
            <sequence>[% pfam.fs_sequence_GA | format( "%.1f" ) %]</sequence>
            <domain>[% pfam.fs_domain_GA | format( "%.1f" ) %]</domain>
          </gathering>
          <trusted>
            <sequence>[% pfam.fs_sequence_TC | format( "%.1f" ) %]</sequence>
            <domain>[% pfam.fs_domain_TC | format( "%.1f" ) %]</domain>
          </trusted>
          <noise>
            <sequence>[% pfam.fs_sequence_NC | format( "%.1f" ) %]</sequence>
            <domain>[% pfam.fs_domain_NC | format( "%.1f" ) %]</domain>
          </noise>
        </cutoffs>
      </fs>
    </hmm_details>
  </entry>
</pfam>
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
