
[%
# load_requirements.tt
# jt6 20080529 WTSI
# 
# build the necessary page header lines to load dynamically required
# stylesheets and javascript files. Relies on a hash (allRequirements), which
# should look like this:
#
# allRequirements = { local  => { uri  => "uri for assets specific to this app",
#                                 reqs => requirements },
#                     shared => { uri  => "uri for assets from PfamBase",
#                                 reqs => sharedRequirements } };
#
# where "requirements" and "sharedRequirements" are the hashes that are built
# up in the various templates that construct a page.
# 
# $Id: load_requirements.tt,v 1.2 2009-06-09 12:35:11 jt6 Exp $

# somewhere to aggregate the lists of requirements from all templates
cssIncludes = [];
cssIeIncludes = [];
cssIeAllIncludes = [];
jsIncludes  = [];
jsIeIncludes = [];

# merge the requirements
USE String;
USE dumper;

FOREACH location IN allRequirements.keys;
  uri  = allRequirements.${location}.uri
  reqs = allRequirements.${location}.reqs;
  FOREACH filetype IN reqs.keys;
    SWITCH filetype;
      CASE "css";
        FOREACH stylesheet IN reqs.css;
          cssIncludes.push( "<link rel='stylesheet' href='$uri/css/$stylesheet' type='text/css' />" );
        END;
      CASE "cssIe";
        FOREACH stylesheet IN reqs.cssIe;
          cssIeIncludes.push( "<link rel='stylesheet' href='$uri/css/$stylesheet' type='text/css' />" );
        END;
      CASE "cssIeAll";
        FOREACH stylesheet IN reqs.cssIeAll;
          cssIeAllIncludes.push( "<link rel='stylesheet' href='$uri/css/$stylesheet' type='text/css' />" );
        END;
      CASE "js";
        FOREACH js IN reqs.js;
          jsIncludes.push( "<script type='text/javascript' src='$uri/javascripts/$js'></script>" );
        END;
      CASE "jsIe";
        FOREACH js IN reqs.jsIe;
          jsIeIncludes.push( "<script type='text/javascript' src='$uri/javascripts/$js'></script>" );
        END;
    END; # of SWITCH
  END; # of "FOREACH filetype"
END; # of "FOREACH location"
%]

<!-- required javascripts -->
[%-
# dump out the uniquified requirements for all browsers

# first javascripts
FOREACH script IN jsIncludes.unique %]
[% script;
END %]

<!-- javascripts applicable to IE -->
<!--[if IE]>
[%- FOREACH script IN jsIeIncludes %]
[% script;
END %]
<![endif]-->

<!-- styles applicable to all browsers -->
[%- FOREACH stylesheet IN cssIncludes.unique %]
[% stylesheet;
END %]

<!-- styles applicable to IE6 and below -->
<!--[if lt IE 7 ]>
  <link rel="stylesheet" href="[% staticUri %]/css/pfam_ie.css" type="text/css" />
[% IF cssIeIncludes.size;
  FOREACH stylesheet IN cssIeIncludes.unique %]
    [% stylesheet;
  END;
END -%]
<![endif]-->

<!-- styles applicable to all versions of IE -->
<!--[if IE ]>
  <link rel="stylesheet" href="[% staticUri %]/css/pfam_all_ie.css" type="text/css" / >
[% IF cssIeAllIncludes.size;
  FOREACH stylesheet IN cssIeAllIncludes.unique %]
    [% stylesheet;
  END;
END -%]
<![endif]-->
