
[%
# summary.tt
# jt6 20071008 WTSI
# 
# build the summary block for metagenomics sequences
#
# $Id: summary.tt,v 1.7 2009-12-07 22:33:16 jt6 Exp $

USE String;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

# we use the same stylesheets and JS for both uniprot and metaseq sequences 
requirements.css.push( "protein.css" );
requirements.cssIeAll.push( "protein_all_ie.css" );

requirements.js.push( "protein.js" );

# tooltip library and Pfam-style tip definition
requirements.js.push( "prototip.js" );
requirements.css.push( "prototip.css" );
requirements.js.push( "tip_definition.js" );

# this needs to be loaded before we try to load the canvas text library,
# but if we include it specifically for IE, it gets added below everything
# else. We can add it here safely, however, because excanvas checks to see
# if canvas is implemented before trying to inject itself
requirements.js.push( "excanvas.js" );

# need to load the canvas.text.js file before trying to load the font file, 
# otherwise it bails with an error about "face.glyphs is undefined"
requirements.js.push( "canvas.text.js?reimplement=true&amp;dontUseMoz=true" ); #reimplement=true&amp;
requirements.js.push( "faces/optimer-bold-normal.js" );

requirements.js.push( "domain_graphics.js" );
#-------------------------------------------------------------------------------

# a row counter
oe = 0;
-%]

<!-- start metaseq summary block -->

<div class="block" id="metaSummaryBlock">
  <div class="handle">
    <h1>Summary</h1>
  </div>
  <div class="blockContent">
    
    <h1>[% metaseq.metaseq_acc %]</h1>

    <p>
      This is the summary of MetaSeq entry [% metaseq.metaseq_acc;
      IF metaseq.metaseq_id; "("; metaseq.metaseq_id; ")"; END %].
    </p>

    <table class="layout" summary="Metaseq summary information">
      <tbody>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
          <td class="label">Description:</td>
          <td class="data"> 
            [% IF metaseq.description == "'None'" %]
              <span class="inactive">none</span>
            [% ELSE;
              metaseq.description.replace( "^'|'$", "" );
            END %]
          </td>
        </tr>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
          <td class="label">Length:</td>
          <td class="data">
            [% metaseq.length %] amino acids
          </td>
        </tr>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
          <td class="label">Source:</td>
          <td class="data">
            [% metaseq.long_source %]
            (<a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;dopt=Abstract&amp;list_uids=[% metaseq.pmid %]"
             class="ext">PMID:[% metaseq.pmid %]</a>)
          </td>
        </tr>
      </tbody>
    </table>

    <h2>Pfam domains</h2>

    [% IF imageKey.size %]
      <p>
        This image shows the arrangement of the Pfam domains that we found on 
        this sequence. Clicking on a domain will take you to the page describing 
        that Pfam entry. The table below gives the domain boundaries for each of 
        the domains. Note that some domains may be obscured by other, overlapping 
        domains. This is noted in the table where applicable.
      </p>
      <p class="small">
        <strong>Please note</strong> that partial domain matches and full length
        domain matches are represented in the same way for metagenomics sequences.
        This is not the case for the rest of Pfam, for which partial matches are 
        depicted with a jagged edge.
      </p>
    [% ELSE %]
      <p>
        There were no Pfam domains found on this sequence.
      </p>
    [% END %]

    <div class="summaryGraphic">
      [% image = imageset.each_image;
      CALL image.print_image;

      IF c.config.use_image_store;
        image_uri = c.uri_for( image.file_location );
      ELSE;
        image_uri = image.file_location;
      END; %]
      
      <img class="graphicImage" 
           src="[% image_uri %]" 
           alt="" 
           usemap="#singleImageMap" />
      [% IF image.image_map %]
        <map id="singleImageMap" name="singleImageMap">
          [% image.image_map %]
        </map>
      [% END %]
    </div>
    
    <div id="pgholder" class="pgholder"></div>

    [% # only show the key if there was a domain hit
    IF imageKey.size %]

      <table id="imageKey"
             class="details"
             summary="Key for the Pfam domain image">
        <thead>
          <tr>
            <th>Source</th>
            <th>Domain</th>
            <th>Start</th>
            <th>End</th>
          </tr>
        </thead>
        <tbody>
          [% oe = 0; 
          FOREACH row IN imageKey;
            IF row.colour;
              colour = " style=\"color: \#${row.colour}\"";
            END %]
            <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
              <td [% IF row.type.match( '(?i)pfama' ); colour %] class="pfamA"[% END %]>
                [% row.source ? row.source : row.type %]
              </td>
              <td>
                [% IF row.type.match( '(?i)pfama' ) %]
                  <a href="[% c.uri_for( "/family", { id = row.label } ) %]">
                    [% row.label %]</a>
                  [% IF row.hidden %] (hidden)[% END;
                ELSIF row.type.match( '(?i)pfamb' ) %]
                  <a href="[% c.uri_for( "/pfamb" { id = row.label } ) %]">
                    [% row.label %]</a>
                  [% IF row.hidden %] (hidden)[% END;
                END %]
              </td>
              <td>[% row.start %]</td>
              <td>[% row.end %]</td>
            </tr>
          [% END %]
        </tbody>
      </table>
      
    [% END %]
    
    <script type="text/javascript">
      // <![CDATA[

      var layout = [% layout || "[]" %];

      if ( layout.size() ) {
        $("imageKey").show();
      } else {
        $("imageKey").update( "There were no Pfam domains found on this sequence.")
                     .show();
      }
      
      var sequence = layout[0];

      var pg = new PfamGraphic( "pgholder", sequence );
      pg.setBaseUrl( "[% c.uri_for( '/' ) %]" );
      pg.render();

      // ]]>
    </script>

  </div> <!-- end of "blockContent" -->
</div>

<!-- end protein summary block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
