[%
# curation.tt
# jt6 20080314 WTSI
#
# the curation details for the curation section
#
# $Id: curation.tt,v 1.7 2009-06-10 10:46:17 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

sharedRequirements.js.push( "control.tabs.2.1.1.js" );

#-------------------------------------------------------------------------------

USE Number.Format( THOUSANDS_SEP = "," );
%]

<!-- start curation block -->

<div class="block" id="motifCurationBlock">
  <div class="handle">
    <h1>Curation and motif details</h1>
  </div>
  <div class="blockContent">

    <p>
      This section shows the detailed information about the Rfam motif.
      We're happy to receive updated or improved alignments for new or 
      existing families. 
      <a href="[% c.uri_for('/submit_alignment', { accession = acc, prefill = 1 } ) | html %]">
      Submit</a> your new alignment and we'll take a look.
    </p>

    <h2>Curation</h2>

  	[% oe = 0 %]

    <table class="layout" summary="Curation information for this family">
  	  <tbody>
        <tr class="[% oe % 2 ? 'odd' : 'even'; oe=oe+1 %]">
          <td class="label">Seed source</td>
          <td class="data">
              [% motif_curation.seed_source %]
          </td>
        </tr>
        <tr class="[% oe % 2 ? 'odd' : 'even'; oe=oe+1 %]">
          <td class="label">Structure source</td>
          <td class="data">
            [% IF motif_curation.structure_source.defined; motif_curation.structure_source | format( "%5.1f" );
            ELSE %]N/A[% END %]
          </td>
        </tr>
        <tr class="[% oe % 2 ? 'odd' : 'even'; oe=oe+1 %]">
          <td class="label">Type</td>
          <td class="data">
              [% motif_curation.type %]
          </td>
        </tr>
        <tr class="[% oe % 2 ? 'odd' : 'even'; oe=oe+1 %]">
          <td class="label">Author</td>
          <td class="data">[% motif_curation.author %]</td>
        </tr>
          <tr class="[% oe % 2 ? 'odd' : 'even'; oe=oe+1 %]">
  	      <td class="label">Alignment details</td>
  	      <td class="data">
  	        <table class="details" summary="Alignment details">
  	          <thead>
  	            <tr>
  	              <th>Alignment</th>
  	              <th>Number of<br />sequences</th>
  	              <th>Average length</th>
  	              <th>Sequence<br />identity (%)</th>
  	            </tr>
  	          </thead>
  	          <tbody>
  	            <tr class="even">
                  <td class="label">seed</td>
                  <td>[% motif.num_seed | format_number %]</td>
                    <td>[% motif.average_sqlen %]</td>
                    <td>[% motif.average_id * 100%]</td>
  	            </tr>
  	          </tbody>
  	        </table>
  	      </td>
  	    </tr>

      </tbody>
    </table>

    <h2>Model information</h2>

    <table class="layout" summary="Model information for this family">
      <tbody>
        <tr class="[% oe % 2 ? 'odd' : 'even'; oe=oe+1 %]">
          <td class="label">Build commands</td>
          <td class="data">
            <div>cmbuild [% motif.cmbuild %]</div>
            <div>cmcalibrate [% motif.cmcalibrate %]</div>
          </td>
        </tr>
        <tr class="[% oe % 2 ? 'odd' : 'even'; oe=oe+1 %]">
          <td class="label">Gathering cutoff</td>
          <td class="data">
            [% IF motif_curation.gathering_cutoff.defined; motif_curation.gathering_cutoff | format( "%5.1f" );
            ELSE %]N/A[% END %]
          </td>
        </tr>
        <tr class="[% oe % 2 ? 'odd' : 'even'; oe=oe+1 %]">
          <td class="label">Trusted cutoff</td>
          <td class="data">
           [% IF motif_curation.trusted_cutoff.defined; motif_curation.trusted_cutoff | format( "%5.1f" );
           ELSE %]N/A[% END %]
          </td>
        </tr>
        <tr class="[% oe % 2 ? 'odd' : 'even'; oe=oe+1 %]">
          <td class="label">Noise cutoff</td>
          <td class="data">
          [% IF motif_curation.noise_cutoff.defined; motif_curation.noise_cutoff | format( "%5.1f" );
           ELSE %]N/A[% END %]
          </td>
        </tr>
        <tr class="[% oe % 2 ? 'odd' : 'even'; oe=oe+1 %]">
          <td class="label">Covariance model</td>
          <td class="data">Download the Infernal CM for the motif <a href="[% c.uri_for( '/motif', acc, 'cm') | html %]"> here </a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<!-- end curation block --> 
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
