[%
# structures.tt
# jt6 20081208 WTSI
#
# the structures tab for the motif section
#
#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";
sharedRequirements.js.push( "tablekit.js" );

sharedRequirements.js.push(  "lightbox2.js" );
sharedRequirements.css.push( "lightbox2.css" );

#-------------------------------------------------------------------------------

USE Number.Format( THOUSANDS_SEP = "," );
USE String;
%]

<!-- start structures block -->

<div class="block" id="motifStructuresBlock">
  <div class="handle">
    <h1>Structures</h1>
  </div>
  <div class="blockContent">
    <div id="motifStructuresTab">
    
    <p>
    There are <strong>[% motif_structures.count %]</strong> PDB entires which have been used to build the motif model.
    <br><br>
    The table of results below may be sorted by clicking on the column titles, or
    restored to the original order <span class="link" id="sortLink">here</span>.
    </p>

   [% IF motif_structures.count %]
     <table summary="Motif Structures"
         id="motifStructuresTable"
         class="details">
      <thead class="sortIndicator">
        <tr>
          <th id="indexCol" class="rowNum">Original order</th>
          <th>PDB ID</th>
          <th>PDB chain ID</th>
          <th>PDB Residues</th>
        </tr>
      </thead>
      <tbody>
        [% WHILE (pdb = motif_structures.next) ; %]
          <tr class="[% loop.parity %]">
            <td class="rowNum">[% loop.index %]</td>
            <td>
            <a name="ref[% loop.index %]"
             class="ext"
             href="http://www.rcsb.org/pdb/explore.do?structureId=[% pdb.pdb_id %]">
            [% pdb.pdb_id %] </a></td>
            <td>[% pdb.chain %]</td>
            <td>[% pdb.pdb_start %] - [% pdb.pdb_end %]</td>
        </tr>
        [% END %]
    </tbody>
  </table>

  [% END %]

  <script type="text/javascript">
    // <![CDATA[

    var sorter = new TableKit( "motifStructuresTable",
                               {
                                 editable: false,
                                 resizable: false,
                                 rowEvenClass: "even",
                                 rowOddClass: "odd",
                                 stripe: true,
                                 observers: {
                                   onSortStart: function( table, event ) {
                                     table.down("thead").removeClassName("sortIndicator");
                                   }
                                 }
                               } );

    if ( $("sortLink") ) {
      $("sortLink").observe( "click", function() {
        sorter.sort(0);
      } );
    }

    // ]]>
  </script>


    </div>
  </div>
</div>


<!-- end sequences block --> 

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
