[%
# config_crons.tt
# jt6 20120119 WTSI
# 
# build the block detailing the configuration of the crons in the VM
#
# $Id$

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "help.css" );
requirements.cssIeAll.push( "help_ie.css" );

#-------------------------------------------------------------------------------
-%]

<!-- start configure crons block -->

<div class="block" id="vmConfigureCronsBlock">
  <div class="handle">
    <h1>Configure cron jobs</h1>
  </div>
  <div class="blockContent">

<pre>

This file explains how to configure the cron jobs that maintain some
of the ancillary data needed by the website.

jt6 20111012 WTSI

There are three cron scripts on the VM:

  mapping_cron.pl
  scrape_cron.pl
  update_das_sources.pl

The first script is responsible for updating the live mapping between
Pfam families and Wikipedia articles. The second downloads the content
of any Wikipedia articles that are referenced by a Pfam family. The
final script updates the list of available DAS sources from the DAS
registry.


1. Edit the cron script configuration file
==========================================

All three scripts deposit data in the "web_user" database. The database
connection parameters are given in:

  └── opt/
      └── www/
          └── conf/
              └── crons.conf

The connection parameters are given in a slightly different format in
this file, compared to the other configuration files, but the host name,
port and account details will be the same:

  <WebUser>
    db_name  web_user
    db_host  database_server
    db_port  3306
    username webuser
    password <password>
  </WebUser>

You can use the same database account for this as for the web_user
database in the PfamWeb configuration.

If you need to use a web proxy to access the web, you will need to
configure it in two places for the cron scripts.

First, in the "crons.conf" file, set it on the "das_proxy" line:

  das_proxy "http://<proxy server>:<proxy port>"

Leave the value blank if you don't have to use a proxy.


2. Configure the crontab
========================

If you need to use a proxy, that also needs to be set in the crontab
file. Edit the crontab:

  pfamadmin@ubuntu:~$ crontab -e
  
which will drop you into your configured editor. If you would prefer to
use a different editor, you can quit without saving and then choose a
different one using the "select-editor" command at the shell prompt.

In the crontab file, look for the line:

  # http_proxy=http://<proxy server>:<proxy port>

Add your server name and port then uncomment the line by removing the
leading "#". If you don't need to use a proxy, leave that line
untouched.

By default, the output of the cron scripts will be sent to the
"pfamadmin" user on the local machine. If you would prefer to choose a
different address to receive these logging emails, set the values of
"MAILTO" as appropriate.


3. Enable the cron scripts
==========================

Again in the crontab ("crontab -e"), look for the following three lines and
remove the leading "#" to enable the jobs:

  #   00  00,12       *  *  *  $PERLBIN /opt/www/PfamScripts/wiki/mapping_cron.pl -c $CRON_CONFIG
  #   01  01,13       *  *  *  $PERLBIN /opt/www/PfamScripts/wiki/scrape_cron.pl -c $CRON_CONFIG
  #   30  01          *  *  *  $PERLBIN /opt/www/PfamBackend/scripts/update_das_sources.pl -c $CRON_CONFIG

Save the file and exit the editor to install the new crontab.


4. Update the Wikipedia mapping and content
===========================================

You can now wait until the cron scripts run automatically over night, or
you can run them manually to populate the two relevant tables
immediately.

To run the scripts:

  pfamadmin@ubuntu:~$ http_proxy=http://<proxy server>:<proxy port>
  pfamadmin@ubuntu:~$ PERL5LIB=/opt/www/PfamLib:/opt/www/PfamSchemata
  pfamadmin@ubuntu:~$ PERLBIN=/usr/bin/perl
  pfamadmin@ubuntu:~$ CRON_CONFIG=/opt/www/conf/crons.conf
  pfamadmin@ubuntu:~$ $PERLBIN /opt/www/PfamScripts/wiki/mapping_cron.pl -c $CRON_CONFIG
  main:::90 INFO: retrieved 2091 article-to-entry rows for db rfam
  main:::90 INFO: retrieved 4916 article-to-entry rows for db pfam
  main:::97 INFO: got 7007 accessions in final mapping

  pfamadmin@ubuntu:~$ $PERLBIN /opt/www/PfamScripts/wiki/scrape_cron.pl -c $CRON_CONFIG
  ...


Useful links
============

http://en.wikipedia.org/wiki/Cron

</pre>
  </div>
</div>

<!-- end configure crons block -->
[%#
Copyright (c) 2012: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
