[%
# config_vm.tt
# jt6 20120119 WTSI
# 
# build the block detailing configuration of the VM
#
# $Id$

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "help.css" );
requirements.cssIeAll.push( "help_ie.css" );

#-------------------------------------------------------------------------------
-%]

<!-- start configure VM block -->

<div class="block" id="vmConfigureVMBlock">
  <div class="handle">
    <h1>Configure the virtual machine</h1>
  </div>
  <div class="blockContent">

<pre>
This file documents the steps needed to set up the virtual machine
itself.

jt6 20111012 WTSI


1. Change the "pfamadmin" password
==================================

On traditional unix systems, the user "root" had total control over all files
and processes. With modern linux distributions such as Ubuntu, there is no
root user, but individual user accounts are granted "super-user" permissions
for certain operations using the "sudo" command. 

This VM comes configured with a single user account, "pfamadmin", with a
default password of "admin password". Since this account can be used to make
any change to the system, it's important to reset the password immediately. 

Use the "passwd" command. You will be asked to give the old password ("admin
password") and then to enter the new password twice. 

  pfamadmin@ubuntu:~$ passwd
  Changing password for pfamadmin.
  (current) UNIX password: 
  Enter new UNIX password: 
  Retype new UNIX password: 
  passwd: password updated successfully
  pfamadmin@ubuntu:~$

If you'll be logging into the VM frequently, you'll probably want to set up
passwordless logins, using public/private keys for authentication instead:

  https://help.ubuntu.com/11.10/serverguide/C/openssh-server.html


2. Configure a web-proxy
========================

Some institutions require their users to access the wider internet through a
network gateway, or "proxy". Any software that needs to access the network
will need to be configured to direct requests through the proxy.

"apt-get"
---------

Ubuntu uses a packaging system for installing and maintaining software.
"apt-get" and related commands can be used to manage packages, including
updating them when bug-fixes or security patches are released. 

If you need to configure your browser to use a web proxy in order to
access the web from your site, you will also need to configure "apt-get"
to use the same proxy, so that it can retrieve information about updates
and the update packages themselves. 

Edit the following file:

  └── etc/
      └── apt/
          └── apt.conf.d
              └── 70debconf

Append the following line:

  Acquire::http::proxy "http://&lt;proxy URL&gt;:&lt;proxy port&gt;";

including the URL and port number for your site's proxy. If you need to
use a proxy for http connections, you'll probably also need to use one
for secure connections. If so, append a second line:

  Acquire::https::proxy "https://&lt;secure proxy URL&gt;:&lt;secure proxy port&gt;";

Check the Ubuntu documentation and "howtos" on the web for information
on keeping the VM up-to-date.

cpan
----

Perl modules are generally installed using a perl-specific packaging
tool called "cpan". Again, in order to contact repositories and to check
for updates, cpan needs to know if you use a web proxy:

  pfamadmin@ubuntu:~$ sudo cpan
  [sudo] password for pfamadmin: 

  cpan shell -- CPAN exploration and modules installation (v1.9402)
  Enter 'h' for help.

  cpan[1]> o conf http_proxy http://&lt;proxy URL&gt;:&lt;proxy port&gt;
      http_proxy         [http://&lt;proxy URL&gt;:&lt;proxy port&gt;]
  Please use 'o conf commit' to make the config permanent!

  cpan[2]> o conf commit
  commit: wrote '/etc/perl/CPAN/Config.pm'

  cpan[3]> q
  Lockfile removed.

You may need to use cpan to update perl modules occasionally, but mostly you
should leave the perl installation untouched.

In the shell
------------

Finally, you may want to configure the proxy in the ".bashrc" file, so that
it's set for all new shells. 

  └── home/
      └── pfamadmin/
          └── .bashrc

Append the following lines:

  export http_proxy=&lt;proxy URL&gt;:&lt;proxy port&gt;
  export https_proxy=&lt;secure proxy URL&gt;:&lt;secure proxy port&gt;


3. Set up an email address to receive monitoring alerts
=======================================================

We use Monit (http://mmonit.com/monit/) to maintain and control the
server processes. When it detects a change in a service or when it
restarts a failed process, monit will send an email to an administrator
to let them know about the event.

The VM is configured so that monit will send event emails to the
"pfamadmin" user on the VM itself. You may want to change the email
address to the main address of the person who will be administering the
machine.

The monit configuration file is:

  └── etc/
      └── monit/
          └── conf.d/
              └── general

Edit "general" and change the email address on the "set alert" line:

  set alert pfamadmin@localhost


4. Configure the "physical" parameters of the VM
================================================

One of the advantages of a virtual machine is that its "physical"
characteristics can be changed easily. For example, the Pfam website VM
is initially configured as a single-core, 64-bit machine with 2Gb of
RAM. One parameter that you might choose to change is the available
memory.

If the website is heavily used, you may want to increase the memory of
the VM to perhaps 4Gb or more, if available. Alternatively, if the host
machine is relatively small, you may want to reduce the memory allocated
to the guest (this VM), so that the host machine doesn't run out of
memory itself.

Before you can alter the characteristics of the VM, you will probably
need to shut down the VM. Use:

  pfamadmin@ubuntu:~$ sudo shutdown -h now

to shutdown the guest operating system cleanly, then reconfigure and
restart the VM using your virtualisation software.


5. Set your timezone
====================

The VM is configured for the "Europe/London" timezone. You will need to
reconfigure it if you're in a different zone. The safest way is to use
"dpkg-reconfigure tzdata", which presents you with a list of
geographical areas and timezones and sets the value in /etc/timezone for
you:

  pfamadmin@ubuntu:~$ cat /etc/timezone
  America/Los_Angeles
  pfamadmin@ubuntu:~$ sudo dpkg-reconfigure tzdata

  Current default time zone: 'Europe/London'
  Local time is now:      Mon Jan 16 11:47:18 GMT 2012.
  Universal Time is now:  Mon Jan 16 11:47:18 UTC 2012.

  pfamadmin@ubuntu:~$ cat /etc/timezone
  Europe/London
  pfamadmin@ubuntu:~$ 


6. Configure mail
=================

The mail system on the VM is configured for local mail only. Also
mail sent to the "root" user will be forward to "pfamadmin"; you can
read it using "mail" or "alpine". 

"root" is commonly sent notices about problems with the system, such as
warnings from monit, so you may want to configure the mail system to
send mails to a user outside of the VM.  You will need to reconfigure
the postfix system to do that:

  pfamadmin@ubuntu:~$ sudo dpkg-reconfigure postfix
  ...

This will take you through a series of forms to set up the mail system
as needed.


7. Configure access to the machine from your network
====================================================

The VM is configured as a basic Ubuntu server, with no restrictions on
access or limits on who can view the website. You will need to configure
security features such as firewall rules or access restrictions
according to your local network policy. Please check the standard Ubuntu
documentation for help on security improvements to the machine.


Useful links
============

http://en.wikipedia.org/wiki/Sudo
https://help.ubuntu.com/community/InstallingSoftware
http://mmonit.com/monit/
http://en.wikipedia.org/wiki/Virtual_machine
https://help.ubuntu.com/11.10/serverguide/C/postfix.html

</pre>
  </div>
</div>

<!-- end configure VM block -->
[%#
Copyright (c) 2012: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
