[%
# start.tt
# jt6 20120119 WTSI
# 
# build the block explaining how to start the server and app in the VM
#
# $Id$

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "help.css" );
requirements.cssIeAll.push( "help_ie.css" );

#-------------------------------------------------------------------------------
-%]

<!-- start start block -->

<div class="block" id="vmStartAppBlock">
  <div class="handle">
    <h1>Start website</h1>
  </div>
  <div class="blockContent">

<pre>

This document explains how to start the Pfam website on the VM. 

Both the PfamWeb application and the lighttpd web server are controlled using
"monit". Monit takes care of starting the processes initially and then watches
to make sure they are running constantly, restarting them if they crash or
become unresponsive.

jt6 20111012 WTSI


1. Start PfamWeb
================

To start the PfamWeb application:

  pfamadmin@ubuntu:~$ sudo monit start pfamweb

There will be no output from this command, but you can check the
progress of the start-up using the shell alias "server":

  pfamadmin@ubuntu:~$ server
  root      3476     1  0 00:05 ?        00:00:00 /bin/sh /etc/init.d/pfamweb start
  www-data  3488     1 42 00:05 ?        00:00:01 perl /opt/www/PfamWeb/script/pfamweb_fastcgi.pl -M FCGI::ProcManager::MaxRequests -n 10 -l /tmp/pfamweb_fastcgi.socket -p /var/run/pfamweb.pid
  1000      3494  2000  0 00:05 pts/5    00:00:00 egrep --color=auto cgi|famweb|lighttpd

In this listing, process 3488 is the "master" server process starting up.
Checking again a few seconds later shows the server processes up and running:

  pfamadmin@ubuntu:~$ server
  www-data  3488     1  1 00:05 ?        00:00:04 perl-fcgi-pm [PfamWeb]
  www-data  3499  3488  0 00:05 ?        00:00:00 perl-fcgi
  www-data  3500  3488  0 00:05 ?        00:00:00 perl-fcgi
  www-data  3503  3488  0 00:05 ?        00:00:00 perl-fcgi
  www-data  3504  3488  0 00:05 ?        00:00:00 perl-fcgi
  www-data  3505  3488  0 00:05 ?        00:00:00 perl-fcgi
  www-data  3506  3488  0 00:05 ?        00:00:00 perl-fcgi
  www-data  3507  3488  0 00:05 ?        00:00:00 perl-fcgi
  www-data  3508  3488  0 00:05 ?        00:00:00 perl-fcgi
  www-data  3509  3488  0 00:05 ?        00:00:00 perl-fcgi
  www-data  3510  3488  0 00:05 ?        00:00:00 perl-fcgi
  1000      3536  2000  0 00:09 pts/5    00:00:00 egrep --color=auto cgi|famweb|lighttpd


2. Start lighttpd
=================

Similarly, starting lighttpd is done through monit:

  pfamadmin@ubuntu:~$ sudo monit start lighttpd

and again, the progress can be seen using "server":

  pfamadmin@ubuntu:~$ server
  www-data  3488     1  1 00:05 ?        00:00:04 perl-fcgi-pm [PfamWeb]
  www-data  3499  3488  0 00:05 ?        00:00:00 perl-fcgi
  www-data  3500  3488  0 00:05 ?        00:00:00 perl-fcgi
  www-data  3503  3488  0 00:05 ?        00:00:00 perl-fcgi
  www-data  3504  3488  0 00:05 ?        00:00:00 perl-fcgi
  www-data  3505  3488  0 00:05 ?        00:00:00 perl-fcgi
  www-data  3506  3488  0 00:05 ?        00:00:00 perl-fcgi
  www-data  3507  3488  0 00:05 ?        00:00:00 perl-fcgi
  www-data  3508  3488  0 00:05 ?        00:00:00 perl-fcgi
  www-data  3509  3488  0 00:05 ?        00:00:00 perl-fcgi
  www-data  3510  3488  0 00:05 ?        00:00:00 perl-fcgi
  www-data  3551     1  0 00:10 ?        00:00:00 /usr/sbin/lighttpd -f /etc/lighttpd/lighttpd.conf
  1000      3553  2000  0 00:10 pts/5    00:00:00 egrep --color=auto cgi|famweb|lighttpd

Now a lighttpd process (3551) can be seen in the list.

You can check that the server is working correctly using "curl":

  pfamadmin@ubuntu:~$ curl http://localhost:8000/
  !&lt;DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "&lt;http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"&gt;

  &lt;html&gt;

    &lt;head&gt;
            &lt;title&gt;Pfam: Home page&lt;/title&gt;
      &lt;meta name="verify-v1" content="GjV+z5lf7mSCShhAOJZh1UW8J+iiCgWmbxIFg2GkG0Q=" /&gt;
  &lt;meta name="verify-v1" content="FA9AR+bh3BmS05vcSp0mbiAB80DgELEAkFvu4q9ViC8=" /&gt;

  &lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8" /&gt;
  ...


3. Stopping the website
=======================

If you need to shutdown the website, you need to stop both the lighttpd
and PfamWeb processes. It's slightly cleaner to shutdown lighttpd first,
since shutting down PfamWeb but leaving lighttpd running will cause the
web server to serve error messages to users. Shutting down lighttpd
means simply that users will not be able to connect to the site.

To stop lighttpd:

  pfamadmin@ubuntu:~$ sudo monit stop lighttpd

and to stop PfamWeb

  pfamadmin@ubuntu:~$ sudo monit stop pfamweb

Although lighttpd responds very quickly to a "stop" command, PfamWeb can
be much slower. Check with "server" and wait for all "perl-fcgi"
processes to disappear.


4. Check process statuses using monit
=====================================

You can see what monit thinks is the current state of the server
processes using:

  pfamadmin@ubuntu:~$ sudo monit status
  The Monit daemon 5.2.1 uptime: 55m

  Process 'pfamweb'
    status                            running
    monitoring status                 monitored
    pid                               3488
    parent pid                        1
    uptime                            11m
    children                          10
    memory kilobytes                  108232
    memory kilobytes total            1147132
    memory percent                    10.5%
    memory percent total              112.1%
    cpu percent                       0.0%
    cpu percent total                 0.0%
    unix socket response time         5.005s to /tmp/pfamweb_fastcgi.socket [generic]
    data collected                    Thu Oct 13 00:16:56 2011

  Process 'lighttpd'
    status                            running
    monitoring status                 monitored
    pid                               3590
    parent pid                        1
    uptime                            0m
    children                          0
    memory kilobytes                  1388
    memory kilobytes total            1388
    memory percent                    0.1%
    memory percent total              0.1%
    cpu percent                       0.0%
    cpu percent total                 0.0%
    port response time                0.000s to localhost:8000 [DEFAULT via TCP]
    data collected                    Thu Oct 13 00:16:56 2011

  System 'system_ubuntu'
    status                            running
    monitoring status                 monitored
    load average                      [0.00] [0.02] [0.05]
    cpu                               0.1%us 0.7%sy 0.0%wa
    memory usage                      314188 kB [30.7%]
    swap usage                        1052 kB [0.1%]
    data collected                    Thu Oct 13 00:16:56 2011

The important lines are the "status" rows, which should be showing "running"
if all processes are up and working.


5. Check the server logs
========================

The web server keeps copious logs of usage and errors. You can see basic
access information in the lighttpd "access.log" while "error.log" gives a
detailed log of what the PfamWeb application is doing:

  └── var/
      └── log/
          └── lighttpd/
              ├── access.log
              └── error.log

The access log shows the IP adress of incoming requests, the time of the
request and the resource that was requested, along with several other pieces
of information that can be useful for debugging:

  pfamadmin@ubuntu:~$ sudo tail -f /var/log/lighttpd/access.log
  172.16.100.1 172.16.100.130:8000 - [13/Oct/2011:17:16:39 +0100] "GET /static/images/box_darker.gif HTTP/1.1" 200 2894 "http://172.16.100.130:8000/static/css/cb.css" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.6; rv:7.0.1) Gecko/20100101 Firefox/7.0.1"
  172.16.100.1 172.16.100.130:8000 - [13/Oct/2011:17:16:39 +0100] "GET /static/images/borders_darker.gif HTTP/1.1" 200 178 "http://172.16.100.130:8000/static/css/cb.css" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.6; rv:7.0.1) Gecko/20100101 Firefox/7.0.1"
  172.16.100.1 172.16.100.130:8000 - [13/Oct/2011:17:16:43 +0100] "GET /shared/images/__utm.gif?utmwv=1&utmn=1594200320&utmcs=UTF-8&utmsr=1920x1200&utmsc=24-bit&utmul=en-us&utmje=1&utmfl=10.3%20r183&utmdt=Pfam%3A%20Search%20Pfam&utmhn=172.16.100.130&utmr=-&utmp=/tab/search 
  ...

The error log shows, by default, a detailed debug log for every request
that the PfamWeb application handles:

  pfamadmin@ubuntu:~$ sudo tail -f /var/log/lighttpd/error.log
  2011-10-14 11:35:55: (mod_fastcgi.c.2701) FastCGI-stderr: [info] *** Request 1 (0.000/s) [3112] [Fri Oct 14 11:35:53 2011] ***
  [debug] "GET" request for "/" from "172.16.100.1"
  [debug] PfamWeb::index: generating site index
  [debug] Rendering template "pages/index.tt"
  [debug] Response Code: 200; Content-Type: text/html; charset=utf-8; Content-Length: 26289
  [info] Request took 1.709306s (0.585/s)
  .------------------------------------------------------------+-----------.
  | Action                                                     | Time |
  +-------------- 
  2011-10-14 11:35:55: (mod_fastcgi.c.2701) FastCGI-stderr:
  ----------------------------------------------+-----------+
  | /auto                                                      | 1.596192s |
  | /index                                                     | 0.000794s |
  | /end                                                       | 0.074495s |
  |  -> PfamWeb::View::TT->process                             | 0.070278s |
  '------------------------------------------------------------+-----------'

The occasion "FastCGI-stderr" lines interspersed with the debug
information are an annoying side-effect of the interaction between the
perl application and the web-server and can be safely ignored.

Once the server is up and running properly, you may want to turn off the
verbose debugging information in the error log, which can be done by
editing the start up script for the PfamWeb application:

  └── etc/
      └── init.d/
          └── pfamweb

Edit the "pfamweb" script, using the "sudo" command, because this file
is considered to be a system file:

  pfamadmin@ubuntu:~$ sudo vi /etc/init.d/pfamweb

Change the value of "PFAMWEB_DEBUG" to 0 to disable debug messages:

  export PFAMWEB_DEBUG=0

The error log will now show only true errors and warnings from the perl
back-end.


6. Cleaning up processes
========================

It's possible for the PfamWeb server processes to get into various
strange states. In many cases, it may be simplest to reboot the virtual
machine; the server processes will be started as soon as the machine is
rebooted, so the downtime may be less than a minute:

  pfamadmin@ubuntu:~$ sudo shutdown -r now

If you want to try to clean up the server without rebooting, first stop
the server processes using monit:

  pfamadmin@ubuntu:~$ sudo monit stop lighttpd
  pfamadmin@ubuntu:~$ sudo monit stop pfamweb

If PfamWeb processes ("perl-fcgi") are left running after monit thinks
that the service is stopped, you can kill them manually:

  pfamadmin@ubuntu:~$ server
  www-data   736     1  0 11:04 ?        00:00:00 /usr/sbin/lighttpd -f /etc/lighttpd/lighttpd.conf
  www-data   855     1  0 11:04 ?        00:00:06 perl-fcgi-pm [PfamWeb]
  www-data  1355   855  0 11:04 ?        00:00:00 perl-fcgi
  www-data  1356   855  0 11:04 ?        00:00:00 perl-fcgi
  www-data  1357   855  0 11:04 ?        00:00:00 perl-fcgi
  www-data  1358   855  0 11:04 ?        00:00:00 perl-fcgi
  www-data  1359   855  0 11:04 ?        00:00:00 perl-fcgi
  www-data  1360   855  0 11:04 ?        00:00:00 perl-fcgi
  www-data  1361   855  0 11:04 ?        00:00:00 perl-fcgi
  www-data  1362   855  0 11:04 ?        00:00:00 perl-fcgi
  www-data  1363   855  0 11:04 ?        00:00:00 perl-fcgi
  www-data  1364   855  0 11:04 ?        00:00:00 perl-fcgi
  1000      1586  1372  0 12:56 pts/2    00:00:00 egrep --color=auto cgi|famweb|lighttpd
  pfamadmin@ubuntu:~$ sudo kill -9 855 1355 1356 1357 1358 ....


7. Enable and start monit
=============================

Monit is intially disabled on the VM, so that the website is not started
on first boot. Before it can be started, monit needs to be enabled.
Edit the configuration file for the monit init script:

  └── etc/
      └── default/
          └── monit

Change the value of "startup" to 1:

  startup=1

Start the monit daemon using:

  pfamadmin@ubuntu:~$ sudo /etc/init.d/monit start

Monit should now start the PfamWeb and lighttpd services automatically
when the machine boots.
 

Useful links
============

http://mmonit.com/monit/

</pre>
  </div>
</div>

<!-- end start block -->
[%#
Copyright (c) 2012: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
