 #grid {
  white-space: nowrap;
  float: left;
  /*width: 1000px;*/
  /*width: 700px;*/  /* it was fine for the grid, i am changing it for widgets;*/
  width: 90%;
  border: 1px solid #ababab;
  border-right: none;
  font-family: monospace;
  position: relative;
  overflow:hidden;
}
#grid .seq_acc {
  width: 12em;
}
#accessions {
  float:left;
  background-color: #CCBBCC;
}
#sequences {
  overflow-x:auto;
	overflow-y:hidden;
}

#sequences .odd {
  background-color: #EEE;
}
#sequences .even {
  background-color: #e0e0e0;
}
#spinner {
  color: #FFF;
  background-color: #F00;
  padding: 1em;
  font-size:0.6em;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;  
}

.listItem {
  float:left;
  padding-left:0.8em;
  width:12em;
  font-size:0.9em;
}

/* Add the class name for error_colors;*/
.errorColor {
  color: #FA5858;
}

.resetColor {
  color: #000;
}

.columnColor {
  background-color: #9074DE;
  z-index: 10;
}

#highlightColumn {
  width:6px;
  border:1px solid red;
  position:relative;
  float:left;
  visibility:hidden;  
}

.background {
  background-color: cyan;
}
