
/* ------------------------------------------------------------------ */

/* styles for feature viewer */
#canvasWrapper {
  overflow-x:auto;
  /*width:auto;*/
  /*width: 90%;*/
}

#errorMsg {
  background: red;
  width: 40%;
}
#txtCanvas {
  float:left;
  z-index:1;
}

#imgCanvas{
  float:left;
  z-index:1;
}

#scroller {
  width:1px;
  background-color:black;
  position:absolute;
  z-index:10;
  display:none;
}

#backgroundDiv {
  background-color:#C7F3C5;
  position:relative;
  z-index:-1;
  display:none;
}

/* ---------------------------------------- */
/* tooltip styles */

.prototip .tooltip {
  background: #efefef;
  border: 1px solid #074987;
}

.prototip .tooltip .title {
  background: #074987;
  color: #cbdced;
  font-weight: bold;
  padding: 0 0.4em;
}

.prototip .tooltip .content {
  color: #074987;
  margin: 0.2em;
}

/* for the benefit of IE, otherwise it leaves a great wide gap
 * at the left of the <dl> */
.prototip dl {
  margin: 0;
}

.prototip p {
  margin: 0;
  padding: 0.2em;
}

.prototip div.scale {
  font-family: monospace;
  font-size: smaller;
  text-align: left;
}

.prototip div.scale span {
  margin: 0;
  padding: 0;
}

.prototip dt {
  padding: 0;
  font-weight: bold;
  float: left;
}

.prototip dd {
  margin-left: 8em;
  padding: 0 0.2em;
}

.prototip .inactive {
  color: #aaaaaa;
}
