[%
# chromosomes.tt
# jt6 20081203 WTSI
#
# A chromosome-by-chromosome breakdown of Rfam hits to this genome
#
# $Id: breakdown.tt,v 1.1 2009-01-06 12:14:42 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

sharedRequirements.js.push( "tablekit.js" );

#-------------------------------------------------------------------------------
-%]

<!-- start chromosomes block -->

<div class="block" id="genomeChromosomesBlock">
  <div class="handle">
    <h1>Chromosomes</h1>
  </div>
  <div class="blockContent">  

    <p>
      A chromosome-by-chromosome breakdown of the genome.
    </p>

    <table id="breakdownTable"
           class="details"
           summary="Breakdown of Rfam hits for this genome">
      <thead>
        <tr>
          <th>Accession</th>
          <th>Description</th>
          <th>Length</th>
          <th>Family</th>
          <th>Start</th>
          <th>End</th>
          <th>Bits score</th>
          <th>Download <acronym title="General Feature Format">GFF</acronym> file</th>
        </tr>
      </thead>
      <tbody>
        [%- 
        lastAG = 0;
        oe = 0;
        FOREACH auto_genome IN hits.keys.sort;
          numRegions  = hits.$auto_genome.count    || 0;
          numFamilies = hits.$auto_genome.families || 0;

          #NEXT UNLESS ( hits.$auto_genome.count.defined AND 
          #              hits.$auto_genome.count > 1 );
          
          FOREACH row IN hits.$auto_genome.rows %]
            <tr class="[% oe % 2 ? "odd" : "even" %]">
              [% IF lastAG != auto_genome %]
                <td rowspan="[% hits.$auto_genome.count %]">
                  [% row.genome_acc %]
                </td>
                <td rowspan="[% hits.$auto_genome.count %]" class="left">
                  [% row.description %]
                </td>
                <td rowspan="[% hits.$auto_genome.count %]">
                  [% row.length %]
                </td>
              [% END %]
              [% IF ( hits.$auto_genome.count.defined AND 
                      hits.$auto_genome.count > 1 ); %]
                <td>
                  <a href="[% c.uri_for( '/family', row.get_column('rfam_id') ) %]">
                    [% row.get_column('rfam_id') %]</a>
                </td>
                <td>[% row.get_column('seq_start') %]</td>
                <td>[% row.get_column('seq_end') %]</td>
                <td>[% row.get_column('bits_score') %]</td>
                <td>
                  <a href="[% c.uri_for('/genome', summary.ncbi_id, 'gff', auto_genome ) %]">Download</a>
                </td>
              [% ELSE %]
                <td colspan="4" class="inactive">No hits</td>
                <td><span class="inactive">No GFF file</span></td>
              [% END %]

            </tr>
            [% lastAG = auto_genome;
          END;
          oe = oe + 1;
        END; %]
      </tbody>
    </table>

  </div>
</div>

<!-- end chromosomes block -->

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
