[%
# chromosomes.tt
# jt6 20081203 WTSI
#
# A chromosome-by-chromosome breakdown of Rfam hits to this genome
#
# $Id: chromosomes.tt,v 1.2 2009-01-15 11:57:32 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

sharedRequirements.js.push( "tablekit.js" );

#-------------------------------------------------------------------------------

embl_seq = 1;

tbody = BLOCK;
  lastAG = 0;
  oe = 0;
  FOREACH auto_genome IN hits.keys.sort;
  
    FOREACH row IN hits.$auto_genome.rows %]
      <tr class="[% oe % 2 ? "odd" : "even" %]">
        [% IF lastAG != auto_genome %]
          <td rowspan="[% hits.$auto_genome.count || 1 %]">
            [% IF row.genome_acc;
              embl_seq = 1 -%]
              <a class="ext" href="http://www.ncbi.nlm.nih.gov/entrez/viewer.fcgi?db=nuccore&amp;id=[% row.genome_acc %]">
                [% row.genome_acc %]</a>
            [%- ELSE;
              embl_seq = 0;
              row.ensembl_id;
            END %]
          </td>
          <td rowspan="[% hits.$auto_genome.count || 1 %]" class="left">
            [% row.description %]
          </td>
          <td rowspan="[% hits.$auto_genome.count || 1 %]">
            [% row.length %]
          </td>
        [% END;
        IF hits.$auto_genome.count %]
          <td>
            <a href="[% c.uri_for( '/family', row.get_column('rfam_id') ) %]">
              [% row.get_column('rfam_id') %]</a>
          </td>
          <td>[% row.get_column('genome_start') %]</td>
          <td>[% row.get_column('genome_end') %]</td>
          <td>[% row.get_column('bits_score') %]</td>
        [% ELSE %]
          <td colspan="4" class="inactive">No Rfam hits</td>
        [% END;
        IF lastAG != auto_genome;
          IF hits.$auto_genome.count %]
            <td rowspan="[% hits.$auto_genome.count %]">
              <a href="[% c.uri_for('/genome', summary.ncbi_id, 'gff', auto_genome ) %]">Download</a>
            </td>
          [% ELSE %]
            <td><span class="inactive">No GFF file</span></td>
          [% END;
        END %]
      </tr>
      [% lastAG = auto_genome;
  
    END; # of "FOREACH row"
    oe = oe + 1;
  END; # of "FOREACH auto_genome"
END; # of BLOCK
-%]

<!-- start chromosomes block -->

<div class="block" id="genomeChromosomesBlock">
  <div class="handle">
    <h1>Chromosomes</h1>
  </div>
  <div class="blockContent">  

    <p>
      A chromosome-by-chromosome breakdown of the genome.
      [%- IF embl_seq -%]
      This genome has <a class="ext" href="http://www.ebi.ac.uk/embl/">EMBL accessions</a>.
      [%- ELSE -%]
      You can see more annotations for this genome at 
      <a class="ext" href="http://www.ensembl.org/">Ensembl</a>.
      [%- END -%]
    </p>

    <table id="breakdownTable"
           class="details"
           summary="Breakdown of Rfam hits for this genome">
      <thead>
        <tr>
          <th>
            [%- IF embl_seq -%]
            EMBL accession
            [%- ELSE -%]
            Chromosome identifier
            [%- END -%]
          </th>
          <th>Description</th>
          <th>Length</th>
          <th>Family</th>
          <th>Start</th>
          <th>End</th>
          <th>Bits score</th>
          <th>Download <acronym title="General Feature Format">GFF</acronym> file</th>
        </tr>
      </thead>
      <tbody>
        [% tbody %]
      </tbody>
    </table>

  </div>
</div>

<!-- end chromosomes block -->

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
