
body {
  color: #404040;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: smaller;
  margin: 0.2em;
  padding: 0;
  background: url( '/static/images/wp_logo.png' ) no-repeat scroll;
}

#navbar table {
  width: 100%;
  background-color: transparent;
}

#navbar table td {
  width: 33%;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

#navbar #colOne img {
  float: left;
}

#navbar #colTwo {
  letter-spacing: 2px;
}

#navbar #colTwo ul {
  margin: 0 auto;
  text-align: center;
  width: 20em;
}

#navbar #colTwo a {
  color: #105A94;
  text-decoration: none;
  font-weight: bold;
}

#navbar #colTwo li {
  float: left;
  list-style: none outside none;
}

#navbar #colThree  {
}

#loginStatus {
  float: right;
}

div.cleaner {
  clear: both;
  height: 1px;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.inactive {
  color: #AAA;
}

.inactive a:link,
.inactive .link {
  color: #777;
}

#footer {
  font-size: smaller;
}

table {
  background-color: #AAA;
  border-spacing: 1px;
  width: 100%;
}

table th {
  background-color: #DDD;
}

td {
  background-color: #f9f9f9;
  text-align: center;
  padding: 0.2em;
}

tr.rowodd td {
  background-color: #e9e9e9;
}

td.left {
  text-align: left;
}

td.user {
  width: 10em;
}

div.userApproval {
  width: 21px;
  height: 20px;
  float: left;
  background: url( '/static/images/user_unapproved.png' ) no-repeat scroll left top;
}

div.approved {
  background-image: url( '/static/images/user_approved.png' ) ! important;
}

div.approveToggle {
  background-image: url( '/static/images/approve_user.png' ) ! important;
  cursor: pointer;
}

tr.articleApproved {
  color: #888;
}

tr.articleApproved a:link,
tr.articleApproved .link {
  color: #777;
}

tr.articleApproved a:visited {
  color: #999;
}

tr.articleApproved div.approved {
  background-image: url( '/static/images/user_approved_lite.png' ) ! important;
}

tr.revisions td {
  padding: 2em;
  background-color: #C9F0C9;
}

td.editsVisible {
  background-color: #C9F0C9 ! important;
}

tr.revisions td table td {
  background-color: #FFF;
  padding: 0.2em;
}

.updatedArticle {
  background-color: #F99;
}

table.paging {
  width: 40em;
  font-size: large;
  font-weight: bold;
  background-color: transparent;
  margin: 0 auto;
}

table.paging td {
  background-color: transparent;
  width: 2em;
}

table.paging td a {
  width: 2em;
  padding: 0;
}

table.paging td.arrow {
  font-size: larger;
}

table.paging td.normalfont {
  font-size: small;
  font-weight: normal;
}

