<form action="[% c.uri_for('/alignment/view') %]">
			Choose one of the das source to get alignment:  
			<select id="dsn_name" name="dsn_name">
			  <option value="Pfam_Seed_Alignments" >Pfam Seed Alignments </option>
			  <option value="Pfam_Full_Alignments" >Pfam Full Alignments </options>
			  <option value="alig_pdb_sp" >alig_pdb_sp </option>
			  <!--<option value="biojavapdbuniprot" >biojavapdbuniprot </option>-->
			  <option value="alig_uniprot_ensp" >alig_uniprot_ensp </option>
			  <option value="Cosmic_Protein_Mutation" >Cosmic Protein Mutation </option>
			</select>
			<p>Enter the accession:<input type="text" name="accession" width="10"><br><p></p>
			<input type="submit" value="GetAlignment" />
</form>      
