span.S1{background-color:#009900;color:#FFFFFF}
span.T1{color:#009900}
span.S2{background-color:#33cc00;color:#FFFFFF}
span.T2{color:#33cc00}
span.S3{background-color:#33cc00;color:#FFFFFF}
span.T3{color:#33cc00}
span.S4{background-color:#cc0000;color:#FFFFFF}
span.T4{color:#cc0000}
span.S5{background-color:#0033ff;color:#FFFFFF}
span.T5{color:#0033ff}
span.S6{background-color:#6600cc;color:#FFFFFF}
span.T6{color:#6600cc}
span.S7{background-color:#0099ff;color:#FFFFFF}
span.T7{color:#0099ff}
span.S8{background-color:#0099ff;color:#FFFFFF}
span.T8{color:#0099ff}
span.S9{background-color:#33cc00;color:#FFFFFF}
span.T9{color:#33cc00}
span.S10{background-color:#33cc00;color:#FFFFFF}
span.T10{color:#33cc00}
span.S11{background-color:#33cc00;color:#FFFFFF}
span.T11{color:#33cc00}
span.S12{background-color:#197fe5;color:#FFFFFF}
span.T12{color:#197fe5}
span.S13{background-color:#ff11ff;color:#FFFFFF}
span.T13{color:#ff11ff}
span.S14{background-color:#ffff11;color:#FFFFFF}
span.T14{color:#ffff11}
span.S15{background-color:#ff11ff;color:#FFFFFF}
span.T15{color:#ff11ff}
span.S16{background-color:#ff11ff;color:#FFFFFF}
span.T16{color:#ff11ff}
span.S17{background-color:#197fe5;color:#FFFFFF}
span.T17{color:#197fe5}
span.S18{background-color:#ff7f11;color:#FFFFFF}
span.T18{color:#ff7f11}
span.S19{background-color:#197fe5;color:#FFFFFF}
span.T19{color:#197fe5}
span.S20{background-color:#197fe5;color:#FFFFFF}
span.T20{color:#197fe5}
span.S21{background-color:#ff1111;color:#FFFFFF}
span.T21{color:#ff1111}
span.S22{background-color:#197fe5;color:#FFFFFF}
span.T22{color:#197fe5}
span.S23{background-color:#197fe5;color:#FFFFFF}
span.T23{color:#197fe5}
span.S24{background-color:#11dd11;color:#FFFFFF}
span.T24{color:#11dd11}
span.S25{background-color:#ffff11;color:#FFFFFF}
span.T25{color:#ffff11}
span.S26{background-color:#11dd11;color:#FFFFFF}
span.T26{color:#11dd11}
span.S27{background-color:#ff1111;color:#FFFFFF}
span.T27{color:#ff1111}
span.S28{background-color:#11dd11;color:#FFFFFF}
span.T28{color:#11dd11}
span.S29{background-color:#11dd11;color:#FFFFFF}
span.T29{color:#11dd11}
span.S30{background-color:#197fe5;color:#FFFFFF}
span.T30{color:#197fe5}
span.S31{background-color:#197fe5;color:#FFFFFF}
span.T31{color:#197fe5}
span.S32{background-color:#666666;color:#FFFFFF}
span.T32{color:#666666}
span.S33{background-color:#11ffff;color:#FFFFFF}
span.T33{color:#11ffff}
span.S34{background-color:#ff11ff;color:#FFFFFF}
span.T34{color:#ff11ff}