
/* family_ie.css
   jt6 20060406 WTSI.

   IE stylesheet to handle transparency...
   
   $Id: family_ie.css,v 1.7 2006-10-18 12:18:53 jt6 Exp $
*/

hr.short {
    border-color: #074987;
}

#alignmentData {
	overflow-x: auto;
    overflow-y: visible;
}

#treeTools {
	filter: alpha(opacity=75);
}
