
/* annotate
   jt6 20061020 WTSI

   Stylesheet for the annotation upload form.

   $Id: forms.css,v 1.1 2006-10-23 12:09:00 jt6 Exp $
*/   

#annotationFormDiv {
	margin: 1em auto;
    width: 50em;
	padding: 1em;
}

/*
div.formRow {
	clear: both;
    padding-bottom: 1em;
}

span.label {
	float: left;
    width: 10em;
    text-align: right;
	vertical-align: middle;
    padding: 0.4em;
	font-weight: bold;
}

span.field {
	float: left;
	text-align: left;
}

input, textarea {
	border: 1px solid #074987;
    background: #cbdced;
}
*/

#annotationFormDiv label {
    display: block;
    width: 12em;
    position: relative;
    margin: 0.2em 0;
    padding: 0.3em;
    text-align: right;
	font-weight: bold;
    clear: both;
}

#annotationFormDiv label input,
#annotationFormDiv label textarea {
z-index: 1;
	float: left;
    position: relative;
    top: -1.4em;
    margin: 0 0 0 11em;
    padding: 0.2em;
	border: 1px solid #CCC;
    background: #EEE;
}

#annotationFormDiv label textarea {
	right: 0.5em;
}

#annotationFormDiv .submit, .reset {
    margin: 0.2em;
}

#annotationFormDiv .error_messages {
    color: red;
}

/* the "add annotation" button image */
#addAnnotation {
	width: 100px;
    height: 24px;
	vertical-align: middle;
    padding-bottom: 3px;
}
