
/* annotate
   jt6 20061020 WTSI

   Stylesheet for the annotation upload form.

   $Id: forms.css,v 1.3 2006-11-13 10:48:58 jt6 Exp $
*/   

/* the "add annotation" button image */
img.addAnnotation {
	width: 100px;
    height: 24px;
	vertical-align: middle;
    padding-bottom: 3px;
	border-style: none;
}

/* styles for the annotation form itself */
#annForm fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

#annForm span.row {
  width: 100%;
  float: left;
  clear: both;
  margin: 0.2em;
}

#annForm label {
  font-weight: bold;
  width: 14em;
  text-align: right;
  float: left;
  padding: 0.2em;
  margin: 0.3em;
}

#annForm input,
#annForm textarea,
#annForm upload {
  border: 1px solid #074987;
  margin: 0;
  padding: 0.2em;
}

#annForm input.submit,
#annForm input.reset {
  margin: 0.1em 0.1em 0.1em 13.5em;
  background: #9fc6ee;
}

/* error messages */
#annForm span.error_messages {
  float: left;
  padding: 0;
  margin: 0 0.1em 0.6em 14.9em;
  color: #700;
  font-weight: bold;
}
