body * { 
  font-size: 10pt;
  font-family: monospace, courier;  
  font-weight: normal; 
}

#a    { background-color: #ff9999; }
#b    { background-color: #9999ff; }
#c    { background-color: #99ff99; }
#d    { background-color: #ff9933; }
#e    { background-color: #99ffff; }
#f    { background-color: #ff9999; }
#g    { background-color: #ffff99; }
#h    { background-color: #ff33ff; }
#i    { background-color: #33ffff; }
#j    { background-color: #ffff33; }

.as { 
  color: #ffffff;
  background-color: #000000;
}

.pas { 
  color: #ffffff;
  background-color: #666666;
}

.sas { 
  color: #ffffff;
  background-color: #999999;
}
