
/* pfam_all_ie.css
   jt6 20061107 WTSI.

   stylesheet to apply various fixes for IE wrinkles. This should be those styles
   which are applicable to all versions of IE
   
   $Id: pfam_all_ie.css,v 1.4 2007-03-09 09:34:51 jt6 Exp $
*/

/* make the drop-down menus semi-transparent */
div.menuContent {
	filter: alpha(opacity=93);
}

/* a little transparency for the tooltips */
.tt {
	filter: alpha(opacity=80);
}

/* get rid of the image that adds the background gradient */
#indexIcons img {
  display: none;
}

/* fix the transparency on the "Go" button for the jump box */
#goButton {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://deskpro16081.dynamic.sanger.ac.uk:8000/catalyst/pfam/images/go.png",sizingMethod="crop");
}
