/* pfam.css
   jt6 20060406 WTSI

   Stylesheet with generally applicable rules for the whole site.

   $Id: pfam.css,v 1.9 2006-08-14 10:51:27 jt6 Exp $
*/   

body {
	font-family: arial, helvetica, sans-serif;
    color: #404040;
	min-width: 840px;
    margin: 0;
	padding: 0;
}

.headercentre {
	background: #FFF url(/images/swoosh_structure.png) no-repeat top left;
/*	background: #FFF url(http://www.sanger.ac.uk/Software/Pfam/images/swoosh_structure.png) no-repeat top left; */
/*	background: #FFF url(/static/images/swoosh_coloured_structure.jpg) no-repeat top left; */
}

#header { 
	height: 84px; 
}

#headerLink {
	height: 66px;
	width: 200px;
    border: 0;
	position: absolute;
    left: 0;
}

#pfamLogo {
	margin: 4px 0;
    float: right;
    border: 0;
}

img.map {
    border-style: none;
	width: 60px;
    height: 15px;
}

div.menubar {
  position:         relative;
  left:             0;
  top:              -16px;
  width:            100%;
}

.cleaner {
    clear: both;
    height: 1px;
    margin: 0;
    padding: 0;
}

ul, dl, ol {
	position: relative;
}

/* ======================================== */
/* index page */

#pageBody {
  padding: 0.2em;
}

#pageBody ul {
  margin-right: 25em;
}

#jumpBoxes {
  margin: 0.4em;
  float: right;
  border: 1px solid #BBB;
}

div.jumpBox h2,
div.jumpBox p {
  padding: 0.2em;
  margin: 0;
}

#jumpBoxes div.jumpBox {
  padding: 0.4em;
  margin: 0.4em;
  background: #f3f3f3;
  border: 1px solid #CCC;
}  

div.jumpBox span.title {
  float: left;
  text-align: right;
  font-weight: bold;
  width: 6em;
  padding: 0.2em;
}

/* ======================================== */
/* browse pages */

div.pageList {
  margin: 0.4em auto;
  width: 100%;
  text-align: center;
}

div.pageList span.letter {
  border: 1px solid #CCC;
  padding: 0.1em;
  margin: 0.1em;
  text-align: center;
}

div.pageList span.inactive {
  border: none;
  color: #074987;
  font-weight: bold;
}

span.letter a {
  text-decoration: none;
}

span.letter a:link,
span.letter a:visited,
span.letter a:focus,
span.letter a:active {
  color: black;
}

span.letter a:hover {
  text-decoration: underline;
}
