
/* protein
   jt6 20060413 WTSI

   Stylesheet for the items that are specific to the tab layout for
   the Pfam protein pages.

   $Id: protein.css,v 1.14 2006-10-31 15:06:43 jt6 Exp $
*/   

/* ======================================== */
/* components of the remainder of the page */

#spacer {
  background-color: #e6f2ee; /*  natural 4 */
}

#contentContainer {
  background-color: #e6f2ee; /*  natural 4 */
  background-image: url(/catalyst/PfamWeb/images/protein/page_border.gif);
}

#wrap {
  background: url(/catalyst/PfamWeb/images/protein/bg.gif) repeat-y 15% 0;
}

/* ======================================== */
/* rules for specific blocks */

div.source {
	float: left;
    width: 17em;
	padding: 0.2em;
}

div.source span.checkboxLabel {
	float: left;
}

div.source input {
	float: left;
}
/* ---------------------------------------- */
/* DAS features */

#updatePanel {
/*    border: 1px solid #CCC; */
	margin-top: 0.4em;
    padding: 0.2em;
}

/*
#featuresMap {
	border: 1px solid #CCC;
}
*/

#checkboxes {
    border: 1px solid #CCC; 
}

p.featuresLabel {
	float: left;
    width: 6em;
    margin: 2px;
	text-align: right;
 clear: left;
}

img.featuresImage {
	float: left;
    margin-left: 6em;
    margin: 2px;
}

#tracks {
  border: none;
}

#highlight {
  /* need this to avoid IE making the box way bigger than specified... */
  font-size: 1px; 
  background: #99F;
  border: 1px solid #66C;
  position: absolute;
  width: 1px;
  height: 1px;
  left: 0;
  top: 0;
  z-index: 1;
  cursor: normal;
  opacity: 0.5;
}

#highlight.linked {
  background: #074987;
  cursor: pointer;
}

#cursor {
  font-size: 1px; 
  background: #CCC;
  display: none;
  width: 1px;
  height: 10px;
  position: absolute;
}

#status {
  padding: 2px;
  border: 1px solid #CCC;
/*  border-top: none; */
  background: #EEE;
}

#pgUpdateSpinner {
	display: inline;
}

div.sequenceLine {
    margin: 0;
	padding: 0;
    clear:both;
	font-family: mono, Courier;
    font-size: 0.8em;
}

div.leftAlignmentLabel {
	margin: 0;
	padding: 0.1em 0.4em;
    float: left;
	text-align: right;
    width: 4em;
}

div.alignmentRow {	
	margin: 0;
	padding: 0.1em;
    float: left;
}

div.rightAlignmentLabel {
	margin: 0;
	padding: 0.1em;
	text-align: right;
    float: left;
    width: 4em;
}

#plainSequence {
	font-family: mono, Courier;
    font-size: 0.8em;
    margin: 0.2em;
    padding: 0.2em;
	border: 1px solid #CCC;
    background: #DDD;
	float: left;
}

/* ---------------------------------------- */
/* treefam section */

#treeFamFrame {
	width: 100%;
    height: 500px;
}

/* ---------------------------------------- */
