
/* family_ie.css
   jt6 20060406 WTSI.

   IE stylesheet to handle transparency...
   
   $Id: protein_ie.css,v 1.3 2006-07-14 12:55:12 jt6 Exp $
*/

hr.short {
    border-color: #074987;
}

/* the curved corner for the page top tab */
/* redundant if we switch to a GIF rather than a PNG...
#icons {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/right_top.png",sizingMethod="crop");
}
*/

div.sequenceLine {
    font-size: 0.6em;
}

#plainSequence {
    font-size: 0.6em;
}