
/* proteome.css
   jt6 20060421 WTSI

   Stylesheet for the items that are specific to the tab layout for
   the proteome pages.

   $Id: proteome.css,v 1.6 2006-11-14 09:23:32 jt6 Exp $
*/   

/* ======================================== */
/* components of the remainder of the page */

#spacer {
  background-color: #fff1e6; /* vibrant 1 */
 {
  background-color: #fff1e6; /* vibrant 1 */
  background-image: url(/catalyst/PfamWeb/images/proteome/page_border.gif);
}

#wrap {
  background: url(/catalyst/PfamWeb/images/proteome/bg.gif) repeat-y 15% 0;
}

/* ======================================== */
/* rules for specific blocks */

div.pdbImageFragment {
	background: #e7edf3;
    border-color: #6f63a2;
}

h4.pdbTitle  {
	color: #074987;
}

