
/* tab_layout
   jt6 20060418 WTSI

   Base stylesheet for the tab-layout pages. Only colours should 
   need to be tweaked for the specific pages.

   $Id: tab_layout.css,v 1.4 2006-05-15 10:52:21 jt6 Exp $
*/   

/* ======================================== */
/* page layout items */

/* the stripe between the page header and the top of the tab */
#tabHeader {
    height: 6px;
    background: #3b70a0;
}

/* styles for the markup that forms the page tab */
#tabTitle {
/*  background: url(/static/images/double_gradient.gif) repeat-y 15% bottom; */
    min-height: 50px;
    margin: 0;
    padding: 0 0 2px 0;
}

#corner h2 {
	margin: 0;
	padding: 0.2em 0 0 0.2em;
    float: left;
}

#corner {
    background: url(/static/images/left_curve.gif) no-repeat top left;
    padding: 12px 0 0 0.4em;
    height: 12px;
}

/* the overview bar */
#icons {
    background: url(/static/images/right_top.gif) top left no-repeat;
    margin: 0;
    padding: 0 0 6px 40px;
    float: right;
}

#icons a,
#icons span {
    outline: none;
	color: #fefefe;
    text-decoration: none;
	float: left;
	padding: 22px 0.4em 0.2em 0.4em;
	text-align:center;
    background-repeat: no-repeat;
	background-position: center top;
    font-size: x-small;
}

#icons span {
    color: #BBB;
    font-size: x-small;
}

#icons a:hover {
    outline: none;
    text-decoration: underline;
}

#icons a em,
#icons span em {
    font-weight: bold;
    font-style: normal;
}

/* the logos for the overview */
#seqIcon	{ background-image: url(/static/images/logos/alignment.png) }
#archIcon	{ background-image: url(/static/images/logos/domains.png) }
#structIcon	{ background-image: url(/static/images/logos/structure.png) }
#ipfamIcon	{ background-image: url(/static/images/logos/ipfam.png) }
#specIcon	{ background-image: url(/static/images/logos/tree.png) }

/* ======================================== */
/* components of the remainder of the page */

#spacer {
  background: #c2d2e1;
  clear: both;
  height: 0;
}

#content {
  width: 85%;
  float: right;
  border-top-width: 1px;
  border-top-style: solid;
  position: relative; /* needed to fix the IE peekaboo bug... */
}

#sidebar {
  width: 15%;
  float: left;
  padding: 0.4em 0;
  position: relative; /* needed to fix the IE peekaboo bug... */
}

#footer {
  clear: both;
  background-image: url(/static/images/wide_tab_shadow.png);
  background-repeat: no-repeat;
  background-position: top left;
  position: relative;
  width: 85%;
  float: right;
  margin-bottom: 1em;
  padding: 0.4em 0;
  border-top-width: 1px;
  border-top-style: solid;
  text-align: right;
  font-size: small;
}

#footer span {
  padding-right: 0.4em;
}

#contentContainer {
  background-repeat: repeat-x;
  background-position: bottom left;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar li a {
  outline: none;
  margin: 0;
  padding: 0.2em 0.2em 0.2em 0.8em;
  display: block;
  text-decoration: none;
  font-weight: bold;
  height: 100%; /* only needed to convince IE to make the whole block clickable */
}

#sidebar li a:hover {
  text-decoration: underline;
}

#sidebar li {
  padding: 0 0 5px 0;
}

#sidebar li.selected {
  background-image: url(/static/images/wide_tab_shadow.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  margin-left: 0.2em;
}

#sidebar li.selected a {
position: relative;
left: 1px;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-right: none;
  padding: 0.2em 0 0.2em 0.4em;
}

#sidebar li.selected a:hover {
  text-decoration: none;
  cursor: default;
}

#sidebar li div.inactive {
  margin: 0;
  padding: 0.2em 0.2em 0.2em 0.8em;
  text-decoration: none;
  font-weight: bold;
}

/* ======================================== */
/* general styles for "blocks" */

div.block {
  margin: 0.4em;
  display: none;
}

div.handle {
  color: #fefefe;
  padding: 0.2em;
  background-repeat: no-repeat;
  background-position: center right;
}

div.handle h1 {
  display: inline;
  padding: 0.4em 0;
  font-size: large;
}

div.blockContent {
  padding: 0.4em;
  border-top: none;
  font-size: 0.9em;
}

/* ======================================== */
/* rules for specific blocks */

/* limit the height of the domain images block */
#domainsBlock .blockContent {
	overflow: auto;
    max-height: 400px;
}
div.domain {
	padding: 6px;
}

/* these are the summary blocks for the different sections. These need
   to have display:block set explicitly, otherwise the first tab wont
   appear... bit of a hack... */
#familySummaryBlock,
#clanSummaryBlock,
#ipfamSummaryBlock,
#proteinSummaryBlock {
  display: block;
}

div.pdbImageFragment {
    border-width: 1px;
    border-style: solid;
	float: right;
    margin: 0.2em;
	padding: 0.3em;
    width: 200px;
font-size: 0.8em;
overflow: hidden;
}

img.pdbImage {
	width: 200px;
    height: 200px;
}

h4.pdbTitle  {
    display: inline;
}

hr.short {
	display: none;
}

/* ======================================== */
