
/* tab_layout
   jt6 20060418 WTSI

   Base stylesheet for the tab-layout pages. Only colours should 
   need to be tweaked for the specific pages.

   $Id: tab_layout.css,v 1.1 2006-04-20 16:37:15 jt6 Exp $
*/   

/* ======================================== */
/* page layout items */

/* the stripe between the page header and the top of the tab */
#tabHeader {
    height: 6px;
    background: #3b70a0;
}

/* styles for the markup that forms the page tab */
#tabTitle {
/*  background: url(/static/images/double_gradient.gif) repeat-y 15% bottom; */
    min-height: 50px;
    margin: 0;
    padding: 0 0 2px 0;
}

#corner h2 {
	margin: 0;
	padding: 0.2em;
    float: left;
}

#corner {
    background: url(/static/images/left_curve.gif) no-repeat top left;
    padding: 12px 0.4em 0.4em 0.4em;
}

/* the overview bar */
#icons {
    background: url(/static/images/right_top.png) top left no-repeat;
    margin: 0;
    padding: 0 0 6px 40px;
    float: right;
}

#icons a,
#icons span {
    outline: none;
	color: #fefefe;
    text-decoration: none;
	float: left;
	padding: 22px 0.4em 0.2em 0.4em;
	text-align:center;
    background-repeat: no-repeat;
	background-position: center -2px;
    font-size: smaller;
}

#icons span {
    color: #BBB;
    font-size: smaller;
}

#icons a:hover {
    outline: none;
    text-decoration: underline;
}

#icons a em,
#icons span em {
    font-weight: bold;
    font-style: normal;
}

/* the logos for the overview */
#seqIcon	{ background-image: url(/static/images/logos/alignment.png) }
#archIcon	{ background-image: url(/static/images/logos/domains.png) }
#structIcon	{ background-image: url(/static/images/logos/structure.png) }
#ipfamIcon	{ background-image: url(/static/images/logos/ipfam.png) }
#specIcon	{ background-image: url(/static/images/logos/tree.png) }

/* ======================================== */
/* components of the remainder of the page */

/* a wrapper around the contents and footer, used to add the bottom gradient */
#pageContainer {
  background: #e4e0f5 url(/static/images/bottom_gradient.png) repeat-x bottom;
  padding-bottom: 0.5em;
}

/* the left column navigation bar */
#sidebar {
/* 	background: url(/static/images/sidebar_bg_green.gif) repeat-y right 0; */
    font-size: 0.9em;
    padding: 0.4em 0;
    width: 15%;
    clear: both;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar li a {
  outline: none;
  margin: 0;
  padding: 0.2em 0 0.2em 0.8em;
  display: block;
  text-decoration: none;
  font-weight: bold;
}

#sidebar li a:hover {
  text-decoration: underline;
}

#sidebar li.selected {
  background: url(/static/images/tab_shadow.png) no-repeat bottom left;
  margin-left: 0.2em;
  padding: 0 0 5px 0;
  position: relative;
  left: 1px;
  z-index: 1000;
}

#sidebar li.selected a {
  outline: none;
  background: url(/static/images/selected_bg.gif);
  border-width: 1px;
  border-style: solid;
  border-right: none;
  padding: 0.2em 0 0.2em 0.4em;
}

#sidebar li.selected a:hover {
  text-decoration: none;
}

#sidebar li span.inactive {
  margin: 0;
  padding: 0.2em 0 0.2em 0.8em;
  display: block;
  text-decoration: none;
  font-weight: bold;
}

/* the main page content */

#content {
  background: #FFF;
  border-top: 1px solid blue;
}

#contentContainer {
  width: 84.8%;
  border-left: 1px solid red;
  margin: 0;
  padding: 0;
  background: #FFF url(/static/images/wide_tab_shadow.png) no-repeat bottom left;
}

#columnContainer {
  overflow: hidden;
}

#columnContainer .column {
  position: relative;
  float: left;
  padding-bottom: 10000px;     /* X + padding-bottom */
  margin-bottom: -10000px;     /* X */
}

/* fix the footer overflow in IE */
* html body {
  overflow: hidden;
}

* html #footerWrapper {
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 10010px;
  margin-bottom: -10000px;
}

#footer {
  border: none;
  border-top: 1px solid green;
  width: 85%;
  float: right;
  margin: 0;
  padding: 0.4em 0;
  background: url(/static/images/wide_tab_shadow.png) no-repeat top left;
  text-align: right;
  font-size: small;
}

/* ======================================== */
/* general styles for "blocks" */

div.block {
  margin: 0.4em;
  display: none;
}

div.handle {
  color: #fefefe;
  padding: 0.2em;
  background-repeat: no-repeat;
  background-position: center right;
}

div.handle h1 {
  display: inline;
  padding: 0.4em 0;
  font-size: large;
}

div.blockContent {
  padding: 0.4em;
  border-top: none;
  font-size: 0.9em;
}

/* ======================================== */
/* rules for specific blocks */

/* limit the height of the domain images block */
#domainsBlock .blockContent {
	overflow: auto;
    max-height: 400px;
}
div.domain {
	padding: 6px;
}

#tabSummaryBlock {
  display: block;
}

div.pdbImageFragment {
    border-width: 1px;
    border-style: solid;
	float: right;
    margin: 0.2em;
	padding: 0.3em;
    width: 200px;
font-size: 0.8em;
overflow: hidden;
}

img.pdbImage {
	width: 200px;
    height: 200px;
}

h4.pdbTitle  {
    display: inline;
}

hr.short {
	display: none;
}

/* ======================================== */
