[%
# changes.tt
# rdf 20060927 WTSI
# 
# build the changes block for the help pages
#
# $Id: changes.tt,v 1.2 2009-05-06 11:48:34 jd7 Exp $
%]

<!-- start changes block -->

<div class="block" id="helpChangesBlock">
  <div class="handle">
    <h1>Rfam Changes</h1>
  </div>
  <div class="blockContent">
  
    <p>
      This section details the changes that we plan to make or have made to Rfam.
      This includes changes to the flatfiles, MySQL database and the public 
      website.
    </p>
    <hr />
    
    <h2>Latest changes to Rfam data</h2>

    [%- # all changelog entries are stored in the "changelog.conf" config
        # file. Each entry is a hash value, keyed on the epoch time of the
        # entry. To show the changelog entries, we get the keys (which are
        # effectively date stamps) and use them to pull out the snippets of
        # static HTML for each entry 
    
    dataUpdateDates = c.config.changelog.data_changes.keys.sort.reverse;
    
    latestUpdateDate = dataUpdateDates.shift;
    c.config.changelog.data_changes.${latestUpdateDate} %]
 
    <p>
      <span onclick="reveal( this, 'dataChanges', false, true )"
            class="moreLink">
        Show</span> past changes.
    </p>

    <div id="dataChanges" 
         class="pastChanges"
         style="display: none">

      <h2>Past changes</h2>

      [%- FOREACH updateDate IN dataUpdateDates;
        c.config.changelog.data_changes.${updateDate};
      END %]

    </div>

    <!-- end of "dataChanges" -->

    <hr />

    <h2>Latest changes to website</h2>

    [% websiteUpdateDates = c.config.changelog.website_changes.keys.sort.reverse;
    
    latestUpdateDate = websiteUpdateDates.shift;
    c.config.changelog.website_changes.${latestUpdateDate} %]

    <p>
      <span onclick="reveal( this, 'siteChanges', false, true )"
            class="moreLink">
        Show</span> past changes.
    </p>

    <div id="siteChanges" 
         class="pastChanges" 
         style="display: none">

      <h2>Past changes</h2>
    
      [%- FOREACH updateDate IN websiteUpdateDates;
        c.config.changelog.website_changes.${updateDate};
      END %]

    </div>
    <!-- end of "siteChanges" -->

  </div>
</div>

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
