[%
# title.tt
# jt6 20060925 WTSI
#
# build the titles for the help pages
#
# $Id: title.tt,v 1.2 2009-05-06 11:48:34 jd7 Exp $
%]

[% IF titleType == "tab" %]
<h1>Rfam Help</h1>
[% ELSIF titleType == "page" %]
Help
[% END %]
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
