
[%#
# title.tt
# jt6 20060424 WTSI
#
# build the tab title for the iPfam pages
#
# $Id: title.tt,v 1.2 2007-04-24 16:08:44 jt6 Exp $
%]

[% IF titleType == "tab" %]
<h1>Ligand-Domain Interaction: <em></em></h1>
[% ELSIF titleType == "page" %]
Ligand-Domain Interaction:&nbsp;()
[% END %]
