[% 

USE String;

#-------------------------------------------------------------------------------
#- blocks ----------------------------------------------------------------------
#-------------------------------------------------------------------------------

titles = [];

BLOCK buildTables;

  unapproved  = String.new;
  preapproved = String.new;

  unapprovedOddEven  = "rowodd";
  preapprovedOddEven = "rowodd";

  WHILE ( article = articles.next );

    titles.push( article.title ); # stored for later use...

    IF article.all_users_approved;
      preapprovedOddEven = preapprovedOddEven == "rowodd" ? "roweven" : "rowodd";
      preapprovedRows = PROCESS buildRows article=article oddEven=preapprovedOddEven;
      CALL preapproved.append( preapprovedRows );
    ELSE;
      unapprovedOddEven = unapprovedOddEven == "rowodd" ? "roweven" : "rowodd";
      unapprovedRows = PROCESS buildRows article=article oddEven=unapprovedOddEven;
      CALL unapproved.append( unapprovedRows );
    END;

  END; # of "WHILE"

END; # of "BLOCK buildTables"

#-------------------------------------------------------------------------------

BLOCK buildRows;
  target = "new_" _ article.title;
  target = target.replace( '\W', '_' );
  IF article.history.-1.number_edits.defined;
    num_edits = article.history.0.number_edits;
  ELSE;
    num_edits = 'no approved edits';
  END; -%]

  <tr class="article [% oddEven %]">
    <td style="display: none"
        class="approvedBy">[% article.approved_by %]</td>
    <td class="left">
      <a class="ext" 
         rel="title"
         target="[% target %]" 
         href="http://en.wikipedia.org/w/index.php?title=[% article.title | uri %]">[% article.title %]</a>
    </td>
    <td class="left">
      [% IF article.history.0.comment;
        article.history.0.comment | html;
      ELSE; %]
        <span class="inactive">No comment given</span>
      [% END %]
    </td>
    <td class="left user">
      <a class="ext user[% ' approved' IF article.history.-1.user_approved %]" 
         rel="[% article.history.0.user %]"
         target="[% target %]" 
         href="http://en.wikipedia.org/wiki/Special:Contributions/[% article.history.0.user | uri %]">
        [% article.history.0.user %]</a>&nbsp;([% num_edits %])
    </td>
    <td class="updated">[% article.history.0.timestamp.replace('T',' ') %]</td>
    <td[% IF updatedArticles.${article.title}; ' class="updatedArticle"'; END %]>
      <a class="ext" 
         rel="wikipedia_revision"
         target="[% target %]" 
         href="http://en.wikipedia.org/wiki/[% article.title | uri %]?oldid=[% article.wikipedia_revision %]">
        [% article.wikipedia_revision %]</a>
      (<a class="ext" 
         target="[% target %]" 
         href="http://en.wikipedia.org/w/index.php?title=[% article.title | uri %]&amp;action=history">hist</a>)
    </td>
    <td>
      <a class="ext" 
         target="[% target %]" 
         href="http://en.wikipedia.org/w/index.php?title=[% article.title | uri %]&amp;action=historysubmit&amp;diff=[% article.wikipedia_revision %]&amp;oldid=[% article.approved_revision %]">diff</a>
    </td>
    <td>
      <a class="ext" 
         rel="approved_revision"
         target="[% target %]" 
         href="http://en.wikipedia.org/wiki/[% article.title | uri %]?oldid=[% article.approved_revision %]">
        [% article.approved_revision %]</a>
    </td>
    [%-# the last article in the history is the previous approved revision. So, to get
       # the number of real edits that were made since that approved revision, we need 
       # to subtract one. The same applies when we work out how many revisions are being
       # ignored in the sub-table of revisions %]
    <td class="showEdits link">[% article.history.size - 1 %]</td>
    <td>
      <button class="approve" 
              [% UNLESS c.user_exists %]disabled="disabled"[% END %]
              value="[% article.title | uri %]">Approve</button>
    </td>
  </tr>

  <tr class="revisions [% oddEven %]"
      style="display: none">
    <td class="dropdown" colspan="10">
      <table summary="Revision history">
        <thead>
          <tr>
            <th>Comment</th>
            <th>Editor</th>
            <th>Revision date</th>
            <th>Revision</th>
            <th>Diff to previous</th>
          </tr>
        </thead>
        <tbody>
          [%- revision_list = article.history;
          IF article.history.size() > 20;
            revision_list = article.history.slice(0,20);
          END;
          FOREACH revision IN revision_list;
            IF revision.number_edits.defined;
              num_edits = revision.number_edits;
            ELSE;
              num_edits = 'no approved edits';
            END; -%]
            <tr[% IF loop.index == ( article.history.size - 1 ) %] class="inactive"[% END %]>
              <td class="left">
                [% IF revision.comment;
                  revision.comment | html;
                ELSE; %]
                  <span class="inactive">No comment given</span>
                [% END %]
              </td>
              <td class="user left">
                <a class="ext user[% ' approved' IF revision.user_approved %]" 
                   rel="[% revision.user %]"
                   target="[% target %]" 
                   href="http://en.wikipedia.org/wiki/Special:Contributions/[% revision.user | uri %]">
                  [% revision.user %]</a>&nbsp;([% num_edits %])
              </td>
              <td>[% revision.timestamp.replace('T',' ') %]</td>
              <td>
                <a class="ext" 
                   target="[% target %]" 
                   href="http://en.wikipedia.org/wiki/[% article.title | uri %]?oldid=[% revision.revid %]">
                  [% revision.revid %]</a>
              </td>
              <td>
                [% IF loop.last;
                  nextArticle = article.approved_revision;
                ELSE;
                  nextIndex = loop.index + 1;
                  nextArticle = article.history.${nextIndex}.revid;
                END;
                IF nextArticle > 0; %]
                  <a class="ext" 
                     target="[% target %]" 
                     href="http://en.wikipedia.org/w/index.php?title=[% article.title | uri %]&amp;action=historysubmit&amp;diff=[% revision.revid %]&amp;oldid=[% nextArticle %]">diff</a>
                [% ELSE %]
                  <span class="inactive">no previous edit</span>
                [% END %]
              </td>
            </tr>
          [%- END;
          IF article.history.size > 20;
            remaining = article.history.size - 20 %]
            <tr>
              <td colspan="5" class="inactive">
                &hellip;and a further <strong>[% article.history.size - 21 %]</strong>
                revisions&hellip;
              </td>
            </tr>
          [% END %]
        </tbody>
      </table>
    </td>
  </tr>  

[%- END; # of "BLOCK buildRows"

#-------------------------------------------------------------------------------
#- main ------------------------------------------------------------------------
#-------------------------------------------------------------------------------

Type = String.new(type).capital;

PROCESS buildTables -%]

[% IF type %]
  <h1>[% Type %] articles requiring approval</h1>
[% ELSE %]
  <h1>Articles requiring approval</h1>
[% END %]

<p>
  This is the list of <strong>[% pager.total_entries %]</strong> 
  [% Type %] articles that require approval.
  [% IF handled_article_types %]
    Show 
    [% FOREACH article_type IN handled_article_types;
      IF article_type == type; %]
        [% article_type %] articles
      [% ELSE %]
        <a href="[% c.uri_for( '/articles', article_type, { rows => rows, page => 1 } ) | html %]">
          [% article_type %] articles</a>
      [% END;
      IF ! loop.last;
        "&nbsp;|&nbsp;";
      END;
    END;
    ".";
  END %]
</p>

<p>
  Currently showing <strong>[% pager.entries_on_this_page %]</strong> articles
  on page <strong>[% pager.current_page %]</strong> of 
  <strong>[% pager.last_page %]</strong>.

  Show 
  [% num_rows = [ 10, 20, 50, 100, "all" ];
  FOREACH num IN num_rows;
    IF num == pager.entries_on_this_page;
      num;
    ELSE; %]
      <a href="[% c.req.uri_with( rows => num, nrn => 1 ) | html %]">[% num %]</a>
    [% END;
    IF ! loop.last;
      "&nbsp;|&nbsp;";
    END;
  END; %]
  articles per page.
</p>

<form action="[% c.req.uri | html %]">
  <p>
    <input type="hidden" name="rows" value="[% rows %]" />
    <label for="pageNum">
      Jump to page <input id="pageNum" type="text" name="page" />
    </label>
    <input type="submit" name="submit" value="Go" />
  </p>
</form>

<table summary="Paging"
       class="paging">
  <tbody>
    <tr>
      <td class="arrow">
        [% IF pager.previous_page %]
          <a href="[% c.req.uri_with( page => pager.first_page ) | html %]">
            &laquo;</a>
        [% ELSE %]
          &laquo;
        [% END %]
      </td>
      <td class="arrow">
        [% IF pager.previous_page %]
          <a href="[% c.req.uri_with( page => pager.previous_page ) | html %]">
            &lsaquo;</a>
        [% ELSE %]
          &lsaquo;
        [% END %]
      </td>
      [% page_window = 11;

      first_window_page = pager.current_page - 5;
      last_window_page  = pager.current_page + 5;

      first_window_page = first_window_page < pager.first_page ? pager.first_page : first_window_page;
      last_window_page  = last_window_page  > pager.last_page  ? pager.last_page  : last_window_page;

      IF last_window_page - first_window_page < 11;
        IF pager.current_page - 5 < 1;
          last_window_page = first_window_page + 10;
        ELSE;
          first_window_page = last_window_page - 10;
        END;
      END;

      # CALL c.log.debug( "window from $first_window_page to $last_window_page" ) IF c.debug;
      %]

      <td>
        [% IF first_window_page > pager.first_page %]
          &hellip;
        [% ELSE %]
          &nbsp;
        [% END %]
      </td>
      [% FOREACH page_num IN [ first_window_page .. last_window_page ] %]
      <td>
        [% IF page_num != pager.current_page AND
              page_num <= pager.last_page %]
          <a href="[% c.req.uri_with( page => page_num ) | html %]">[% page_num %]</a>
        [%- ELSIF page_num > pager.last_page %]
          <span class="inactive">[% page_num %]</span>
        [% ELSE %]
          <span>[% page_num %]</span>
        [% END %]
      </td>
      [% END %]
      <td>
        [% IF last_window_page < pager.last_page %]
          &hellip;
        [% ELSE %]
          &nbsp;
        [% END %]
      </td>
      <td class="arrow">
        [% IF pager.next_page %]
          <a href="[% c.req.uri_with( page => pager.next_page ) | html %]">
            &rsaquo;</a>
        [% ELSE %]
            &rsaquo;
        [% END %]
      </td>
      <td class="arrow">
        [% IF pager.next_page %]
          <a href="[% c.req.uri_with( page => pager.last_page ) | html %]">
            &raquo;</a>
        [% ELSE %]
            &raquo;
        [% END %]
      </td>
    </tr>
  </tbody>
</table>


<h2>Unapproved articles</h2>

<div id="unapproved">

  [%- IF unapproved.length %]
    <table summary="Unapproved articles list"
           class="articles">
      <thead>
        <tr>
          <th style="display: none">Approved by</th>
          <th>Title</th>
          <th>Last update comment</th>
          <th>Last editor</th>
          <th>Last revision date</th>
          <th>Current wikipedia revision</th>
          <th>Diff</th>
          <th>Approved revision</th>
          <th>Edits</th>
          <th>Approve article</th>
        </tr>
      </thead>
      <tbody>
        [%- unapproved %]
      </tbody>
    </table>
  [%- ELSE %]
    <p>There were no unapproved entries to check.</p>
  [%- END %]

  <div class="errorMessage" style="display: none"></div>

  <p>
    <button [% UNLESS unapproved.length AND c.user_exists %]disabled="disabled"[% END %]
            class="approveAll">Approve all</button>
  </p>

</div>

<h2>Pre-approved articles</h2>

<div id="preapproved">

  [%- IF preapproved.length %]
    <table summary="Pre-approved articles list"
           class="articles">
      <thead>
        <tr>
          <th style="display: none">Approved by</th>
          <th>Title</th>
          <th>Update comment</th>
          <th>Last editor</th>
          <th>Previous approval</th>
          <th>Approved revision</th>
          <th>Diff</th>
          <th>Current wikipedia revision</th>
          <th>Edits</th>
          <th>Approve article</th>
        </tr>
      </thead>
      <tbody>
        [%- preapproved %]
      </tbody>
    </table>
  [%- ELSE %]
    <p>There were no pre-approved entries to check.</p>
  [%- END %]

  <div class="errorMessage" style="display: none"></div>

  <p>
    <button [% UNLESS preapproved.length AND c.user_exists %]disabled="disabled"[% END %]
            class="approveAll">Approve all</button>
  </p>

</div>

<h2>Refresh articles list</h2>

<form action="[% c.uri_for('/articles/update') %]">
  <p>
    <input type="button" class="updateButton relPage" value="Refresh" /> the articles listed in this page.
  </p>
  <p>
    <input type="button" class="updateButton relAll" value="Refresh" /> <strong>all</strong> articles.
  </p>
  <p>
    <span[% UNLESS updateCount.defined %] style="display: none"[% END %]>
      <span[% IF updateCount %] class="updatedArticle"[% END %]>Updated</span> 
      <strong>[% updateCount || 0 %]</strong> article[% updateCount != 1 ? "s" : "" %]
      on last refresh.
    </span>
  </p>
</form>

<script type="text/javascript">
  // <![CDATA[

  document.observe( "dom:loaded", function() {

    // wire in the "show edits" links
    $$("td.showEdits").each( function(td) {
      td.observe( "click", function( e ) {
        var cell = e.findElement("td");
        var row  = e.findElement("tr").next("tr");
        row.toggle();
        if ( row.visible() ) {
          cell.addClassName( "editsVisible" );
        } else {
          cell.removeClassName( "editsVisible" );
        }
      } );
    } );
    
    // wire in the "update" buttons
    $$("input.updateButton").each( function( button ) {

      button.observe( "click", function(e) {
        var button = e.findElement("input[type='button']");
        var uri;
        if ( button.hasClassName( "relAll" ) ) {
          uri = "[% c.uri_for('/articles/update' ) %]";
        } else {
          uri = "[% c.uri_for('/articles/update' ) %]/[% titles.join(',') | uri %]";
        }
        var r = new Ajax.Request( uri, { 
          method: 'post',
          onSubmit: function() {
            $("updateButton").disabled = "disabled";
          },
          onComplete: function() {
            $("updateButton").disabled = "";
          },
          onSuccess: function( response ) {
            console.debug( "update successful; response: %s", response.responseText );
            $("updateCount").update( response.responseText )
                            .up("span")
                            .show();
          }
        } );
      } );

    } );

    // we need to do this regardless of whether the curator is logged in, otherwise
    // the approval status isn't shown. The javascript object should take care
    // of the curator's authorisation status and refuse to change a wikipedia
    // user's approval status unless the curator is logged in
    var userApprover = new UserApprover( "[% c.uri_for( '/user' ) %]", 
                                         [% c.user_exists ? "true" : "false" %] );
    
    [%- IF c.user_exists %]
      var articleApprover = new ArticleApprover( "[% c.uri_for( '/article' ) %]", 
                                                 "[% c.uri_for( '/user' ) %]",
                                                 "[% c.user.uid %]" );
    [%- ELSE %]
      $("approveButton").disabled = "disabled";
    [%- END %]

  } );
  
  // ]]>
</script>

