[%
# resultsTable.tt
# jt6 20071011 WTSI
# 
# a page fragment that builds the results table for taxonomy or unique
# domains searches
#
# $Id: resultsTable.tt,v 1.3 2008-12-08 13:02:45 jt6 Exp $

META naked = 1;

USE String;
%]

<table class="resultTable"
       id="resultTable"
       summary="Taxonomy search results">
  <thead>
    <tr>
      <th>Accession</th>
      <th>ID</th>
      <th class="nosort">Description</th>
    </tr>
  </thead>
  <tbody>
  [%
  unformatted = String.new; 
  FOREACH family IN families.keys.sort;
    acc  = family;
    id   = families.$family.rfam_id;
    desc = families.$family.description;
    CALL unformatted.append( acc _ "\t" _ id _ "\n" );
    familyUri = c.uri_for( "/family", { acc => acc } ) -%]
    <tr class="[% loop.index % 2 ? "odd" : "even" %]">
      <td>
        <a href="[% familyUri %]">[% acc %]</a>
      </td>
      <td>
        <a href="[% familyUri %]">[% id %]</a>
      </td>
      <td>
        [% desc %]
      </td>
    </tr>
  [% END -%]
  </tbody>
</table>

<p>
  You can also see the accessions and IDs for the results families as a simple 
  list that can be cut-and-pasted into an editor.
  <span class="link" onclick="reveal(this,'textList',false)">Show</span> 
  the unformatted list.
</p>

<div id="textList" style="display: none">
  <pre>[% unformatted %]</pre>
</div>

<script type="text/javascript">
  // <![CDATA[
  var sorter = new TableKit( "resultTable",
                              {
                                editable: false,
                                resizable: false,
                                rowEvenClass: "even",
                                rowOddClass: "odd",
                                stripe: true
                              } );    
  // ]]>
</script>

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
