%
# glossary.tt
# rdf 20060927 WTSI
# 
# build the mirrors block for the help pages
#
# $Id: glossary.tt,v 1.2 2006-11-16 13:48:51 jm14 Exp $
%]

<!-- start glossary.tt block -->

<div class="block" id="helpGlossaryBlock">
  <div class="handle">
    <h1>Glossary of Terms Used in Pfam</h1>
  </div>
  <div class="blockContent">
  <h3>Architecture</h3><p>The collection of domains that are present on a protein.</p>
  <h3>Build method</h3><p>The order that the ls (global) and fs (fragment) matches are aligned to the model to give the full alignment.  The build method can be global first, where ls matches are aligned first followed by fs matches that do not overlap, byscore, where matches are aligned in order of evalue score, or localfirst, where fs matches are aligned first followed by ls matches that do not overlap.</p>
  <h3>Clan</h3>
  <p>A collection of related Pfam entries.  The relationship may be defined by similarity of sequence, structure or profile-HMM.</p>
  <h3>Domain</h3><p>A structural unit or unit which can be found in multiple protein contexts.</p>
  <h3>Domain score</h3>The score of a single domain aligned to a HMM.  If there is more than one domain, the sequence score is the sum of all the domain scores for that Pfam entry.  If there is only a single domain, the sequence and the domains score for the protein will be identical.</p>
  <h3>DUF</h3>Domain of unknown function.</p>
  <h3>Family</h3><p>A collection of related proteins.</p>
  <h3>Full alignment</h3>An alignment of the set of related sequences which score higher than the manually set threshold values for the HMMs of a particular Pfam entry.</p>
  <h3>Gathering cutoff (GA)</h3> The search threshold used to build the full alignment.  The GA is the minimum score a sequence must attain to belong the the full alignment of a Pfam entry.  For each Pfam HMM we have two GA cutoff values, a sequence cutoff and domain a cutoff.</p>
  <h3>Hidden Markov model (HMM)</h3>A HMM is a probablistic model.  In Pfam we use HMMs to transform the information contained within a multiple sequence alignment into a position-specific scoring system.  We search our HMMs against a protein database <a href="http://www.ebi.uniprot.org/index.shtml">(UniProt)</a></li> to find homologous sequences.  For more information on the theory behind HMMs [add some refs]</p>
  <h3>HMMER2</h3>The suite of programs that Pfam uses to build and search HMMs.  See <a href="http://hmmer.janelia.org/">HMMER link</a></li>
  <h3>iPfam</h3>A resource that describes domain-domain interactions that are observed in PDB entries.  Where two or more Pfam domains occur in a single structure, it analyses them to see if the are close enough to form an interaction.  If they are close enough it calculates the bonds forming the interaction. Further information can be found on the <a href="http://www.sanger.ac.uk/Software/Pfam/help/interaction.shtml">iPfam help pages</a></li>. 
  <h3>Motif</h3><p>A short unit found outside globular domains.</p>
  <h3>Noise cutoff (NC)</h3>The bit scores of the highest scoring match not in the full alignment<p>
  <h3>Seed alignment</h3><p>An alignment of a set of representative sequences for a Pfam entry.  We use this alignment to construct the HMMs for the Pfam entry.</p> 
  <h3>Sequence score</h3>The total score of a sequence aligned to a HMM.  If there is more than one domain, the sequence score is the sum of all the domain scores for that Pfam entry.  If there is only a single domain, the sequence and the domains score for the protein will be identical.  We use the sequence score to determine whether a sequence belongs to the full alignment of a particular Pfam entry.</p>
  <h3>Trusted cutoff (TC)</h3>The bit scores of the lowest scoring match in the full alignment.</p>
  <h3>Pfam-A</h3><p>A HMM based hand curated Pfam entry which is built using a small number of representative sequences.  We manually set a threshold value for each HMM and search our models against the <a href="http://www.ebi.uniprot.org/index.shtml">UniProt</a></li> database.  All of the sequnces which score above the threshold for a Pfam entry are included in the entry's full alignment.</p>
  <h3>Pfam-B</h3><p>An automatically generated alignment which is formed by an alignment from the <a href=http://prodom.prabi.fr/prodom/current/html/home.php database">PRODOM</a></li> database and and removing Pfam-A residues from them.  Since Pfam-B families are automatically generated we recommend that you verify the sequences in a Pfam-B are related by using other methods such as BLAST.</p>
  <h3>Repeat</h3><p>A short unit which is unstable in isolation but forms a stable structure when multiple copies are present.</p>
  </div>
</div>
