
[%
# install.tt
# jt6 20070913 WTSI
# 
# installation instructions for the website
#
# $Id: install.tt,v 1.5 2009-10-28 17:07:52 jt6 Exp $
%]

<!-- start install block -->

<div class="block" id="helpInstallBlock">
  <div class="handle">
    <h1>Pfam website virtual machine</h1>
  </div>
  <div class="blockContent">

    <p>
      Installing the website has always been somewhat complex and we no longer
      support direct installation of the site. Instead, we have built a 
      <a class="ext" href="http://en.wikipedia.org/wiki/Virtual_machine">
        virtual machine</a> that includes all of the software needed to run 
      the Pfam website within your local environment.
    </p>
    <p>
      You can find instructions on downloading and installing the VM on a
      set of <a href="[% c.uri_for( '/vm' ) %]">dedicated pages</a>
    </p>
    <p>
      You can still find the source code for the website and the ancillary
      systems in our
      <a class="ext" href="http://subversion.apache.org/">SVN</a> repository,
      at <a class="ext" href="http://xfamsvn.ebi.ac.uk/"><code>
        http://xfamsvn.ebi.ac.uk/</code></a>.
    </p>

  </div>
</div>

<!-- end install block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
