[%
# linking.tt
# rdf 20060927 WTSI
# 
# build the linking block for the help pages
#
# $Id: linking.tt,v 1.4 2007-08-30 13:03:12 jt6 Exp $
%]

<!-- start linking block -->

<div class="block" id="helpLinkingBlock">
  <div class="handle">
    <h1>How to link to Pfam?</h1>
  </div>
  <div class="blockContent">
    <p>
      Pfam is maintained by a consortium of researchers based at the 
      <a href="http://www.sanger.ac.uk/">Wellcome Trust Sanger Institute</a>, 
      Cambridge, UK, <a href="http://www.sbc.su.se/">Stockholm Bioinformatics 
      Center</a>, Stockholm, Sweden, and <a href="http://pfam.janelia.org/">
        Janelia Farm</a>, Maryland, USA. Although the data files are identical, 
      the web servers are not currently mirrors of each other, though we hope to 
      have this website running in all three locations soon.
    </p>
    <p>
      Although we have no plans to dramatically change the locations of 
      resources within this site, webmasters are advised to link only to
      the following types of page within the site.
    </p>
    
    <h3>Home pages</h3>
    <dl class="sitesList">
      <dt>WTSI:</dt>
      <dd><a href="http://pfam.sanger.ac.uk/">http://pfam.sanger.ac.uk/</a></dd>
      <dt>SBC:</dt>
      <dd><a href="http://pfam.cgb.ki.se/">http://pfam.cgb.ki.se/</a></dd>
      <dt>Janelia:</dt>
      <dd><a href="http://pfam.janelia.edu/">http://pfam.janelia.edu/</a></dd>
    </dl>
    
    <h3>Searching a protein sequence against Pfam</h3>
    <dl class="sitesList">
      <dt>WTSI:</dt>
      <dd><a href="http://pfam.sanger.ac.uk/search?tab=sequenceSearchBlock">
        http://pfam.sanger.ac.uk/search?tab=sequenceSearchBlock</a></dd>
      <dt>SBC:</dt>
      <dd><a href="http://pfam.cgb.ki.se/hmmsearch.shtml">
        http://pfam.cgb.ki.se/hmmsearch.shtml</a></dd>
      <dt>Janelia:</dt>
      <dd><a href="http://pfam.janelia.edu/hmmsearch.shtml">
        http://pfam.janelia.edu/hmmsearch.shtml</a></dd>
    </dl>

    <h3>Searching a DNA sequence against Pfam</h3>
    <dl class="sitesList">
      <dt>WTSI:</dt>
      <dd><a href="http://pfam.sanger.ac.uk/search?tab=sequenceDnaBlock">
        http://pfam.sanger.ac.uk/search?tab=sequenceDnaBlock</a></dd>
      <dt>SBC:</dt>
      <dd>Not currently available</dd>
      <dt>Janelia:</dt>
      <dd>Not currently available</dd>
    </dl>

    <h3>Retrieving Pfam family pages</h3>
    <dl class="sitesList">
      <dt>WTSI:</dt>
      <dd>
        <div>
          <a href="http://pfam.sanger.ac.uk/family?acc=PF00002">
            http://pfam.sanger.ac.uk/family?acc=PF00002</a>
          or<br />
          <a href="http://pfam.sanger.ac.uk/family?id=7tm_2">
            http://pfam.sanger.ac.uk/family?id=7tm_2</a>
        </div>
      </dd>
      <dt>SBC:</dt>
      <dd><a href="http://www.cgr.ki.se/cgi-bin/Pfam/getacc?PF00002">
        http://www.cgr.ki.se/cgi-bin/Pfam/getacc?PF00002</a></dd>
      <dt>Janelia:</dt>
      <dd><a href="http://pfam.janelia.edu/cgi-bin/getdesc?acc=PF00002">
        http://pfam.janelia.edu/cgi-bin/getdesc?acc=PF00002</a></dd>
    </dl>

    <p>
      Both the WTSI and Janelia servers support retrieving family data using 
      either accession or ID. For WTSI, use &quot;entry=7tm_2&quot; or
      &quot;entry=PF00002&quot;; for Janelia use &quot;name=7tm_2&quot;
      and &quot;name=PF00002&quot;. However, accession numbers are more stable 
      from release to release than IDs, so we strongly recommend that you link 
      by accession number.
    </p>
    
  </div>
</div>

<!-- end linking block -->
