[%
# scores.tt
# rdf 20060926 WTSI
# 
# build the references block for the help pages
#
# $Id: references.tt,v 1.1 2006-09-27 13:54:39 rdf Exp $
%]

<!-- start references block -->

<div class="block" id="helpReferencesBlock">
  <div class="handle">
    <h1>References & Bibliography</h1>
  </div>
  <div class="blockContent">

  <h3>Pfam References</h3>
  
<a href=http://nar.oxfordjournals.org/cgi/content/full/34/suppl_1/D247 target=_blank>Pfam: clans, web tools and services.</a>
<p>Robert D. Finn, Jaina Mistry, Benjamin Schuster-Bockler, Sam Griffiths-Jones, Volker Hollich, Timo Lassmann, Simon Moxon, Mhairi Marshall, Ajay Khanna, Richard Durbin, Sean R. Eddy, Erik L. L. Sonnhammer and Alex Bateman.</p><br>
<p>Nucleic Acids Research(2006) Database issue 34:D247-51.</p>

 <a href=http://nar.oupjournals.org/cgi/content/full/32/suppl_1/D138> The Pfam Protein Families Database</A>
<p>Alex Bateman, Lachlan Coin, Richard Durbin, Robert D. Finn, Volker Hollich, Sam Griffiths-Jones, Ajay Khanna, Mhairi Marshall, Simon Moxon, Erik L. L. Sonnhammer, David J. Studholme, Corin Yeats and Sean R. Eddy
<br>
<p>Nucleic Acids Research(2004) Database Issue 32:D138-D141</p>



<a href=http://nar.oupjournals.org/cgi/content/full/30/1/276?ijkey=wfgjAWVRY.wto&keytype=ref&siteid=nar> The Pfam Protein Families Database</A>
Bateman A, Birney E, Cerruti L, Durbin R, Etwiller L, Eddy SR, Griffiths-Jones S, Howe KL, Marshall M, Sonnhammer EL (2002)
 Nucleic Acids Research 30(1):276-280
<P>

<a href=ftp://ftp.sanger.ac.uk/pub/databases/Pfam/NAR_2000_paper.pdf>The Pfam Protein Families Database</A>
       Bateman A, Birney E, Durbin R, Eddy SR, Howe KL, Sonnhammer EL (2000) Nucleic Acids
Research 28:263-266 <font size=1>(Reproduced with permission from <a href="http://www.oup.co.uk/nar">NAR Online)</font></a>
<P>
<a href=ftp://ftp.sanger.ac.uk/pub/databases/Pfam/NAR_1999_paper.pdf>Pfam 3.1: 1313 multiple
  alignments match the majority of proteins</A>
 Bateman A, Birney E, Durbin R, Eddy SR, Finn RD, Sonnhammer ELL (1999)
   Nucleic Acids Research 27:260-262<p>

<a href="http://nar.oupjournals.org/cgi/content/full/26/1/320">Pfam: multiple sequence alignments and HMM-profiles of protein domains</A> Sonnhammer ELL, Eddy SR, Birney E, Bateman A, Durbin R (1998) Nucleic Acids Research 26:320-322<p>

<SPAN class=normaltext> Sonnhammer ELL, Eddy SR, Durbin R (1997) Pfam: A Comprehensive
  Database of Protein Families Based on Seed Alignments, Proteins
  28:405-420 </SPAN>

<h3>iPfam References</h3>



<h3>Book Chapters on Pfam</h3>


  </div>
</div>
