[%
# browseFamilies.tt
# jt6 20060717 WTSI
# 
# build a "browse" page for Rfam families
#
# $Id: families.tt,v 1.5 2008-12-10 13:52:17 jt6 Exp $

META title = "Browse Rfam families";
META fullPage = 1;

USE Number.Format( THOUSANDS_SEP = "," );

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "browse.css" );
sharedRequirements.js.push( "tablekit.js" );

#-------------------------------------------------------------------------------

pages = [ "0 - 9" ];
CALL pages.import( [ "A" .. "Z" ] );

# shortcuts for URIs
familyURI = c.uri_for( "/family" );

# generate the page list
pageList = PROCESS "components/pageList.tt" 
                   pageList=pages
                   activeLetters=active_letters.families
                   pageURI = "#";
-%]

<!-- start browse page -->

<h1 class="pageHeader">Browse all [% families.size %] Rfam families</h1>

<p class="browseSummary">
  The table may be sorted by clicking on the column titles, or restored to the 
  original order <span class="link" id="sortLink">here</span>. 
  <strong>Please note</strong> that sorting large tables can be slow. 
  Go <a href="[% c.uri_for( '/browse' ) %]">back</a> to the browse index. 
</p>

[% pageList %]
          
<table class="details browse" 
       id="browseTable"
       summary="Details of Rfam families">
  <thead>
    <tr>
      <th id="indexCol" class="rowNum">Original order</th>
      <th>ID</th>
      <th>Accession</th>
      <th>Type</th>
      <th>Seed</th>
      <th>Full</th>
      <th>Average length</th>
      <th>Sequence<br />identity (%)</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    [% first = "";
    FOREACH rfam IN families;
      IF rfam.rfam_id.match('^\d');
        initialLetter = "0 - 9";
      ELSE;
        initialLetter = rfam.rfam_id.split("").first | upper;
      END %]
      <tr class="[% loop.index % 2 ? "odd" : "even" %]">
        <td class="rowNum">[% loop.index %]</td>
        <td>
          <a [%- IF initialLetter != first -%]name="[% initialLetter %]"
             [%- first = initialLetter | upper; END %]
             href="[% familyURI; '/'; rfam.rfam_acc %]">
            [% rfam.rfam_id %]</a>
        </td>
        <td>
          <a href="[% familyURI; '/'; rfam.rfam_acc %]">[% rfam.rfam_acc %]</a>
        </td>
        <td>[% rfam.type %]</td>
        <td>[% rfam.num_seed | format_number %]</td>
        <td>[% rfam.num_full | format_number %]</td>
        <td>[% rfam.alignments_and_trees.average_length %]</td>
        <td>[% rfam.alignments_and_trees.percent_id %]</td>
        <td class="left">[% rfam.description | html %]</td>
      </tr>
    [% END -%]
  </tbody>
</table>

[% pageList %]

<script type="text/javascript">
  // <![CDATA[
  var sorter = new TableKit( "browseTable",
                              {
                                editable: false,
                                resizable: false,
                                rowEvenClass: "even",
                                rowOddClass: "odd",
                                stripe: true
                              } );    

  [% # add a listener to the "return to original sort order" link,
     # now that the table sort object is actually defined %]
  $("sortLink").observe( "click", function() {
    sorter.sort(0);
  } );  // ]]>
</script>

<!-- end browse page -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
