[%
# all_articles_text.tt
# jt6 20110414 WTSI
# 
# build a plain text list of the Wikipedia articles in Rfam
#
# $Id$

USE date;

META naked = 1;

# shortcuts for URIs
familyURI = c.uri_for( "/family" );
-%]
# list of all Wikipedia articles, generated [% date.format %]
# Rfam release [% relData.rfam_release %], release date [% relData.rfam_release_date %]
[%- FOREACH title IN articles.keys.sort %]
[% title %]	[% FOREACH acc IN articles.${title}.sort; acc _ " "; END %]
[%- END %]
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
