[%
# browseFamilies.tt
# jt6 20060717 WTSI
# 
# build a "browse" page for Rfam families
#
# $Id: families.tt,v 1.4 2008-12-08 13:01:30 jt6 Exp $

META title = "Browse Rfam families";
META fullPage = 1;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "browse.css" );

#-------------------------------------------------------------------------------

pages = { '0' => '9',
          'A' => 'F',
          'G' => 'L',
          'M' => 'R',
          'S' => 'T',
          'U' => 'Z' };

# build the page list just once...
pageList = BLOCK %]
<div class="pageLinks">

  [%- IF ( from_page == from AND to_page == to ) %]
    <span class="inactive">Top twenty</span>
  [% ELSE %]
    <a href="[% c.uri_for( '/family/browse/top20' ) %]">Top twenty</a>
  [% END;

  FOREACH from_page IN pages.keys.sort;
    to_page = pages.$from_page; 
    IF ( from_page == from AND to_page == to ) %]
      <span class="inactive">
        [% from_page | ucfirst %] - [% to_page | ucfirst %]</span>
    [% ELSE %]
      <a href="[% c.uri_for( '/family/browse', from_page, to_page ) %]">
        [% from_page | ucfirst %] - [% to_page | ucfirst %]</a>
    [% END;
  END %]

</div>
[% END; # of pageList BLOCK -%]

<!-- start browse page -->

<h1 class="pageHeader">
  [% IF ( from.defined AND to.defined ); 
    "Browse Rfam families "; from; " - "; to;
  ELSIF top20;
    "Browse top 20 largest Rfam families";
  ELSE;
    "Browse Rfam families";
  END %]
</h1>

[% pageList %]
          
<table class="details browse" summary="Details of Rfam families">
  <thead>
    <tr>
      <th rowspan="2">ID</th>
      <th rowspan="2">Accession</th>
      <th rowspan="2">Type</th>
      <th colspan="2">Number of sequences</th>
      <th rowspan="2">Description</th>
    </tr>
    <tr>
      <th>Seed</th>
      <th>Full</th>
    </tr>
  </thead>
  <tbody>
  [% FOREACH rfam IN families -%]
    <tr class="[% loop.index % 2 ? "odd" : "even" %]">
      <td>
        <a href="[% c.uri_for( '/family', rfam.rfam_acc ) %]">[% rfam.rfam_id %]</a>
      </td>
      <td>
        <a href="[% c.uri_for( '/family', rfam.rfam_acc ) %]">[% rfam.rfam_acc %]</a>
      </td>
      <td>[% rfam.type %]</td>
      <td>[% rfam.num_seed %]</td>
      <td>[% rfam.num_full %]</td>
      <td class="left">[% rfam.description | html %]</td>
    </tr>
  [% END %]
  </tbody>
</table>

[% pageList %]

<!-- end browse page -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
