[%
# index.tt
# jt6 20070426 WTSI
# 
# build a "browse" index page
#
# $Id: index.tt,v 1.6 2008-12-08 13:01:06 jt6 Exp $

META title = "Browse Rfam";
META fullPage = 1;

USE dumper;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "browse.css" );

#-------------------------------------------------------------------------------

alphabet = [ "A" .. "Z" ];

pages = { 'A' => 'F',
          'G' => 'L',
          'M' => 'R',
          'S' => 'T',
          'U' => 'Z' };

genomeUri = c.uri_for( '/genome/browse' );

USE table alphabet, rows = 20 -%]

<!-- start of browse index page -->
<div id="browseIndex">
  
  <h2>Browse Rfam</h2>
  
  <table summary="Browse the Rfam database">
    <tbody>
      <tr>
        <td class="type">FAMILIES</td>
        <td class="links">
          <a href="[% c.uri_for( '/family/browse/all' ) | html %]">
            All</a>
          <a href="[% c.uri_for( '/family/browse/top20' ) | html %]">
            Top twenty</a>
          <a href="[% c.uri_for( '/family/browse', 0, 9 ) | html %]">
            0 - 9</a>
          [% FOREACH from IN pages.keys.sort;
            to = pages.$from; %]
          <a href="[% c.uri_for( '/family/browse', from, to ) | html %]">
            [% from | ucfirst %] - [% to | ucfirst %]</a>
          [% END %]
        </td>
      </tr>
      
      <tr>
        <td class="type">GENOMES</td>
        <td class="links">
          You can browse <a href="[% genomeUri %]">all genomes</a> 
          by species name, or you can browse genomes from specific kingdoms:
          
          <dl class="alphabetList">
            <dt>
              <a href="[% genomeUri %]">All</a>
            </dt>
            <dd>
            [% FOREACH col IN table.col;
              FOREACH letter IN col;
                IF active_letters.all.$letter %]
                  <a href="[% genomeUri %]#[% letter %]">[% letter %]</a>
                [%- ELSE %]
                  <span class="inactive">[% letter %]</span>
                [%- END;
              END -%]
              <br />
            [% END -%]
          </dl>

          [%- FOREACH kingdom IN kingdoms %]
            <dl class="alphabetList">
              <dt>
                <a href="[% genomeUri; '/'; kingdom %]">[% kingdom %]</a>
              </dt>
              <dd>
                [% FOREACH col IN table.col;
                  FOREACH letter IN col;
                    IF active_letters.$kingdom.$letter %]
                      <a href="[% genomeUri; '/'; kingdom; '#'; letter %]">[% letter %]</a>
                    [%- ELSE %]
                      <span class="inactive">[% letter %]</span>
                    [%- END;
                  END -%]
                  <br />
                [% END -%]
              </dd>
            </dl>
          [% END %]
        </td>
      </tr>

      <tr>
        <td class="type">STRUCTURES</td>
        <td class="links">
          [% got_numbers = 0; 
          FOREACH num IN [ 0..9 ];
            IF active_letters.families_with_structures.$num;
              got_numbers = 1;
              LAST;
            END;
          END;
          IF got_numbers %]
            <a href="[% c.uri_for( '/family/browse/with_structure#0' ) %]">0 - 9</a>
          [% ELSE %]
            <span class="inactive">0 - 9</span>
          [% END;
          FOREACH col IN table.col;
            FOREACH letter IN col;
              IF active_letters.families_with_structures.$letter %]
                <a href='[% c.uri_for( "/family/browse/with_structure#$letter" ) %]'>[% letter %]</a>
              [%- ELSE %]
                <span class="inactive">[% letter %]</span>
              [%- END;
            END -%]
            <br />
          [% END -%]
        </td>
      </tr>
      
    </tbody>
  </table>  
  
  <hr />
  
</div>

<!-- end of browse index page -->

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
