
[%
# domains.tt
# jt6 20060706 WTSI
# 
# build the structural domains block for structures
#
# $Id: domains.tt,v 1.6 2008-05-16 15:30:34 jt6 Exp $

META naked = 1;
-%]

<!-- start domains block -->
[% FOREACH image IN domainImages.each_image %]

<div class="graphicRow [% loop.index % 2 ? "odd" : "even" %]">

  [% IF seqMapping.${loop.index} -%]
  <span class="graphicLabel">[% seqMapping.${loop.index} %]</span>
  [% END -%]

  <img class="domainImage"	
       src="[% constants.tmp %]/[% image.file_location %]"
       usemap="#graphicsMap[% loop.index %]"
       alt="" />
  <div class="cleaner">&nbsp;</div>

  <map name="graphicsMap[% loop.index %]">
    [% image.image_map %]
  </map>		
</div>

[% END %]

<!-- end domains block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
