[%
# error.tt
# jt6 20060919 WTSI
#
# show an error report for the structure page.
#
# $Id: error.tt,v 1.1 2006-09-22 13:17:45 jt6 Exp $

# tell the wrapper to add the full page footer
META fullPage = 1;
%]

[% message = BLOCK %]

  [% IF c.error.size AND constants.debug %]

    <p>There was a <em>system error</em> when loading the requested structure page:</p>
    <p class="message">[% c.error.first %]</p>

  [% ELSE %]

    <p>There was a problem loading the requested structure page.</p>

    [% IF errorMsg %]
      <p class="message">[% errorMsg %]</p>
    [% END %]

  [% END # of IF DEBUG... %]

[% END # of block %]

[% PROCESS pages/sectionError.tt %]
