
[%
# getDomains.tt
# rdf 2006/08/24 WTSI
# 
# block for the structural domains data
#
# $Id: getDomains.tt,v 1.11 2009-09-04 10:51:34 jt6 Exp $
-%]

<!-- start structural domains block -->

<div class="block" id="structureDomainsBlock">
  <div class="handle">
    <h1>Structural Domain Comparison</h1>
  </div>
  <div class="blockContent">

  	<!-- start of Structural Domains graphics div -->
    <div id="getDomph">
      <p class="loading">
        Getting Data from CATH and SCOP...
      </p>
    </div>
    <!-- end of graphics div -->

  </div>

</div> <!-- end of "block" -->

<script type="text/javascript">
  // <![CDATA[
  
  // set up the post-load AJAX call
  document.observe( "dom:loaded", function() {
    var r = new Ajax.Request(
      "[% c.uri_for( "/structure/structuraldomains" ) %]",
      { parameters: { id:     '[% pdbId %]' },
        onSuccess:  function( oResponse ) {
                      ("getDomph").update( oResponse.responseText );
                    },
        onFailure:  function( oResponse ) {
                      ("getDomph").update( "Graphics loading failed." );
                    }
      }
    );
  } );
  // ]]>
</script> 

<!-- end structural domains block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
