
[%
# getDomains.tt
# rdf 2006/08/24 WTSI
# 
# block for the structural domains data
#
# $Id: getDomains.tt,v 1.8 2007-11-05 13:38:19 jt6 Exp $
-%]

<!-- start structural domains block -->

<div class="block" id="structureDomainsBlock">
  <div class="handle">
    <h1>Structural Domain Comparison</h1>
  </div>
  <div class="blockContent">

  	<!-- start of Structural Domains graphics div -->
    <div id="getDomph">
      <p class="loading">
        Getting Data from CATH and SCOP...
      </p>
    </div>
    <!-- end of graphics div -->

  </div>

</div> <!-- end of "block" -->

<script type="text/javascript">
  // <![CDATA[
  
  // set up the post-load AJAX call
  Event.observe(
    window,
    "load",
    function() {
      new Ajax.Request( "[% c.uri_for( "/structure/structuraldomains" ) %]",
                        { method:     'get',
                          parameters: { id:     '[% pdbId %]' },
                          onSuccess:  function( oResponse ) {
                                        ("getDomph").update( oResponse.responseText );
                                      },
                          onFailure:  function( oResponse ) {
                                        ("getDomph").update( "Graphics loading failed." );
                                      }
                        } );
    },
    false );

    // ]]>
  </script> 

<!-- end structural domains block -->
