[%
# literature.tt
# jt6 20090820 WTSI
# 
# build the literature block for structures
#
# $Id: literature.tt,v 1.1 2009-08-21 10:48:41 jt6 Exp $
-%]

<!-- start literature block -->

<div class="block" id="structureLiteratureBlock">
  <div class="handle">
    <h1>Literature</h1>
  </div>
  <div class="blockContent">

    <h2>BioLit references</h2>
    
    <div id="biolitRefs">
      <span class="loading">
        Checking for BioLit entries for <strong>[% pdbId %]</strong>
      </span>
    </div>

  </div>
</div>

<script type="text/javascript">
  // <![CDATA[

  // load the biolit data. Set up the js objects that handle switching
  // between the various figures
  var switchers = [];
  document.observe( "dom:loaded", function() {
    var r = new Ajax.Updater(
      "biolitRefs",
      "[% c.uri_for( '/structure/annotations/references' ) %]",
      { 
        parameters: { entry: "[% pdbId %]" },
        evalScripts: true,
        onComplete: function() {
 
          // tell the lightbox object to check again for lightbox images
          lb.updateImageList();

          // add ImageSwitchers to each of the sets of figures
          $$(".refRow").each( function( row ) {
            switchers.push( new ImageSwitcher( row.down(".switcher") ) );
          } );

          // update and show the summary about the biolit references in the 
          // summary tab
          var numBlArticles = $$(".refRow").size();

          if ( numBlArticles > 0 ) {
            $("numBiolitArticles").update( numBlArticles );
            $("blArticlePlural").update( numBlArticles > 1 ? "s" : "" );
            $("blReferPlural").update( numBlArticles > 1 ? "" : "s" );
            $("blThemIt").update( numBlArticles > 1 ? "them" : "it" );
            $("biolitSummary").show();
          }
        } 
      }
    );
  } );

  // ]]>
</script>

<!-- end literature block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
