
[%
# summary.tt
# jt6 20060706 WTSI
# 
# build the summary block for structures
#
# $Id: summary.tt,v 1.29 2009-09-04 12:51:35 jt6 Exp $

USE String;
USE date;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.js.push( "lightbox2.js" );
requirements.js.push( "scriptaculous.js?load=effects,builder" );
requirements.js.push( "image_switcher.js" );

requirements.css.push( "lightbox2.css" );
requirements.css.push( "structure.css" );

#-------------------------------------------------------------------------------

pdbId = pdb.pdb_id;
title = pdb.title;
oe    = 0;
%]

<!-- start summary block -->

<div class="block" id="structureSummaryBlock">
  <div class="handle">
    <h1>Summary</h1>
  </div>
  <div class="blockContent">

    [% IF pdb.pdb_image %]
      <div class="pdbImageFragment">
        <a href="[% c.uri_for( "/structure/getimage", { id = pdbId } ) %]" 
           rel="lightbox" 
           title="PDB entry [% pdbId %]">
          <img class="pdbImage" 
               src="[% c.uri_for( "/structure/getimage", { id = pdbId, size = "s" } ) | html %]"
               alt="[% pdbId %]" /></a>
        <br />
        <span class="pdbTitle">PDB entry [% pdbId %]</span>: [% title %]
        <br />
        <a href="[% c.uri_for( "/structure/getimage", { id = pdbId } ) %]" 
           rel="lightbox" 
           title="PDB entry [% pdbId %]"
           class="small">Enlarge</a> image.
      </div>
    [% END %]

    <h1>PDB entry [% pdb.pdb_id %]</h1>

    <p>
    [% IF title;
      t = String.new(title);
      t.trim.lower.capital;
    ELSE %]
      This is the summary of <acronym title="Protein DataBank">PDB</acronym>
      entry <strong>[% pdbId %]</strong>. 
    [% END %]
    </p>

    <p id="biolitSummary" style="display: none">
      We found <strong id="numBiolitArticles">0</strong> 
      <a class="ext" href="http://www.pubmedcentral.nih.gov/about/copyright.html">
        Pubmed Central</a> article<span id="blArticlePlural">s</span> that 
        refer<span id="blReferPlural"></span> to <strong>[% pdbId %]</strong>.
      You can see <span id="blThemIt">them</span> 
      <span class="link" onclick="switchTab('structureLiteratureBlock')">here</span>.
    </p>

    <table class="layout narrow"
           summary="Details of the structure">
  	  <tbody>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
          <td class="label">Experiment type:</td>
          <td class="data">
            [% IF pdb.method == "other" %]
            <span class="model">Other</span>
            [% ELSE;
              SWITCH pdb.method;
                CASE "x-ray";
                  "X-ray";
                CASE "nmr";
                  "NMR";
                CASE "em";
                  "EM";
                CASE;
                  "Other";
               END;
            END;
            IF pdb.resolution AND pdb.resolution > 0 %], resolution [% pdb.resolution %]&Aring;[% END %]
          </td>
        </tr>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
    		  <td class="label">Deposition date:</td>
  	      <td class="data">
            [% pdb.date || '<span class="inactive">n/a</span>' %]
          </td>
    		</tr>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
          <td class="label">Authors:</td>
          <td class="data">
          [% FOREACH author IN authors -%]
            <span class="authorName">[% author.name %]</span>
            [% ", " UNLESS loop.last -%]
          [% END -%]
          </td>
        </tr>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
    		  <td class="label">Species:</td>
  	      <td class="data">
            [% collectedSpecies = {};
              FOREACH m IN mapping;
                collectedSpecies.${m.auto_pfamseq.get_column('species')} = m.auto_pfamseq.ncbi_taxid;
              END;
              IF collectedSpecies.keys.size;
                FOREACH species IN collectedSpecies.keys %]
                <em><a href="http://www.ebi.ac.uk/newt/display?search=[% collectedSpecies.${species} %]">
                  [% String.new(species).trim.chop; ", " UNLESS loop.last %]</a></em>
                [% END;
              ELSE %]
              <span class="inactive">n/a</span>
              [% END %]
          </td>
    		</tr>
        [% IF pdb.pubmed_id != 0 %]
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
    		  <td class="label">PubMed reference:</td>
  	      <td class="data">
  	        <a class="ext" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;dopt=Abstract&amp;list_uids=[% pdb.pubmed_id %]">
  	          [% pdb.pubmed_id %]</a>
          </td>
    		</tr>
        [% END %]
      </tbody>
  	</table>

    <h2>TOPSAN annotations</h2>
    
    <div id="topsan">
      <div class="loading">Loading TOPSAN annotations...</div>
    </div>

    <h2>External database links</h2>

    [% oe = 0 %]
    <table class="details links"
           summary="Links to external data sources">
      <tbody>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
          <td class="label"><acronym title="Protein DataBank">PDB</acronym></td>
          <td>
            <a href="http://www.rcsb.org/pdb/explore/explore.do?structureId=[% pdbId %]"
               class="ext">[% pdbId %]</a>
          </td>
        </tr>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
          <td class="label"><acronym title="Macromolecular Structure Database">MSD</acronym></td>
          <td>
            <a href="http://www.ebi.ac.uk/msd-srv/atlas?id=[% pdbId %]"
               class="ext">[% pdbId %]</a>
          </td>
        </tr>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
          <td class="label">PDBsum</td>
          <td>
            <a href="http://www.ebi.ac.uk/thornton-srv/databases/cgi-bin/pdbsum/GetPage.pl?pdbcode=[% pdbId %]"
               class="ext">[% pdbId %]</a>
          </td>
        </tr>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
          <td class="label">CATH</td>
          <td>
            <a href="http://www.cathdb.info/cgi-bin/Pdb.pl?pdb_code=[% pdbId %]"
               class="ext">[% pdbId %]</a>
          </td>
        </tr>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
          <td class="label"><acronym title="Structural Classifcation of Proteins">SCOP</acronym></td>
          <td>
            <a href="http://scop.mrc-lmb.cam.ac.uk/scop/search.cgi?pdb=[% pdbId %]"
               class="ext">[% pdbId %]</a>
          </td>
        </tr>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
          <td class="label">Proteopedia</td>
          <td>
            <a href="http://proteopedia.org/wiki/index.php/[% pdbId %]"
               class="ext">[% pdbId %]</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<script type="text/javascript">
  // <![CDATA[

  // set up the lightbox
  var lb;
  document.observe( "dom:loaded", function() {
    lb = new Lightbox();
  } );

[% # if there are any mappings between structure and family, we need to build a
   # list of unique IDs, and we need to make an AJAX call to retrieve the
   # domain graphics

IF mapping.size;

  # collect the unique uniprot IDs
  unpIds = {};
  FOREACH m IN mapping;
    unp = m.pfamseq_id;
    unpIds.$unp = m ;
  END;
  
  unpIdList = unpIds.keys.join(",");
-%]

  // TODO revisit this call when the domain graphics are working...

  // set up the AJAX call for the structure image
//  document.observe( "dom:loaded", function() {
//
//    // structure graphic
//    var r = new Ajax.Request(
//      "[% c.uri_for( '/structure/graphics' ) %]",
//      {
//        parameters: { seqIds: '[% unpIdList %]',
//                      id:     '[% pdbId %]' },
//        onSuccess:  function( oResponse ) {
//                      $("structureGraphicsHolder").update( oResponse.responseText );
//                    },
//        onFailure:  function( oResponse ) {
//                      $("structureGraphicsHolder").update( "Graphics loading failed." );
//                    }
//      }
//    );
//
//  } );
[% END; # of "if mapping.size" %]

  // set up the AJAX call for the topsan data
  document.observe( "dom:loaded", function() {

    // topsan annotation
    var r = new Ajax.Updater(
      "topsan",
      "[% c.uri_for( '/structure/annotations/topsan', pdbId ) %]",
      {
        onFailure:  function( oResponse ) {
                      $("topsan").update( "TOPSAN annotation loading failed." );
                    }
      }
    );

  } );

  // ]]>
</script>

<!-- end summary block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
