[%
# domains.tt
# jt6 20061018 WTSI
# 
# build the domains block for PfamB's
#
# $Id: domains.tt,v 1.3 2007-05-16 15:06:25 jt6 Exp $
%]

<!-- start domains block -->

<div class="block" id="pfambDomainsBlock">
  <div class="handle">
    <h1>Domain organisation</h1>
  </div>
  <div class="blockContent">
    <p>
  	  Below is a listing of the unique domain organisations or architectures in which 
      this domain is found.
    </p>
    <div id="dgph">
      <p class="loading">
        Loading domain graphics...
      </p>
    </div>
  </div>
</div>

<script type="text/javascript">
  // <![CDATA[
  loadOptions.dg.uri    = "[% base %]pfamb/domaingraphics";
  loadOptions.dg.params = "acc=[% pfam.pfamB_acc %]";
  // ]]>
</script>

<!-- end domains block -->

