[%
# domains.tt
# jt6 20061018 WTSI
# 
# build the domains block for PfamB's
#
# $Id: domains.tt,v 1.2 2006-10-31 15:02:46 jt6 Exp $
%]

<!-- start domains block -->

<div class="block" id="pfambDomainsBlock">
  <div class="handle">
    <h1>Domain organisation</h1>
  </div>
  <div class="blockContent">
    <p id="dgph" class="loading">
      Loading domain graphics...
    </p>
  </div>
</div>

<script type="text/javascript">
  loadOptions.dg.uri    = "[% c.uri_for( "/pfamb/domaingraphics" ) %]";
  loadOptions.dg.params = "acc=[% pfam.pfamB_acc %]";
</script>

<!-- end domains block -->

