
[%
# species.tt
# jt6 20060411 WTSI
#
# block showing the species tree for Pfam-Bs
#
# $Id: species.tt,v 1.5 2008-07-23 13:43:26 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

# YUI stuff - this is for the tree viewer
sharedRequirements.css.push( "tree.css" );
sharedRequirements.js.push( "yui/TaskNode.js" );
sharedRequirements.js.push( "treeTweak.js" );

#-------------------------------------------------------------------------------
%]

<!-- start species block -->

<div class="block" id="pfambSpeciesBlock">
  <div class="handle">
    <h1>Species distribution</h1>
  </div>
  <div class="blockContent">

    [% PROCESS components/speciesTreeTools.tt  # add the "control panel %]
    
    <!-- start of tree -->
  	<div id="treeDiv">
      <p id="stph" class="loading">Loading...</p>
    </div>
    <!-- end of tree -->

    [% PROCESS components/speciesTreeJS.tt  # add the JS that sets up the post-load %]
    
  </div>
</div>


<!-- end of species block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
