
[%
# species.tt
# jt6 20060411 WTSI
#
# block showing the species tree for Pfam-Bs
#
# $Id: species.tt,v 1.3 2008-03-19 13:38:07 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

# YUI stuff - this is for the tree viewer
sharedRequirements.css.push( "tree.css" );
sharedRequirements.js.push( "yui/yahoo.js" );
sharedRequirements.js.push( "yui/dom.js" );
sharedRequirements.js.push( "yui/event.js" );
sharedRequirements.js.push( "yui/treeview.js" );
sharedRequirements.js.push( "yui/TaskNode.js" );
sharedRequirements.js.push( "treeTweak.js" );

#-------------------------------------------------------------------------------
%]

<!-- start species block -->

<div class="block" id="pfambSpeciesBlock">
  <div class="handle">
    <h1>Species distribution</h1>
  </div>
  <div class="blockContent">

    [% PROCESS components/speciesTreeTools.tt  # add the "control panel %]
    
    <!-- start of tree -->
  	<div id="treeDiv">
      <p id="stph" class="loading">Loading...</p>
    </div>
    <!-- end of tree -->

    [% PROCESS components/speciesTreeJS.tt  # add the JS that sets up the post-load %]
    
  </div>
</div>


<!-- end of species block -->
