[%
# structure.tt
# jt6 20061018 WTSI
# 
# build the structure block for PfamBs
#
# $Id: structure.tt,v 1.3 2007-05-30 08:08:57 jt6 Exp $

RETURN UNLESS summaryData.numStructures;
%]

<!-- start structure block -->

<div class="block" id="pfambStructureBlock">
  <div class="handle">
    <h1>Structures</h1>
  </div>
  <div class="blockContent">

    <div id="familyStructureTabHolder">
      <p id="fstrucph" class="loading">
        Loading structure mapping...
      </p>  
    </div>

  </div>
</div>

<script type="text/javascript">
  // <![CDATA[
  loadOptions.fstruc.uri    = "[% base %]pfamb/structuretab";
  loadOptions.fstruc.params = "acc=[% acc %]";
  // ]]>
</script>

<!-- end structure block -->

