
[%
# summary.tt
# jt6 20060406 WTSI
# 
# build the summary block for PfamB's
#
# $Id: summary.tt,v 1.4 2007-03-13 10:33:00 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

# using the same styles/js as Pfam A family pages
requirements.css.push( "family.css" );
requirements.cssIe.push( "family_ie.css" );

requirements.js.push( "family.js" );

#-------------------------------------------------------------------------------

%]

<script type="text/javascript">
  Event.observe( window, "load", pfambPostLoad, false );
</script>

<!-- start summary block -->

<div class="block" id="pfambSummaryBlock">
  <div class="handle">
    <h1>Summary</h1>
  </div>
  <div class="blockContent">

    <h3>PfamB [% pfam.pfamB_acc %]
      <a href="[% c.uri_for( "/annotate" ) %]">
	    <img class="addAnnotation" alt="Add an annotation" src="[% c.uri_for( "/images/annotation.png") %]" /></a>
	</h3>

    <p>
      This family was generated <em>automatically</em> from an alignment taken from
	  Prodom 2004.1 (<a class="ext" href="http://www.toulouse.inra.fr/prodom/cgi-bin/ReqProdomII.pl?id_dom1=[% prodom.db_link %]">[% prodom.db_link %]</a>)
      subtracting sequence segments already covered by Pfam-A.
    </p>

    [% PROCESS components/links.tt %]

  </div>
</div>

<!-- end summary block -->

