
[%
# summary.tt
# jt6 20060406 WTSI
# 
# build the summary block for PfamB's
#
# $Id: summary.tt,v 1.13 2008-06-02 14:40:58 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

# using the same styles/js as Pfam A family pages
requirements.css.push( "family.css" );
requirements.cssIe.push( "family_ie.css" );

requirements.js.push( "family.js" );
requirements.js.push( "pfamb.js" );

#-------------------------------------------------------------------------------

%]

<script type="text/javascript">
  // <![CDATA[
  Event.observe( window, "load", pfambPostLoad, false );
  // ]]>
</script>

<!-- start summary block -->

<div class="block" id="pfambSummaryBlock">
  <div class="handle">
    <h1>Summary</h1>
  </div>
  <div class="blockContent">

    <h1>PfamB [% pfam.pfamB_acc %]
      <a href="[% c.uri_for( "/annotate", { acc = pfam.pfamB_acc } ) %]">
        <img class="addAnnotation" 
             alt="Add an annotation" 
             src="[% c.uri_for( "/static/images/annotation.png" ) %]" /></a>
  	</h1>

    <p>
      This family was generated <em>automatically</em> from an alignment taken from
  	  Prodom 2005.1 (<a class="ext" href="http://www.toulouse.inra.fr/prodom/cgi-bin/ReqProdomII.pl?id_dom1=[% prodom.db_link %]">[% prodom.db_link %]</a>)
      subtracting sequence segments already covered by Pfam-A.
    </p>

    [% PROCESS components/links.tt %]

  </div>
</div>

<!-- end summary block -->

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
