
[%
# pageList.tt
# jt6 20070427 WTSI
# 
# build the page selector for the browse pages
#
# $Id: pageList.tt,v 1.1 2009-01-06 12:23:37 jt6 Exp $

META naked = 1;

# arguments: pageURI - the base URI for the page links
#            lcChar  - the first letter of the page that we are currently on
#            activeLetters - hash where keys are letters that should be linked
#                      in the page list
#            encode  - if true, the URI is "uri encoded" to convert, for 
#                      example, spaces into %20 before use

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "browse.css" );

#-------------------------------------------------------------------------------

active = activeLetters || {};
%]
<table class="pageList" summary="Browse by initial letter">
  <tbody>
    <tr>
    [% FOREACH page IN pages;
      pageR = page.replace( '\s', '&nbsp;' ) -%]
      <td>
      [%- IF page == lcChar %]
        <span class="letter inactive">[%- pageR | ucfirst %]</span>
      [% ELSE;
        IF encode;
          encodedURI = BLOCK; pageURI; page | uri; END;
        ELSE;
          encodedURI = BLOCK; pageURI; page; END;
        END %]
        <span class="letter">
          [%- IF active.$page %]
          <a href="[% encodedURI %]">[% pageR | ucfirst %]</a>
          [%- ELSE;
            pageR | ucfirst;
          END %]
        </span>
      [% END -%]
      </td>
    [% END -%] 
    </tr>
  </tbody>
</table>
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
