[%
# error.tt
# jt6 20070815 WTSI
# 
# sequence search error page
#
# $Id: error.tt,v 1.2 2008-09-18 13:41:45 jt6 Exp $

META title = "No search results";
META fullPage = 1
-%]

<div class="tips">

  <h1>No results</h1>

  <p>Your sequence search did not return any results</p>

  <h2>Search tips</h2>

  <p>
    Here are a few tips on how to get the most out of the Rfam sequence
    search system:
  </p>

  <dl>
    <dt>
      use a valid sequence
    </dt>
    <dd>
      although we check that the sequence contains only valid characters,
      we can't check that it's a <em>sensible</em> sequence. If you
      are cutting and pasting the sequence, make sure you copy the correct
      piece of text into the form
    </dd>
    <dt>
      used a valid job-ID
    </dt>
    <dd>
      if you bookmarked a set of results, make sure that it includes the 
      job-ID parameter for the results that you need to save
    </dd>
    <dt>
      check that the job-ID hasn't expired
    </dt>
    <dd>
      we store job results for one week, so you can only use the bookmark for 
      a results page for a short time. If you need to permanently record your
      results, please save the page locally 
    </dd>
  </dl>

  <p class="back">
    Go <a href="[% c.uri_for( "/search", { tab = "searchSequenceBlock" } ) %]">back</a> 
    to the search form and try another sequence.
  </p>

  <hr />
  
</div>

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
