
[%#
# graphics.tt
# jt6 20060502 WTSI
# 
# block for graphics for the protein section
#
# $Id: graphics.tt,v 1.9 2006-09-07 10:10:34 jt6 Exp $
-%]

<!-- start protein graphics block -->

<div class="block" id="proteinGraphicsBlock">
  <div class="handle">
    <h1>Sequence annotations</h1>
  </div>
  <div class="blockContent">

    <p>This section shows a graphical representation of the sequence from this UniProt 
    entry, shown as Pfam domains, aligned with features from various other sequence
    databases. You can choose which features are displayed using the drop-down panel under
    the image.</p>

	<p class="small"><strong>Note:</strong> it can take a few seconds for this image
    to be generated and loaded.</p>
 
    <!-- start of graphics div -->
    <div id="graphicsHolder">
	  <p id="pgph" class="loading">
        Loading feature alignment...
      </p>
    </div>
    <!-- end of graphics div -->

    <script type="text/javascript">
      loadOptions.pg.uri    = "[% c.uri_for( "/protein/graphics" ) %]";
      loadOptions.pg.params = "acc=[% pfamseq.pfamseq_acc %]";
  	</script>

	<div id="updatePanel">
      <p><a href="#" onclick="return reveal(this,'checkboxes')">Show</a>
	    sources update panel.</p>

	  <div id="checkboxes" style="display: none">

        <p>Use the check-boxes below to select the sources that you wish to query, then
        hit &quot;Update&quot; to re-generate the image. Please note that the data for the
        image are retrieved from servers around the web and it may take a few seconds to 
        collect the data and generate the image.</p>

  		[% c.prototype.form_remote_tag( { url         => c.uri_for( "/protein/graphics" ),
				                       	  update      => "graphicsHolder",
							              before      => "pgStarted()",
							              complete    => "pgCompleted()",
								          evalScripts => 1 } ) %]
  
	      <input type="hidden" name="acc" value="[% pfamseq.pfamseq_acc %]" />
	      <input type="hidden" name="reload" value="1" />

          [% FOREACH source IN dasSourcesRs.sort("name") -%]
  	        <div class="source">
    	        <input name="[% source.server_id %]" type="checkbox" [% IF source.default_server OR c.session.selectedDASServers.${source.server_id} %]checked="1"[% END %] />
      	        <span class="checkboxLabel">
	            [% IF source.helper_url %]
                <a href="[% source.helper_url %]">[% source.name %]</a>
                [% ELSE %]
                [% source.name %]
                [% END %]
                (<a href="[% source.url %]">source</a>)
  	          </span>
            </div>
          [% END -%]

  	      <input id="pgSubmitButton"
		         name="submit"
                 value="Update"
                 type="submit"
                 disabled="true" />
		  <div id="pgUpdateSpinner" style="visibility: hidden" class="loading">
            Loading features...
          </div>

        </form>

	  </div> <!-- end of "checkboxes" -->

      <div class="cleaner">&nbsp;</div>
 
    </div> <!-- end of "updatePanel" -->

  </div> <!-- end of "blockContent" -->

</div> <!-- end of "block" -->

<!-- end protein graphics block -->
