[%#
# loadGraphics.tt
# jt6 20060503 WTSI
#
# contents of the protein graphics block. Called using an ajax request
# via Protein::Graphics and stuffed into a div in the existing page
#
# $Id: loadGraphics.tt,v 1.10 2006-09-15 13:10:13 jt6 Exp $
%]

<!-- start of features map -->

[%#
<div id="track1" style="display:none;width:200px;background-color:#aaa;height:5px;margin:20px;position:relative">
  <div id="handle1" style="display:none;width:5px;height:10px;background-color:#f00;cursor:move;left:100px"> </div>
</div>
<div id="debug1" style="padding-top: 5px;margin:20px">change: ?</div></p>
%]

<div id="featuresMap">

  <div id="highlight"></div>
  <div id="cursor"></div>

  [% lastImage = maps.size - 1 %]
  [% range = [ 0 .. lastImage ] %]
  [% FOREACH i IN range %]
  	[% map = maps.$i %]
	<div class="featuresRow" id="featuresRow[% i %]">

      <p class="featuresLabel">[% map.server %]</p>

      <img class="featuresImage" id="featuresImage[% i %]" src="[% constants.tmp %]/[% map.image %]" usemap="#featuresMap[% i %]" alt="" />

      <map name="featuresMap[% i %]">
        [% map.map %]
      </map>

    </div>
  [% END %]

  <div class="cleaner">&nbsp;</div>

</div>

[%#
<script type="text/javascript">

	Event.observe( $("featuresImage0"), "load", setWidths, false );

	function setWidths() {

	  // get the width of the first image
	  naturalWidth = $("featuresImage0").width;
	  naturalHeight = $("featuresImage0").height;

	  max = naturalWidth * 1.5;
      min = naturalWidth / 2;
	  start = $("featuresMap").offsetWidth;
	  console.log( "min: " + min );
	  console.log( "max: " + max );
	  console.log( "start: " + start );

	  $("handle1").style.left="100px";

	  if( $("featuresImage0").width > start ) {
	    console.log( "scaling" );
	    $("featuresImage0").width = start;
	    $("handle1").style.display = "block";
	    $("track1").style.display = "block";
	  } else {
	    console.log( "NOT scaling" );
	  }

      new Control.Slider(
  	    'handle1',
        'track1',
        {
          onSlide:function( v ) {
			  $('debug1').innerHTML='slide: '+v;
		  },
          onChange:function( v ) {
			  var w = v * ( max - min ) + min;
			  $$("img.featuresImage").each( function( img ) {
	            img.width=w;
	            //img.height=naturalHeight;
              } );
			  $('debug1').innerHTML='change: '+w;
          }
        }
	  );
	}

</script>
%]

<div id="status">&nbsp;</div>

<script type="text/javascript">
  var areas = $("featuresMap").getElementsByTagName( "area" );

  for( var i = 1; i <= areas.length; i++ ) {
	if( $("featuresArea" + i) ) {
	  Event.observe( "featuresArea" + i, "mouseover", highlightFeature );
      //domTT_addPredefined( "featuresArea" + i + "Tip",
	  //  "caption",    $("tip" + i + "Caption" ),
      //  "content",    $("tip" + i + "Content" ),
	  //  "styleClass", "niceTitle",
      //  "trail",      true
	  //);
	}
  }
  Event.observe( "featuresMap", "mousemove", moveCursor );
  Event.observe( "highlight",   "mousemove", moveCursor, true );
  Event.observe( "highlight",   "mouseout",  unhighlight );

</script>

<!-- end of features map -->
