[%#
# loadGraphics.tt
# jt6 20060503 WTSI
#
# contents of the protein graphics block. Called using an ajax request
# via ProteinGraphics.pm and stuffed into a div in the existing page
#
# $Id: loadGraphics.tt,v 1.4 2006-05-26 15:44:48 jt6 Exp $
%]

[% USE dumper %]

<!-- start of features map -->

<div id="featuresMap">

  <div id="highlight"></div>
  <div id="cursor"></div>

  [% range = [ 0 .. maps.size ] %]
  [% FOREACH i IN range %]
  	[% map = maps.$i %]
	[% CALL c.log.debug( dumper.dump( map ) ) %]
	<div class="featuresRow" id="map[% i %]Wrapper">

      <p class="featuresLabel">[% map.server %]</p>

      <img class="featuresImage" src="[% c.uri_for( "/" ); map.image %]" usemap="#map[% i %]" alt="" />
	  <br />

      <map name="map[% i %]">
        [% map.map %]
      </map>

    </div>
  [% END %]

  <!-- div class="cleaner">&nbsp;</div -->

</div>

<div id="status">&nbsp;</div>

<script type="text/javascript">
//  var areas = $("featuresMap").getElementsByTagName( "area" );
//  for( var i = 1; i <= areas.length; i++ ) {
//    printfire( "adding area " + i );
//    Event.observe( i, "mouseover", highlight );
//    domTT_addPredefined( "item" + i + "Tip",
//      "caption",    $("tip" + i + "Caption" ),
//      "content",    $("tip" + i + "Content" ),
//      "styleClass", "niceTitle",
//      "trail",      true
//    );
//  }
  Event.observe( "featuresMap", "mousemove", moveCursor );
//  Event.observe( "highlight",   "mousemove", moveCursor, true );
//  Event.observe( "highlight",   "mouseout",  unhighlight );
</script>

<!-- end of features map -->
