[%
# loadGraphics.tt
# jt6 20060503 WTSI
#
# contents of the protein graphics block. Called using an ajax request
# via Protein::Graphics and stuffed into a div in the existing page
#
# $Id: loadGraphics.tt,v 1.14 2007-02-07 16:01:40 aj5 Exp $

META naked = 1
-%]

<!-- start of features map -->

<div id="featuresMap">

  <div id="highlight"></div>
  <div id="cursor"></div>
  
  [% c.prototype.form_remote_tag( {	  url         => c.uri_for( "/protein/graphics" ),
			                       	  update      => "graphicsHolder",
							          evalScripts => 1 } ) %]
										  
  <input type="hidden" name="acc" value="[% pfamseq.pfamseq_acc %]" />
  <input type="hidden" name="reloadObjects" value="1" />
  
  [% i = 0 %]
  [% FOREACH section IN sections %]
  
    <table class="section" cellpadding="0" cellspacing="0">
	  <caption>
	    <p align="left">
        [% section.system %] [% section.type %] ([% section.objects.size %])
        <span class="link" onclick="reveal(this,'checkboxes_[% section.id %]',false)">Show</span>
        </p>
	  </caption>
	  
      <!-- Object selection checkboxes -->
      <tr><td colspan="2">
	    <div id="checkboxes_[% section.id %]" class="dasObjectCheckboxes" style="display: none;">
          [% FOREACH subsection IN section.objects %]
            <div class="source">
    		  <input id="select_[% subsection.id %]" name="[% section.type %]//[% section.system %]//DO_[% subsection.object %]" type="checkbox" [% IF subsection.rows.size %]checked="1"[% END %] />
              <span class="checkboxLabel">[% subsection.object %]</span>
   	        </div>
          [% END %]
		  <input type="submit" value="Update" style="float: left; clear: left;"/>
		  <div class="cleaner">&nbsp;</div>
	    </div>
	  </td></tr>
	  
	  <!-- Images -->
      [% FOREACH subsection IN section.objects %]
	    [% IF subsection.rows.size %]
		    <tr><td colspan="2"><p class="sectionLabel">[% subsection.object %]</p></td></tr>
			[% FOREACH row IN subsection.rows %]
			  <tr>
			    <td class="graphics" valign="center" nowrap="nowrap"><p class="featuresLabel" id="featuresLabel[% i %]">[% row.server %]</p></td>
				<td class="graphics">
                  <map name="featuresMap[% i %]" id="featuresMap[% i %]">
                    [% row.map %]
                  </map>
				  <img class="featuresImage" id="featuresImage[% i %]" src="[% constants.tmp %]/[% row.image %]" usemap="#featuresMap[% i %]" alt="" />
                </td>
			  </tr>
			  [% i = i + 1 %]
			[% END %]
		[% END %]
      [% END %]

	</table>
  [% END %]
	
  <div class="cleaner">&nbsp;</div>
  
  </form>

</div>

<div id="status">&nbsp;</div>

<script type="text/javascript">
  var areas = $("featuresMap").getElementsByTagName( "area" );
  $A( areas ).each( function( area ) {
	  Event.observe( area, "mouseover", highlightFeature );
    }
  );
  Event.observe( "featuresMap", "mousemove", moveCursor );
  Event.observe( "highlight",   "mousemove", moveCursor );
  Event.observe( "highlight",   "mouseout",  unhighlight ); 
  Event.observe( "highlight",   "click",     openHighlightURL );
  ht = new YAHOO.widget.Tooltip( "highlightTip", { context: "highlight" } );
</script>

<!-- end of features map -->
