[%
# treefam.tt
# jt6 20061030 WTSI
# 
# block for treefam data
#
# $Id: treefam.tt,v 1.5 2008-05-16 15:30:34 jt6 Exp $

RETURN UNLESS pfamseq.treefam_acc;
-%]

<!-- start treefam block -->

<div class="block" id="proteinTreeFamBlock">
  <div class="handle">
    <h1>TreeFam</h1>
  </div>
  <div class="blockContent">
  <div class="explanatoryText">
    <p>
      Below is a phylogenetic tree of animal genes, with ortholog and paralog 
      assignments, from <a class="ext" href="http://www.treefam.org/">TreeFam</a>.
    </p>
  </div>

  [%# there's no such thing as an iframe in the version of HTML that we're
    # claiming to use, so this is pretty bad form... 
    # TODO don't use an iframe %]
  <iframe id="treeFamFrame" 
          src="http://www.treefam.org/cgi-bin/treeview.pl?stype=clean&amp;ac=[% pfamseq.treefam_acc %]"
          title="TreeFam entry [% pfamseq.treefam_acc %]"></iframe>

  </div> <!-- end of "blockContent" -->
</div> <!-- end of "block" -->

<!-- end treefam block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
