[%
# chromosomes.tt
# jt6 20081203 WTSI
#
# A chromosome-by-chromosome breakdown of Rfam hits to this genome
#
# $Id: chromosomes.tt,v 1.2 2009-01-15 11:57:32 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

sharedRequirements.js.push( "tablekit.js" );

#-------------------------------------------------------------------------------

USE Number.Format( THOUSANDS_SEP = "," );

# shortcuts to the show/hide glass buttons
imageUri   = c.uri_for( "/static/images" );
showButton = "${imageUri}/showButton.png";
hideButton = "${imageUri}/hideButton.png";

embl_seq = 1;

tbody = BLOCK;
  lastAG = 0;
  oe = 0;
  FOREACH chromosome IN chromosomes;
    auto_genome = chromosome.auto_genome %]
    <tr class="[% oe % 2 ? 'odd' : 'even' %]">
      <td>
        [% IF chromosome.genome_acc;
          embl_seq = 1 -%]
          <a class="ext" href="http://www.ncbi.nlm.nih.gov/entrez/viewer.fcgi?db=nuccore&amp;id=[% chromosome.genome_acc %]">
            [% chromosome.genome_acc %]</a>
        [%- ELSE;
          embl_seq = 0;
          row.ensembl_id;
        END %]
      </td>
      <td class="left">[% chromosome.description %]</td>
      <td>[% chromosome.length | format_number( 0, 0 ) %]</td>
      <td>[% regions.$auto_genome.count %]</td>
      [%- IF regions.$auto_genome.count %]
        <td><a href="[% c.uri_for('/genome', summary.ncbi_id, 'gff', auto_genome ) %]">Download</a></td>
      [%- ELSE %]
        <td><span class="inactive">No GFF file</span></td>
      [%- END %]
      <td class="showSwitch">
        <img src="[% showButton %]"
          alt="Show/hide all regions" />
      </td>
    </tr>
    <tr class="[% oe % 2 ? 'odd' : 'even' %]" style="display: none">
      <td colspan="6">
        <table summary="Region summary">
          <thead>
            <tr>
              <th>Family</th>
              <th>Start</th>
              <th>End</th>
              <th>Bits score</th>
            </tr>
          </thead>
          <tbody>
            [% oe2 = 0;
            FOREACH region IN regions.$auto_genome.all %]
              <tr class="[% oe2 % 2 ? 'odd' : 'even' %]">
                [%- IF regions.$auto_genome.has_regions %]
                  <td style="width: 5em">
                    <a href="[% c.uri_for( '/family', region.get_column('rfam_id') ) %]">
                      [% region.get_column('rfam_id') %]</a>
                  </td>
                  <td style="width: 5em">[% region.get_column('genome_start') | format_number( 0, 0 ) %]</td>
                  <td style="width: 5em">[% region.get_column('genome_end') | format_number( 0, 0 ) %]</td>
                  <td style="width: 5em">[% region.get_column('bits_score') %]</td>
                [%- ELSE %]
                  <td colspan="4" class="inactive">No Rfam hits</td>
                [%- END %]
              </tr>
              [%- oe2 = oe2 + 1;
            END %]
          </tbody>
        </table>
        </td>
      </tr>
    [% oe = oe + 1;
  END; # of "FOREACH auto_genome"
END; # of BLOCK
-%]

<!-- start chromosomes block -->

<div class="block" id="genomeChromosomesBlock">
  <div class="handle">
    <h1>Chromosomes</h1>
  </div>
  <div class="blockContent">  

    <p>
      This section shows a chromosome-by-chromosome breakdown of the genome.
      [%- IF embl_seq -%]
      This genome has <a class="ext" href="http://www.ebi.ac.uk/embl/">EMBL accessions</a>.
      [%- ELSE -%]
      You can see more annotations for this genome at 
      <a class="ext" href="http://www.ensembl.org/">Ensembl</a>.
      [%- END -%]
      Each row shows the details of a particular chromosome. You can see 
      information about the families found on that chromosome by clicking the
      &quot;Show&quot; button at the end of the row.
    </p>

    <table id="breakdownTable"
           class="details"
           summary="Breakdown of Rfam hits for this genome">
      <thead>
        <tr>
          <th>
            [%- IF embl_seq -%]
            EMBL accession
            [%- ELSE -%]
            Chromosome identifier
            [%- END -%]
          </th>
          <th>Description</th>
          <th>Length</th>
          <th>Family count</th>
          <th>Download <acronym title="General Feature Format">GFF</acronym> file</th>
          <th>Show all regions</th>
        </tr>
      </thead>
      <tbody>
        [% tbody %]
      </tbody>
    </table>

  </div>

  <script type="text/javascript">
    // <![CDATA[

    $$("#breakdownTable td.showSwitch").each( function( td ) {
      td.observe( "click", function( e ) { 
        var cell    = e.findElement("td");
        var img     = cell.down("img");
        var nextRow = cell.up("tr").next("tr");
        nextRow.toggle();
        img.src = nextRow.visible() ? "[% hideButton %]" : "[% showButton %]";
      } );
    } );

    // ]]>    
  </script>
</div>

<!-- end chromosomes block -->

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
