
[%
# statsTable.tt
# jt6 20060821 WTSI
# 
# builds the statistics table for the proteome statistics tab. This template
# checks for a parameter and limits the number of rows in the table unless
# the parameter is specified.
#
# $Id: statsTable.tt,v 1.1 2009-01-06 12:14:42 jt6 Exp $

# no wrapper thank you
META naked = 1;

# odd/even row counter
oe = 0;

# all data or just the first few rows ?
IF c.req.param('full');
  data = statsData %]
  <p>
    Showing all <strong>[% data.size %]</strong> domains.
  </p>
[% ELSE;
  data = statsData.slice( 0,499 ) %]
  <div id="loadSwitch">
    <p>
      This table shows the first <strong>500</strong> Pfam domains, but you
      can <span class="link" onclick="loadFullTable()">
        see all <strong>[% statsData.size %]</strong> domains</span>. 
    </p>
    <p class="small">
      <strong>Please note:</strong> the full table may take some time
      to display.
    </p>
  </div>
  <p id="spinner"
     class="loading"
     style="display: none">Loading full table...</p>
[% END %]

<table id="statsTable"
       class="details" 
       summary="Domain statistics for this proteome">
  <thead>
    <tr>
      <th rowspan="2">Pfam</th>
      <th rowspan="2">Description</th>
      <th rowspan="2">Number of sequences</th>
      <th rowspan="2">Number of occurrences</th>
      <th colspan="2">
        View as
      </th>
    </tr>
    <tr>
      <th>Graphics</th>
      <th>Alignment</th>
    </tr>
  </thead>
  <tbody>
    [% FOREACH row IN data %]
    <tr class="[% oe % 2 ? "odd" :"even"; oe=oe+1 %]">
      <td>
        <a href="[% c.uri_for( "/family", { acc = row.get_column('pfamA_acc') } ) %]">
          [% row.get_column('pfamA_id') %]</a>
      </td>
      <td>[% row.get_column('description') %]</td>
      <td>
        [% row.get_column('numberSeqs') %]
      </td>
      <td>
        [% row.get_column('numberRegs') %]
      </td>
      <td class="showSwitch">
        <img class="link" 
             src="[% c.uri_for( "/static/images/showButton.png" ) %]"
             alt="Show domain graphics"
             onclick="popUp( '[% c.uri_for( "/proteome/graphics", { pfamAcc = row.get_column('pfamA_acc'), taxId = taxId } ) | html %]', 'console', 800, 800, 'domainsWin' )" />
      </td>
      <td class="showSwitch">
        <img src="[% c.uri_for( "/static/images/showButton.png" ) %]"
             alt="Show sequence alignment"
             onclick="popUp( '[% c.uri_for( "/proteome/alignment/builder", { pfamAcc = row.get_column('pfamA_acc'), taxId = taxId } ) | html %]', 'console', 800, 800, 'domainsWin' )" />
      </td>
    </tr>
    [% END %]
  </tbody>
</table>

<script type="text/javascript">
  // <![CDATA[
  loadFullTable = function() {

    // first, hide the switch and show the spinner
    $( "loadSwitch").hide();
    
    // then show the spinner
    $("spinner").show();
    
    // and finally make the AJAX call
    new Ajax.Request( "[% c.uri_for( "/proteome/stats" ) %]",
                      { parameters: { taxId: "[% taxId %]",
                                      full:  1 },
                        onSuccess:  function( oResponse ) {
                                      $("statsTableDiv").update( oResponse.responseText );
                                    },
                        onFailure:  function( oResponse ) {
                                      $("statsTableDiv").update( "There was a problem loading the statistics table." );
                                    },
                      }
                    );
  }
  // ]]>
</script>
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
