[%
# title.tt
# jt6 20081127 WTSI
#
# build the titles for the genome pages
#
# $Id: title.tt,v 1.1 2009-01-06 12:14:42 jt6 Exp $

IF titleType == "tab" -%]
<h1>Genome: <em>[% summary.species %]</em> (tax ID [% summary.ncbi_id %])</h1>
[% ELSIF titleType == "page" -%]
Genome: [% summary.species %] (tax ID [% summary.ncbi_id %])
[% END -%]

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
