[%#
# align.tt
# jt6 20060411 WTSI
#
# block showing the family alignment.
#
# $Id: align.tt,v 1.16 2007-05-01 21:03:03 jt6 Exp $
%]

<!-- start align block -->

<div class="block" id="alignBlock">
  <div class="handle">
    <h1>Alignments</h1>
  </div>
  <div class="blockContent">

    <h3>View options</h3>

    <form id="viewerForm"
          action="[% base %]family/downloadalignment"
          method="get">
      <div>
        <input type="hidden" name="acc" value="[% acc %]" />
  
    	  <table class="details alignOpts" summary="Alignment display options">
          <tbody>
            <tr class="odd">
              <td class="label">Alignment:</td>
              <td>
                <span class="button">
                  <input type="radio" name="alnType" id="viewerTypeS" value="seed" checked="checked" />
                  <label for="viewerTypeS">Seed ([% pfam.num_seed %])</label>
                </span>
                <span class="button">
                  <input type="radio" name="alnType" id="viewerTypeF" value="full" />
                  <label for="viewerTypeF">Full ([% pfam.num_full %])</label>
                </span>
      	      </td>
            </tr>
            <tr class="even">
              <td class="label">Viewer:</td>
              <td>
                <span class="button">
                  <select name="viewer" id="viewer">
                    <option value="jalview" selected="selected">jalview</option>
                    <option value="html">HTML</option>
                    <option value="viewer">Pfam viewer</option>
                  </select>
                </span>
      	      </td>
            </tr>
          </tbody>
        </table>
  
        <input type="button" value="View" onclick="launch()" />
  
      </div>
    </form>

  	<script type="text/javascript">
      // <![CDATA[
      function launch() {
        if( $F("viewer") == "jalview" ) {
        	url = "[% base %]family/jalview?" + Form.serialize("viewerForm");
          //console.debug( "visiting: |" + url + "|" );
          popUp( url, 'console', 800, 800, 'jalviewWin');
      
        } else if( $F("viewer") == "viewer" ) {
        	url = "[% base %]family/alignmentviewer?" + Form.serialize("viewerForm");
          //console.debug( "visiting: |" + url + "|" );
          popUp( url, 'console', 800, 800, 'viewerWin');
      
        } else {
        	$("viewerForm").submit();
        }
      
        return false;
      }
      // ]]>
    </script>

    <h3>Formatting options</h3>

    <form action="[% base %]family/formatalignment" method="get">
      <div>
        <input type="hidden" name="acc" value="[% acc %]" />

        <table class="details alignOpts" summary="Alignment formatting options">
          <tbody>
            <tr class="odd">
              <td class="label">Alignment:</td>
              <td>
                <span class="button">
                  <input type="radio" name="alnType" id="typeS" value="seed" checked="checked" />
                  <label for="typeS">Seed ([% pfam.num_seed %])</label>
                </span>
                <span class="button">
                  <input type="radio" name="alnType" id="typeF" value="full" />
                  <label for="typeF">Full ([% pfam.num_full %])</label>
                </span>
      	      </td>
            </tr>
            <tr class="even">
              <td class="label">Format:</td>
              <td>
                <span class="button">
                  <select name="format" id="format">
                    <option value="pfam" selected="selected">Selex</option>
                    <option value="stockholm">Stockholm</option>
                    <option value="fasta">FASTA</option>
                    <option value="msf">MSF</option>
                  </select>
                </span>
      	      </td>
            </tr>
            <tr class="odd">
              <td class="label">Order:</td>
              <td>
                <span class="button">
                  <input type="radio" name="order" id="orderT" value="t" checked="checked" />
                  <label for="orderT">Tree</label>
                </span>
                <span class="button">
                  <input type="radio" name="order" id="orderA" value="a" />
                  <label for="orderA">Alphabetical</label>
                </span>
      	      </td>
            </tr>
            <tr class="even">
              <td class="label">Sequence:</td>
              <td>
                <span class="button">
                  <input type="radio" name="case" id="caseL" value="l" checked="checked" />
                  <label for="caseL">Inserts lower case</label>
                </span>
          			<span class="button">
                  <input type="radio" name="case" id="caseU" value="u" />
                  <label for="caseU">All upper case</label>
                </span>
      	      </td>
            </tr>
            <tr class="odd">
              <td class="label">Gaps:</td>
              <td>
                <span class="button">
                  <select name="gaps" id="gaps">
                    <option value="default" selected="selected">Gaps as "." or "-" (mixed)</option>
                    <option value="dots">Gaps as "." (dots)</option>
                    <option value="dashes">Gaps as "-" (dashes)</option>
                    <option value="none">No gaps (unaligned)</option>
                  </select>
                </span>
      	      </td>
            </tr>
            <tr class="even">
              <td class="label">Download/view:</td>
              <td>
                <span class="button">
                  <input type="radio" name="download" id="downloadD" value="1" checked="checked" />
                  <label for="downloadD">Download</label>
                </span>
                <span class="button">
                  <input type="radio" name="download" id="downloadV" value="0" />
                  <label for="downloadV">View</label>
                </span>
      	      </td>
            </tr>
          </tbody>
        </table>    
    
        <input type="submit" value="Generate" />
    
      </div>
    </form>

  </div>

</div>

<!-- end of align block -->
