[%#
# alignmentFragment.tt
# jt6 20060628 WTSI
#
# dump out a sequence alignment as a page fragment.
#
# $Id: alignmentFragment.tt,v 1.3 2006-08-14 10:59:40 jt6 Exp $
%]

[% start     = alignments.start ? alignments.start : 1  %]
[% end       = alignments.end   ? alignments.end   : 20 %]
[% interval  = end - start + 1 %]

[% max       = alignments.lengths.0 %]

[% nextStart = start + interval %]
[% nextEnd   = end   + interval %]

[% nextStart = ( nextStart > max ) ? start : nextStart %]
[% nextStart = ( nextStart >= nextEnd ) ? ( nextEnd - 1 ) : nextStart %]
[% nextEnd = ( nextEnd + interval > max ) ? max : nextEnd %]

[% nextRows  = "$nextStart-$nextEnd" %]

[% prevStart = start - interval %]
[% prevEnd   = end   - interval %]

[% IF prevStart < 1 %]
  [% prevStart = 1 %]
  [% prevEnd   = prevStart + interval - 1 %]
[% END %]
[% prevEnd = ( prevEnd + interval > max ) ? max : prevEnd %] 
[% prevEnd = ( prevEnd <= prevStart ) ? ( prevStart + 1 ) : prevEnd %] 

[% prevRows  = "$prevStart-$prevEnd" %]

[%# dump the raw alignment %]
[% alignments.alignments.0 %]

[%# build the form for paging through the alignment %]

<form method="post" id="pagingForm">

  <input name="acc" type="hidden" value="[% pfam.pfamA_acc %]" />
  <span>
    <label for="startSeq">Start: </label>
    <input name="start" id="startSeq" type="text" size="5"[% IF start %] value="[% start %]"[% END %] />
  </span>
  <span>
    <label for="endSeq">End (max [% max %]): </label>
    <input name="end" id="endSeq" type="input" size="5"[% IF end %] value="[% end %]"[% END %] />
  </span>

  <input type="hidden" name="range" id="rowRange" />
  <input type="hidden" name="scrollValue" id="scrollValue" [% IF scroll %]value="[% scroll %]" [% END %]/>

  <input type="button" value="View" onclick="generateAlignment('submit')" />
  <span> this range, or view the </span>
  <input type="button" value="Prev" onclick="generateAlignment('pager', [% prevStart %], [% prevEnd %] )" />
  <span> or </span>
  <input type="button" value="Next" onclick="generateAlignment('pager', [% nextStart %], [% nextEnd %] )" />
  <span> page.</span>

</form>

<script type="text/javascript">
  formatAlignment( "[% c.uri_for( "/protein", entry="" ) %]" );
</script>