[%
# clan.tt
# jt6 20060424 WTSI
#
# Build the tab with clan-specific information for the family.
#
# $Id: clan.tt,v 1.6 2008-07-28 14:07:10 jt6 Exp $

RETURN UNLESS clan;

oe = 0;
-%]

<!-- start clan block -->

<div class="block" id="clanBlock">
  <div class="handle">
    <h1>Pfam Clans</h1>
  </div>
  <div class="blockContent">

    [%- membershipList = BLOCK;
      total = 0;
      members = [];

      # can't sort the contents of "clan.clan_memberships" directly. Convert the 
      # list into rows from the pfamA table first
      FOREACH member IN clan.clan_memberships;
        members.push( member.auto_pfama );
      END;
      FOREACH member IN members.sort("pfama_id") %]
        <span class="listItem">
        [% IF member.pfama_acc == pfam.pfama_acc;
          member.pfama_id;
        ELSE %]
          <a title="[% member.pfama_acc %]"
             href="[% c.uri_for( '/family', member.pfama_acc ) %]">
            [% member.pfama_id %]</a>
        [% END %]
        </span>
        [% total = total + 1;
      END; # of foreach
    END # of block -%]

    <p>
      This family is a member of clan <strong>
      <a href="[% c.uri_for( '/clan', clan.clan_id ) %]">[% clan.clan_id %]</a></strong>
      (<a href="[% c.uri_for( '/clan', clan.clan_acc ) %]">[% clan.clan_acc %]</a>),
      which contains the following [% total > 1 ? total _ " members" : "member" %]:
    </p>
  
    [% membershipList %]
  
    <div class="cleaner"><!-- empty --></div>

  </div>

</div>

<!-- end clan block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
