
[% USE dumper %]


<!-- start dbRefs block -->

<div class="block" id="dbRefsBlock">
  <div class="handle">
	<h1 [% addTip("family","dbRefs") %]>Database references</h1>
  </div>
  <div class="blockContent">
    [% oe = 0 %]

	[% PROCESS components/links.tt %]

  </div>
</div>

<!-- end dbRefs block -->
