
[%#
# domains.tt
# jt6 20060410 WTSI
#
# block showing the domain summary graphics. This is a wrapper around another
# template, which is called using an XMLHttpRequest to DomainGraphics.pm.
#
# $Id: domains.tt,v 1.8 2006-12-07 11:01:32 jt6 Exp $
%]

<!-- start domain architectures block -->

<div class="block" id="domainsBlock"> 
  <div class="handle"> 
    <h1>Domain organisation</h1> 
  </div>
  <div class="blockContent">

    <p>
  	  Below is a listing of the unique domain organisations or architectures in which 
      this domain is found.
    </p>

    <p id="dgph" class="loading">
      Loading domain graphics...
    </p>
  </div>
</div>

<script type="text/javascript">
  loadOptions.dg.uri    = "[% c.uri_for( "/family/domaingraphics" ) %]";
  loadOptions.dg.params = "acc=[% pfam.pfamA_acc %]";
</script>

<!-- end domain architectures block -->
