[%
# familyStructures.tt
# jt6 20060727 WTSI
# 
# build the summary block for families
#
# $Id: familyStructures.tt,v 1.11 2007-08-10 09:42:38 jt6 Exp $
 
# see if pdb was populated by the controller, in which case the user chose a
# specific PDB entry to be displayed; if its not populated, choose a random 
# entry and show the image for that

# tell the wrapper not to add any header or footer
META naked = 1;

IF NOT pdbObj;

  # pick a random PDB entry for this family
  idList = pdbUnique.keys.sort;
  numIds = idList.size;

  IF numIds > 1;
    TRY;
      # if we have the Math plugin, we can do it this way:
      USE Math;
      randomId = idList.${Math.rand(idList.size)};
    CATCH;
      # otherwise, do it the ugly way
      PERL %]
        my $numIds = $stash->get("numIds");
        $stash->set( rand => sprintf "%d",rand($numIds) ) if $numIds;
      [% END;
      randomId = idList.${rand};
    END;

	pdbObj = pdbUnique.$randomId;

  ELSE;
    # if theres only one structure theres no array under pdbUnique, so we go 
    # straight to the pdb object... I think
    pdbObj = pdbUnique.values.shift;
  END;

END;

IF pdbUnique.keys.size;

-%]

<!-- start of pdb image block -->

<div class="pdbImageFragment">

  [%- IF pdbObj.pdb_image -%]

    <a href="[% base %]structure?id=[% pdbObj.pdb_id %]">
      <img class="pdbImage" 
 	       src="[% base %]structure/getimage?id=[% pdbObj.pdb_id %]&amp;size=s"
           alt="[% pdbObj.pdb_id %]" /></a>

    [%- IF randomId -%]
      <h1>Example structure</h1>
    [%- END -%]

    <a href="[% base %]structure?id=[% pdbObj.pdb_id %]" class="pdbTitle">
      PDB entry [% pdbObj.pdb_id %]</a>: [% pdbObj.title %]

  [%- ELSE -%]

    <p class="inactive">No image available</p>

  [%- END -%]
 
  [% # if there are multiple PDB entries, allow the user to choose a specific one
  IF pdbUnique.keys.size > 1 %]

    <form action="[% base %]family/structures">
      <div>
    	  <select id="pdbIdField">
    	    [% FOREACH id IN pdbUnique.keys.sort("pdb_id") %]
      	    <option value="[% id %]"[% IF pdbObj.pdb_id == id %]disabled="1"[% END %] />[% id %]</option>
          [% END %]
        </select>
        <input type="button" 
               onclick="pdbImageSubmitter()",
               value="View" />
      </div>
    </form>

    <script type="text/javascript">
      // <![CDATA[
      pdbImageSubmitter = function() {
        new Ajax.Updater( 'siph', 
                          '[% base %]family/structures', 
                          { method:     'get',
                            parameters: { acc:  '[% pfam.pfamA_acc %]',
                                          pdbId: $F("pdbIdField") } }
                        );
      };
      // ]]>
    </script>

  [% END # of "if pdbUnique.keys.size > 1" %]
</div>

[% END # of "if pdbUnique.keys.size" %]

<!-- end of pdb image block -->