
[%
# phylo.tt
# jt6 20060515 WTSI
#
# block showing the phylogenetic tree for a family
#
# $Id: phylo.tt,v 1.9 2007-05-01 21:03:03 jt6 Exp $

# URI shortcut
tmURI = "${base}gettreemap";
%]

<!-- start of phyloBlock -->

<div class="block" id="phyloBlock">
  <div class="handle">
    <h1>Trees</h1>
  </div>
  <div class="blockContent">
    <p>
      This page displays the UPGMA based phylogentic tree, generated using 
      quicktree, for the given alignment.
    </p> 
    [% # the form that controls the tree display
    c.prototype.form_remote_tag( { url    => tmURI,
                                   update => "alignmentTree" } ) %]
      <div>
        <input name="acc" type="hidden" value="[% pfam.pfamA_acc %]" />
        <span>
          <input name="type" id="seedRb" type="radio" checked="checked" value="seed" />
          <label for="seedRb">Seed ([% pfam.num_seed %])</label>
        </span>
        <span>
          <input name="type" id="fullRb" type="radio" value="full" />
          <label for="fullRb">Full ([% pfam.num_full %])</label>
        </span>
        <input type="submit" name="submit" value="Change tree" />
      </div>
    </form>

  	<div id="alignmentTree">
  	  <p id="atph" class="loading">
          Loading alignment tree...
        </p>	
  	</div>

  	[%# set the options for the ajax call that populates the tree -%]
    <script type="text/javascript">
      loadOptions.at.uri    = "[% tmURI %]";
      loadOptions.at.params = "acc=[% pfam.pfamA_acc %]";
  	</script>
    
    <p><strong>Note:</strong> You can also download the data files for the
  	  <a href="[% constants.treeURLRoot %]/seed/[% pfam.pfamA_acc %].tree">seed</a> or the
  	  <a href="[% constants.treeURLRoot %]/full/[% pfam.pfamA_acc %].tree">full</a> 
        trees.</p>

  </div>
</div>

<!-- end of phyloBlock -->
