
[%
# phylo.tt
# jt6 20060515 WTSI
#
# block showing the phylogenetic tree for a family
#
# $Id: phylo.tt,v 1.22 2008-08-13 13:32:33 jt6 Exp $

treeUri = c.uri_for( "/family/tree" );
%]

<!-- start of phyloBlock -->

<div class="block" id="phyloBlock">
  <div class="handle">
    <h1>Trees</h1>
  </div>
  <div class="blockContent">
    <p>
      This page displays the phylogenetic tree for this family.
      We calculate the trees using one of two methods, depending on the number
      of sequences in the alignment. For alignments with fewer than 
      <strong>20,000</strong> sequences, we use 
      <strong>neighbour-joining</strong> trees; for alignments with 
      <strong>20,000</strong> sequences or more, we use
      <acronym title="Unweighted Pair Group Method with Arithmetic mean">
        UPGMA</acronym>-based trees. All trees are generated using 
      <a class="ext" href="http://www.sanger.ac.uk/Software/analysis/quicktree/">
        quicktree</a>.
    </p> 
    [% # the form that controls the tree display %]
    <form id="phyloForm"
          action="[% treeUri %]">
      <div>
        <span>
          <input id="seedRb" 
                 type="radio" 
                 name="type"
                 value="seed" />
          <label for="seedRb">Seed ([% pfam.num_seed %])</label>
        </span>
        <span>
          <input id="fullRb" 
                 type="radio" 
                 name="type"
                 value="full" />
          <label for="fullRb">Full ([% pfam.num_full %])</label>
        </span>
        <span>
          <input id="ncbiRb" 
                 type="radio" 
                 name="type"
                 value="ncbi" />
          <label for="ncbiRb">NCBI ([% pfam.number_ncbi %])</label>
        </span>
        <span>
          <input id="metaRb" 
                 type="radio" 
                 name="type"
                 value="meta" />
          <label for="metaRb">Metagenomics ([% pfam.number_meta %])</label>
        </span>
        <input type="button"
               id="phyloFormSubmitter"
               onclick="treeSubmitter();"
               value="Change tree" />
        <span id="treeSpinner"
              style="display: none"
              class="loading">Loading...</span>
      </div>
    </form>

    <div id="alignmentTree"></div>

    <script type="text/javascript">
      // <![CDATA[

      // the number of sequences in each alignment
      var counts = { seedRb: [% pfam.num_seed %],
                     fullRb: [% pfam.num_full %],
                     ncbiRb: [% pfam.number_ncbi %],
                     metaRb: [% pfam.number_meta %] };

      // a function to re-enable the selector buttons. We need to do this 
      // carefully, rather than blindly re-enabling the form, just in case 
      // there are alignments with too few sequences to allow tree generation.
      // By default the function will check the control for the first available
      // tree; if it should leave the checked control untouched, set the 
      // argument to true
      var enableTree = function( checked ) {
        $("phyloForm").getInputs("radio").each( function(i) {
          if ( counts[i.id] > 1 ) {
            i.enable();
            if ( ! checked ) {
              i.checked = true;
              checked = true;
            }
          }
        } );
        // re-enable the submit button, even though it's a bit redundant
        $("phyloFormSubmitter").enable();
      };

      // start off by enabling the whole form. Check the control for the first
      // available tree
      enableTree();
      
      // a function that loads (or displays) tree maps when selected
      var treeSubmitter = function() {

        // walk the inputs for the tree selection form and find out which 
        // radio-button is checked
        var checkedId = $("phyloForm").getInputs().find(
          function( buttonId ) {
            return $(buttonId).checked;
          }
        );
        var type = "seed"; // could be "seed | full | ncbi | meta"
        if ( checkedId !== undefined ) {
          type = checkedId.value;
        }
        
        // see if we've already loaded the image map for this tree and, if we 
        // have, don't load it, just show it
        if ( $(type + "_tree") ) {
          $$(".treemap").invoke("hide");
          $(type+"_tree").show();
        } else {
          // the image map for this tree isn't loaded yet; set up the AJAX
          // request to load it now

          // show the spinner and disable the form while the request is active
          $("treeSpinner").show();
          $("phyloForm").disable();
  
          // submit the AJAX request that will load the image map and the 
          // associated <img>
          var r = new Ajax.Request(
            '[% treeUri %]', 
            { parameters: { acc:     '[% acc %]',
                            alnType: type },
              onComplete: function() {
                $("treeSpinner").hide();
                // re-enable the form, leaving the checked item untouched
                enableTree(true); 
              },
              onSuccess: function( oResponse ) {
                $$(".treemap").invoke( "hide" );
                $("alignmentTree").insert( oResponse.responseText );
              }
            }
          );
        } // end of "if treemap loaded"

        return false;
      };

      // add a change listener to the form
      $("phyloForm").observe( "change", treeSubmitter );

      // fire the function on page load
      Event.observe( window, 'load', treeSubmitter );

      // ]]>
    </script>

    <p>
      <strong>Note:</strong> You can also download the data files for the
      <a href="[% c.uri_for( "/family/tree/download", { alnType = "seed", acc => acc } ) | html %]">seed</a>,
      <a href="[% c.uri_for( "/family/tree/download", { alnType = "full", acc => acc } ) | html %]">full</a>,
      <a href="[% c.uri_for( "/family/tree/download", { alnType = "ncbi", acc => acc } ) | html %]">NCBI</a> or
      <a href="[% c.uri_for( "/family/tree/download", { alnType = "meta", acc => acc } ) | html %]">metagenomics</a>
      trees.
    </p>

  </div>
</div>

<!-- end of phyloBlock -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
