[%
META naked = 1;

USE dumper;

BLOCK walkTree;

	IF tree.branches;

		FOREACH node_name IN tree.branches.keys;

			node_id = node_name.replace( '\W', '_' );
			node = tree.branches.$node_name;

			IF node.branches.keys.size > 1 OR NOT node.branches OR parent == "root"
-%]
				var html = '\
				  <div class="nodeSummary[% NOT node.branches ? " leafNode" : "" %][% node.inSeed ? " seedNode" : "" %]"\
				       id="nodeSummary[% node_id %]">\
				    <div class="specSum">[% node.species.size %]</div>\
				    <div class="seqSum">[% node.sequences.size %]</div>\
				    <div class="domSum">[% node.frequency %]</div>\
				  </div>\
				';

				var [% node_id %] = new YAHOO.widget.TaskNode("[% node_name %]", [% parent %], html, true, false, [% node.inSeed ? "true" : "false" %] );

				console.debug( "adding |" + [% node_id %].toString() + "| to hash" );
				nodeMapping[[% node_id %].toString()] = [% node_id %];
[%
			ELSE;
-%]
				var [% node_id %] = new YAHOO.widget.TextNode("[% node_name %]", [% parent %], true);
[%
			END;

			IF node.branches;
	 			INCLUDE walkTree tree=node parent=node_id;
			ELSE
-%]
				nodeSequences[[% node_id %].toString()] = "[% node.sequences.keys.join(",") %]";
[%
			END; # of if node.branches

		END; # of FOREACH node_name

	END; # of if tree.branches

END; # BLOCK walkTree

INCLUDE walkTree tree=rawTree parent="root"
-%]
