
[%
# species.tt
# jt6 20060411 WTSI
#
# block showing the species tree. This is a wrapper around another
# template, which is called using an XMLHttpRequest to SpeciesTree.pm.
#
# $Id: species.tt,v 1.15 2007-05-01 21:14:37 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

# YUI stuff - this is for the tree viewer
requirements.css.push( "tree.css" );
requirements.js.push( "yui/yahoo.js" );
requirements.js.push( "yui/dom.js" );
requirements.js.push( "yui/event.js" );
requirements.js.push( "yui/treeview.js" );
requirements.js.push( "yui/TaskNode.js" );
requirements.js.push( "treeTweak.js" );

#-------------------------------------------------------------------------------
%]

<!-- start species block -->

<div class="block" id="speciesBlock">
  <div class="handle">
    <h1>Species distribution</h1>
  </div>
  <div class="blockContent">

	[%# the "tree" object is defined in family.js, in the atSuccess callback
        for the ajax call below. The script defines the object and the 
	    ajax response populates it %]

	<div id="treeTools">
    <div id="treeToolsHeader" onclick="toggleTools();return false">
      <h3>Tree controls</h3>
      <span id="toolsToggle">Hide</span>
  		<div class="cleaner"><!-- empty --></div>
    </div>
	  <div id="treeToolsContent">
      <ul>
	      <li><a href="#" onclick="tree.getRoot().children[0].uncheck();return false">Uncheck</a> all</li>
	      <li>Fully <a href="#" onclick="tree.expandAll();return false">expand</a> tree</li>
	      <li>Fully <a href="#" onclick="tree.collapseAll();return false">collapse</a> tree</li>
	      <li><div id="ddph">Expand tree...</div></li>
	    </ul>
	    <h3>Annotation</h3>
      <ul> 
        [% IF entryType == "A" %]
	      <li><a id="seedToggle" href="#" onclick="toggleHighlightSeed();return false">Hide</a> highlighting of species in seed</li>
        [% END %]
	      <li><a id="sumToggle" href="#" onclick="toggleShowSummaries();return false">Hide</a> summaries</li>
        <li>Key: <span class="specSum">species</span>, <span class="seqSum">sequences</span>, <span class="domSum">domains</span></li>
      </ul>
      <h3>Download</h3>
      <ul>
        <li><a href="[% c.uri_for( "/family/texttree", acc=pfam.pfamA_acc ) %]">Save</a> a text representation</li>
      </ul>
      <h3>View selected sequences</h3>
      <ul>
        <li><span class="link" onclick="collectSequences( '[% acc %]' )">Graphically</span></li>
	      [% UNLESS entryType == "C" %]
          <li>As an <span class="link" onclick="collectSequences( '[% acc %]' )">alignment</span></li>
	      [% END %]
      </ul>
    </div>
  </div>

  <!-- start of tree -->
	<div id="treeDiv">
    <p id="stph" class="loading">Loading...</p>
  </div>
  <!-- end of tree -->

  </div>
</div>

[% # very ugly. Decide which methods to call next, based on whether this is a PfamA 
   # or a PfamB... %]

<script type="text/javascript">
  // <![CDATA[
  loadOptions.st.params = "acc=[% acc %]";

[% IF entryType == "A" %]
  loadOptions.st.uri    = "[% c.uri_for( "/family/speciestree" ) %]";
  var selectURI = "[% c.uri_for( "/family/speciessubtree" ) %]";
[% ELSIF entryType == "B" %]
  loadOptions.st.uri    = "[% c.uri_for( "/pfamb/speciestree" ) %]";
  var selectURI = "[% c.uri_for( "/pfamb/speciessubtree" ) %]";
[% ELSIF entryType == "C" %]
  loadOptions.st.uri    = "[% c.uri_for( "/clan/speciestree" ) %]";
  var selectURI = "[% c.uri_for( "/clan/speciessubtree" ) %]";
[% END # of if entryType... %]

  [%# a hash that maps between the ID of the summary node and the TaskNode object -%]
  nodeMapping = {};

  [%# a hash that maps between the ID of the summary node and string of sequence 
    # accessions -%]
  nodeSequences = {};

  [%# hide the controls until the tree is loaded, to avoid them overlaying the footer %]
  Element.hide( "treeToolsContent" );

  // ]]>
</script>

<!-- end of species block -->
