[% 
# dead_xml.tt
# jt6 20071127 WTSI
#
# template for serialising data about a dead Pfam-A family to XML format
#
# $Id: dead_xml.tt,v 1.1 2007-12-10 14:54:15 jt6 Exp $

USE date;

META naked = 1;

-%]
<?xml version="1.0" encoding="UTF-8"?>
<!-- information on dead Pfam-A family [% pfam.pfamA_acc %] ([% pfam.pfamA_id %]), generated: [% date.format %] -->
<dead_pfam accession="[% pfam.pfamA_acc %]" id="[% pfam.pfamA_id %]">
  <forward_to>[% pfam.forward_to %]</forward_to>
  <comment>[% pfam.comment %]</comment>
</dead_pfam>
