[% 
# families_list.tt
# jt6 20080327 WTSI
#
# template for formatting the list of all Pfam-A families as an HTML table
#
# $Id: families_list.tt,v 1.2 2008-05-16 15:31:06 jt6 Exp $

META title = 'All Pfam families';

-%]
<p>
  This is a list of all Pfam-A families in Pfam release 
  <strong>[% relData.pfam_release %]</strong> (release date  
  [% relData.pfam_release_date %]).
</p>

<table summary="Pfam-A families">
  <thead>
    <tr>
      <th>Accession</th>
      <th>Id</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
[% FOREACH pfam IN entries -%]
    <tr>
      <td>[% pfam.pfamA_acc %]</td>
      <td>[% pfam.pfamA_id %]</td>
      <td>[% pfam.description | html %]</td>
    </tr>
[% END -%]
  </tbody>
</table>
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
