[% 
# families_xml.tt
# jt6 20080326 WTSI
#
# template for serialising the list of all Pfam-A families to XML format
#
# $Id: families.tt,v 1.4 2009-10-28 14:09:02 jt6 Exp $

USE date;

META naked = 1;

baseUri = "http://pfam.sanger.ac.uk/";
-%]
<?xml version="1.0" encoding="UTF-8"?>
<!-- all Pfam-A families, generated: [% date.format %] -->
<pfam xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="[% baseUri %]"
      xsi:schemaLocation="[% baseUri %]
                          [% baseUri %]static/documents/schemas/pfam_families.xsd"
      release="[% relData.pfam_release %]" 
      release_date="[% relData.pfam_release_date %]">
[% FOREACH pfam IN entries -%]
  <entry entry_type="Pfam-A" accession="[% pfam.pfama_acc %]" id="[% pfam.pfama_id %]">
    <description>
<![CDATA[
[% pfam.description | html %]
]]>
    </description>
  </entry>
[% END -%]
</pfam>
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
