[%
# mirrors.tt
# jt6 20070108 WTSI
#
# the list of Pfam mirror sites
#
# $Id: mirrors.tt,v 1.3 2007-04-16 16:05:29 jt6 Exp $
%]

<ul class="mirrors">
	<li><a href="http://pfam.cgb.ki.se/" class="se mirror" alt="Stockholm Bioinformatics Center, Sweden</a></li>
	<li><a href="http://pfam.janelia.org/" class="us mirror" alt="Janelia Farm Research Campus">JFRC, USA</a></li>
	<li><a href="http://pfam.jouy.inra.fr/" class="fr mirror" alt="Institut National de la Recherche Agronomique">INRA, France</a></li>
	<li><a href="http://pfam.ccbb.re.kr/" class="kr mirror" alt="Center for Computational Biology &amp; Bioinformatics">CCBB, South Korea</a></li>
</ul>	
    
