[%
# newsItems.tt
# jt6 20070110 WTSI
#
# builds the list of the last three news items. 
#
# $Id: newsItems.tt,v 1.2 2007-02-27 17:08:15 jt6 Exp $

META naked = 1;

# make sure we can actually get hold of some news...
IF newsItems
%]

<!-- start of the news items -->
<div id="news" class="sidebarComponent">
	<h1>Pfam news</h1>
	[% FOREACH i IN [ 0 .. 2 ];
    item = newsItems.$i;
		NEXT UNLESS item.live %]
		<div class="newsItem">
			<h2><a href="[% c.uri_for("/newsfeed#${item.auto_news}" ) %]">[% item.title %]</a></h2>
			<p>[% item.summary %]</p>
			<p class="small">Added [% item.pubDate %]</p>
		</div>
	[% END %]
  <span><a href="[% c.uri_for( "/newsfeed" ) %]">View</a> all news items</span>
</div>
<!-- end of the news items -->

[% END # of "if newsItems" %]