[%-
# interactions.tt
# jt6 20060718 WTSI
#
# block for the interactions data for the clan section
#
# $Id: interactions.tt,v 1.2 2007-05-17 16:06:06 jt6 Exp $

RETURN UNLESS summaryData.numInt;
-%]

<!-- start interactions block -->

<div class="block" id="clanInteractionsBlock">
  <div class="handle">
    <h1>Interactions</h1>
  </div>
  <div class="blockContent">

    <p>
      There [%- summaryData.numInt > 1 ? "are " : "is "; summaryData.numInt %]
      interaction[% summaryData.numInt > 1 ? "s" : "" %] for this clan.
    </p>

  </div>
</div>

<!-- end interactions block -->
