
[%#
# relationships.tt
# jt6 20060424 WTSI
#
# $Id: relationships.tt,v 1.3 2006-07-21 15:56:51 jt6 Exp $
%]

<!-- start relationships block -->

[%- image = "${constants.server}/${constants.root}/data/clans/newRelationship/${clan.clan_acc}.png" -%]
[%- map   = "${constants.docroot}/${constants.root}/data/clans/newRelationship/${clan.clan_acc}.html" -%]

<div class="block" id="clanRelationshipsBlock">
  <div class="handle">
    <h1>Family relationships</h1>
  </div>
  <div class="blockContent">

    <img id="clanImage" src="[% image %]" alt="" usemap="#clanMap" />

    [% TRY %]
	<map name="clanMap">
      [% INSERT $map %]
    </map>
    [% CATCH %]
      [% CALL c.log.error( "couldn't load the relationship image map for clan ${clan.clan_acc}" ) %]
    [% END %]

  </div>

</div>

<!-- end relationships block -->
