  [%
# relationships.tt
# jt6 20060424 WTSI
#
# $Id: relationships.tt,v 1.11 2007-08-06 16:12:54 jt6 Exp $

#image = "${constants.clanDataURLRoot}/relationship/${clan.clan_acc}.png";
#map   = "${constants.clanDataFileRoot}/relationship/${clan.clan_acc}.html"
-%]

<!-- start relationships block -->

<div class="block" id="clanRelationshipsBlock">
  <div class="handle">
    <h1>Family relationships</h1>
  </div>
  <div class="blockContent">

    <img id="clanImage"
         src="[% base %]clan/relationship/image?acc=[% acc %]"
         alt=""
         usemap="#clanMap" />
    [% TRY %]
	  <map name="clanMap" id="clanMap">
      [% INSERT $map %]
    </map>
    [% CATCH;
      CALL c.log.error( "couldn't load the relationship image map for clan ${clan.clan_acc}, $map" );
    END %]

  </div>

</div>

<!-- end relationships block -->
