
[%
# relationships.tt
# jt6 20060424 WTSI
#
# $Id: relationships.tt,v 1.15 2009-09-04 10:47:42 jt6 Exp $
-%]

<!-- start relationships block -->

<div class="block" id="clanRelationshipsBlock">
  <div class="handle">
    <h1>Family relationships</h1>
  </div>
  <div class="blockContent">

    <p>
      This diagram shows the relationships between members of this clan.
      <span onclick="reveal( this, 'relationshipNotes', false, true )"
            class="moreLink">
        More...</span>
    </p>
    <div id="relationshipNotes" style="display: none">
      <p>
        Relationships between families in a clan are determined by a 
        <a href="http://supfam.org/PRC/" class="ext">PRC</a>
        alignment between family HMMs. Families are deemed to be closely
        related if their E-value is less than 10<sup>-3</sup> and these 
        relationships are shown with a solid line. Less closely related
        family pairs, with an E-value of between 10<sup>-3</sup> and
        10<sup>-1</sup>, are shown with a dashed line.
      </p>
      <p>
        The E-value for each pair of closely or partially related families
        is show next to the line linking the families. Clicking on the 
        E-value will take you to the pairwise 
        <a href="http://www.sanger.ac.uk/Software/analysis/logomat-p/"
           class="ext">HMM-logo</a> for that relationship.
        You can see the information regarding a Pfam family by clicking
        on the family box.
      </p>
      <hr />
    </div>

    [% IF relationshipImage.defined AND relationshipImageMap.defined %]
      <img id="clanImage"
           src="[% c.uri_for( '/clan/relationship/image', { acc = acc } ) %]"
           alt=""
           usemap="#clanMap" />
  	  <map name="clanMap" id="clanMap">
        [% relationshipImageMap %]
      </map>
    [% ELSE -%]
      <p>
        We could not retrieve a family relationship diagram for this clan.
      </p>    
    [% END -%]    

  </div>

</div>

<!-- end relationships block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
