
[%
# summary.tt
# jt6 20060424 WTSI
# 
# build the summary block for clans
#
# $Id: summary.tt,v 1.21 2009-09-04 10:47:42 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "clans.css" );
requirements.cssIe.push( "clans_ie.css" );

#-------------------------------------------------------------------------------

# process the template that defines the blocks that do various things with
# database links. We use it later to convert IDs in the Pfam comment and to
# build tables of database links 
PROCESS components/links.tt;

membershipList = BLOCK;
  total = 0;
  size = 0;
  members = [];
  
  # can't sort the contents of "clan.clan_memberships" directly. Convert the 
  # list into rows from the pfamA table first
  FOREACH member IN clan.clan_memberships;
    members.push( member.auto_pfama );
  END;
  FOREACH pfam IN members.sort( "pfama_id" ); -%]
    <span class="listItem">
      <a href="[% c.uri_for( '/family', pfam.pfama_acc ) %]">
        [% pfam.pfama_id %]</a>
    </span>
    [% total = total + pfam.num_full;
    size = size + 1;
  END;
END; -%]

<!-- start clan summary block -->

<div class="block" id="clanSummaryBlock">
  <div class="handle">
    <h1>Summary</h1>
  </div>
  <div class="blockContent">

    <div id="siph">&nbsp;</div>

    <h1>[% clan.clan_description %]
      <a href="[% c.uri_for( "/annotate", { acc = clan.clan_acc } ) %]">
        <img class="addAnnotation" 
             alt="Add an annotation" 
             src="[% c.uri_for( "/static/images/annotation.png" ) %]" /></a>
    </h1>

    <p>[% clan.clan_comment %]</p>

    <p>This clan contains <strong>[% size %]</strong> families and
      the total number of domains in the clan is <strong>[% total %]</strong>.</p>

    [% IF clan.clan_lit_refs.size %]
      <h2>Literature references</h2>
  
      <ol>
        [% FOREACH ref_row IN clan.clan_lit_refs;
          ref = ref_row.auto_lit %]
          <li>
            [% ref.author %], [% ref.journal %]: [% ref.title %]
            <a class="ext" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;dopt=Abstract&amp;list_uids=[% ref.pmid %]">[% ref.pmid %]</a>
          </li>
        [% END %]
      </ol>
    [% END %]

    <h2>Members</h2>

    <p>This clan contains the following [% size %] member families:</p>

    [% membershipList %]

    [% # add the tables showing internal and external database links 
    PROCESS buildLinksTable; -%]

  </div>
</div>

[% # for loading the example structure image we use the call to the family
   # controller, rather than having a separate one %]

<script type="text/javascript">
  // <![CDATA[

  Event.observe( window, "load", function() {
    var r = new Ajax.Request( "[% c.uri_for( '/family/structures' ) %]",
                             { parameters: { acc: "[% members.first.pfama_acc %]" },
                               onComplete: stSuccess,
                               onFailure:  stFailure
                             } );
  } );

  // ]]>
</script>

<!-- end clan summary block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
