
[%
# annotation.tt
# jt6 20061020 WTSI
# 
# An annotation upload form
#
# $Id: annotation.tt,v 1.12 2009-11-02 13:07:43 jt6 Exp $

META fullPage = 1;
META title = "Annotation submission";

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "forms.css" );
requirements.cssIeAll.push( "forms_all_ie.css" );

#-------------------------------------------------------------------------------

# these error codes MUST match up with those at the top of the form  
# controller in Annotate.pm
SUBMISSION_VALID        = 0;
SUBMISSION_AJAX_FAILED  = 1;
SUBMISSION_NO_COOKIE    = 2;
SUBMISSION_MESSED_WITH  = 3;
SUBMISSION_TIMED_OUT    = 4;
SUBMISSION_INVALID      = 5;
SUBMISSION_EMAIL_FAILED = 6;

# if there was a problem with submission, build an error message to explain
# the problem, based on the error code that we were handed by the controller
IF submissionError;

  errorMsg = BLOCK;
    SWITCH submissionError;
      CASE SUBMISSION_AJAX_FAILED %]
<h2>Submission failed</h2>
<p>
  There appears to have been a problem building the original submission form.
  In order to prevent automated scripts submitting nuisance messages via this
  form, we make an extra call to our server after the form has loaded into your
  browser. It looks as though there was a problem making that extra call and 
  therefore the server cannot validate your submission.
</p>
<p>
  If you believe that this is a problem with our server, please let us know
  via the email address below.
</p>
[%    CASE SUBMISSION_NO_COOKIE %]
<h2>No cookies</h2>
<p>
  In order to prevent automated scripts submitting nuisance messages via this 
  form, we use a cookie to check that submissions come from a real web browser.
  The cookie stores no personally identifiable information and is used once and
  once only, purely for the purpose of validating the form submission process. 
  The cookie is set to expire one hour after the form was initially loaded.
</p>
<p>
  Please make sure that you have cookies enabled in your browser and reload 
  the form. If you continue to have problems submitting your annotation once 
  you have enabled cookies and accepted cookies offered by the annotation form
  page, please let us know at the email address below.
</p>
[%    CASE SUBMISSION_MESSED_WITH %]
<h2>Suspicious form activity</h2>
<p>
  We take various steps to stop automated scripts submitting nuisance messages
  via this form and, during the processing of your comments, one of our checks
  failed.
</p>
<p>
  The server has determined that the form was submitted by a script, rather than
  by a regular user via a web browser.
</p>
<p>
  Please try again and if the submission continues to fail, please let us know
  via the email address below.
</p>
[%    CASE SUBMISSION_TIMED_OUT %]
<h2>Submission timed out</h2>
<p>
  In order to prevent automated scripts submitting nuisance messages via this
  form, we set a time limit of one hour on the submission process. The server
  has decided that you took more than one hour to complete and submit the form
  and it has therefore rejected the submission.
</p>
<p>
  However, when this page was reloaded, the time limit was reset and you should
  now be able to submit this form successfully. If you continue to have problems
  with submission, please let us know via the email address below.
</p>
[%    CASE SUBMISSION_INVALID %]
<h2>Invalid submission</h2>
<p>
  There was a problem with one or more of the values that you entered into the
  form. Please check the messages beside the form fields and correct any problems
  that are highlighted. If you believe you have corrected the problems that
  were highlighted but still can't submit the annotation, please let us know
  via the email address below.
</p> 
[%    CASE SUBMISSION_EMAIL_FAILED %]
<h2>Submission failed</h2>
<p>
  There was a problem submitting your annotation to the Pfam group. It's 
  possible that this was due to a problem with our email or tracking systems 
  and everything may work correctly next time. Please try again in a little 
  while. If you continue to have problems submitting your annotation, please
  let us know via the email address below.
</p>
[%  END; # of "SWITCH"
  END; # of "BLOCK"
  
END; # of "if submissionError"

# display the form if we were told to, or if there were submission errors from
# the first time around
IF buildForm OR submissionError;
-%]

  <div id="annForm" class="formWrapper">
  
    <h1>Submit an annotation[% acc ? " for entry $acc" : "" %]</h1>

    [% IF submissionError %]
    <div class="error">
      [% errorMsg %]
    </div>
    [% END %]

    <p>
      This form is intended for the submission of extra textual information
      about this Pfam entry. 
      [% IF type == 'A' -%]
        If you believe that there is a sequence in the existing <em>pfamseq</em>
        database that should be part of an entry, please provide the sequence 
        accession and evidence for the inclusion of the sequence, such as a 
        sequence alignment.
      [% ELSIF type == 'C' -%]
        If you believe that there is a family in Pfam that should be part of 
        this clan, please provide the accession and/or ID of the family and 
        evidence to support its inclusion.
      [% END -%]
      Literature references, where available, are helpful.
    </p>
    <p>
      Please do <strong>not</strong> submit raw sequences. We will discard any 
      sequences that are submitted without explanatory text.
    </p>
    <p>
      You must supply information for all of the fields marked with a 
      &quot;*&quot;. After submission you will see a page confirming that your 
      comments have been accepted and you will then be redirected, after a 
      short delay, back to the
      [% IF intendedRefreshUri %]
        <a href="[% intendedRefreshUri %]">entry page</a> that you came from.
      [% ELSE %]
        <a href="[% c.uri_for( '/' ) %]">Pfam home page</a>.
      [% END %]
      Your annotation will be entered into our request tracking system and you 
      will receive a confirmation email at the address that you specify.
    </p>
    <p>
      Every annotation is reviewed by one of our curators. Please try to include 
      as much information as possible, so that we can assess your annotation 
      and quickly incorporate your data into Pfam.
    </p>

    [% widget.as_xml %]
  </div>

  <script type="text/javascript">
    // <![CDATA[
    
    document.observe( "dom:loaded", function() {
      
      $("annotationForm_user").focus();
      
      var url = "[% c.uri_for( '/annotate/getTs' ) %]";
      var r = new Ajax.Request( url, {
        onSuccess: function( response ) {
          $('annotationForm_ts').value = response.responseText;
        }
      } );
      
    } );
    
    // ]]>
  </script>

[% ELSE %]

  <h1>Your annotation was submitted successfully</h1>

  <p>
    Thank you for submitting your annotation for entry [% acc %]. It will
    be considered for incorporation into the Pfam database by one of our
    annotators.
  </p>
  <p>
    [% # work out where to redirect after the refresh delay
    CALL c.log.debug( "annotate.pm: refreshUri: |$refreshUri|" )
      IF c.debug;
    IF refreshUri %]
      In 5 seconds you will be redirected to the page for the 
      <a href="[% refreshUri %]">previous entry</a>, or you can click 
      <a href="[% refreshUri %]">here</a> to go there immediately.
    [% ELSE %]
      In 5 seconds you will be redirected to the <a href="[% c.uri_for( '/' ) %]">Pfam 
        home page</a>, or you can click <a href="[% c.uri_for( '/' ) %]">here</a> to go
      there immediately.
    [% END %]
  </p>

[% END # of "if buildForm" %]

<div class="cleaner"><!-- empty --></div>

<hr />
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
