[%
# browseFamilies.tt
# jt6 20060717 WTSI
# 
# build a "browse" page
#
# $Id: browseFamilies.tt,v 1.4 2006-09-28 10:14:50 rdf Exp $

# tell the wrapper it's a full page
META fullPage = 1
%]

[% pageList = BLOCK %]
<div class="pageList">
[% pages = [ "top twenty", "numbers",
             "a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", 
	         "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z" ] %]
[% lcChar = char | lower %]

[% FOREACH page IN pages %]
[% CALL c.log.debug( "page: $page" ) %]
  [% IF page ==  lcChar %]
  <span class="letter inactive">
    [% page | ucfirst %]
  </span>
  [% ELSE %]
  <span class="letter">
    <a href="[% c.uri_for( "/family/browse", browse=page ) %]">[% page | ucfirst %]</a>
  </span>
  [% END %]
[% END %]
</div>
[% END %]

<!-- start browse page -->

[% pageList %]

<table class="details">
  <thead>
    <tr class="caption">
      <th>Name</th>
      <th>Type</th>
      <th>No. seed</th>
      <th>No. full</th>
      <th>Av. length</th>
      <th>Av. %id</th>
      <th>Av. coverage</th>
      <th>Status</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  [% FOREACH pfam IN browse %]
    <tr class="[% IF loop.index % 2 %]odd[% ELSE %]even[% END %]">
      <td><a href="[% c.uri_for( "/family", acc=pfam.pfamA_acc ) %]">[% pfam.pfamA_id %]</a></td>
      <td>[% pfam.type %]</td>
      <td>[% pfam.num_seed %]</td>
      <td>[% pfam.num_full %]</td>
      <td>[% pfam.average_length %]</td>
      <td>[% pfam.percentage_id %]</td>
      <td>[% pfam.average_coverage %]</td>
      <td>[% pfam.status %]</td>
      <td>[% pfam.description %]</td>
    </tr>
  [% END %]
  </tbody>
</table>

[% pageList %]

<!-- end browse page -->
