[%
# browseFamilies.tt
# jt6 20060717 WTSI
# 
# build a "browse" page
#
# $Id: browseFamilies.tt,v 1.8 2006-11-27 16:25:54 jt6 Exp $

# tell the wrapper it's a full page
META fullPage = 1;

pages = [ "new", "top twenty", "numbers",
          "a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", 
          "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z" ];

pageList = BLOCK %]
<div class="pageList">

[% lcChar = char | lower;
FOREACH page IN pages;
  IF page == lcChar %]
  <span class="letter inactive">
    [% page | ucfirst %]
  </span>
  [% ELSE %]
  <span class="letter">
    <a href="[% c.uri_for( "/family/browse", browse=page ) %]">[% page | ucfirst %]</a>
  </span>
  [% END;
END %]
</div>
[% END # of BLOCK %]

<!-- start browse page -->

[% pageList %]

<table class="details browse">
  <thead>
    <tr class="caption">
      <th>Name</th>
      <th>Type</th>
      <th>No. seed</th>
      <th>No. full</th>
      <th>Av. length</th>
      <th>Av. %id</th>
      <th>Av. coverage</th>
      <th>Has 3D</th>
      <th>Status</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  [% FOREACH pfam IN browse;
    IF pfam.status == "NEW";
	  status = "New";
    ELSIF pfam.status == "CHANGE";
      status = "Changed";
    ELSIF pfam.status == "NOCHANGE";
      status = "Unchanged";
    ELSE;
      status = pfam.status;
	END %]
    <tr class="[% IF loop.index % 2 %]odd[% ELSE %]even[% END %]">
      <td><a href="[% c.uri_for( "/family", acc=pfam.pfamA_acc ) %]">[% pfam.pfamA_id %]</a></td>
      <td>[% pfam.type %]</td>
      <td>[% pfam.num_seed %]</td>
      <td>[% pfam.num_full %]</td>
      <td>[% pfam.average_length %]</td>
      <td>[% pfam.percentage_id %]</td>
      <td>[% pfam.average_coverage %]</td>
	  <td><img alt="" src="[% ( pfam.number_structures > 0 ) ? c.uri_for( "/images/tick.gif" ) : c.uri_for( "/images/blank_tick.gif" ) %]" /></td>
      <td>[% status %]</td>
      <td class="left">[% pfam.description | html %]</td>
    </tr>
  [% END %]
  </tbody>
</table>

[% pageList %]

<!-- end browse page -->
