[%
# browseClans.tt
# jt6 20060821 WTSI
# 
# build a "browse" page for clans
#
# $Id: browseClans.tt,v 1.6 2007-01-22 15:41:39 jt6 Exp $

# tell the wrapper to add the full-page footer
META fullPage = 1;

META title = "Browse Pfam clans";

lcChar = char | lower;

pages = [ "numbers",
          "a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", 
	        "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z" ];
          
pageList = BLOCK %]
<div class="pageList">
  [% FOREACH page IN pages;
    CALL c.log.debug( "page: $page" );
    IF page ==  lcChar %]
      <span class="letter inactive">
        [% page | ucfirst %]
      </span>
    [% ELSE %]
      <span class="letter">
        <a href="#[% page %]">[% page | ucfirst %]</a>
      </span>
    [% END; # of IF
  END; # of FOREACH %]
  <div class="cleaner"><!-- empty --></div>
</div>
[% END # of BLOCK %]

<!-- start browse page -->

[% pageList %]

<table class="details browse">
  <thead>
    <tr class="caption">
      <th>Clan ID</th>
      <th>Clan accession</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  [% first = "";
  FOREACH clan IN browse;
    IF clan.clan_id.match('^\d');
      initialLetter = "0";
    ELSE;
	    initialLetter = clan.clan_id.split("").first | lower;
    END %]
    <tr class="[% IF loop.index % 2 %]odd[% ELSE %]even[% END %]">
	  <td>
        <a [%- IF initialLetter != first %]name="[% initialLetter %]" id="[% initialLetter %]"[% first = initialLetter | lower %][% END %] href="[% c.uri_for( "/clan", id=clan.clan_id ) %]">[% clan.clan_id %]</a>
      </td>
      <td><a href="[% c.uri_for( "/clan", id=clan.clan_id ) %]">[% clan.clan_acc %]</a></td>
      <td>[% clan.clan_description %]</td>
    </tr>
  [% END # of FOREACH %]
  </tbody>
</table>

[% pageList %]

<!-- end browse page -->
