[%
# error.tt
# jt6 20060918 WTSI
#
# the main site error page
#
# $Id: error.tt,v 1.4 2007-04-27 16:04:10 jt6 Exp $

# tell the wrapper to add the full page footer
META fullPage = 1;
-%]

<!-- start error report -->

<div class="errorReport">

  <p>
    There was a problem loading the requested page.
  </p>
  [% IF errorMsg;
    FOREACH error IN errorMsg %]  
    <p>
      [% error %]
    </p>
    [% END %]
  [% ELSE %]
  <p>
    This could be because you followed a broken link from within the Pfam site, or
    on an external site that links to us.
  </p>
  [% END %]

  <p>
    You might like to go <a href="javascript: history.go(-1)">back</a> to the previous page, 
    <a href="javascript: $('siteSearchField').value='[% searchTerm %]';$('sitesearch').submit()">
      search</a> for the entry you&rsquo;re looking for or report a broken link in the
    Pfam site.
  </p>

</div>

<!-- end error report -->
