
[%
# generateUniprotGraphic.tt
# jt6 20070417 WTSI
#
# builds the form for specifying a UniProt entry for which to show the graphics
# XML.
#
# $Id: generatedUniprotGraphic.tt,v 1.3 2007-05-31 12:21:44 jt6 Exp $

META title = "Pfam graphic for UniProt entry";
META fullPage = 1;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "graphicTools.css" );

requirements.js.push( "scriptaculous/scriptaculous.js?load=effects" );

#-------------------------------------------------------------------------------

%]

<h1>Domain graphics for [% pfamseq.pfamseq_acc %] ([% pfamseq.pfamseq_id %])</h1>

<p>
  This is the Pfam-style domain graphic for 
  <a href="http://www.ebi.uniprot.org/">UniProt</a> sequence entry 
  [% pfamseq.pfamseq_acc %]. Beneath the graphic is the XML that was used to 
  generate the image itself.    
</p>
 
<form method="post" 
      action="[% c.uri_for( "/renderUniprotGraphic" ) %]">
  <div id="form">
    <input type="hidden"
           name="formSubmit"
           value="yes" />
    <strong>Generate another: </strong>
  	<label for="seqId">UniProt accession or ID:</label>
  	<input type="text"
           name="entry"
           tabindex="1"
           size="10"
           id="seqId" />
  	<input type="submit" 
           tabindex="2" 
           name="upload" 
           value="Generate graphic" 
           class="button" />
    <input type="reset" 
           tabindex="3" 
           name="Reset" 
           value="Reset" 
           class="button" />
  </div>
</form>

<script type="text/javascript">
  // <![CDATA[
  $("seqId").focus();
  // ]]>
</script>

<div id="generatedGraphic" class="graphicItem">

  [% IF pfamseq.description %]
  <p>[% pfamseq.description %]</p>
  [% END %]

  <img class="graphicImage" src="[% constants.tmp %]/[% image.file_location %]" alt="" usemap="#singleImageMap"/>
  <div class="cleaner"><!-- empty --></div>        

  <map id="singleImageMap">
    [% image.image_map %]
  </map>

</div>

<div id="generatedXml" class="graphicItem">

  <span class="link" onclick="reveal( this, 'xmlFragment', true )">Hide XML</span>

  <div id="xmlFragment">
    <pre>
[% xml | html %]
    </pre>
  </div>

</div>
