
[%
# index.tt
# jt6 20060717 WTSI
# 
# build the main Pfam home page.
#
# $Id: index.tt,v 1.28 2007-05-17 13:49:55 jt6 Exp $

META title = "Home page";
META fullPage = 1;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "index.css" );
requirements.cssIeAll.push( "index_all_ie.css" );

requirements.js.push( "scriptaculous/scriptaculous.js?load=effects" );

#-------------------------------------------------------------------------------

# format the date nicely
USE date( format = "%B %Y" );
r = String.new( relData.pfam_release_date );

d = relData.pfam_release_date.match( '(\d+)\-(\d+)\-(\d+)' );

release_date = String.new( "00:00:00 " );
CALL release_date.append( d.2, ":", d.1, ":", d.0 );

# a warning message for users who dont have javascript turned on. The 
# message should be hidden immediately after its displayed, but if 
# javascript is not working, the prototype call will fail and the message
# will stay visible
%]
<div id="jsWarning">
  <strong>Please note:</strong> this site relies heavily on the use of javascript. 
  Without a javascript-enabled browser, this site will not function correctly. 
  Please enable javascript and reload the page, or switch to a different browser.
</div>
<script type="text/javascript">
  // <![CDATA[
  $("jsWarning").hide();
  // ]]>
</script>

<!-- start of index page -->
<div id="index">
  <div id="intro">
    <h2>Pfam [% relData.pfam_release %] ([% date.format( release_date ) %],
    [% relData.number_families %] familes)</h2>
    <p>
      The Pfam database is a large collection of protein 
      families, each represented by <em>multiple sequence alignments</em>
      and <em>hidden Markov models (HMMs)</em>.
      <span onclick="reveal( this, 'extras', false, true )"
            class="moreLink">
        More...</span>
    </p>
    <div id="extras" style="display: none">
      <p>
        Proteins are generally composed of one or more functional regions, 
        commonly termed  <em>domains</em>. Different combinations of domains give 
        rise to the diverse range of proteins found in nature. The identification 
        of domains that occur within  proteins can therefore provide insights 
        into their function. 
      </p>
      <p>
        There are two components to Pfam: Pfam-A and Pfam-B. Pfam-A entries are 
        high quality, manually curated families. Although these 
        <em>Pfam-A</em> entries cover a  large proportion of the sequences in the
        underlying sequence database, to give a more  comprehensive coverage of 
        known  proteins we generate a supplement automatically using the 
        <a class="ext" title="Prodom" href="http://prodom.prabi.fr/prodom.html">PRODOM</a>
        database. These automatically generated entries are called 
        <em>Pfam-B</em>.  Although of lower quality, Pfam-B families can be 
        useful for identifying functionally conserved regions when no Pfam-A 
        entries are found.
      </p>
      <p>
        Pfam also generates higher-level groupings of related families, known as
        <em>clans</em>. A clan is a collection of Pfam-A entries which are
        related by similarity of sequence, structure or profile-HMM.
      </p>
    </div>
  </div>

  <hr />
 
   [% # URI shortcuts
   helpBase = "${base}help";
   jumpBase = "${base}search/jump";
   %]
 
  <div id="controlPanel">
    <ul>
      <li class="currentLink" onclick="switchPanel(this,'help')">USING PFAM</li>
      <li class="link" onclick="switchPanel(this,'protein')">SEQUENCE SEARCH</li>
      <li class="link" onclick="switchPanel(this,'family')">VIEW A PFAM FAMILY</li>
      <li class="link" onclick="switchPanel(this,'clan')">VIEW A CLAN</li>
      <li class="link" onclick="switchPanel(this,'sequence')">VIEW A SEQUENCE</li>
      <li class="link" onclick="switchPanel(this,'structure')">VIEW A STRUCTURE</li>
      <li class="link" onclick="switchPanel(this,'keyword')">KEYWORD SEARCH</li>
      <li>&nbsp;</li>
    </ul>
  </div><!-- end of "controlPanel" -->
    
  <div id="help" class="panel">
    <ul>
      <li>You can find data in Pfam in various ways... </li>
      <li>Analyze your protein sequence for Pfam matches</li>
      <li>View Pfam family annotation and alignments</li>
      <li>See groups of related families</li>
      <li>Look at the domain organisation of a UniProt sequence</li>
      <li>Find the domains on a PDB structure</li>
      <li>Query Pfam by keywords</li>
      <li>Or view the <a href="[% helpBase %]">help</a> pages for 
        more information</li>
    </ul>
  </div>

  <div id="protein" class="panel" style="display: none">
    <h3>Analyze your protein sequence for Pfam matches</h3>
    <p>
      Paste your protein sequence here to find the matching Pfam families.
    </p>
    <form action="[% base %]seqsearch/seq"
          method="get" 
          id="seqForm">
      <div>
        <input type="hidden"
               name="seqOpts"
               value="ls" />
        <input type="hidden"
               name="ga"
               value="1" />
        <textarea class="entryField" 
                  name="seq"
                  id="seq" 
                  cols="50" 
                  rows="6"></textarea>
      </div>
    </form>
    <div onclick="if( $('seq').present() )$('seqForm').submit()"
         class="glassButton goButton">&nbsp;</div>
    <div onclick="$('seq').value=exSeq"
         class="glassButton exampleButton">&nbsp;</div>
    <p class="small nlh">
      This search will use the <code>pfam_ls</code> library (global) and the 
      <a href="[% helpBase %]?tab=helpGlossaryBlock">
        gathering threshold</a>. You can specify the search parameters using 
      <a href="[% base %]seqsearch?tab=searchSequenceBlock">this</a> form.      
    </p>
  </div>

  <div id="family" class="panel" style="display: none">
    <h3>View Pfam family annotation and alignments</h3>
    <p>Enter a family identifier or accession to see all data for that family.</p>
    <form action="[% jumpBase %]"
          method="get" 
          id="familyForm">
      <div>
        <input type="hidden"
               name="type"
               value="Family" />
        <input type="hidden"
               name="return"
               value="1" />
        <input class="entryField" 
               type="text" 
               name="entry" 
               id="familyField" 
               size="10" />
      </div>
    </form>
    <div onclick="if( $('familyField').present() )$('familyForm').submit()"
         class="glassButton goButton">&nbsp;</div>
    <div onclick="$('familyField').value=exPfamId"
         class="glassButton exampleButton">&nbsp;</div>
    <p class="small nlh">
      You can also <a href="[% base %]/family/browse">browse</a> 
      through the list of all Pfam families.
    </p>
  </div>
    
  <div id="clan" class="panel" style="display: none">
    <h3>See groups of related families</h3>
    <p>Enter a clan identifier or accession to see information about that clan.</p>
    <form action="[% jumpBase %]"
          method="get" 
          id="clanForm">
      <div>
        <input type="hidden"
               name="type"
               value="Clan" />
        <input class="entryField"
               type="text" 
               name="entry" 
               id="clanField" 
               size="10" />
      </div>
    </form>
    <div onclick="if( $('clanField').present() )$('clanForm').submit()"
         class="glassButton goButton">&nbsp;</div>
    <div onclick="$('clanField').value=exClanId"
         class="glassButton exampleButton">&nbsp;</div>
    <p class="small nlh">
      You can also <a href="[% base %]clan/browse">browse</a>
      through a list of clans.
    </p>
  </div>
    
  <div id="sequence" class="panel" style="display: none">
    <h3>View domain organisation of a UniProt sequence</h3>
    <p>Enter the sequence identifier or accession for the UniProt sequence of 
      interest.</p>
    <form action="[% jumpBase %]"
          method="get" 
          id="proteinForm">
      <div>
        <input type="hidden"
               name="type"
               value="Protein" />
        <input class="entryField"
               type="text" 
               name="entry" 
               id="proteinField" 
               size="10" />
      </div>
    </form>
    <div onclick="if( $('proteinField').present() )$('proteinForm').submit()"
         class="glassButton goButton">&nbsp;</div>
    <div onclick="$('proteinField').value=exUnpId"
         class="glassButton exampleButton">&nbsp;</div>
  </div>
  
  <div id="structure" class="panel" style="display: none">
    <h3>Find the domains on a PDB structure</h3>
    <p>Enter the PDB identifier for the structure in the Protein DataBank.</p>
    <form action="[% jumpBase %]"
          method="get" 
          id="structureForm">
      <div>
        <input type="hidden"
               name="type"
               value="Structure" />
        <input class="entryField"
               type="text" 
               name="entry" 
               id="structureField" 
               size="10" />
      </div>
    </form>
    <div onclick="if( $('structureField').present() )$('structureForm').submit()"
         class="glassButton goButton">&nbsp;</div>
    <div onclick="$('structureField').value=exPdbId"
         class="glassButton exampleButton">&nbsp;</div>
  </div>
    
  <div id="keyword" class="panel" style="display: none">
    <h3>Query Pfam by keyword</h3>
    <p>Search for keywords in text data in the Pfam database.</p> 
    <form action="[% base %]search"
          method="get" 
          id="keywordForm">
      <div>
        <input class="entryField" 
               type="text" 
               name="query"
               id="keywordField"
               size="30" />
      </div>
    </form>
    <div onclick="if( $('keywordField').present() )$('keywordForm').submit()"
         class="glassButton goButton">&nbsp;</div>
    <div onclick="$('keywordField').value=exKw"
         class="glassButton exampleButton">&nbsp;</div>
  </div>
    
  <div class="cleaner"><!-- empty --></div>

  <hr />
 
  <div id="citation">
    <h2>Citing Pfam</h2>
    <p>
      If you find Pfam useful, please consider 
      <a href="[% helpBase %]?tab=helpReferencesBlock">citing</a> the reference 
      that describes this work:
    </p>
    <div class="citation">
      <span class="title">
        <a class="ext" 
           href="http://nar.oxfordjournals.org/cgi/content/full/34/suppl_1/D247">
          Pfam: clans, web tools and services</a>: 
      </span>
      <span class="authors">
        R.D. Finn, J. Mistry, B. Schuster-B&#246;ckler, S. Griffiths-Jones, 
        V. Hollich, T. Lassmann, S. Moxon, M. Marshall, A. Khanna, R. Durbin, 
        S.R. Eddy, E.L.L. Sonnhammer and A. Bateman
      </span>
      <span class="ref">
        <span class="jrnl">Nucleic Acids Research</span>&nbsp;(2006)
        &nbsp;Database Issue 34:D247-D251
      </span>
    </div>
  </div>
  
  <div id="mirrors">
    <h2>Mirrors</h2>
    <p class="small">The following are official Pfam 
      <a href="[% helpBase %]?tab=helpTheTeamBlock">mirror</a> sites:
    </p>
    <ul class="mirrors">
      <li class="se mirror"><a href="http://pfam.cgb.ki.se/" class="ext flag">SBC, Sweden</a></li>
      <li class="us mirror"><a href="http://pfam.janelia.org/" class="ext flag">JFRC, USA</a></li>
      <li class="fr mirror"><a href="http://pfam.jouy.inra.fr/" class="ext flag">INRA, France</a></li>
      <li class="kr mirror"><a href="http://pfam.ccbb.re.kr/" class="ext flag">CCBB, South Korea</a></li>
    </ul>

  </div>

  <div class="cleaner"><!-- empty --></div>

  <hr />
  
</div>

<script type="text/javascript">
  // <![CDATA[
  var exPfamId = "Piwi";
  var exClanId = "Kazal";
  var exUnpId  = "VAV_HUMAN";
  var exPdbId  = "2abl";
  var exKw     = "apoptosis";
  var exSeq = "MAGAASPCANGCGPSAPSDAEVVHLCRSLEVGTVMTLFYSKKSQRPERKTFQVKLETRQI\n\
TWSRGADKIEGAIDIREIKEIRPGKTSRDFDRYQEDPAFRPDQSHCFVILYGMEFRLKTL\n\
SLQATSEDEVNMWIRGLTWLMEDTLQAATPLQIERWLRKQFYSVDRNREDRISAKDLKNM\n\
LSQVNYRVPNMRFLRERLTDLEQRTSDITYGQFAQLYRSLMYSAQKTMDLPFLEASALRA\n\
GERPELCRVSLPEFQQFLLEYQGELWAVDRLQVQEFMLSFLRDPLREIEEPYFFLDEFVT\n\
FLFSKENSIWNSQLDEVCPDTMNNPLSHYWISSSHNTYLTGDQFSSESSLEAYARCLRMG\n\
CRCIELDCWDGPDGMPVIYHGHTLTTKIKFSDVLHTIKEHAFVASEYPVILSIEDHCSIA\n\
QQRNMAQYFKKVLGDTLLTKPVDIAADGLPSPNQLKRKILIKHKKLAEGSAYEEVPTSVM\n\
YSENDISNSIKNGILYLEDPVNHEWYPHYFVLTSSKIYYSEETSSDQGNEDEEEPKEASG\n\
STELHSNEKWFHGKLGAGRDGRHIAERLLTEYCIETGAPDGSFLVRESETFVGDYTLSFW\n\
RNGKVQHCRIHSRQDAGTPKFFLTDNLVFDSLYDLITHYQQVPLRCNEFEMRLSEPVPQT\n\
NAHESKEWYHASLTRAQAEHMLMRVPRDGAFLVRKRNEPNSYAISFRAEGKIKHCRVQQE\n\
GQTVMLGNSEFDSLVDLISYYEKHPLYRKMKLRYPINEEALEKIGTAEPDYGALYEGRNP\n\
GFYVEANPMPTFKCAVKALFDYKAQREDELTFTKSAIIQNVEKQEGGWWRGDYGGKKQLW\n\
FPSNYVEEMVSPAALEPEREHLDENSPLGDLLRGVLDVPACQIAVRPEGKNNRLFVFSIS\n\
MASVAHWSLDVAADSQEELQDWVKKIREVAQTADARLTEGKMMERRKKIALELSELVVYC\n\
RPVPFDEEKIGTERACYRDMSSFPETKAEKYVNKAKGKKFLQYNRLQLSRIYPKGQRLDS\n\
SNYDPLPMWICGSQLVALNFQTPDKPMQMNQALFLAGGHCGYVLQPSVMRDEAFDPFDKS\n\
SLRGLEPCAICIEVLGARHLPKNGRGIVCPFVEIEVAGAEYDSIKQKTEFVVDNGLNPVW\n\
PAKPFHFQISNPEFAFLRFVVYEEDMFSDQNFLAQATFPVKGLKTGYRAVPLKNNYSEGL\n\
ELASLLVKIDVFPAKQENGDLSPFGGASLRERSCDASGPLFHGRAREGSFEARYQQPFED\n\
FRISQEHLADHFDGRDRRTPRRTRVNGDNRL";
  // ]]>
</script>

<!-- end of index page -->
