
[%
# layout.tt
# jt6 20060406 WTSI
# 
# build a tab-layout page
#
# $Id: layout.tt,v 1.14 2007-03-13 10:32:59 jt6 Exp $

USE String;
USE date;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

UNLESS requirements;
  requirements = { css = []
                   cssIe =[]
                   cssIeAll =[] };
END; 

requirements.css.push( "tab_layout.css" );
requirements.cssIe.push( "tab_layout_ie.css" );
requirements.cssIeAll.push( "tab_layout_all_ie.css" );

#-------------------------------------------------------------------------------

# this is a store for tooltip information that will be used to write the 
# javascript that actually generates the tooltip objects. This needs to be in
# here rather than in the wrapper because the content is generated here and
# then passed into the wrapper. If we define "tips" in the wrapper it just
# stomps on the data that was generated.
tips = {};

# generate a sidebar tab
BLOCK generateTab;

  # see if the tab should be activated or not
  suffix = String.new;
  IF NOT active OR firstTab;
    IF NOT active;
      CALL suffix.append( "inactive" );
    END;
    IF firstTab;
      CALL suffix.append( " selected" );
    END;
    CALL suffix.trim();
  END
-%]

  <li id="[% blockName %]Selector"[% IF suffix %] class="[% suffix %]"[% END %]>
    [% IF active -%]
	  [%# this div is purely to avoid the IE box model bug... -%]
      <div>
        <a href="javascript:show('[% blockName %]')">[% blockTitle %]</a>
      </div>
    [% ELSE -%]
      <div class="inactive">[% blockTitle %]</div>
    [% END -%]
  </li>

[% END %]

[%
firstTab    = 1;
tabsContent = String.new;
pageContent = String.new;

activity = {};

FOREACH block IN layouts.${pageType}.blocks;

  blockName = block.keys.first;
  blockFile = blocks.${blockName};
  blockTitle = block.values.first;

  # build the contents of the tab, if it's active
  TRY;
    pageOutput = PROCESS $blockFile;
    CALL pageContent.append( pageOutput );
  CATCH;
    CALL c.log.error( "layout.tt: Couldn't render template file \"$blockFile\"" );
  END;

  IF pageOutput;
    blockActive = 1;
  ELSE;
    blockActive = 0;
  END;
  activity.$blockName = blockActive;

  # build the tab label
  tabsOutput = PROCESS generateTab active = blockActive;
  CALL tabsContent.append( tabsOutput );

  firstTab = 0;

END;
%]

<div id="tabHeader"></div>

[% PROCESS components/icons.tt %]

<div id="tabTitle">
  <div id="corner">
    [%
    titleFile = layouts.${pageType}.titleTemplate;
    TRY;
      PROCESS $titleFile titleType="tab";
    CATCH;
      CALL c.log.error( "layout.tt: Couldn't render title file \"$titleFile\" (page type \"$pageType\")" );
    END
    %]
  </div>
</div>

<div id="wrap">

  [%# this is only here to avoid the IE peekaboo bug... -%]
  <div id="spacer">&nbsp;</div>

  <div id="sidebar">
    <ul>
      [% tabsContent %]
    </ul>

	[% PROCESS components/jumpBox.tt short = 1%]

   </div> <!-- end of "sidebar" -->

  <div id="content">
    [% pageContent %]
  </div> <!-- end of "content" -->

  <div class="cleaner"></div>

</div> <!-- end of "wrap" -->
