[% META fullPage = 1;
META title = "Login" %]

[% IF error %]
<h1 style="color: red">Error: [% error %]</h1>
[% END %]

[% IF c.user_exists %]

<h1>Logged in</h1>

<p>
	<a href="[% c.uri_for( "/logout" ) %]">Logout</a>
</p>

[% ELSE %]

<h1>Not yet logged in</h1>

<form action="[% c.uri_for( "/login" ) %]">

	<label for="username">Username</label>
	<input type="text" name="username" id="username" />

	<label for="password">Password</label>
	<input type="password" name="password" id="password" />

	<input type="submit" value="Submit" />
	<input type="reset" value="Reset" />

</form>

[% END %]

