
[%#
# domains.tt
# jt6 20060706 WTSI
# 
# build the structural domains block for structures
#
# $Id: domains.tt,v 1.2 2006-09-28 10:11:32 rdf Exp $
%]

<!-- start domains block -->



<div class="getDom">

	<h3>Domains</h3>
[% oe = 0 %]
[% FOREACH image IN domainImages.each_image %]

  <div class="graphicRow[% IF oe % 2 %] odd[% ELSE %] even[% END %][% oe=oe+1 %]">
     <img class="domainImage"	
         src="[% constants.tmp %]/[% image.file_location %]"
         usemap="#graphicsMap[% oe %]"
         alt="" />
    <div class="cleaner">&nbsp;</div>

    <map name="graphicsMap[% oe %]">
      [% image.image_map %]
    </map>		
	</div>
[% END %]

</div>

<!-- end domains block -->
