
[%
# getDomains.tt
# rdf 2006/08/24 WTSI
# 
# block for the structural domains data
#
# $Id: getDomains.tt,v 1.4 2007-03-14 10:03:53 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.js.push( "structure.js" );

#-------------------------------------------------------------------------------
-%]

<!-- start structural domains block -->

<div class="block" id="structureDomainsBlock">
  <div class="handle">
    <h1>Structural Domain Comparison</h1>
  </div>
  <div class="blockContent">

	<!-- start of Structural Domains graphics div -->

    <div id="getDomph">
      <p class="loading">
        Getting Data from CATH and SCOP...
      </p>
    </div>

    <!-- end of graphics div -->

    <script type="text/javascript">
      loadOptions.getDomains.uri    = "[% c.uri_for( "/structure/structuraldomains" ) %]";
      loadOptions.getDomains.params = "id=[% pdbId %]";
  	</script>	

  </div> <!-- end of "blockContent" -->

</div> <!-- end of "block" -->

<!-- end structural domains block -->
