[%
# interactions.tt
# jt6 20060706 WTSI
# 
# build the interactions block for structures
#
# $Id: interactions.tt,v 1.2 2007-05-17 15:39:22 jt6 Exp $

RETURN UNLESS summaryData.numInt
%]

<!-- start interactions block -->

<div class="block" id="structureIntBlock">
  <div class="handle">
    <h1>Interactions</h1>
  </div>
  <div class="blockContent">

    <p>
      There [%- summaryData.numInt > 1 ? "are " : "is "; summaryData.numInt %]
      interaction[% summaryData.numInt > 1 ? "s" : "" %] for this structure.
    </p>

  </div>
</div>

<!-- end interactions block -->
