[%
# loadGraphics.tt
# jt6 20060713 WTSI
#
# $Id: loadGraphics.tt,v 1.10 2008-05-16 15:30:33 jt6 Exp $

# tell the wrapper not to add any header or footer
META naked = 1;

USE String;

# we cheat and use "oe" as a counter as well as the usual odd or even token here
oe = 0;
-%]

<div id="structureGraphics">

[%- FOREACH chainIds IN chainsToUnp.keys.sort;

  unp        = chainsToUnp.$chainIds;
  image      = unpToImage.$unp;
  chainLabel = String.new( chainIds );
-%]
  <div class="graphicRow [% oe % 2 ? "odd" : "even" %]">
    <span class="graphicLabel">
      Chain[% IF chainLabel.search("\,") %]s[% END %] [% chainIds %] 
      (UniProt entry <a href="[% c.uri_for( "/protein", { id = unp } ) %]">[% unp %]</a>):
    </span>
    <img class="graphicImage"
         src="[% constants.tmp %]/[% image.file_location %]"
         usemap="#structureGraphicsMap[% oe %]"
         alt=""/>
    <div class="cleaner">&nbsp;</div>

    <map name="structureGraphicsMap[% oe; oe=oe+1 %]">
      [% image.image_map %]
    </map>

  </div>

[%- END -%]

</div>
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
