
[%
# summary.tt
# jt6 20060706 WTSI
# 
# build the summary block for structures
#
# $Id: summary.tt,v 1.12 2007-03-16 10:42:51 jt6 Exp $

USE String;
USE date;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "lightbox.css" );
requirements.css.push( "structure.css" );

requirements.js.push( "structure.js" );
requirements.js.push( "lightbox.js" );

#-------------------------------------------------------------------------------

%]

<script type="text/javascript">
  Event.observe( window, "load", structurePostLoad, false );
</script>

<!-- start summary block -->

<div class="block" id="structureSummaryBlock">
  <div class="handle">
    <h1>Summary</h1>
  </div>
  <div class="blockContent">

  	[% pdbId = pdb.pdb_id;
  	   title = pdb.title;
  	   oe = 0 %]
  
    <table class="layout[% IF pdb.pdb_image %] narrow[% END %]">
  	  <tbody>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
    		  <td class="label">Title:</td>
  	      <td class="data">
  	        [%- IF pdb.title;
               pdb.title;
  	        ELSE %]
  	          <span class="inactive">n/a</span>
            [% END %]
          </td>
    		</tr>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
    		  <td class="label">Authors:</td>
  	      <td class="data">
    			[% FOREACH author IN authors;
            lastName = String.new( author.last_name ) %]
            <span class="authorName">[% lastName.lower.capital %], [% author.name_initials %]</span>[% UNLESS loop.last %], [% END %]
          [% END # of foreach author %]
          </td>
    		</tr>
          <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
    		  <td class="label">Deposition date:</td>
  	      <td class="data">
            [% pdb.date %]
          </td>
    		</tr>
  	    <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
    		  <td class="label">Experiment type:</td>
  	      <td class="data">
            [% pdb.experiment_long %][% IF pdb.resolution AND pdb.resolution > 0 %], resolution [% pdb.resolution %]&Aring;[% END %]
          </td>
    		</tr>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
    		  <td class="label">Structure:</td>
  	      <td class="data">
            [% IF pdb.pdb_image %]
  	        <a href="[% c.uri_for( "/structure/getimage", id=pdbId ) %]" rel="lightbox" title="PDB entry [% pdbId %]">
  	          <img class="pdbImage" src="[% c.uri_for( "/structure/getimage", id=pdbId, size="s" ) | uri | html %]" alt="[% pdbId %]" /></a>
            <br />
            [% END %]
            View this structure in 
            <a href="[% c.uri_for( "/structure/viewer", id=pdbId, viewer="jmol" ) | uri | html %]"
               onclick="popUp(this.href,'console',800,800,'jmolWin');return false;"
               target="newWin">Jmol</a>, 
            <a href="[% c.uri_for( "/structure/viewer", id=pdbId, viewer="av" ) | uri | html %]"
               onclick="popUp(this.href,'console',800,800,'avWin');return false;"
               target="newWin">AstexViewer</a> or 
            <a href="http://das.sanger.ac.uk/registry/showspice.jsp?display=DS_241&amp;pdb=[% pdbId %]"
               onclick="popUp(this.href,'console',800,800,'avWin');return false;"
               target="newWin"
             class="ext">SPICE</a>	
          </td>
    		</tr>
  	    <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
    		  <td class="label">Sequence mapping:</td>
  	      <td class="data">
            [%- oe2 = 0 -%]
  	        <table class="details">
    		      <thead>
                <tr class="caption">
                  <th colspan="3">PDB</th>
                  <th colspan="3">UniProt</th>
                  <th rowspan="2">Pfam family</th>
                </tr>
                <tr class="caption">
                  <th>Chain</th>
                  <th>Start</th>
                  <th>End</th>
                  <th>ID</th>
                  <th>Start</th>
                  <th>End</th>
                </tr>
    		      </thead>
    		      <tbody>
    		      [%- 
              proteinUri = c.uri_for( "/protein" );
              familyUri  = c.uri_for( "/family" );
              FOREACH m IN mapping %]
      			    <tr class="[% oe2 % 2 ? "odd" : "even"; oe2=oe2+1 %]">
                  <td>[% IF m.chain; m.chain; ELSE %]<span class="inactive">n/a</span>[% END %]</td>
                  <td>[% m.pdb_start_res %]</td>
                  <td>[% m.pdb_end_res %]</td>
                  <td><a href="[% proteinUri %]?id=[% m.pfamseq_id %]">[% m.pfamseq_id %]</a></td>
                  <td>[% m.pfam_start_res %]</td>
                  <td>[% m.pfam_end_res %]</td>
                  <td><a href="[% familyUri %]?id=[% m.pfamA_id %]">[% m.pfamA_id %]</a> (<a href="[% familyUri %]?acc=[% m.pfamA_acc %]">[% m.pfamA_acc %]</a>)</td>
                </tr>
              [% END %]
      	      </tbody>
            </table>
  
      			<p class="small"><strong>Note:</strong> This mapping was provided by the <a class="ext" href="http://www.ebi.ac.uk/msd/">MSD</a> group.</p>
  
          </td>
    		</tr>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
    		  <td class="label">PubMed reference:</td>
  	      <td class="data">
  	        <a class="ext" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;dopt=Abstract&amp;list_uids=[% pdb.pubmed_id %]">
  	          [% pdb.pubmed_id %]</a>
          </td>
    		</tr>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
    		  <td class="label">External links:</td>
  	      <td class="data">
            <ol>
              <li>
                <a class="ext" href="http://www.rcsb.org/pdb/cgi/explore.cgi?pdbId=[% pdbId %]">Protein DataBank (PDB)</a>
              </li>
              <li>
                <a class="ext" href="http://www.ebi.ac.uk/msd-srv/atlas?id=[% pdbId %]">Macromolecular Structure Database (MSD)</a>
              </li>
              <li>
                <a class="ext" href="http://www.ebi.ac.uk/thornton-srv/databases/cgi-bin/pdbsum/GetPage.pl?pdbcode=[% pdbId %]">PDBsum</a>
              </li>
              <li>
                <a class="ext" href="http://cathwww.biochem.ucl.ac.uk/cgi-bin/cath/CATHSrch.pl?type=PDB&amp;query=[% pdbId %]">CATH</a>
              </li>
              <li>
                <a class="ext" href="http://scop.mrc-lmb.cam.ac.uk/scop/search.cgi?pdb=[% pdbId %]">Structural Classifcation of Proteins (SCOP)</a>
              </li>
            </ol>
          </td>
    		</tr>
      </tbody>
  	</table>

  </div>
</div>

<!-- end summary block -->

[%#
select pfamA_id, pfamA_acc, 
       chain, pdb_start_res, pdb_end_res, 
       pfamseq_acc, pfam_start_res, pfam_end_res
from   pdbmap m, 
       pdb p,
       pfamseq s,
       pfamA a 
where  p.auto_pdb=m.auto_pdb 
and    m.auto_pfamseq=s.auto_pfamseq 
and    a.auto_pfamA=m.auto_pfam
and    p.pdb_id="2abl" 
and    m.pfam_region=1 
%]
