
/* blocks.css
   jt6 20060317 WTSI

   stylesheet for the blocks layout of the new Pfam family page

  $Id: blocks.css,v 1.2 2006-03-17 17:39:15 jt6 Exp $
*/

/* page-specific styles */

h1.error {
	color: red;
}

#footer p {
	margin: 0;
    padding: 0;
}

body {
	background: #EEE url(/static/images/bg_diag.png) repeat scroll top left;
}

/* page layout */

#content {
	margin: 0 2px;
}

#left {
    margin: 0;
	margin-right: 10px;
    padding: 0;
	float: left;
/* width: 250px; */
/* border: 1px solid green; */
}

#right {
	margin: 0;
    padding: 0;
 	float: left;
/*    width: 280px; */
/* border: 1px solid blue; */
}

#middle {
	margin: 0;
	padding: 0;
	margin-right: 280px;
/* border: 1px solid blue; */
}

div.cleaner {
	clear: both;
	height: 1px;
	font-size: 1px;
	border: none;
	margin: 0; 
    padding: 0;
	background: transparent;
}

/* block stuff */

div.block {
	border: 1px solid #999;
    background: #DDD;
    margin-bottom: 2px; /* separation of boxes on the page */
}

div.blockContent {
	display: block;
	padding: 2px;
    border: 1px solid #999;
}

#pfamBlock		.blockContent { background: #AFC; }
#interproBlock	.blockContent { background: #FCA; }
#pdbBlock		.blockContent { background: #CAF; }
#goBlock		.blockContent { background: #ACF; }

#domainsBlock	.blockContent {
	overflow: auto;
    height: 200px;
}

.domain {
	padding: 10px;
}

a.open {
	width: 14px;
    height: 15px;
}

.closed {
	background: url(/static/images/closed.gif) top right no-repeat;
}

/* begin cross-browser coloured fake-fieldsets */
div.fieldset {
  position:   relative;
  margin-top: 1em;
}

div.fieldset div.content {
  padding:          0.75em;
  overflow:         auto;
  display:          table-cell;
  border:           black 1px solid;
  background-color: white;
}

div.fieldset div.legend {
  position:         absolute;
  top:              -0.5em;
  margin-left:      1em;
  white-space:      nowrap;
  display:          table-cell;
  padding:          0 0.2em 0 0.2em;
  font-weight:      bolder;
  z-index:          1;
  border:           black 1px solid;
  background-color: white;
}

div.fieldset div.content img {
  position:       relative;
  padding-bottom: 0.5em;
}

* html div.fieldset div.legend { width: 100px; }

/* end cross-browser coloured fake-fieldsets */

#fieldsetTest > .fieldset > .legend {
	background: #AAC;
	padding: 0.2em;
}