
/* interactions.css
   jt6 20060421 WTSI

   Stylesheet for the items that are specific to the tab layout for
   the iPfam pages.

   $Id: ipfam.css,v 1.1 2006-04-25 16:23:52 jt6 Exp $
*/   

/* ======================================== */
/* page layout items */

/* styles for the markup that forms the page tab */
#tabTitle {
	color: #5948a2;
}

#pageType {
    border-color: #5948a2;
}

#pageType h2 {
  color: #6f63a2;
/*    background: #5948a2; */
}

/* ======================================== */
/* components of the remainder of the page */

#content {
  border-top-color: #6f63a2;
}

#contentContainer {
  background-color: #a69dcc;
  background-image: url(/static/images/purple_page_border.gif);
}

#wrap {
  position: relative; /* needed to fix the IE peekaboo bug... */
  background: url(/static/images/purple_bg.gif) repeat-y 15% 0;
}

/* the left column navigation bar */

#sidebar {
    border-bottom-color: #6f63a2;
}

#sidebar li a {
  color: #5948a2;
}

#sidebar li.selected a {
  border-color: #6f63a2;
  background-image: url(/static/images/purple_selected_bg.gif);
}

#sidebar li span.inactive {
  color: #a499d5;
}

#footer {
  border-top-color: #6f63a2;
}

/* ======================================== */
/* general styles for "blocks" */

div.handle {
  background-color: #5948a2;
}

/* ======================================== */
/* rules for specific blocks */

div.pdbImageFragment {
	background: #e7edf3;
    border-color: #6f63a2;
}

h4.pdbTitle  {
	color: #5948a2;
}

