
/* tab_layout_ie.css
   jt6 20060418 WTSI.

   IE stylesheet to handle transparency...
   
   $Id: tab_layout_ie.css,v 1.1 2006-04-20 16:37:15 jt6 Exp $
*/

hr.short {
    display: inline;
	height: 1px;
	border: none;
	border-top-width: 1px;
    border-top-style: solid;
    width: 80%;
}

/* the individual icons in the overview bar */
#seqIcon {
    background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/images/logos/alignment.png",sizingMethod="crop");
}

#archIcon {
    background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/images/logos/domains.png",sizingMethod="crop");
}

#structIcon {
    background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/images/logos/structure.png",sizingMethod="crop");
}

#ipfamIcon {
    background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/images/logos/ipfam.png",sizingMethod="crop");
}

#specIcon {
    background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/images/logos/tree.png",sizingMethod="crop");
}


/* background for the active tab in the sidebar */
#sidebar li.selected {
    background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/images/tab_shadow.png",sizingMethod="crop");
}
