
[%
# summary.tt
# jt6 20071008 WTSI
# 
# build the summary block for metagenomics sequences
#
# $Id: summary.tt,v 1.2 2008-05-22 09:55:54 jt6 Exp $

# a row counter
oe = 0;
-%]

<!-- start metaseq dataset summary block -->

<div class="block" id="mdsSummaryBlock">
  <div class="handle">
    <h1>Summary</h1>
  </div>
  <div class="blockContent">
    
    <h1>[% entry.metaseq_acc %]</h1>

    <p>
      This is the summary of <acronym title="Metagenomics sequence database">
        metaseq</acronym> dataset <em>[% entry.long_source %]</em>
      [% IF entry.source; "("; entry.source; ")"; END %].
    </p>

    <table class="layout" summary="Metaseq dataset information">
      <tbody>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
          <td class="label">Source:</td>
          <td class="data">
            [% entry.long_source %]
            (<a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;dopt=Abstract&amp;list_uids=[% entry.pmid %]"
             class="ext">PMID:[% entry.pmid %]</a>)
          </td>
        </tr>
      </tbody>
    </table>


  </div> <!-- end of "blockContent" -->
</div>

<!-- end metaseq dataset summary block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
