
[%
# batch.tt
# jt6 20070419 WTSI
# 
# build the batch search block
#
# $Id: batch.tt,v 1.2 2007-05-01 21:07:47 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

# using styles from the help pages, plus the common styles for forms
requirements.css.push( "help.css" );
requirements.css.push( "forms.css" );
requirements.cssIeAll.push( "forms_all_ie.css" );

#-------------------------------------------------------------------------------

%]

<!-- start batch search block -->

<div class="block" id="searchBatchBlock">
  <div class="handle">
    <h1>Sequence search</h1>
  </div>
  <div class="blockContent">

    <div class="formWrapper">

      <form method="get" 
            id="proteinBatchSearchForm"
            action="[% base %]seqsearch/batch">
        <div>
    
          <span class="row">
            <label for="seq">Sequence</label>
            <input type="file" size="20" name="batchSeq" id="batchSeq" />
          </span>
    
          <span class="row">
            <label for="batchSearchSeqOpts">Search options</label>
            <select name="seqOpts" id="batchSearchSeqOpts">
              <option value="both">Both global &amp; fragment</option>
              <option value="ls">Global</option>
              <option value="fs">Fragment</option>
            </select>
          </span>
    
          <span class="row">
            <label for="email">Email address</label>
            <input type="text" size="20" maxlength="100" name="email" id="email" />
          </span>
    
          <span class="row">
            <input class="submit"  type="submit" name="submit" value="Submit" />
            <input class="reset"   type="reset"  name="reset"  value="Reset" />
          </span>
  
        </div>
      </form>

    </div>
  </div>
</div>

<!-- end batch search block -->
