
[%
# funshift.tt
# jt6 20070515 WTSI
# 
# build the function similarity search tab
#
# $Id: funshift.tt,v 1.3 2007-06-05 15:57:37 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

# using styles from the help pages, plus the common styles for forms
requirements.css.push( "help.css" );
requirements.css.push( "forms.css" );
requirements.cssIeAll.push( "forms_all_ie.css" );

#-------------------------------------------------------------------------------

%]

<!-- start funshift search block -->

<div class="block" id="searchFunshiftBlock">
  <div class="handle">
    <h1>Functional similarity search</h1>
  </div>
  <div class="blockContent">

    <p>
      Search for Pfam families which are functionally similar to a specified
      Pfam family.
      <span class="moreLink" onclick="reveal(this,'fsNotes',false, true)">More...</span>
    </p>

    <div id="fsNotes" style="display: none">
      <p>
        You can enter either an accession or an identifier for a Pfam
        family. The search is case insensitive.
      </p>
      <p>
        We calculate functional similarity using the method described 
        <a href="http://www.biomedcentral.com/1471-2105/7/302/abstract">here</a>.
        We currently apply an arbitrary cut-off of <strong>0.75</strong> to
        the similarity score, to avoid generating excessive volumes of results.
      </p>
    </div>

    <div class="formWrapper">

      [% IF fsSearchError %]
      <div class="error">
        <h2>Error</h2>
        [% fsSearchError %]
      </div>
      [% END %]
  
      <form method="get" 
            id="funshiftSearchForm"
            action="[% base %]seqsearch/funshift">

        <div class="row">
          <label for="unp">Pfam ID or accession</label>
          <input type="text" size="20" maxlength="40" name="entry" id="fs" />
        </div>

        <div class="row">
          <label class="blankLabel">Submit</label>
          <input class="submit"  type="submit" name="submit" value="Submit" />
          <input class="reset"   type="reset"  name="reset"  value="Reset" />
          <input class="example" type="button" value="Example" onclick="$('fs').value=exFs" />
        </div>

      </form>
        
    </div>
  </div>
</div>

<script type="text/javascript">
  // <![CDATA[
  var exFs = "glyco_hydro_16";
  // ]]>
</script>

<!-- end funshift search block -->
