
[%
# keyword.tt
# jt6 20061108 WTSI
# 
# build the keyword search block
#
# $Id: keyword.tt,v 1.4 2007-05-01 21:07:47 jt6 Exp $
%]

<!-- start keyword search block -->

<div class="block" id="searchKeywordBlock">
  <div class="handle">
    <h1>Keyword search</h1>
  </div>
  <div class="blockContent">

    <div class="formWrapper">

      <form method="get" 
            id="keywordSearchForm"
            action="[% c.uri_for( "/search" ) %]">
        <div>
    	    <input type="hidden" name="queryType" value="unp" />

    	    <span class="row">
            <label for="query">Keyword(s)</label>
    	      <input type="text" size="30" maxlength="100" name="query" id="query" />
          </span>
    
    	    <span class="row">
    	      <input class="submit"  type="submit" name="submit" value="Submit" />
    	      <input class="reset"   type="reset"  name="reset"  value="Reset" />
    	      <input class="example" type="button" value="Example" onclick="$('query').value=exKw" />
          </span>

        </div>
      </form>

    </div>
  </div>
</div>

<script type="text/javascript">
  // <![CDATA[
  var exKw = "apoptosis";
  $("query").focus();
  // ]]>
</script>

<!-- end keyword search block -->
