
[%
# protein.tt
# jt6 20061108 WTSI
# 
# build the protein name or sequence search block
#
# $Id: protein.tt,v 1.9 2007-05-16 14:48:54 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

# using styles from the help pages, plus the common styles for forms
requirements.css.push( "help.css" );
requirements.css.push( "forms.css" );
requirements.cssIeAll.push( "forms_all_ie.css" );

#-------------------------------------------------------------------------------

%]

<!-- start protein search block -->

<div class="block" id="searchProteinBlock">
  <div class="handle">
    <h1>Protein name or sequence search</h1>
  </div>
  <div class="blockContent">
    
    <p>
      Find information about a specific UniProt sequence entry.
      <span class="link" onclick="reveal(this,'pNotes',false, true)">More...</span>
    </p>

    <div id="pNotes" style="display: none">
      <p>
        You can enter either a UniProt accession or identifier. The search is 
        case insensitive.
      </p>
    </div>


    <div class="formWrapper">
  
      <form method="get" 
            id="proteinSearchForm"
            action="[% base %]protein">
        <div>
          <input type="hidden" name="type" value="Protein" />
    
          <span class="row">
            <label for="unp">UniProt ID or accession</label>
            <input type="text" size="20" maxlength="40" name="entry" id="unp" />
          </span>
    
          <span class="row">
            <input class="submit"  type="submit" name="submit" value="Submit" />
            <input class="reset"   type="reset"  name="reset"  value="Reset" />
            <input class="example" type="button" value="Example" onclick="$('unp').value=exUnp" />
          </span>
  
        </div>
      </form>
        
    </div>
  </div>
</div>

<script type="text/javascript">
  // <![CDATA[
  var exUnp = "VAV_HUMAN";
  // ]]>
</script>

<!-- end protein search block -->
