
[%
# protein.tt
# jt6 20061108 WTSI
# 
# build the protein name or sequence search block
#
# $Id: protein.tt,v 1.1 2006-11-13 14:45:18 jt6 Exp $
%]

<!-- start protein search block -->

<div class="block" id="searchProteinBlock">
  <div class="handle">
    <h1>Protein name or sequence search</h1>
  </div>
  <div class="blockContent">

	<h2>Search fields here</h2>

  </div>
</div>

<!-- end protein search block -->
