
[%
# sequence.tt
# jt6 20070419 WTSI
# 
# build the sequence search block
#
# $Id: sequence.tt,v 1.2 2007-04-27 15:57:59 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

# using styles from the help pages, plus the common styles for forms
requirements.css.push( "help.css" );
requirements.css.push( "forms.css" );
requirements.cssIeAll.push( "forms_all_ie.css" );

#-------------------------------------------------------------------------------

%]

<!-- start sequence search block -->

<div class="block" id="searchSequenceBlock">
  <div class="handle">
    <h1>Sequence search</h1>
  </div>
  <div class="blockContent">

    <div class="formWrapper">

      [% IF seqSearchError %]
      <div class="error">
        <h2>Error</h2>
        [% seqSearchError %]
      </div>
      [% END %]
  
      <form method="get" 
            name="proteinSeqSearchForm"
            id="proteinSeqSearchForm"
            action="[% c.uri_for( "/seqsearch/seq" ) %]">
  
        <span class="row">
          <label for="seq">Sequence</label>
          <textarea cols="60" rows="10" name="seq" id="seq"></textarea>
        </span>
  
        <span class="row">
          <label for="seqOpts">Search options</label>
          <select name="seqOpts" id="seqOpts">
            <option value="both">Both global &amp; fragment</option>
            <option value="ls" selected="selected">Global</option>
            <option value="fs">Fragment</option>
          </select>
        </span>
  
        <div class="row">
          <span class="label">Cut-off</span>
          <div class="formElement">
            <label for="gaButton">
              <input class="radio"
                     type="radio" 
                     name="ga" 
                     id="gaButton" 
                     value="1" 
                     checked="checked" 
                     onChange="$('evalue').disable()" />
              Gathering threshold
            </label>
          </div>
          <div class="formElement">
            <label for="eButton">
              <input class="radio"
                     type="radio" 
                     name="ga" 
                     id="eButton" 
                     value="0" 
                     onChange="$('evalue').enable()" />
              Use E-value
            </label>
          </div>
        </div>
  
        <span class="row">
          <label for="evalue">E-value</label>
          <input type="text" 
                 size="10" 
                 maxlength="10" 
                 value="1.0" 
                 name="evalue" 
                 id="evalue" 
                 disabled="1" />
        </span>
  
        <span class="row">
          <input class="submit"  type="submit" name="submit" value="Submit"
                 onclick="if( ! $('seq').present() ){return false}"/>
          <input class="reset"   type="reset"  name="reset"  value="Reset" />
          <input class="example" type="button" value="Example" onclick="$('seq').value=exSeq" />
        </span>
  
      </form>
  
    </div>
    
  </div>
</div>

<script type="text/javascript">
  var exSeq = "MAGAASPCANGCGPSAPSDAEVVHLCRSLEVGTVMTLFYSKKSQRPERKTFQVKLETRQI\n\
TWSRGADKIEGAIDIREIKEIRPGKTSRDFDRYQEDPAFRPDQSHCFVILYGMEFRLKTL\n\
SLQATSEDEVNMWIRGLTWLMEDTLQAATPLQIERWLRKQFYSVDRNREDRISAKDLKNM\n\
LSQVNYRVPNMRFLRERLTDLEQRTSDITYGQFAQLYRSLMYSAQKTMDLPFLEASALRA\n\
GERPELCRVSLPEFQQFLLEYQGELWAVDRLQVQEFMLSFLRDPLREIEEPYFFLDEFVT\n\
FLFSKENSIWNSQLDEVCPDTMNNPLSHYWISSSHNTYLTGDQFSSESSLEAYARCLRMG\n\
CRCIELDCWDGPDGMPVIYHGHTLTTKIKFSDVLHTIKEHAFVASEYPVILSIEDHCSIA\n\
QQRNMAQYFKKVLGDTLLTKPVDIAADGLPSPNQLKRKILIKHKKLAEGSAYEEVPTSVM\n\
YSENDISNSIKNGILYLEDPVNHEWYPHYFVLTSSKIYYSEETSSDQGNEDEEEPKEASG\n\
STELHSNEKWFHGKLGAGRDGRHIAERLLTEYCIETGAPDGSFLVRESETFVGDYTLSFW\n\
RNGKVQHCRIHSRQDAGTPKFFLTDNLVFDSLYDLITHYQQVPLRCNEFEMRLSEPVPQT\n\
NAHESKEWYHASLTRAQAEHMLMRVPRDGAFLVRKRNEPNSYAISFRAEGKIKHCRVQQE\n\
GQTVMLGNSEFDSLVDLISYYEKHPLYRKMKLRYPINEEALEKIGTAEPDYGALYEGRNP\n\
GFYVEANPMPTFKCAVKALFDYKAQREDELTFTKSAIIQNVEKQEGGWWRGDYGGKKQLW\n\
FPSNYVEEMVSPAALEPEREHLDENSPLGDLLRGVLDVPACQIAVRPEGKNNRLFVFSIS\n\
MASVAHWSLDVAADSQEELQDWVKKIREVAQTADARLTEGKMMERRKKIALELSELVVYC\n\
RPVPFDEEKIGTERACYRDMSSFPETKAEKYVNKAKGKKFLQYNRLQLSRIYPKGQRLDS\n\
SNYDPLPMWICGSQLVALNFQTPDKPMQMNQALFLAGGHCGYVLQPSVMRDEAFDPFDKS\n\
SLRGLEPCAICIEVLGARHLPKNGRGIVCPFVEIEVAGAEYDSIKQKTEFVVDNGLNPVW\n\
PAKPFHFQISNPEFAFLRFVVYEEDMFSDQNFLAQATFPVKGLKTGYRAVPLKNNYSEGL\n\
ELASLLVKIDVFPAKQENGDLSPFGGASLRERSCDASGPLFHGRAREGSFEARYQQPFED\n\
FRISQEHLADHFDGRDRRTPRRTRVNGDNRL";
</script>

<!-- end sequence search block -->
