[%
# contactUs.tt
# rdf 20060927 WTSI
# 
# build the contactUS block for the help pages
#
# $Id: contactUs.tt,v 1.2 2007-04-16 16:07:19 jt6 Exp $
%]

<!-- start ContactUs block -->

<div class="block" id="helpContactUsBlock">
  <div class="handle">
    <h1>How to contact Pfam</h1>
  </div>
  <div class="blockContent">

    <h3>Contact Pfam</h3>
    <p>
      Please use the Pfam help form.
    </p>

    <h3>Mailing list</h3>
  
    <p>
      The Pfam mailing list is a low traffic list that has important 
      announcements, such as releases or major changes.
    </p>
    <p>
      To join the mailing list send a mail to
      <a href="mailto:pfamlist-subscribe@sanger.ac.uk">pfamlist-subscribe@sanger.ac.uk</a>.
    </p>
    <p>
      If you should want to unsubscribe from the list send a mail to
      <a href="mailto:pfamlist-unsubscribe@sanger.ac.uk">pfamlist-unsubscribe@sanger.ac.uk</a>.
    </p>

    <h3>RSS feeds</h3>

    <p>
      Alternatively you can keep in touch with the latest goings on using the 
      Pfam <a href="[% c.uri_for( "/rss" ) %]">RSS feed</a>.
    </p>
    		
  </div>
</div>
