[%
# database.tt
# jt6 20080331 WTSI
# 
# build the database documentation block for the help pages
#
# $Id: database.tt,v 1.14 2009-10-28 17:07:52 jt6 Exp $
%]

<!-- start database block -->

<div class="block" id="helpDatabaseBlock">
  <div class="handle">
    <h1><a name="dbTop">Database documentation</a></h1>
  </div>
  <div class="blockContent">

    <div class="sections">
      <p>Contents:</p>
      <ol>
        <li><a class="link" rel="version">VERSION table</a></li>
        <li><a class="link" rel="domain">Domain information</a></li>
        <li><a class="link" rel="pfamseq">Pfamseq</a></li>
        <li><a class="link" rel="pfamb">Pfam-B</a></li>
        <li><a class="link" rel="architecture">Architecture</a></li>
        <li><a class="link" rel="annotation">Annotation information</a></li>
        <li><a class="link" rel="clanData">Clans</a></li>
        <li><a class="link" rel="dead">Dead families</a></li>
        <li><a class="link" rel="nested">Nested domains</a></li>
        <li><a class="link" rel="structural">Structural data</a></li>
        <li><a class="link" rel="proteomes">Proteomes</a></li>
        <li><a class="link" rel="related">Related families</a></li>
        <li><a class="link" rel="data">Data files</a></li>
      </ol>
    </div>

    <p>
      The Pfam MySQL database contains all of the data accessible via the
      website. The database currently consists of 67 tables. Below is some
      basic documentation on the schema layout and how smaller numbers of
      tables can be put together to enable access to a subset of the data. At
      the time of writing, between releases 27.0 and 28.0, the fields within
      the tables and the results of queries are correct. The data within the
      tables will change with each release. Although we do not anticipate any
      major changes to the database, we reserve the right to make changes with
      or without warning; we will endeavour to update this document if such
      changes are made.
    </p>

    <p> 
      A red diamond in the images below indicates a foreign key. In some images
      there are tables which appear not to be linked to any other table in the 
      image. This is due to a foreign key being populated late in production 
      of the database. The 'floating' table can still be joined and example 
      queries of how to do so are given under each image.
    </p>  
    <hr />

    <h2><a name="version">VERSION table</a></h2>

    <img class="tables"
         alt="Version table"
         src="[% c.uri_for( '/static/images/help/db_schema/version.png' ) %]" />

    <p>
      The <span class="table">version</span> table contains information that relates to a particular Pfam
      release. It contains the version number of the Pfam database, the version
      numbers of the Swiss-Prot and TrEMBL databases that were used to build
      Pfam, and some statistics about the number of families and coverage. This
      table is stand-alone and does not link to any of the other tables. 
    </p>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me all of the version information for the Pfam database
    </fieldset>

    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT * FROM version \G

                     pfam_release: 28.0
                pfam_release_date: 2015-05-15
               swiss_prot_version: 2014_07
                   trembl_version: 2014_07
                    hmmer_version: 3.1b1
                   pfamA_coverage: 81.5
           pfamA_residue_coverage: 61.4
                  number_families: 16230</pre>
    </fieldset>
    
    <p><a class="link" rel="dbTop">back to top</a></p>

    <hr />

    <h2><a name="domain">Domain information</a></h2>
    
    <img class="tables"
         alt="Domain information"
         src="[% c.uri_for( '/static/images/help/db_schema/domain.png' ) %]" />

    <p>
      Two of the central tables in the Pfam database are <span
        class="table">pfamseq</span>, which contains the UniProtKB sequence database,
      and <span class="table">pfamA</span>, which contains information about the
      Pfam-A families. Most of the other tables in the database link to one or both
      of these tables, either directly or indirectly.
    </p>
    <p>
      The table <span class="table">pfamA_reg_seed</span> contains the Pfam
      regions that are present in a seed alignment, and the <span class="table">
        pfamA_reg_full_significant</span> table contains all of the sequence 
      regions that match the HMM and score above the curated threshold, i.e. are 
      significant matches, for each family. There is also a table named 
      <span class="table">pfamA_reg_full_insignificant</span> which contains, as 
      the name suggests, all the insignificant matches for each family.
      Insignificant matches are those which match the HMM with an E-value less than
      1000, but score below the curated bit score threshold for each family.
    </p>
    <p>
      The table <span class="table">pfamA_reg_full_significant</span> contains a 
      column called 'in_full'. The matches that are present in the full alignment 
      for a Pfam family have this column set to 1, while those that are not present 
      in the full alignment have the 'in_full' column set to 0. A significant 
      match will only be excluded from the full alignment (in_full = 0) if it 
      matches a family that belongs to a clan, and the match overlaps with 
      another more significant (lower E-value) match to a family within the clan.
    </p>
    <p>
      For each sequence match we store two sets of coordinates, the 
      <em>envelope</em> coordinates and the <em>alignment</em> coordinates. 
      
      The envelope co-ordinates delineate the region on the sequence where the 
      match has been probabilistically determined to lie, whereas the alignment 
      coordinates delineate where HMMER is confident that the alignment of the 
      sequence to the profile HMM is correct. Our full alignments contain the
      envelope coordinates. In the database, envelope start and end positions
      are stored in the <span class="column">seq_start</span> and 
      <span class="column">seq_end fields</span> columns, and the alignment 
      coordinates are stored in the <span class="column">ali_start</span> 
      and <span class="column">ali_end</span> fields.
    </p>
    <p>
      The Pfam database has historically been built on the UniProtKB database.
      However, as of release 22.0 we also provide Pfam domain data for the 
      NCBI sequence database (GenPept) and a set of metagenomics sequences. As
      of release 28.0, we no longer store Pfam information at the sequence level
      for the NCBI and metagenomics data sets in the MySQL database, but we still 
      provide the family alignments for them in the alignment_and_tree table. The
      Pfam website can still be queried using NCBI and metagenomics accessions.
    </p>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me all of the domains for UniProtKB protein sequence 'VAV_HUMAN'
    </fieldset>

    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>
mysql> SELECT   pfamA.pfamA_acc, \
                pfamA_id, \
                seq_start, \
                seq_end \
       FROM     pfamseq, \
                pfamA, \
                pfamA_reg_full_significant \
       WHERE    pfamseq_id = 'VAV_HUMAN' \
       AND      in_full = 1 \
       AND      pfamseq.pfamseq_acc = pfamA_reg_full_significant.pfamseq_acc \
       AND      pfamA_reg_full_significant.pfamA_acc = pfamA.pfamA_acc \
       ORDER BY seq_start;

+-----------+----------+-----------+---------+
| pfamA_acc | pfamA_id | seq_start | seq_end |
+-----------+----------+-----------+---------+
| PF00307   | CH       |         1 |     115 |
| PF00621   | RhoGEF   |       198 |     372 |
| PF00169   | PH       |       403 |     504 |
| PF00130   | C1_1     |       516 |     568 |
| PF00018   | SH3_1    |       615 |     652 |
| PF00017   | SH2      |       671 |     745 |
| PF00018   | SH3_1    |       788 |     834 |
+-----------+----------+-----------+---------+</pre>

    </fieldset>
    <p>
      To report all of the overlapping domains within any clans, leave out the
      'in_full =1' clause. More information on clans can be found later in
      this document.
    </p>
    
    <fieldset class="query">
      <legend>Example query</legend>
      Give me all the UniProtKB sequences in the <strong>full</strong> alignment 
      for the family 'B12D'
    </fieldset>

    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT pfamseq_id, \
              pfamseq.pfamseq_acc, \
              seq_start, \
              seq_end, \
              pfamA_id \
       FROM   pfamA, \
              pfamseq, \
              pfamA_reg_full_significant \
       WHERE  pfamA_id = 'B12D' \
       AND    in_full = 1 \
       AND    pfamA.pfamA_acc = pfamA_reg_full_significant.pfamA_acc \
       AND    pfamA_reg_full_significant.pfamseq_acc = pfamseq.pfamseq_acc;

+--------------+-------------+-----------+---------+----------+
| pfamseq_id   | pfamseq_acc | seq_start | seq_end | pfamA_id |
+--------------+-------------+-----------+---------+----------+
| U3I8N7_ANAPL | U3I8N7      |        16 |      81 | B12D     |
| M0XBC6_HORVD | M0XBC6      |         1 |      49 | B12D     |
| D9ZFG6_HORSE | D9ZFG6      |         9 |      50 | B12D     |
| G3VJG8_SARHA | G3VJG8      |        16 |      84 | B12D     |
| B6DDV9_ANODA | B6DDV9      |        11 |      78 | B12D     |
| V9LJR2_CALMI | V9LJR2      |        11 |      79 | B12D     |
| G7EA12_MIXOS | G7EA12      |         7 |      73 | B12D     |
...</pre>
    </fieldset>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me all the UniProtKB sequences in the <strong>seed</strong> alignment 
      for the family 'B12D'
    </fieldset>
    
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT pfamseq_id, \
              pfamseq.pfamseq_acc, \
              seq_start, \
              seq_end, \
              pfamA_id \
       FROM   pfamA, \
              pfamseq, \
              pfamA_reg_seed \
       WHERE  pfamA_id = 'B12D' \
       AND    pfamA.pfamA_acc = pfamA_reg_seed.pfamA_acc \
       AND    pfamA_reg_seed.pfamseq_acc = pfamseq.pfamseq_acc;

+--------------+-------------+-----------+---------+----------+
| pfamseq_id   | pfamseq_acc | seq_start | seq_end | pfamA_id |
+--------------+-------------+-----------+---------+----------+
| V8NRR6_OPHHA | V8NRR6      |        44 |     110 | B12D     |
| M1C9M8_SOLTU | M1C9M8      |         7 |      75 | B12D     |
| E2B831_HARSA | E2B831      |        11 |      78 | B12D     |
| G3VW47_SARHA | G3VW47      |         9 |      75 | B12D     |
| M0U3S7_MUSAM | M0U3S7      |         5 |      73 | B12D     |
| I1H296_BRADI | I1H296      |         6 |      74 | B12D     |
| K7DYW7_MONDO | K7DYW7      |         9 |      75 | B12D     |
...</pre>
    </fieldset>

    <p><a class="link" rel="dbTop">back to top</a></p>

    <hr />

    <h2><a name="pfamseq">Pfamseq - other tables</a></h2>

    <img class="tables"
         alt="Other regions, sites, disulphides"
         src="[% c.uri_for( "/static/images/help/db_schema/pfamseq_other.png" ) %]" />

    <p>
      This section contains a few tables that link to the <span
      class="table">pfamseq</span> table, but don't fit nicely into any of the
      sections described above.
    </p>

    <p>
      The <span class="table">pfam_annseq</span> table contains binary Perl data
      structures which are used internally to generate the Pfam domain graphics.
      This table is not intended for use by Pfam users, as it is very dependent on
      Perl module versions.
    </p>

    <p>
      The <span class="table">evidence</span> table contains the UniProtKB evidence
      code key that is used in the <span class="column">evidence</span> field in the
      <span class="table">pfamseq</span> table.
    </p>

    <p>
      UniProtKB sequences have secondary accessions if they have been merged or
      split. Secondary accession numbers are stored in the table called <span
      class="table">secondary_pfamseq_acc</span>. 
    </p>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me the secondary accession(s) for the UniProtKB sequence 'P15455'
    </fieldset>

    <fieldset class="sql">
      <pre>mysql> SELECT secondary_acc \
       FROM   pfamseq, \
              secondary_pfamseq_acc \
       WHERE  pfamseq.pfamseq_acc = secondary_pfamseq_acc.pfamseq_acc \
       AND    pfamseq.pfamseq_acc= 'P15455';

+---------------+
| secondary_acc |
+---------------+
| Q3E711        |
| Q56Z11        |
| Q9FFH7        |
+---------------+</pre>
    </fieldset>

    <p><a class="link" rel="dbTop">back to top</a></p>

    <hr />

    <h2><a name="pfamb">Pfam-B, other sequence regions, active site and disulphide bond 
      information for a sequence</a></h2>

    <img class="tables"
         alt="Other regions, sites, disulphides"
         src="[% c.uri_for( "/static/images/help/db_schema/other_regions.png" ) %]" />

    <p>
      These tables contain sequence specific information about the
      sequences in the <a class="ext" 
        href="http://www.uniprot.org/help/uniprotkb/">UniProtKB</a>
      database. The <span class="table">other_regions</span> table
      contains coiled coil, low complexity, signal peptide, transmembrane and
      disordered regionsi data. The <span class="table">pfamseq_markup</span> table 
      contains active site information which is taken from the UniProtKB 
      feature table. Additional active site residues are predicted by Pfam 
      based on conserved residues in a Pfam alignment. The 
      <span class="table">pfamseq_disulphide</span> tables contains 
      disulphide bond information from the UniProtKB feature table.
    </p>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me all of the transmembrane, signal-peptide, coiled-coils, 
      low-complexity and disorder information for the UniProtKB sequnce 'VAV_HUMAN'
    </fieldset>

    <fieldset class="sql">
      <pre>mysql> SELECT type_id, \
              source_id, \
              seq_start, \
              seq_end \
       FROM   other_reg, \
              pfamseq \
       WHERE  pfamseq.pfamseq_id = 'VAV_HUMAN' \
       AND    other_reg.pfamseq_acc = pfamseq.pfamseq_acc;

+----------------+-----------+-----------+---------+
| type_id        | source_id | seq_start | seq_end |
+----------------+-----------+-----------+---------+
| disorder       | IUPred    |       128 |     129 |
| disorder       | IUPred    |       140 |     141 |
| disorder       | IUPred    |       160 |     161 |
| disorder       | IUPred    |       173 |     177 |
| disorder       | IUPred    |       179 |     180 |
| disorder       | IUPred    |       568 |     588 |
| disorder       | IUPred    |       635 |     636 |
| low_complexity | segmasker |        41 |      50 |
| low_complexity | segmasker |       355 |     366 |
+----------------+-----------+-----------+---------+</pre>
    </fieldset>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me all of the active site information for UniProtKB sequence 'Q22CX9'
    </fieldset>

    <fieldset class="sql">
      <pre>mysql> SELECT pfamseq.pfamseq_acc, \
              pfamseq_id, \
              residue, \
              label \
       FROM   pfamseq, \
              pfamseq_markup, \
              markup_key \
       WHERE  pfamseq.pfamseq_acc = pfamseq_markup.pfamseq_acc \
       AND    pfamseq_markup.auto_markup = markup_key.auto_markup \
       AND    pfamseq.pfamseq_acc = 'Q10L43';
+-------------+--------------+---------+----------------------------+

| pfamseq_acc | pfamseq_id   | residue | label                      |
+-------------+--------------+---------+----------------------------+
| Q10L43      | Q10L43_ORYSJ |    1889 | Pfam predicted active site |
| Q10L43      | Q10L43_ORYSJ |    1836 | Pfam predicted active site |
| Q10L43      | Q10L43_ORYSJ |    1819 | Pfam predicted active site |
+-------------+--------------+---------+----------------------------+</pre>
    </fieldset>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me all the residues involved in disulphide bonds in the UniProtKB 
      sequence 'P98092'
    </fieldset>

    <fieldset class="sql">
      <pre>mysql> SELECT pfamseq.pfamseq_acc, \
              pfamseq_id, \
              bond_start, \
              bond_end \
       FROM   pfamseq, \
              pfamseq_disulphide \
       WHERE  pfamseq_disulphide.pfamseq_acc = pfamseq.pfamseq_acc \
       AND    pfamseq.pfamseq_acc = 'Q43495';

+-------------+------------+------------+----------+
| pfamseq_acc | pfamseq_id | bond_start | bond_end |
+-------------+------------+------------+----------+
| Q43495      | 108_SOLLC  |         67 |       92 |
| Q43495      | 108_SOLLC  |         51 |       66 |
| Q43495      | 108_SOLLC  |         41 |       77 |
| Q43495      | 108_SOLLC  |         79 |       99 |
+-------------+------------+------------+----------+</pre>
    </fieldset>

    <p><a class="link" rel="dbTop">back to top</a></p>

    <hr />

    <h2><a name="architecture">Architecture information for a family</a></h2>

    <img class="tables"
         alt="Architecture table"
         src="[% c.uri_for( "/static/images/help/db_schema/architecture.png" ) %]" />

    <p>
      In Pfam, an architecture is the combination of domains that are present
      on a protein. The <span class="table">architecture</span> table can be 
      used to find out which combination of domains are found on particular 
      sets of proteins, or to find out which proteins share the same domains 
      architecture.
    </p>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me all of the architectures and UniProtKB protein sequences for the 
      family 'Dehyd-heme_bind'
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT architecture_acc, \
              pfamseq_id, \
              pfamseq_acc \
       FROM   architecture, \
              pfamseq \
       WHERE  architecture like '%Dehyd-heme_bind%' \
       AND    pfamseq.auto_architecture = architecture.auto_architecture;

+---------------------------------+------------------+-------------+
| architecture_acc                | pfamseq_id       | pfamseq_acc |
+---------------------------------+------------------+-------------+
| PF09098 PF14930 PF09099         | F0G341_9BURK     | F0G341      |
| PF09098 PF14930 PF09099 PF09100 | A0A013VTV5_9SPHN | A0A013VTV5  |
| PF09098 PF14930 PF09099 PF09100 | A0A023DP27_GEOTM | A0A023DP27  |
| PF09098 PF14930 PF09099 PF09100 | A0A024E848_9PSED | A0A024E848  |
| PF09098 PF14930 PF09099 PF09100 | A0A024HHX9_PSESB | A0A024HHX9  |
| PF09098 PF14930 PF09099 PF09100 | A0A059KVB0_9PSED | A0A059KVB0  |
| PF09098 PF14930 PF09099 PF09100 | A0NPA8_9RHOB     | A0NPA8      |
...</pre>

    </fieldset>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me all the sequences which have the architecture 'PF09098 PF09099 PF09100'
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT pfamseq_acc, \
              pfamseq_id  \
       FROM   architecture,  \
              pfamseq \
       WHERE  architecture.auto_architecture = pfamseq.auto_architecture \
       AND    architecture_acc = "PF09098 PF14930 PF09099 PF09100";

+-------------+------------------+
| pfamseq_acc | pfamseq_id       |
+-------------+------------------+
| A0A013VTV5  | A0A013VTV5_9SPHN |
| A0A023DP27  | A0A023DP27_GEOTM |
| A0A024E848  | A0A024E848_9PSED |
| A0A024HHX9  | A0A024HHX9_PSESB |
| A0A059KVB0  | A0A059KVB0_9PSED |
| A0NPA8      | A0NPA8_9RHOB     |
| A1B2Q6      | A1B2Q6_PARDP     |
...</pre>
    </fieldset>

    <hr />

    <h2><a name="annotation">Annotation information for a family</a></h2>

    <img class="tables"
         alt="Literature references"
         src="[% c.uri_for( '/static/images/help/db_schema/annotation.png' ) %]" />

    <p>
      In addition to the Pfam annotation, we also store <a class="ext"
        href="http://www.ebi.ac.uk/interpro/">InterPro</a> annotation and their
      associated <a class="ext" href="http://www.geneontology.org/"> GO</a>
      terms for each family. Links to other databases, e.g.  <a class="ext"
        href="http://scop.mrc-lmb.cam.ac.uk/scop/">SCOP</a>) are also stored
      where appropriate. The <span class="table">pfamA</span> table contains
      the GA, TC and NC cut-offs for each family, and additional information
      surrounding the Pfam-A family, including the number of sequences in the
      seed and full alignment. The <span
        class="table">pfamA_interactions</span> table contains, where data are
      available, pairs of interacting Pfam domains. The data in this table are
      taken from the <a class="ext" href="http://www.ipfam.org/">iPfam</a>
      resource, which describes physical interactions between Pfam domains that
      have a representative structure in the PDB.
    </p>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me the Pfam annotation for the family 'CBS'
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT comment FROM pfamA WHERE pfamA_id = 'CBS' \G
      
*************************** 1. row ***************************
comment: CBS domains are small intracellular modules that pair together
to form a stable globular domain [2]. This family represents a single CBS
domain. Pairs of these domains have been termed a Bateman domain [6]. CBS
domains have been shown to bind ligands with an adenosyl group such as
AMP, ATP and S-AdoMet [5].  CBS domains are found attached to a wide
range of other protein domains suggesting that CBS domains may play a
regulatory role making proteins sensitive to adenosyl carrying ligands.
The region containing the CBS domains in Cystathionine-beta synthase is
involved in regulation by S-AdoMet [4]. CBS domain pairs from AMPK bind
AMP or ATP [5]. The CBS domains from IMPDH and the chloride channel CLC2
bind ATP [5].</pre>
    </fieldset>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me the interpro annotation for the family 'CBS'
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT interpro_id, \
              abstract \
       FROM   interpro, \
              pfamA \
       WHERE  pfamA.pfamA_acc = interpro.pfamA_acc \
       AND    pfamA_id = 'CBS'\G
interpro_id: IPR000644
   abstract: CBS (cystathionine-beta-synthase) domains are small ...
         </pre>
    </fieldset>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me the gene ontology (GO) annotation and family information for 
      the family 'p450'
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>
mysql> SELECT go_id, \
              term, \
              category \
       FROM   gene_ontology AS go, \
              pfamA AS p \
       WHERE  go.pfamA_acc = p.pfamA_acc \
       AND    pfamA_id = 'p450';

+------------+-------------------------------------------------------------------------------------------------------+----------+
| go_id      | term                                                                                                  | category |
+------------+-------------------------------------------------------------------------------------------------------+----------+
| GO:0020037 | heme binding                                                                                          | function |
| GO:0016705 | oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen | function |
| GO:0005506 | iron ion binding                                                                                      | function |
| GO:0055114 | oxidation-reduction process                                                                           | process  |
+------------+-------------------------------------------------------------------------------------------------------+----------+</pre>
    </fieldset>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me all of the literature references for the family 'CBS'
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT pfamA_literature_reference.comment, \
              order_added, \
              pmid, \
              title, \
              literature_reference.author, \
              journal \
       FROM   pfamA, \
              pfamA_literature_reference, \
              literature_reference \
       WHERE  pfamA_id = 'CBS' \
       AND    pfamA.pfamA_acc = pfamA_literature_reference.pfamA_acc \
       AND    pfamA_literature_reference.auto_lit = literature_reference.auto_lit \G

*************************** 1. row ***************************
    comment: Discovery and naming of the CBS domain.
order_added: 1
       pmid: 9020585
      title: The structure of a domain common to archaebacteria and the homocystinuria disease protein.
     author: Bateman A;
    journal: Trends Biochem Sci 1997;22:12-13.
...</pre>
    </fieldset>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me all of the database references for the family 'A2M'
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT db_id, \
              pfamA_database_links.comment, \
              db_link, \
              other_params \
       FROM   pfamA, \
              pfamA_database_links \
       WHERE  pfamA_id = 'A2M' \
       AND    pfamA.pfamA_acc = pfamA_database_links.pfamA_acc;

+----------+---------+-----------+--------------+
| db_id    | comment | db_link   | other_params |
+----------+---------+-----------+--------------+
| PROSITE  |         | PDOC00440 |              |
| SCOP     |         | 1c3d      | fa           |
| HOMSTRAD |         | A2M_A     |              |
| HOMSTRAD |         | A2M_B     |              |
+----------+---------+-----------+--------------+</pre>
    </fieldset>

    <p>
      <strong>Note:</strong> The <span class="column">other_params</span> 
      column contains 'fa;' where the Pfam family corresponds to a 
      SCOP family, and 'sf;' where the Pfam family corresponds to 
      a SCOP superfamily.
    </p> 


    <fieldset class="query">
      <legend>Example query</legend>
      Give me the interacting domains for the domain 'EGF'
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>
mysql> SELECT a.pfamA_id, \
              b.pfamA_id \
       FROM   pfamA as a, \
              pfamA as b, \
              pfamA_interactions \
       WHERE  a.pfamA_acc = pfamA_interactions.pfamA_acc_A \
       AND    b.pfamA_acc = pfamA_interactions.pfamA_acc_B \
       AND    a.pfamA_id = "EGF";

+----------+----------------+
| pfamA_id | pfamA_id       |
+----------+----------------+
| EGF      | EGF            |
| EGF      | DSL            |
| EGF      | FXa_inhibition |
| EGF      | Tissue_fac     |
| EGF      | Interfer-bind  |
| EGF      | Trypsin        |
+----------+----------------+</pre>
    </fieldset>

    <p><a class="link" rel="dbTop">back to top</a></p>

    <hr />

    <h2><a name="clanData">Clan data</a></h2>

    <img class="tables"
         alt="Clan table"
         src="[% c.uri_for( "/static/images/help/db_schema/clan.png" ) %]" />

    <p>
      A Pfam <em>clan</em> is a set of related Pfam-A families. The information
      we use to determine which families belong to the same clan includes related
      structure, related function, matching of the same sequence to HMMs from
      different families, and profile-profile comparisons. <strong>Note</strong> that
      not all Pfam-A families belong to a clan and that a Pfam-A family cannot belong
      to more than one clan.
    </p>

    <fieldset xzy">
      <legend>Example query</legend>
      Give me the id and accession of the clan to which Pfam family 'EGF' belongs
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>
mysql> SELECT clan_id, \
              clan.clan_acc \
       FROM   clan, \
              clan_membership, \
              pfamA \
       WHERE  clan.clan_acc = clan_membership.clan_acc \
       AND    clan_membership.pfamA_acc = pfamA.pfamA_acc \
       AND    pfamA.pfamA_id = 'EGF';

+---------+----------+
| clan_id | clan_acc |
+---------+----------+
| EGF     | CL0001   |
+---------+----------+
</pre>
    </fieldset>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me all of the Pfam-A families that belong to clan 'CL0001'
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT pfamA.pfamA_acc, \
              pfamA_id \
       FROM   clan, \
              clan_membership, \
              pfamA \
       WHERE  clan.clan_acc = clan_membership.clan_acc \
       AND    clan_membership.pfamA_acc = pfamA.pfamA_acc \
       AND    clan.clan_acc = 'CL0001';

+-----------+----------------+
| pfamA_acc | pfamA_id       |
+-----------+----------------+
| PF01414   | DSL            |
| PF04863   | EGF_alliinase  |
| PF00053   | Laminin_EGF    |
| PF07645   | EGF_CA         |
| PF00008   | EGF            |
| PF07974   | EGF_2          |
| PF09064   | Tme5_EGF_like  |
| PF09289   | FOLN           |
| PF12661   | hEGF           |
| PF12662   | cEGF           |
| PF12946   | EGF_MSP1_1     |
| PF12947   | EGF_3          |
| PF14670   | FXa_inhibition |
| PF06247   | Plasmod_Pvs28  |
+-----------+----------------+</pre>
    </fieldset>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me the clan description and comment for clan 'CL0001'
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT clan.clan_acc, \
              clan_id, \
              clan_description, \
              clan_comment \
       FROM   clan \
       WHERE  clan_acc = 'CL0001' \G

clan_acc: CL0001
clan_id: EGF
clan_description: EGF superfamily
clan_comment: Members of this clan all belong to the EGF superfamily ...</pre>
    </fieldset>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me the literature references for clan 'CL0001'
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT comment, \
              order_added, \
              pmid, \
              title, \
              author, \
              journal \
       FROM   clan, \
              literature_reference, \
              clan_lit_ref \
       WHERE  clan.clan_acc = clan_lit_ref.clan_acc \
       AND    clan_lit_ref.auto_lit = literature_reference.auto_lit \
       AND    clan.clan_acc = 'CL0001' \G

*************************** 1. row ***************************
    comment: NULL
order_added: 2
       pmid: 11852228
      title: Domain structure and organisation in extracellular matrix proteins.
     author: Hohenester E, Engel J;
    journal: Matrix Biol 2002;21:115-128.
*************************** 2. row ***************************
    comment: NULL
order_added: 1
       pmid: 3282918
      title: Structure and function of epidermal growth factor-like regions in proteins.
     author: Appella E, Weber IT, Blasi F;
    journal: FEBS Lett 1988;231:1-4.</pre>
    </fieldset>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me the first 5 architectures for the clan 'CL0001'
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT architecture, \
              architecture_acc, \
              type_example, \
              no_seqs \
       FROM   architecture, \
              clan_architecture, \
              clan \
       WHERE  architecture.auto_architecture = clan_architecture.auto_architecture \
       AND    clan_architecture.clan_acc = clan.clan_acc \
       AND    clan.clan_acc = 'CL0001'
       LIMIT  5 \G

*************************** 1. row ***************************
    architecture: DSL~hEGF~EGF
architecture_acc: PF01414 PF12661 PF00008
    type_example: E5STS8
         no_seqs: 2
*************************** 2. row ***************************
    architecture: DSL~EGF~EGF~EGF~EGF~EGF~EGF~EGF~EGF~EGF~EGF~EGF~EGF~EGF~EGF_CA~EGF~EGF~EGF~EGF
architecture_acc: PF01414 PF00008 PF00008 PF00008 PF00008 PF00008 PF00008 PF00008 PF00008 PF00008 PF00008 PF00008 PF00008 PF00008 PF07645 PF00008 PF00008 PF00008 PF00008
    type_example: V4A2Z5
         no_seqs: 1
*************************** 3. row ***************************
    architecture: MNNL~DSL~EGF~hEGF~EGF~hEGF~EGF~EGF~EGF~EGF~EGF
architecture_acc: PF07657 PF01414 PF00008 PF12661 PF00008 PF12661 PF00008 PF00008 PF00008 PF00008 PF00008
    type_example: G6DTI0
         no_seqs: 1
*************************** 4. row ***************************
    architecture: MNNL~DSL~EGF~EGF~EGF
architecture_acc: PF07657 PF01414 PF00008 PF00008 PF00008
    type_example: Q8I497
         no_seqs: 2
*************************** 5. row ***************************
    architecture: MNNL~DSL~hEGF~EGF~EGF~EGF
architecture_acc: PF07657 PF01414 PF12661 PF00008 PF00008 PF00008
    type_example: Q95YG0
         no_seqs: 3</pre>
    </fieldset>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me the database links for clan 'CL0001'
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT db_id, \
              comment, \
              db_link, \
              other_params \
       FROM   clan_database_links, \
              clan \
       WHERE  clan_database_links.clan_acc = clan.clan_acc \
       AND    clan.clan_acc = 'CL0001';

+-------+---------+------------+--------------+
| db_id | comment | db_link    | other_params |
+-------+---------+------------+--------------+
| SCOP  | NULL    | 57196      |              |
| CATH  | NULL    | 2.10.25.10 |              |
+-------+---------+------------+--------------+</pre>
    </fieldset>

    <p><a class="link" rel="dbTop">back to top</a></p>

    <hr />

    <h2><a name="dead">Dead families and clans</a></h2>

    <img class="tables"
         alt="Dead families"
         src="[% c.uri_for( "/static/images/help/db_schema/dead.png" ) %]" />

    <p>
      Sometimes we find that two or more Pfam-A families can be merged into a single
      family, which leads to the deletion of Pfam-A families. Likewise we might
      merge two clans together, which results in the deletion of a clan. The
      <span class="table">dead_family</span> and <span class="table">
        dead_clan</span> tables contain information about Pfam-A families
      and clans that have been deleted. These tables may be of use if you need to
      track what happened to the members of a particular family/clan that is no
      longer in Pfam.
    </p>


    <fieldset class="query">
      <legend>Example query</legend>
      Give me all of the information about 'dead' Pfam-A family 
      'PF06700'
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT * FROM dead_family WHERE pfamA_acc = 'PF09410' \G

 pfamA_acc: PF09410
  pfamA_id: DUF2006
   comment: Merged into PF07143
forward_to: PF07143
      user: jm14
    killed: 2009-08-25 10:33:41
     title: NULL</pre>
    </fieldset>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me all of the information about 'dead' clan 'CL0152'
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT * FROM dead_clan WHERE clan_acc = "CL0152" \G

        clan_acc: CL0152
         clan_id: XI_TIM
clan_description: Xylose isomerase-like TIM barrel superfamily
 clan_membership:
         comment: Merged clan in to TIM_barrel clan
      forward_to: CL0036
            user: rdf
          killed: 2009-06-22 17:47:17</pre>
    </fieldset>

    <p><a class="link" rel="dbTop">back to top</a></p>

    <hr />

    <h2><a name="nested">Nested domains</a></h2>

    <img class="tables"
         alt="Nested domains"
         src="[% c.uri_for( '/static/images/help/db_schema/nested.png' ) %]" />

    <p>
      Some Pfam-A domains are disrupted by the insertion of another domain (or
      domains) within them. The domain that is inserted into another is known
      as a nested domain. The <span class="column">nested_locations</span> 
      table stores all the nested Pfam-A domains. It also stores the 
      coordinates of the nested domain with respect to a sequence that is 
      present in the <em>seed</em> alignment of the domain in which it nests.
    </p>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me all of the nested domains and the domains in which they are nested 
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT A.pfamA_id, \
              B.pfamA_id AS nested_domain \
       FROM   pfamA AS A, \
              pfamA AS B, \
              nested_domains \
       WHERE  A.pfamA_acc = nested_domains.pfamA_acc \
       AND    B.pfamA_acc = nested_domains.nests_pfamA_acc;

+-------------+---------------+
| pfamA_id    | nested_domain |
+-------------+---------------+
| YL1         | S1            |
| 7tm_1       | HTH_Tnp_Tc3_2 |
| 7tm_1       | DDE_Tnp_4     |
| DUF2330     | TonB_C        |
| DUF2577     | NLPC_P60      |
| ATP-synt_ab | Hom_end_hint  |
| ATP-synt_ab | Hom_end       |
...</pre>
    </fieldset>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me the nested data for the family IMPDH
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT pfamA_id,  \
              nested_pfamA_acc, \
              pfamseq_acc, \
              seq_version, \
              seq_start, \
              seq_end \
       FROM   pfamA, \
              nested_locations\
       WHERE  pfamA.pfamA_acc = nested_locations.pfamA_acc \
       AND    pfamA_id ="IMPDH";

+----------+------------------+-------------+-------------+-----------+---------+
| pfamA_id | nested_pfamA_acc | pfamseq_acc | seq_version | seq_start | seq_end |
+----------+------------------+-------------+-------------+-----------+---------+
| IMPDH    | PF00571          | Q21KQ8      |           1 |       155 |     271 |
+----------+------------------+-------------+-------------+-----------+---------+</pre>
    </fieldset>

    <p><a class="link" rel="dbTop">back to top</a></p>

    <hr /> 

    <h2><a name="structural">Structural data</a></h2>

    <img class="tables"
         alt="PDB table"
         src="[% c.uri_for( "/static/images/help/db_schema/pdb.png" ) %]" />

    <p>
      In order for the <a class="ext" href="http://www.wwpdb.org/">Protein
      DataBank</a> (PDB) information to be useful to Pfam, we need to map
      between PDB residues and UniProtKB sequence residues, which is not a
      trivial task. We store the residue-by-residue mapping that is provided by
      the <a class="ext" href="http://www.ebi.ac.uk/pdbe/">PDBe</a> group in
      the <span class="table">pdb_residue_data</span> table.
    </p>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me the first 10 residue mappings for the structure '2abl'
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT pdb.pdb_id, \
              pdb_res, \
              pdb_seq_number, \
              pfamseq_acc, \
              pfamseq_res, \
              pfamseq_seq_number \
       FROM   pdb_residue_data, \
              pdb  \
       WHERE  pdb.pdb_id = pdb_residue_data.pdb_id \
       AND    pdb.pdb_id = '2abl' \
       LIMIT  10;

+--------+---------+----------------+-------------+-------------+--------------------+
| pdb_id | pdb_res | pdb_seq_number | pfamseq_acc | pfamseq_res | pfamseq_seq_number |
+--------+---------+----------------+-------------+-------------+--------------------+
| 2abl   | GLY     |             76 | P00519      | G           |                 57 |
| 2abl   | PRO     |             77 | P00519      | P           |                 58 |
| 2abl   | SER     |             78 | P00519      | S           |                 59 |
| 2abl   | GLU     |             79 | P00519      | E           |                 60 |
| 2abl   | ASN     |             80 | P00519      | N           |                 61 |
| 2abl   | ASP     |             81 | P00519      | D           |                 62 |
| 2abl   | PRO     |             82 | P00519      | P           |                 63 |
| 2abl   | ASN     |             83 | P00519      | N           |                 64 |
| 2abl   | LEU     |             84 | P00519      | L           |                 65 |
| 2abl   | PHE     |             85 | P00519      | F           |                 66 |
+--------+---------+----------------+-------------+-------------+--------------------+</pre>
    </fieldset>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me all the structures that map to the family 'Globin'
    </fieldset>
    
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT pdb_pfamA_reg.pdb_id, \
              chain, \
              pdb_res_start, \
              pdb_res_end, \
              seq_start, 
              seq_end \
       FROM   pdb, \
              pdb_pfamA_reg, \
              pfamA \
       WHERE  pfamA_id = 'Globin' \
       AND    pfamA.pfamA_acc = pdb_pfamA_reg.pfamA_acc \
       AND    pdb_pfamA_reg.pdb_id = pdb.pdb_id;

+--------+-------+---------------+-------------+-----------+---------+
| pdb_id | chain | pdb_res_start | pdb_res_end | seq_start | seq_end |
+--------+-------+---------------+-------------+-----------+---------+
| 101M   | A     |             6 |         112 |         7 |     113 |
| 102M   | A     |             6 |         112 |         7 |     113 |
| 103M   | A     |             6 |         112 |         7 |     113 |
| 104M   | A     |             6 |         112 |         7 |     113 |
| 105M   | A     |             6 |         112 |         7 |     113 |
| 106M   | A     |             6 |         112 |         7 |     113 |
| 107M   | A     |             6 |         112 |         7 |     113 |
... </pre>
    </fieldset>

    <p><a class="link" rel="dbTop">back to top</a></p>

    <hr />

    <h2><a name="proteomes">Proteomes</a></h2>

    <img class="tables"
         alt="Proteome tables"
         src="[% c.uri_for( "/static/images/help/db_schema/proteome.png" ) %]" />

    <p>
      At each Pfam release, we download the proteome set from the <a class="ext"
      href="http://www.uniprot.org/proteomes/">UniProtKB</a>. The species and 
      NCBI taxonomy IDs for all of the proteomes in our proteome set can be found in the <span
      class="table">complete_proteomes</span> table, along with some statistics
      about the number of families and coverage. The tables in this section allow
      you to retrieve domain information about a particular species, or to
      retrieve all of the species which contain a particular Pfam domain.  
    </p>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me the Pfam summary for the human (Homo sapiens) proteome
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT * FROM complete_proteomes WHERE species = "Homo sapiens" \G

        auto_proteome: 3153
           ncbi_taxid: 9606
              species: Homo sapiens
             grouping: Eukaryota
 num_distinct_regions: 0
    num_total_regions: 81995
         num_proteins: 63449
    sequence_coverage: 70
     residue_coverage: 44
total_genome_proteins: 63449
      total_aa_length: 20818748
     total_aa_covered: 9234374
   total_seqs_covered: 44663</pre>
    </fieldset>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me all the Pfam-A domains for the species 'Arabidopsis thaliana'
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre> mysql> SELECT   pfamA.pfamA_acc, \
                 pfamA_id, \
                 description, \
                 SUM(count) \
        FROM     complete_proteomes, \
                 proteome_regions, \
                 pfamA \
        WHERE    complete_proteomes.ncbi_taxid = 3702 \
        AND      proteome_regions.pfamA_acc = pfamA.pfamA_acc \
        AND      proteome_regions.auto_proteome = complete_proteomes.auto_proteome \
        GROUP BY proteome_regions.pfamA_acc;

+-----------+-------------+-----------------------------------------------------------------+------------+
| pfamA_acc | pfamA_id    | description                                                     | SUM(count) |
+-----------+-------------+-----------------------------------------------------------------+------------+
| PF00004   | AAA         | ATPase family associated with various cellular activities (AAA) |        142 |
| PF00005   | ABC_tran    | ABC transporter                                                 |        197 |
| PF00006   | ATP-synt_ab | ATP synthase alpha/beta family, nucleotide-binding domain       |         12 |
| PF00009   | GTP_EFTU    | Elongation factor Tu GTP binding domain                         |         40 |
| PF00010   | HLH         | Helix-loop-helix DNA-binding domain                             |        148 |
| PF00011   | HSP20       | Hsp20/alpha crystallin family                                   |         27 |
| PF00012   | HSP70       | Hsp70 protein                                                   |         25 |
...</pre>
    </fieldset>
    
    <p>
      <strong>Note:</strong> The <span class="column">ncbi_code</span> for the 
      species 'Arabidopsis thaliana' is 3702. This information can be 
      found in the <span class="table">ncbi_taxonomy</span> table.
    </p>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me all of the UniProtKB protein sequences for the species 
      'Arabidopsis thaliana' 
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT pfamseq_acc \
       FROM   pfamseq \
       WHERE  ncbi_taxid = '3702';
+-------------+
| pfamseq_acc |
+-------------+
| A0A023T4L8  |
| A0A023T774  |
| A0A076      |
| A0A077      |
| A0A078      |
| A0EJE2      |
| A0EJE3      |
...</pre>
    </fieldset>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me all of the UniProtKB protein sequences from the species 
      'Arabidopsis thaliana' that belong to Pfam-A domain 
      'PF00106'
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT pfamseq.pfamseq_acc \
       FROM   pfamseq, \
              pfamA \
       WHERE  ncbi_taxid = '3702' \
       AND    pfamseq.pfamseq_acc = pfamA.pfamseq_acc \
       AND    pfamA_acc = 'PF00106';

+-------------+
| pfamseq_acc |
+-------------+
| B9DG09      |
| B9DGU5      |
| C0Z346      |
| O24452      |
| O81738      |
| Q0WLN5      |
| Q0WMN4      |
...</pre>
    </fieldset>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me all of the UniProtKB protein sequences for the species 'Gallus gallus'
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT pfamseq_id, \
              pfamseq.pfamseq_acc FROM pfamseq, \
              proteome_pfamseq, \
              complete_proteomes\
       WHERE  complete_proteomes.species = "Gallus gallus" \
       AND    pfamseq.pfamseq_acc = proteome_pfamseq.pfamseq_acc \
       AND    proteome_pfamseq.auto_proteome =complete_proteomes.auto_proteome;

+--------------+-------------+
| pfamseq_id   | pfamseq_acc |
+--------------+-------------+
| Q788U5_CHICK | Q788U5      |
| Q5ZHK8_CHICK | Q5ZHK8      |
| Q7T1N6_CHICK | Q7T1N6      |
| Q9DEG1_CHICK | Q9DEG1      |
| PRTG_CHICK   | Q589G5      |
| B5BSF2_CHICK | B5BSF2      |
| Q8QGR9_CHICK | Q8QGR9      |
| CLLD6_CHICK  | Q5ZHV7      |
| Q5ZK24_CHICK | Q5ZK24      |
| HXC8_CHICK   | Q9YH13      |
...</pre>
    </fieldset>

    <p><a class="link" rel="dbTop">back to top</a></p>

    <hr />

    <h2><a name="related">Related families</a></h2>

    <img class="tables"
         alt="Related families"
         src="[% c.uri_for( "/static/images/help/db_schema/related_families.png" ) %]" />

    <p>
      <a class="ext"
        href="http://bioinformatics.oxfordjournals.org/cgi/content/short/23/7/809">SCOOP</a>
      and <a class="ext" href="http://toolkit.tuebingen.mpg.de/hhpred">HHsearch</a>
      are two pieces of software that we use to help to determine which Pfam-A
      families are related. The scores from these programs have been a very useful
      aid in deciding which Pfam-A families should belong to the same clan. As a
      rough guide, a SCOOP score greater than 50 or a HHsearch E-value score of less
      than 0.01 is an indication that two families are closely related.
    </p>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me all of the Pfam-A families that have a SCOOP score greater than 50 when 
      compared with the family 'ABC1'
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT a.pfamA_id, \
              b.pfamA_id, \
              score \
       FROM   pfamA AS a, \
              pfamA AS b, \
              pfamA2pfamA_scoop AS p\
       WHERE  a.pfamA_acc = p.pfamA_acc_1 \
       AND    b.pfamA_acc = p.pfamA_acc_2\
       AND    score > 50 \
       AND    a.pfamA_id = "ABC1";

+----------+-------------+---------+
| pfamA_id | pfamA_id    | score   |
+----------+-------------+---------+
| ABC1     | Pkinase_Tyr | 154.936 |
+----------+-------------+---------+</pre>
    </fieldset>

    <fieldset class="query">
      <legend>Example query</legend>
      Give me all pf the Pfam-A families that have a HHsearch E-value score of
      less than 0.01 when compared with the family 'AAA'
    </fieldset>
      
    <fieldset class="sql">
      <legend>SQL</legend>
      <pre>mysql> SELECT a.pfamA_id, \
              b.pfamA_id, \
              evalue \
       FROM   pfamA AS a, \
              pfamA AS b, \
              pfamA2pfamA_hhsearch AS p \
       WHERE  a.pfamA_acc = p.pfamA_acc_1 \
       AND    b.pfamA_acc = p.pfamA_acc_2 \
       AND    evalue < 0.01 \
       AND    a.pfamA_id = "AAA";

+----------+-----------------+---------+
| pfamA_id | pfamA_id        | evalue  |
+----------+-----------------+---------+
| AAA      | RuvB_N          | 1.3E-25 |
| AAA      | AAA_2           | 1.1E-17 |
| AAA      | AAA_5           | 2.5E-17 |
| AAA      | TIP49           | 5.6E-13 |
| AAA      | Sigma54_activat | 1.7E-12 |
| AAA      | Mg_chelatase    | 1.1E-11 |
| AAA      | AAA_3           | 1.9E-11 |
+----------+-----------------+---------+</pre>
    </fieldset>


    <p><a class="link" rel="dbTop">back to top</a></p>

    <hr />

    <h2><a name="data">Data Files - Alignments, trees and HMMs</a></h2>

    <img class="tables"
         alt="HMM tables"
         src="[% c.uri_for( "/static/images/help/db_schema/alignments_and_trees.png" ) %]" />

    <p>
      The seed, full, NCBI and metaseq alignments are all stored as gzipped
      files in the database, as is the HMM for each family. Note that the NCBI
      and metaseq alignments may contain overlapping matches to Pfam-A families
      that belong to the same clan, however, the UniprotKB alignments (seed and
      full) will not. This is because we have performed a clan filtering step
      on the UniProtKB data such that where there are overlapping Pfam-A
      matches within a clan, only the lowest E-value scoring match is included
      in the full alignment.
    </p>

    <p><a class="link" rel="dbTop">back to top</a></p>

  </div>
</div>

<!-- end database block -->

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
