[%
# domainGraphics.tt
# rdf 20060927 WTSI
# 
# build the domainGraphics block for the help pages
#
# $Id: domainGraphics.tt,v 1.16 2009-12-07 22:30:46 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files

PROCESS "components/require.tt";

requirements.css.push( "help.css" );

# this needs to be loaded before we try to load the canvas text library,
# but if we include it specifically for IE, it gets added below everything
# else. We can add it here safely, however, because excanvas checks to see
# if canvas is implemented before trying to inject itself
requirements.js.push( "excanvas.js" );

# need to load the canvas.text.js file before trying to load the font file,
# otherwise it bails with an error about "face.glyphs is undefined"
requirements.js.push( "canvas.text.js?reimplement=true&amp;dontUseMoz=true" );
requirements.js.push( "faces/optimer-bold-normal.js" );

requirements.js.push( "domain_graphics.js" );

#-------------------------------------------------------------------------------

# some URI shortcuts
imgs   = c.uri_for( "/static/images/help" );
family = c.uri_for( "/family" );
%]

<!-- start domain graphics block -->

<div class="block" id="helpDomainGraphicsBlock">
  <div class="handle">
    <h1 id="graphicsTop">A Guide to the Pfam Domain Graphics</h1>
  </div>
  <div class="blockContent">

    <p>
      One of the visualisations provided by the Pfam website is a graphical 
      representation of the features found within a sequence, termed <em>domain 
      graphics</em>. There are a variety of different shapes and styles and each 
      one has a particular meaning. This page gives an in-depth description of 
      the elements of Pfam domain graphics.
    </p>
    <p>
      The library that generates the images in this page and throughout the
      Pfam site uses a <a class="ext" href="http://en.wikipedia.org/wiki/Json">
        JSON</a> string to describe the domain graphic. Each of the example 
      graphics in this page is followed by a link that can be used to show the 
      JSON snippet that produced it. 
    </p>

    <h2>Generating graphics</h2>

    <p>
			You can try generating your own graphics using the 
      <a href="[% c.uri_for( '/generate_graphic' ) %]">domain graphics generator</a>.
      The JSON descriptions in this page can be pasted directly into the  
      generator to produce the graphics that you see here.
    </p>
    <p>
      You can also generate the domain graphics for specific sequences, using the 
      <a href="[% c.uri_for( '/generate_uniprot_graphic' ) %]">
        UniProt graphics generator</a>.
    </p>

    <h2>Using the domain graphics code</h2>

    <p>
      Finally, if you would like to use the javascript library in your own site,
      we have put together 
      <a href="[% c.uri_for('/help/domain_graphics_example.html' ) %]">
        an example page</a>, showing how to set up the library and its dependencies.
      Look at the source code of the page for an explanation.
    </p>

		<hr />

    <h2>The sequence</h2>
  
    <p>
      The base sequence, undecorated by any domains or features, is represented 
      by a plain grey bar:
    </p>
    <img src="[% imgs %]/seq.png" alt="" />
    <span class="link" id="seqToggle" onclick="reveal(this,'seqJSON',false)">Show JSON</span> 

    <div id="seqJSON" class="jsonFragment" style="display: none">
      <pre>{ 
  "length" : "400"
}</pre>
    </div>

    <p>
      The length of the domain graphic that is drawn is proportional to the 
      length of the sequence itself. The graphics in this page are drawn with
      a X-scale of 0.5 pixels per amino-acid, so that a 400 residue sequence 
      will result in a 200 pixel-wide image. Any domains or features which
      are drawn on the sequence are also scaled by the same factor.
    </p>

    <p><span class="backToTop link">back to top</span></p>

    <hr />
    
    <h2>Pfam-A</h2>

    <p>
      The high quality, curated <em>Pfam-A</em> domains are classified into one of four 
      different types: <em>family, domain, repeat</em> and <em>motif</em> 
      (<a href="[% c.uri_for( "/help", { tab = "helpSummaryBlock" } ) %]">more details</a>). 
      These different classification types are rendered slightly differently.
    </p>
    
    <h3>Family/domain</h3>

    <p>
      It is possible for a sequence to match either the full length of a Pfam
      HMM (a full length match), or to match a portion of an HMM (a fragment
      match). The two types of match are rendered differently.
    </p>
    <p>
      Both <em>family</em> and <em>domain</em> entries are rendered as
      rectangles with curved ends when the sequence is a full length match.
      Different types of domain are displayed with different colours. When the
      domain image is long enough, the domain name is shown within the domain
      itself. In most cases, you can click on the domains to visit the
      &quot;family page&quot; for that domain. Moving the mouse over the domain
      image should also display a tooltip showing the domain name, as well as
      the start and end positions of the domain.
    </p>
    <img src="[% imgs %]/seqDomain.png" alt="" />
    <span class="link" onclick="reveal(this,'seqDomainJSON',false)">Show JSON</span> 
      
    <div id="seqDomainJSON" class="jsonFragment" style="display: none">
      <pre>
{ 
  "length" : "400",  
  "regions" : [  
    {  
      "type" : "pfama",  
      "text" : "Domain",  
      "colour" : "#9999ff",  
      "display": "true", 
      "startStyle" : "curved", 
      "endStyle" : "curved", 
      "start" : "40", 
      "end" : "200", 
      "aliStart" : "50",
      "aliEnd" : "175"
    }, 
    { 
      "type" : "pfama", 
      "text" : "LongFamilyNamesNotShown", 
      "colour" : "#399", 
      "display" : true, 
      "startStyle" : "straight", 
      "endStyle" : "straight", 
      "start" : "210",
      "end" : "250", 
      "aliStart" : "215",
      "aliEnd" : "245"
    } 
  ] 
}</pre>
    </div>
  
    <p>
      When the sequence does not match the full length of the HMM that models 
      a Pfam entry, matching domain fragments are shown. When a sequence match 
      does not pass through the first position in the HMM, the N-terminal side 
      of the domain graphic is drawn with a jagged edge instead of a curved 
      edge. Similarly, when a sequence match does not pass through the last 
      position of the HMM, the C-terminal side of the domain graphic is drawn
      with a jagged edge. In some rarer cases, the sequence match may not pass 
      through either of the first or last positions of the HMM, in which case
      both sides are drawn with jagged edges. Examples of all three cases are
      shown here:
    </p>
		<p>
      From Pfam 24.0 onwards, Pfam has been generated using <a class="ext" 
			  href="http://hmmer.janelia.org/">HMMER3</a>, which introduces the concept
		  of &quot;<span class="link" onclick="tabPage.switchTab('helpGlossaryBlock')">
			envelope coordinates</span>&quot; for a match. Envelope regions are 
			represented in domain graphics as lighter coloured regions. The graphic
			above shows short envelope regions at the ends of both domains.
		</p>
     
    <img src="[% imgs %]/partial.png" alt="" />  
    <span class="link" onclick="reveal(this,'partialDomainJSON',false)">Show JSON</span>
          
    <div id="partialDomainJSON" class="jsonFragment" style="display: none">
      <pre>
{ 
  "length" : "400",  
  "regions" : [  
    {  
      "type" : "pfama",  
      "text" : "PartN",  
      "colour" : "#9999ff",  
      "display": "true", 
      "startStyle" : "jagged", 
      "endStyle" : "curved", 
      "start" : "10", 
      "end" : "110"
    }, 
    { 
      "type" : "pfama", 
      "text" : "PartN_C", 
      "colour" : "#399", 
      "display" : true, 
      "startStyle" : "jagged", 
      "endStyle" : "jagged", 
      "start" : "115",
      "end" : "204"
    },
    { 
      "type" : "pfama", 
      "text" : "PartC", 
      "colour" : "#1fc01f", 
      "display" : true, 
      "startStyle" : "curved", 
      "endStyle" : "jagged", 
      "start" : "210",
      "end" : "350"
    } 
  ] 
}</pre>
    </div>
       
    <p><span class="backToTop link">back to top</span></p>

    <h3>Repeat/motif</h3> 
    
    <p>
      <em>Repeats</em> and <em>motifs</em> are types of Pfam domain which do not
      form independently folded units. In order to distinguish them from domains
      of type family and domain, repeats and motifs are represented by 
      rectangles with straight edges. As for families and domains, partial 
      matches are represented with jagged edges.
    </p>
    
    <img src="[% imgs %]/repeat.png" alt="" />
    <span class="link" onclick="reveal(this,'repeatJSON',false)">Show JSON</span>
          
    <div id="repeatJSON" class="jsonFragment" style="display: none">
      <pre>
{ 
  "length" : "200",  
  "regions" : [  
    {  
      "type" : "pfama",  
      "text" : "HEAT",  
      "colour" : "#1fc01f",  
      "display": "true", 
      "startStyle" : "straight", 
      "endStyle" : "straight", 
      "start" : "2", 
      "end" : "34"
    }, 
    {  
      "type" : "pfama",  
      "text" : "HEAT",  
      "colour" : "#1fc01f",  
      "display": "true", 
      "startStyle" : "straight", 
      "endStyle" : "straight", 
      "start" : "82", 
      "end" : "118"
    }, 
    {  
      "type" : "pfama",  
      "text" : "HEAT",  
      "colour" : "#1fc01f",  
      "display": "true", 
      "startStyle" : "straight", 
      "endStyle" : "straight", 
      "start" : "120", 
      "end" : "155"
    }, 
    {  
      "type" : "pfama",  
      "text" : "HEAT",  
      "colour" : "#1fc01f",  
      "display": "true", 
      "startStyle" : "straight", 
      "endStyle" : "straight", 
      "start" : "159", 
      "end" : "195"
    }
  ] 
}</pre>
    </div>

    <p><span class="backToTop link">back to top</span></p>

    <h3>Discontinuous nested domains</h3>

    <p>
      Some domains in Pfam are disrupted by the insertion of another domain (or 
      domains) within them. A number of names have been given to this 
      arrangement: <em>discontinuous</em> (referring to the outer domain), 
      <em>inserted</em> or <em>nested</em> (both referring to the inner domain). 
      For example, in many sequences containing an 
      <a href="[% family %]/IMPDH">IMPDH domain</a>, the 
      IMPDH domain is continuous along the primary sequence. However, in some 
      cases the linear sequence of the IMPDH domain is broken by the insertion 
      of a <a href="[% family %]/CBS">CBS domain</a>, as shown below.
    </p>
    <p>
      Where three-dimensional structures are available for representatives of
      a Pfam domain, it is generally clear that the three-dimensional
      arrangement of the domain containing the nested domain is maintained. 
      Typically the nested domain is found inserted within a surface exposed 
      loop, having little or no effect on the structure of the other domain. 
      Such an arrangement explains why and how these nested domains can be 
      functionally tolerated.
    </p>
    <p>
      To represent this arrangement of domain graphically, the discontinuous 
      domain is represented in two parts (as shown below). These two parts are 
      joined by a line bridging them.
    </p>
    
    <img src="[% imgs %]/nested.png" alt="" />  
    <span class="link" onclick="reveal(this,'nestedJSON',false)">Show JSON</span>
          
    <div id="nestedJSON" class="jsonFragment" style="display: none">
      <pre>
{ 
  "length" : "200",  
  "regions" : [  
    {  
      "type" : "pfama",  
      "text" : "IMPDH",  
      "colour" : "#1fc01f",  
      "display": "true", 
      "startStyle" : "curved", 
      "endStyle" : "jagged", 
      "start" : "5", 
      "end" : "80"
    }, 
    {  
      "type" : "pfama",
      "text" : "CBS",  
      "colour" : "#c00f0f",  
      "display": "true", 
      "startStyle" : "curved", 
      "endStyle" : "curved", 
      "start" : "81",
      "end" : "135"
    }, 
    {  
      "type" : "pfama",  
      "text" : "IMPDH",
      "colour" : "#1fc01f",  
      "display": "true", 
      "startStyle" : "jagged", 
      "endStyle" : "curved", 
      "start" : "136", 
      "end" : "197"
    }
  ],
  "markups" : [ 
    { 
      "type" : "Nested", 
      "colour" : "#000000", 
      "display" : true, 
      "v_align" : "top", 
      "start" : "76", 
      "end" : "136"
    }
  ]
}</pre>
    </div>

    <p><span class="backToTop link">back to top</span></p>

    <h3>Context domains</h3>

    <p>
      <em>Context domains</em> in Pfam are those that, despite not scoring above 
      the family gathering threshold, are expected to be real, based on the 
      presence of the surrounding domains found in the protein. The method is 
      described in:
    </p>
    <div class="citation">
      <span class="title">
        <a class="ext" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=pubmed&amp;cmd=Retrieve&amp;dopt=AbstractPlus&amp;list_uids=12668763&amp;query_hl=1&amp;itool=pubmed_DocSum">
          Enhanced protein domain discovery by using language modeling techniques from 
          speech recognition</a>: 
      </span>
      <span class="authors">L. Coin, A. Bateman and R. Durbin</span>
      <span class="ref">
        <span class="jrnl">Proc. Natl. Acad. Sci. USA.</span>&nbsp;(2003)&nbsp;100(8):4516-20
      </span>
    </div>

    <p>
      In some cases it is possible for a protein without any matches to gain 
      context domains. This happens when two or more weak matches support each 
      other. This is most often seen with multiple tandem repeats such as 
      <a href="[% family %]/WD40">WD40</a> and leucine rich repeats such as
      <a href="[% family %]/LRR_1">LRR_1</a>.
    </p>
    <p>
      Within the Pfam domain graphics, the context domains are represented by 
      rectangles that are coloured from white to pink as shown below. These 
      images are interactive in the same manner as the Pfam-A graphics.
    </p>
  
    <img src="[% imgs %]/context.png" alt="" />  
    <span class="link" onclick="reveal(this,'contextJSON',false)">Show JSON</span>
          
    <div id="contextJSON" class="jsonFragment" style="display: none">
      <pre>
{
  "length" : "200",
  "regions" : [
    {
      "type" : "pfama",
      "text" : "HEAT",
      "colour" : "#1fc01f",
      "display": "true",
      "startStyle" : "straight",
      "endStyle" : "straight",
      "start" : "2",
      "end" : "34"
    },
    {
      "type" : "pfama",
      "text" : "HEAT",
      "colour" : "#F6F",
      "display": "true",
      "startStyle" : "straight",
      "endStyle" : "straight",
      "start" : "44",
      "end" : "79"
    },
    {
      "type" : "pfama",
      "text" : "HEAT",
      "colour" : "#1fc01f",
      "display": "true",
      "startStyle" : "straight",
      "endStyle" : "straight",
      "start" : "82",
      "end" : "118"
    },
    {
      "type" : "pfama",
      "text" : "HEAT",
      "colour" : "#1fc01f",
      "display": "true",
      "startStyle" : "straight",
      "endStyle" : "straight",
      "start" : "120",
      "end" : "155"
    },
    {
      "type" : "pfama",
      "text" : "HEAT",
      "colour" : "#1fc01f",
      "display": "true",
      "startStyle" : "straight",
      "endStyle" : "straight",
      "start" : "159",
      "end" : "195"
    }
  ]
}</pre>
    </div>
  
    <p>
      Please note that context domains are generated automatically and have not 
      been subjected to the same high level of quality control as Pfam-A 
      domains. Therefore, context domains, although likely to be correct should 
      always be verified by other means.
    </p> 
    
    <p><span class="backToTop link">back to top</span></p>

    <hr />
    
    <h2>Pfam-B</h2>

    <p>
      <em>Pfam-B</em> regions are automatically generated clusters that 
      supplement the high quality Pfam-A regions. The mechanism for generating 
      Pfam-B regions is detailed 
      <a href="[% c.uri_for( "/help", { tab = "helpSummaryBlock" } ) %]">here</a>.
      These regions are represented by a small rectangle, coloured with three 
      stripes. As for Pfam-A regions, clicking on a Pfam-B domain takes the 
      user to the Pfam-B summary page for that entry. Moving the mouse over the 
      striped image will show a tooltip listing the Pfam-B identifier and its
      start and end points.
    </p> 
  
    <img src="[% imgs %]/pfamB.png" alt="" />  
    <span class="link" onclick="reveal(this,'pfamBJSON',false)">Show JSON</span>
          
    <div id="pfamBJSON" class="jsonFragment" style="display: none">
      <pre>
{ 
  "length" : "200", 
 "motifs" : [ 
     { 
      "href" : "/pfamb/PB039520",
      "colour" : [ 
        "#ff7ff0", 
        "#f2ff7f", 
        "#7ff2ff" 
      ], 
      "type" : "pfamb", 
      "display" : true, 
      "start" : "8",
      "end" : "68", 
      "metadata" : { 
        "database" : "pfam", 
        "identifier" : "Pfam-B_39520", 
        "type" : "Pfam-B", 
        "accession" : "PB039520", 
        "start" : "8", 
        "end" : "68"
      }
    }, 
    { 
      "href" : "/pfamb/PB043847",
      "colour" : [
        "#7f9fff",
        "#ff7fa1",
        "#a1ff7f"
      ],
      "type" : "pfamb", 
      "display" : true, 
      "start" : "105",
      "end" : "176", 
      "metadata" : { 
        "database" : "pfam", 
        "identifier" : "Pfam-B_43847", 
        "type" : "Pfam-B", 
        "accession" : "PB043847", 
        "start" : "105",
        "end" : "176" 
      }
    } 
  ] 
}</pre>
    </div>
  
    <p><span class="backToTop link">back to top</span></p>

    <hr />
    
    <h2>Other sequence motifs</h2>
    
    <p>
      In addition to domains, smaller sequences motifs are represented by the 
      domain graphics. Currently the following motifs are represented: <em>signal 
      peptides</em>, <em>low complexity regions</em>, <em>coiled-coils</em> and
      <em>transmembrane regions</em>. These usually take lower prority than 
      other regions that are drawn and they are therefore often obscured by, for
      example, a Pfam-A graphic being drawn over the top of them. An example of 
      each motif is shown here.
    </p>
     
    <img src="[% imgs %]/motifs.png" alt="" />
    <span class="link" onclick="reveal(this,'motifsJSON',false)">Show JSON</span>
          
    <div id="motifsJSON" class="jsonFragment" style="display: none">
      <pre>
{ 
  "length" : "200", 
  "motifs" : [ 
    { 
      "type" : "sig_p", 
      "colour" : "#ff9c00", 
      "display" : true, 
      "start" : 1, 
      "end" : 27
    }, 
    { 
      "type" : "low_complexity", 
      "colour" : "#0FF", 
      "display" : true, 
      "start" : 39, 
      "end" : 47
    }, 
    { 
      "type" : "low_complexity", 
      "colour" : "#0FF", 
      "display" : true, 
      "start" : 67, 
      "end" : 76
    }, 
    { 
      "type" : "coiled_coil", 
      "colour" : "#9cff00", 
      "display" : true, 
      "start" : 103, 
      "end" : 123
    }, 
    { 
      "type" : "transmembrane", 
      "colour" : "#F00", 
      "display" : true, 
      "start" : 155, 
      "end" : 175
    }, 
    { 
      "type" : "transmembrane", 
      "colour" : "#F00", 
      "display" : true, 
      "start" : 180, 
      "end" : 195
    }
  ] 
}</pre>
    </div>
    
    <p><span class="backToTop link">back to top</span></p>

    <h3>Signal peptides</h3>
    
    <p>
      <em>Signal peptides</em> are short regions (&lt;60 residues long) found at 
      the N-terminus of proteins, which direct the post-translational transport 
      of a protein and are subsequently removed by peptidases. More 
      specifically, a signal peptide is characterised by a short hydrophobic 
      helix (approximately 7-15 residues). This helix is preceded by a slight 
      positively charged region of highly variable length (approximately 1-12 
      residues). Between the hydrophobic helix and the cleavage site is a 
      somewhat polar and uncharged region, of between 3 and 8 amino-acids. In 
      Pfam, we use <a class="ext" href="http://phobius.cgb.ki.se/">Phobius</a>
      for the prediction of signal peptides and represent them graphically by a 
      small orange box.
    </p>
    <div class="citation">
      <span class="title">
        <a class="ext" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=pubmed&amp;cmd=Retrieve&amp;dopt=AbstractPlus&amp;list_uids=15111065&amp;query_hl=1&amp;itool=pubmed_docsum">
          A combined transmembrane topology and signal peptide prediction method</a>: 
      </span>
      <span class="authors">L. Kall, A. Krogh and E.L.L. Sonnhammer</span>
      <span class="ref">
        <span class="jrnl">J. Mol. Biol.</span>&nbsp;(2004)&nbsp;338(5):1027-36
      </span>
    </div>
  
    <p><span class="backToTop link">back to top</span></p>

    <h3>Low complexity regions</h3>

    <p>
      <em>Low complexity regions</em> are regions of biased sequence 
      composition, usually comprised of different types of repeats. These 
      regions have been shown to be functionally important in some proteins, 
      but they are generally not well understood and are masked out to focus on
      globular domains within the protein.
    </p>
    <p>
      Within Pfam, we use <a class="ext" href="http://helix.nih.gov/docs/gcg/seg.html">SEG</a>
      to calculate low complexity regions in Pfam. The presence of a low 
      complexity region is indicated by a cyan rectangle.
    </p>
    <div class="citation">
      <span class="title">
        <a class="ext" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=pubmed&amp;cmd=Retrieve&amp;dopt=AbstractPlus&amp;list_uids=10642881&amp;query_hl=1&amp;itool=pubmed_docsum">
          A global compositional complexity measure for biological sequences: 
          AT-rich and GC-rich genomes encode less complex proteins</a>: 
      </span>
      <span class="authors">H. Wan and J.C. Wootton</span>
      <span class="ref">
        <span class="jrnl">Comput. Chem.</span>&nbsp;(2000)&nbsp;24(1):71-94
      </span>
    </div>
    <div class="citation">
      <span class="title">
        <a class="ext" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=pubmed&amp;cmd=Retrieve&amp;dopt=AbstractPlus&amp;list_uids=7952898&amp;query_hl=1&amp;itool=pubmed_docsum">
          Non-globular domains in protein sequences: automated segmentation 
          using complexity measures</a>: 
      </span>
      <span class="authors">J.C. Wootton</span>
      <span class="ref">
        <span class="jrnl">Comput. Chem.</span>&nbsp;(1994)&nbsp;18(3):268-85
      </span>
    </div>

    <p><span class="backToTop link">back to top</span></p>

    <h3>Coiled-coils</h3>

    <p>
      <em>Coiled coils</em> are motifs found in proteins that structurally form 
      alpha-helices that wrap or wind around each other. Normally, two to 
      three helices are involved, but cases of up to seven alpha-helices have 
      been reported. Coilded-coild are found in a wide variety of proteins, 
      many functionally very important. In Pfam we use 
      <a class="ext" href="http://www.russell.embl-heidelberg.de/cgi-bin/coils-svr.pl">ncoils</a>,
      to identify these motifs. Coiled-coils are represented by a small 
      lime-green rectangle. 
    </p>
    
    <p><span class="backToTop link">back to top</span></p>
    
    <h3>Transmembrane regions</h3>

    <p>
      Integral membrane proteins contain one or more <em>transmembrane 
      regions</em> that are comprised of an alpha-helix that passes through or 
      &quot;spans&quot; a membrane. Transmembrane helices are quite variable in 
      length, with the average being about 20 amino-acids in length. Again, 
      <a class="ext" href="http://phobius.cgb.ki.se/">Phobius</a> is used for 
      the prediction of transmebrane regions, which are represented by a red
      rectangle.
    </p>
  
    <p><span class="backToTop link">back to top</span></p>
    
    <hr />
    
    <h2>Other Sequence features</h2>
    
    <p>
      Below is a demonstration of how <em>disulphide bridges</em> and <em>active 
        residues</em> are representated in Pfam. Each of these features can 
      appear above or below the sequence, but in this case the disulphide 
      bridges are shown above the sequence and the active site residues below 
      the line.
    </p>
    
    <img src="[% imgs %]/activeSite.png" alt="" />
    <span class="link" onclick="reveal(this,'activeSiteJSON',false)">Show JSON</span>

    <div id="activeSiteJSON" class="jsonFragment" style="display: none">
      <pre>
{
  "length" : "400",
  "regions" : [
    {
      "colour" : "#1fc01f",
      "endStyle" : "curved",
      "startStyle" : "curved",
      "display" : true,
      "end" : "104",
      "href" : "/family/Inhibitor_I29",
      "text" : "Inhibitor_I29",
      "metadata" : {
        "scoreName" : "e-value",
        "score" : "1.3e-38",
        "description" : "Inhibitor_I29",
        "accession" : "PF08246",
        "end" : "104",
        "database" : "pfam",
        "identifier" : "Inhibitor_I29",
        "type" : "Domain",
        "start" : "48"
      },
      "type" : "pfama",
      "start" : "48"
    },
    {
      "colour" : "#c00f0f",
      "endStyle" : "curved",
      "startStyle" : "curved",
      "display" : true,
      "end" : "343",
      "href" : "/family/Peptidase_C1",
      "text" : "Peptidase_C1",
      "modelLength" : "307",
      "metadata" : {
        "scoreName" : "e-value",
        "score" : "1.3e-38",
        "description" : "Peptidase_C1",
        "accession" : "PF00112",
        "end" : "343",
        "database" : "pfam",
        "identifier" : "Peptidase_C1",
        "type" : "Domain",
        "start" : "134"
      },
      "type" : "pfama",
      "start" : "134"
    }
  ],
  "markups" : [
    {
      "lineColour" : "#CCC",
      "colour" : "#CCC",
      "display" : true,
      "end" : "196",
      "v_align" : "top",
      "metadata" : {
        "database" : "pfam",
        "type" : "Disulphide, 155-196",
        "end" : "196",
        "start" : "155"
      },
      "type" : "Disulphide",
      "start" : "155"
    },
    {
      "lineColour" : "#CCC",
      "colour" : "#CCC",
      "display" : true,
      "end" : "228",
      "v_align" : "top",
      "metadata" : {
        "database" : "pfam",
        "type" : "Disulphide, 189-228",
        "end" : "228",
        "start" : "189"
      },
      "type" : "Disulphide",
      "start" : "189"
    },
    {
      "lineColour" : "#CCC",
      "colour" : "#CCC",
      "display" : true,
      "end" : "333",
      "v_align" : "top",
      "metadata" : {
        "database" : "pfam",
        "type" : "Disulphide, 286-333",
        "end" : "333",
        "start" : "286"
      },
      "type" : "Disulphide",
      "start" : "286"
    },
    {
      "lineColour" : "#000",
      "colour" : "#F36",
      "display" : true,
      "residue" : "C",
      "headStyle" : "diamond",
      "v_align" : "bottom",
      "type" : "Active site",
      "metadata" : {
        "database" : "pfam",
        "description" : "Active site, C158",
        "start" : "158"
      },
      "start" : "158"
    },
    {
      "lineColour" : "#000",
      "colour" : "#90C",
      "display" : true,
      "residue" : "H",
      "headStyle" : "diamond",
      "v_align" : "bottom",
      "type" : "Pfam predicted active site, H292",
      "metadata" : {
        "database" : "pfam",
        "description" : "Pfam predicted active site, H292",
        "start" : "292"
      },
      "start" : "292"
    },
    {
      "lineColour" : "#000",
      "colour" : "#F6F",
      "display" : true,
      "residue" : "N",
      "headStyle" : "diamond",
      "v_align" : "bottom",
      "type" : "Pfam predicted active site, N308",
      "metadata" : {
        "database" : "pfam",
        "description" : "Pfam predicted active site, N308",
        "start" : "308"
      },
      "start" : "308"
    }
  ],
  "motifs" : [
    {
      "colour" : "#ff9c00",
      "metadata" : {
        "database" : "seq",
        "type" : "Signal peptide",
        "end" : "26",
        "start" : "1"
      },
      "type" : "sig_p",
      "display" : true,
      "end" : 26,
      "start" : 1
    }
  ]
}</pre>
    </div>

    <p><span class="backToTop link">back to top</span></p>

    <h3><a name="disulphides">Disulphide bridges</a></h3>
    
    <p>
      <em>Disulphide bridges</em> play a fundamental role in the folding and 
      stability of some proteins. They are formed by covalent bonding between
      the thiol groups from two cysteine residues. The disulphide bridge 
      annotations used in Pfam come from 
      <a class="ext" href="http://www.uniprot.org/">UniProt</a> and are 
      represented by a solid bridge-shaped line. When mutliple disulphide bonds 
      occur, the heights of the bridges are adjusted to avoid overlaps between 
      them. Inter-protein disulphides are represented by single vertical lines.
      As always, moving the mouse over the "bridge graphic" shows the details 
      of the bond in a tooltip.
    </p>
    
    <p><span class="backToTop link">back to top</span></p>
    
    <h3>Active site residues</h3> 

    <p>
      Within an enyzme, a small number of residues are directly involved in 
      catalysis of a reaction. These are termed <em>active site residues</em>. 
      Within Pfam there are three categories of active site: those that are 
      experimentally determined, those that are predicted by UniProt and 
      those predicted by Pfam. All three types are represented by a 
      &quot;lollipop&quot; with a diamond head. The head is coloured red, pink 
      and purple for each of the three types respectively.
    </p>
    <p>
      Pfam-predicted active sites are determined by using the experimental 
      data and transferring these annotations through a Pfam alignment. 
    </p>  
  
    <p><span class="backToTop link">back to top</span></p>
    
    <h3>&quot;Lollipops&quot;</h3>

    <p>
      A wide range of different lollipop styles can be create by combining 
      different line and head colours with different drawing styles. The 
      lollipop head can be drawn as a square, circle or diamond, as a simple
      coloured bar, or as an arrow (pointing away from the sequence) or a
      &quot;pointer&quot; (an arrow pointing towards the sequence).
    </p> 
  
    <img src="[% imgs %]/lollipop.png" alt="" />
    <span class="link" onclick="reveal(this,'lollipopJSON',false)">Show JSON</span>
          
    <div id="lollipopJSON" class="jsonFragment" style="display: none">
      <pre>
{
  "length" : "200",
  "markups" : [
    {
      "lineColour" : "#666",
      "colour" : "#F36",
      "display" : true,
      "v_align" : "top",
      "headStyle" : "square",
      "type" : "Red square, above sequence",
      "start" : "20"
    },
    {
      "lineColour" : "#F00",
      "colour" : "#F0F",
      "display" : true,
      "v_align" : "bottom",
      "headStyle" : "square",
      "type" : "Purple square, red line, below sequence",
      "start" : "40"
    },
    {
      "lineColour" : "#666",
      "colour" : "#F00",
      "display" : true,
      "v_align" : "top",
      "headStyle" : "diamond",
      "type" : "Red diamond, above sequence",
      "start" : "60"
    },
    {
      "lineColour" : "#666",
      "colour" : "#0F0",
      "display" : true,
      "v_align" : "bottom",
      "headStyle" : "circle",
      "type" : "Green circle, below sequence",
      "start" : "80"
    },
    {
      "lineColour" : "#666",
      "colour" : "#0F0",
      "display" : true,
      "v_align" : "top",
      "headStyle" : "arrow",
      "type" : "Green arrow, above sequence",
      "start" : "100"
    },
    {
      "lineColour" : "#666",
      "colour" : "#08F",
      "display" : true,
      "v_align" : "bottom",
      "headStyle" : "pointer",
      "type" : "Blue pointer, below sequence",
      "start" : "120"
    },
    {
      "lineColour" : "#666",
      "colour" : "#F80",
      "display" : true,
      "v_align" : "top",
      "headStyle" : "line",
      "type" : "Orange line, above sequence",
      "start" : "140"
    }
  ]
}</pre>
    </div>
    
    <p><span class="backToTop link">back to top</span></p>
    
    <hr />
    
    <h2>Tooltips</h2>
    
    <p>
      If appropriate metadata are present in the sequence description, the domain
      graphics library can also add tooltips to the image. The example below is
      a &quot;live&quot; domain graphic and its description includes the necessary 
      metadata for generating tooltips; move your mouse over the various domains 
      and sequence features to see them.
    </p>
    
    <div id="tipsGraphic"></div>
    <span class="link" onclick="reveal(this,'tipsJSON',false)">Show JSON</span>

    <div id="tipsJSON" class="jsonFragment" style="display: none">
      <pre>
{ 
  "length" : "950", 
  "regions" : [ 
    { 
      "modelStart" : "5", 
      "modelEnd" : "292", 
      "colour" : "#2dcf00", 
      "endStyle" : "jagged", 
      "startStyle" : "jagged", 
      "display" : true, 
      "end" : "361", 
      "aliEnd" : "361", 
      "href" : "/family/PF00082", 
      "text" : "Peptidase_S8", 
      "modelLength" : "307", 
      "metadata" : { 
        "scoreName" : "e-value", 
        "score" : "1.3e-38", 
        "description" : "Subtilase family", 
        "accession" : "PF00082", 
        "end" : "587", 
        "database" : "pfam", 
        "aliEnd" : "573", 
        "identifier" : "Peptidase_S8", 
        "type" : "Domain", 
        "aliStart" : "163", 
        "start" : "159" 
      }, 
      "type" : "pfama", 
      "aliStart" : "163", 
      "start" : "159" 
    }, 
    { 
      "modelStart" : "5", 
      "modelEnd" : "292", 
      "colour" : "#2dcf00", 
      "endStyle" : "jagged", 
      "startStyle" : "jagged", 
      "display" : true, 
      "end" : "587", 
      "aliEnd" : "573", 
      "href" : "/family/PF00082", 
      "text" : "Peptidase_S8", 
      "modelLength" : "307", 
      "metadata" : { 
        "scoreName" : "e-value", 
        "score" : "1.3e-38", 
        "description" : "Subtilase family", 
        "accession" : "PF00082", 
        "end" : "587", 
        "database" : "pfam", 
        "aliEnd" : "573", 
        "identifier" : "Peptidase_S8", 
        "type" : "Domain", 
        "aliStart" : "163", 
        "start" : "159" 
      }, 
      "type" : "pfama", 
      "aliStart" : "470", 
      "start" : "470" 
    }, 
    { 
      "modelStart" : "12", 
      "modelEnd" : "100", 
      "colour" : "#ff5353", 
      "endStyle" : "curved", 
      "startStyle" : "jagged", 
      "display" : true, 
      "end" : "469", 
      "aliEnd" : "469", 
      "href" : "/family/PF02225", 
      "text" : "PA", 
      "modelLength" : "100", 
      "metadata" : { 
        "scoreName" : "e-value", 
        "score" : "7.1e-09", 
        "description" : "PA domain", 
        "accession" : "PF02225", 
        "end" : "469", 
        "database" : "pfam", 
        "aliEnd" : "469", 
        "identifier" : "PA", 
        "type" : "Family", 
        "aliStart" : "385", 
        "start" : "362" 
      }, 
      "type" : "pfama", 
      "aliStart" : "385", 
      "start" : "362" 
    }, 
    { 
      "modelStart" : "1", 
      "modelEnd" : "112", 
      "colour" : "#5b5bff", 
      "endStyle" : "curved", 
      "startStyle" : "curved", 
      "display" : true, 
      "end" : "726", 
      "aliEnd" : "726", 
      "href" : "/family/PF06280", 
      "text" : "DUF1034", 
      "modelLength" : "112", 
      "metadata" : { 
        "scoreName" : "e-value", 
        "score" : "1.1e-13", 
        "description" : "Fn3-like domain (DUF1034)", 
        "accession" : "PF06280", 
        "end" : "726", 
        "database" : "pfam", 
        "aliEnd" : "726", 
        "identifier" : "DUF1034", 
        "type" : "Domain", 
        "aliStart" : "613", 
        "start" : "613" 
      }, 
      "type" : "pfama", 
      "aliStart" : "613", 
      "start" : "613" 
    } 
  ], 
  "markups" : [ 
    { 
      "lineColour" : "#ff0000", 
      "colour" : "#000000", 
      "display" : true, 
      "end" : "470", 
      "v_align" : "top", 
      "metadata" : { 
        "database" : "pfam", 
        "type" : "Link between discontinous regions", 
        "end" : "470", 
        "start" : "361" 
      }, 
      "type" : "Nested", 
      "start" : "361" 
    }, 
    { 
      "lineColour" : "#333333", 
      "colour" : "#e469fe", 
      "display" : true, 
      "residue" : "S", 
      "headStyle" : "diamond", 
      "v_align" : "top", 
      "type" : "Pfam predicted active site", 
      "metadata" : { 
        "database" : "pfam", 
        "description" : "S Pfam predicted active site", 
        "start" : "538" 
      }, 
      "start" : "538" 
    }, 
    { 
      "lineColour" : "#333333", 
      "colour" : "#e469fe", 
      "display" : true, 
      "residue" : "D", 
      "headStyle" : "diamond", 
      "v_align" : "top", 
      "type" : "Pfam predicted active site", 
      "metadata" : { 
        "database" : "pfam", 
        "description" : "D Pfam predicted active site", 
        "start" : "185" 
      }, 
      "start" : "185" 
    }, 
    { 
      "lineColour" : "#333333", 
      "colour" : "#e469fe", 
      "display" : true, 
      "residue" : "H", 
      "headStyle" : "diamond", 
      "v_align" : "top", 
      "type" : "Pfam predicted active site", 
      "metadata" : { 
        "database" : "pfam", 
        "description" : "H Pfam predicted active site", 
        "start" : "235" 
      }, 
      "start" : "235" 
    } 
  ], 
  "metadata" : { 
    "database" : "uniprot", 
    "identifier" : "Q560V8_CRYNE", 
    "organism" : "Cryptococcus neoformans (Filobasidiella neoformans)", 
    "description" : "Putative uncharacterized protein", 
    "taxid" : "5207", 
    "accession" : "Q560V8" 
  }, 
  "motifs" : [ 
    { 
      "colour" : "#ffa500", 
      "metadata" : { 
        "database" : "Phobius", 
        "type" : "sig_p", 
        "end" : "23", 
        "start" : "1" 
      }, 
      "type" : "sig_p", 
      "display" : true, 
      "end" : 23, 
      "start" : 1 
    }, 
    { 
      "colour" : "#00ffff", 
      "metadata" : { 
        "database" : "seg", 
        "type" : "low_complexity", 
        "score" : "2.5100", 
        "end" : "21", 
        "start" : "3" 
      }, 
      "type" : "low_complexity", 
      "display" : false, 
      "end" : 21, 
      "start" : 3 
    }, 
    { 
      "colour" : "#86bcff", 
      "metadata" : { 
        "database" : "seg", 
        "type" : "low_complexity", 
        "score" : "1.4900", 
        "end" : "156", 
        "start" : "134" 
      }, 
      "type" : "low_complexity", 
      "display" : true, 
      "end" : "156", 
      "start" : "134" 
    }, 
    { 
      "colour" : "#00ffff", 
      "metadata" : { 
        "database" : "seg", 
        "type" : "low_complexity", 
        "score" : "2.0200", 
        "end" : "187", 
        "start" : "173" 
      }, 
      "type" : "low_complexity", 
      "display" : false, 
      "end" : "187", 
      "start" : "173" 
    }, 
    { 
      "colour" : "#00ffff", 
      "metadata" : { 
        "database" : "seg", 
        "type" : "low_complexity", 
        "score" : "2.0800", 
        "end" : "218", 
        "start" : "207" 
      }, 
      "type" : "low_complexity", 
      "display" : false, 
      "end" : "218", 
      "start" : "207" 
    }, 
    { 
      "colour" : "#00ffff", 
      "metadata" : { 
        "database" : "seg", 
        "type" : "low_complexity", 
        "score" : "2.1300", 
        "end" : "231", 
        "start" : "220" 
      }, 
      "type" : "low_complexity", 
      "display" : false, 
      "end" : "231", 
      "start" : "220" 
    }, 
    { 
      "colour" : "#00ffff", 
      "metadata" : { 
        "database" : "seg", 
        "type" : "low_complexity", 
        "score" : "2.0000", 
        "end" : "554", 
        "start" : "538" 
      }, 
      "type" : "low_complexity", 
      "display" : false, 
      "end" : "554", 
      "start" : "538" 
    }, 
    { 
      "colour" : "#86bcff", 
      "metadata" : { 
        "database" : "seg", 
        "type" : "low_complexity", 
        "score" : "1.9100", 
        "end" : "590", 
        "start" : "578" 
      }, 
      "type" : "low_complexity", 
      "display" : true, 
      "end" : "590", 
      "start" : 588 
    }, 
    { 
      "colour" : "#00ffff", 
      "metadata" : { 
        "database" : "seg", 
        "type" : "low_complexity", 
        "score" : "1.7600", 
        "end" : "831", 
        "start" : "822" 
      }, 
      "type" : "low_complexity", 
      "display" : false, 
      "end" : "831", 
      "start" : "822" 
    }, 
    { 
      "href" : "/pfamb/PB075017", 
      "colour" : [ 
        "#ff7ff0", 
        "#f2ff7f", 
        "#7ff2ff" 
      ], 
      "metadata" : { 
        "database" : "pfam", 
        "identifier" : "Pfam-B_75017", 
        "type" : "Pfam-B", 
        "accession" : "PB075017", 
        "end" : "949", 
        "start" : "791" 
      }, 
      "type" : "pfamb", 
      "display" : true, 
      "end" : "949", 
      "start" : "791" 
    } 
  ] 
}</pre>
    </div>

    <script type="text/javascript">
      // <![CDATA[

      document.observe( "dom:loaded", function() {
        var tipsSeq;
        eval ( 'tipsSeq = ' + $("tipsJSON").select("pre")
                                           .first()
                                           .innerHTML );
        var tipsGraphic = new PfamGraphic("tipsGraphic", tipsSeq);
        tipsGraphic.render();

        var scrollToTop = function() {
          $("graphicsTop").scrollTo();
        };

        $$("span.backToTop").invoke( "observe", "click", scrollToTop );

      } );

      // ]]>
    </script>

    <p><span class="backToTop link">back to top</span></p>

  </div>
</div>

<!-- end domain graphics block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
