[%
# getStarted.tt
# rdf 20060927 WTSI
# 
# build the getStarted block for the help pages
#
# $Id: getStarted.tt,v 1.15 2009-10-28 14:02:00 jt6 Exp $
%]

<!-- start getStarted block -->

<div class="block" id="helpGetStartedBlock">
  <div class="handle">
    <h1>Getting Started using Pfam</h1>
  </div>
  <div class="blockContent">

    <h2>Site organisation</h2>

    <img alt="Site organisation" 
         id="wiringDiagram"
         src="[% c.uri_for('/static/images/wiring/family.png') %]" />

    <div id="wiringBlockSummaries">
      <div id="clanSummary" class="wiringBlockSummary" style="display: none">
        <p>
          <strong>Clans</strong> are sets of related Pfam-A families. The clan
          pages can be accessed by clicking on the clan link on a family page,
          or by entering a clan accession or identifier in the
          &quot;Jump-to&quot; or keyword search boxes that are present on most
          Pfam pages. A full list of clans can be viewed by using the browse
          link at the top of the home-page.  The tabs on the clan page are very
          similar to some of those on the family page, and include a summary,
          domain organisation, alignments, species, interactions and
          structures. The clan pages also have a relationships tab, which gives
          a graphical image of the interconnections between the clan members,
          determined by <a class="ext"
          href="http://toolkit.tuebingen.mpg.de/hhpred">HHsearch</a> alignment
          between the family HMMs. Note than not all Pfam-A families belong to
          a clan. 
        </p>
      </div>
      <div id="proteomeSummary" class="wiringBlockSummary" style="display: none">
        <p>
          The <strong>proteome</strong> pages give details of the Pfam families
          that are found on the completed proteome of a given organism.
        </p>
      </div>
      <div id="familySummary" class="wiringBlockSummary">
        <p>
          The <strong>family</strong> page is the major page for accessing
          information contained within Pfam as it describes the Pfam family
          entries. Most referring sites link to this page. Alternatively, users
          can navigate to family pages by entering the Pfam identifier or
          accession number, either via the home page, the &quot;Jump-to&quot;
          boxes or the keyword search box, or by clicking on a domain name or
          graphic from anywhere on the website. As with all Pfam pages, there
          is the context-sensitive icon bar in the top right hand corner that
          provides a quick overview about the contents of the tabs. The tabs on
          the family page cover the following topics: functional annotation;
          domain organisation or architectures; alignments; HMM logo; trees;
          curation and models; species distribution; interactions; and
          structures. 
        </p>
      </div>
      <div id="structureSummary" class="wiringBlockSummary" style="display: none">
        <p>
          The three-dimensional <strong>structure</strong> of a protein reveals
          how the units of the protein are arranged when folded. As this data
          can be key to understanding the function of a protein, we make pages
          dedicated to structures. As with all of our pages, the structure page
          comprises a series of tabs with a summary bar in the top right
          corner. These tabs contain a summary of the PDB entry, which includes
          how the structure was determined, links to other protein structure
          resources, the domain organisation for each protein or chain found in
          the structure, the mapping between the PDB chains and UniProt
          sequence and links to applets for viewing the structure. We also
          dynamically pull in articles from <a class="ext"
          href="http://www.ncbi.nlm.nih.gov/pmc/">PubMedCentral</a> and/or the
          <a class="ext" href="http://www.topsan.org/">TOPSAN</a> wiki, which
          provide further information on the structure. 
        </p>
      </div>
      <div id="sequenceSummary" class="wiringBlockSummary" style="display: none">
        <p>
          <strong>Sequence</strong> pages list the amino acid sequence, source
          organsim, sequence description and Pfam domains found on the
          sequence. There are links to structures and <a class="ext"
          href="http://www.treefam.org/">TreeFam</a> if the protein has been
          classified by that third party database. 
        </p>
      </div>
    </div>

    <hr />
    
    <img class="jumpTo" 
         src="[% c.uri_for( "/static/images/jumpTo.gif" ) %]" 
         alt="jump to..." />

    <h2>Using the &quot;Jump to&quot; search</h2>

    <p>
      Many pages in the site include a small search box, entitled &quot;Jump 
      to...&quot;. The &quot;Jump to...&quot; box allows you to go immediately
      to the page for any entry in the Pfam site entry, including Pfam families, 
      clans and UniProt sequence entries.
    </p>
    <p>
      The &quot;Jump to...&quot; search understands accessions and IDs for
      most types of entry. For example, you can enter either a Pfam family 
      accession, e.g. <code>PF02171</code>, or, if you find it easier to 
      remember, a family ID, such as <code>piwi</code>. Note that the search 
      is case insensitive.
    </p>
    <p>
      Because some identifiers can be ambiguous, the &quot;Jump to...&quot; 
      search may need to test several types of identifier to find 
      the entry that you're looking for. For example, Pfam A family IDs (e.g. 
      Kazal_1) and Pfam clan IDs (e.g. Kazal) aren't easily distinguished, so 
      if you enter <code>kazal</code>, the search will first look for a 
      family called <em>kazal</em> and, if it doesn't find one, will then 
      look for a clan called <em>kazal</em>. If all of the guesses fail, you'll 
      see an error message saying &quot;Entry not found&quot;.
    </p>
    <p>
      The order in which the search tries the various types of ID and accession
      is given below:  
    </p>
    <ul>
      <li>Pfam A accession, e.g. PF02171</li>
      <li>Pfam A identifier, e.g. piwi</li>
      <li>Pfam B accession, e.g. PB000001</li>
      <li>Pfam B identifier, e.g. Pfam-B_1</li>
      <li>UniProt sequence accession, e.g. P00789</li>
      <li>UniProt sequence ID, e.g. CANX_CHICK</li>
      <li>NCBI &quot;GI&quot; number, e.g. 113594566</li>
      <li>NCBI secondary accession, e.g. BAF18440.1</li>
      <li>Pfam clan accession, e.g. CL0005</li>
      <li>metaseq ID, e.g. JCVI_ORF_1096665732460</li>
      <li>metaseq accession, e.g. JCVI_PEP_1096665732461</li>
      <li>Pfam clan accession, e.g. CL0005</li>
      <li>Pfam clan ID, e.g. Kazal</li>
      <li>PDB entry, e.g. 2abl</li>
      <li>Proteome species name, e.g. Homo sapiens</li>
    </ul>

    <hr />
    
    <img class="jumpTo" 
         src="[% c.uri_for( "/static/images/kwSearch.gif" ) %]" 
         alt="keyword search" />

    <h2>Keyword search</h2>
    
    <p>
      Every page in the Pfam site includes a search box in the page header.
      You can use this to find Pfam A families which match a particular keyword.
      The search includes several different areas of the Pfam database:
    </p>
    <ul>
      <li>text fields in Pfam entries, e.g. family descriptions</li>
      <li>UniProt sequence entry description and species fields</li>
      <li><code>HEADER</code> and <code>TITLE</code> fields from PDB entries</li>
      <li>Gene Ontology IDs and terms</li>
      <li>InterPro entry abstracts</li>
    </ul>
    <p>
      Each Pfam A entry is listed only once in the results table, although it
      might have been found in more than one area of the database.
    </p>      

    <hr />
    
  	<h2>Searching a protein sequence against Pfam</h2>
  
  	<p>
      Searching a protein sequence against the Pfam library of HMMs will
      enable you to find out the domain architecture of the protein. If your
      protein is present in the version of UniProt, NCBI Genpept or the
      metagenomic sequence set that we used to make the current release of
      Pfam, we have already calculated its domain architecture. You can
      access this by entering the sequence accession or ID in the 'view a
      sequence' box on the Pfam homepage.
    </p>
    <p>
      If your sequence is not in the Pfam database, you could perform a
      single-sequence or a batch search by clicking on the 'Search' link at the
      top of the Pfam page.
  	</p>
  
  	<h3>Single protein search</h3>
  
  	<p>
      If your protein is not recognised by Pfam, you will need to paste the
      protein sequence into the search page. We will search your sequence
      against our HMMs and instantly display the matches for you.
  	</p>
  
  	<h3>Batch search</h3>
  
  	<p>
      If you have a large number of sequences to search (up to several
      thousand), you can use our batch upload facility. This allows you to
      upload a file of your sequences in FASTA format, and we will run them
      against our HMMs and email the results back to you, usually within 48
      hours. We request that you put a maximum of 1000 sequences in each file.
  	</p>
  
  	<h3>Local protein searches</h3>
  
  	<p>
      If you have a very large number of protein searches to perform, or you do
      not wish to post your sequence across the web, it may be more convenient
      to run the Pfam searches locally using the 'pfam_scan.pl' script. To do this
      you will need the HMMER3 software, the Pfam HMM libraries and a couple of
      additional data files from the Pfam website. You will also need to
      download a few modules from CPAN, most notably Moose.
    </p>
    <p>
       Full details on how to get 'pfam_scan.pl' up and running can be found on our
       <a class="ext" href="ftp://ftp.sanger.ac.uk/pub/databases/Pfam/Tools/README">
       FTP site</a>.
  	</p>
  
  	<h3>Proteome analysis</h3>
  
  	<p>
      Pfam pre-calculates the domain compositions and architectures for all 
      the proteomes present in 
      <a class="ext" href="http://www.ebi.ac.uk/integr8/">Integr8</a>.  To
      see the list of proteomes, click on the 'browse' link at the top of the
      Pfam website, and click on a letter of the alphabet in the 'proteomes'
      section. By clicking on a particular organism, you will be be able to
      view the proteome page for that organism. From here you can view the
      domain organisation and the domain composition for that proteome.
    </p>
<!-- currently disabled...
    <p>
      The taxonomy query allows quick identification of families/domains which
      are present in one species but are absent from another. It can also be
      used to find families/domains that are unique to a particular species
      (note this can be very slow). 
  	</p>
-->
  
    <hr />
    
  	<h2>Finding proteins with a specific set of domain 
      combinations ('architectures')</h2>
  
  	<p>
      Pfam allows you to retrieve all of the proteins with a particular domain
      combination (e.g. proteins containing both a CBS domain and an IMPDH
      domain) using the <a href="[% c.uri_for( '/search', tab =
      'searchDomainBlock' ) %]">domain query tool</a>. For a more detailed
      study of domain architectures you should use <a class="ext"
      href="http://pfamalyzer.sbc.su.se/pfamalyzer/">PfamAlyzer</a>, a tool
      that is hosted by the Swedish Pfam site. PfamAlyzer allows the user to
      find proteins which contain a specific combination of domains, and it
      allows the user to specify particular species and the evolutionary
      distances allowed between domains. 
    </p>
  
    <script type="text/javascript">
      // <![CDATA[

      var areas = $H( {
        clan:      [ 16, 19 ],
        family:    [ 196, 119 ],
        proteome:  [ 376, 19 ],
        sequence:  [ 377, 219, ],
        structure: [ 16, 219 ]
      } );

      var wiringDiagramUrlStub = "[% c.uri_for('/static/images/wiring/') %]";

      $("wiringDiagram").observe( "click", function( e ) {
        var co = $("wiringDiagram").cumulativeOffset(),
            x  = e.pointerX() - co.left,
            y  = e.pointerY() - co.top;
        areas.keys().each( function( blockName ) {
          var area = areas.get(blockName);
          if ( x >= area[0] && x <= area[0] + 100 &&
               y >= area[1] && y <= area[1] + 50 ) {
            $("wiringDiagram").src = wiringDiagramUrlStub + blockName + ".png";
            $$("div.wiringBlockSummary").invoke("hide");
            $(blockName + "Summary").show();
          }
        } );

      } );

      // ]]>
    </script>

  </div>
</div>
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
