[%
# glossary.tt
# rdf 20060927 WTSI
# 
# build the mirrors block for the help pages
#
# $Id: glossary.tt,v 1.13 2009-10-28 14:01:59 jt6 Exp $
%]

<!-- start glossary.tt block -->

<div class="block" id="helpGlossaryBlock">
  <div class="handle">
    <h1>Glossary of terms used in Pfam</h1>
  </div>
  <div class="blockContent">

    <p>
      These are some of the commonly used terms in the Pfam website.			
    </p>

    <h3><a name="glos_align_coords">Alignment coordinates</a></h3>

    <p>
      HMMER3 reports two sets of domain coordinates for each profile HMM match.
      The <em>envelope coordinates</em> delineate the region on the sequence
      where the match has been probabilistically determined to lie, whereas the
      <em>alignment coordinates</em> delineate the region over which HMMER is
      confident that the alignment of the sequence to the profile HMM is
      correct. Our full alignments contain the envelope coordinates from
      HMMER3.
    </p>

    <h3><a name="glos_arch">Architecture</a></h3>
    
    <p>The collection of domains that are present on a protein.</p>

    <h3><a name="glos_clan">Clan</a></h3>

    <p>
      A collection of related Pfam entries. The relationship may be defined 
      by similarity of sequence, structure or profile-HMM.
    </p>

    <h3><a name="glos_domain">Domain</a></h3>
    
    <p>
      A structural unit.
    </p>

    <h3><a name="glos_domain_score">Domain score</a></h3>
    
    <p>
      The score of a single domain aligned to an HMM. Note that, for HMMER2, if
      there was more than one domain, the <em>sequence score</em> was the sum
      of all the domain scores for that Pfam entry. This is not quite true for
      HMMER3.
    </p>

    <h3><a name="glos_duf">DUF</a></h3>
    
    <p>
      Domain of unknown function.
    </p>

    <h3><a name="glos_env_coords">Envelope coordinates</a></h3>

    <p>
      See <strong>Alignment coordinates</strong>.
    </p>

    <h3><a name="glos_family">Family</a></h3>
    
    <p>
      A collection of related protein regions.
    </p>

    <h3><a name="glos_full">Full alignment</a></h3>
    
    <p>
      An alignment of the set of related sequences which score higher than 
      the manually set threshold values for the HMMs of a particular Pfam 
      entry.
    </p>

    <h3><a name="glos_gathering_threshold">Gathering threshold (GA)</a></h3>
    
    <p>
      Also called the gathering cut-off, this value is the search threshold
      used to build the full alignment. The gathering threshold is assigned by
      a curator when the family is built. The GA is the minimum score a
      sequence must attain in order to belong to the full alignment of a Pfam
      entry. For each Pfam HMM we have two GA cutoff values, a sequence cutoff
      and a domain cutoff.
    </p>

    <h3><a name="glos_hmmer">HMMER</a></h3>
    
    <p>
      The suite of programs that Pfam uses to build and search HMMs. Since Pfam
      release 24.0 we have used HMMER version 3 to make Pfam. See the
      <a class="ext" href="http://hmmer.janelia.org/">HMMER</a> site for more
      information.
    </p>

    <h3><a name="glos_hmm">Hidden Markov model (HMM)</a></h3>
    
    <p>
      A HMM is a probablistic model. In Pfam we use HMMs to transform the 
      information contained within a multiple sequence alignment into a 
      position-specific scoring system. We search our HMMs against the 
      <a class="ext "href="http://www.uniprot.org/index.shtml">UniProt</a>
      protein database to find homologous sequences.
    </p>

    <h3><a name="glos_hmmer3">HMMER3</a></h3>
    
    <p>
      The suite of programs that Pfam uses to build and search HMMs. See 
      the <a class="ext" href="http://hmmer.janelia.org/">HMMER</a> site
      for more information.
    </p>

    <h3><a name="glos_ipfam">iPfam</a></h3>
    
    <p>
      A resource that describes domain-domain interactions that are observed 
      in PDB entries. Where two or more Pfam domains occur in a single 
      structure, it analyses them to see if the are close enough to form an 
      interaction. If they are close enough it calculates the bonds forming 
      the interaction.
    </p> 

    <h3><a name="glos_metaseq">Metaseq</a></h3>
    
    <p>
      A collection of sequences derived from various metagenomics datasets.
    </p>

    <h3><a name="glos_motif">Motif</a></h3>
    
    <p>
      A short unit found outside globular domains.
    </p>

    <h3><a name="glos_noise_cutoff">Noise cutoff (NC)</a></h3>
    
    <p>
      The bit scores of the highest scoring match not in the full alignment.
    </p>

    <h3><a name="glos_pfama">Pfam-A</a></h3>
    
    <p>
      A HMM based hand curated Pfam entry which is built using a small number 
      of representative sequences. We manually set a threshold value for each
      HMM and search our models against the 
      <a class="ext" href="http://www.uniprot.org/">UniProt</a> database. All of the 
      sequnces which score above the threshold for a Pfam entry are included in 
      the entry's full alignment.
    </p>

    <h3><a name="glos_pp">Posterior probability</a></h3>
    
    <p>
      HMMER3 reports a <em>posterior probability</em> for each residue that
      matches a 'match' or 'insert' state in the profile HMM. A high posterior
      probability shows that the alignment of the amino acid to the
      match/insert state is likely to be correct, whereas a low posterior
      probability indicates that there is alignment uncertainty.  This is
      indicated on a scale with '*' being 10, the highest certainty, down to 1
      being complete uncertainty. Within Pfam we display this information as a
      heat map view, where green residues indicate high posterior probability,
      and red ones indicate a lower posterior probability.
    </p>

    <h3><a name="glos_repeat">Repeat</a></h3>
    
    <p>
      A short unit which is unstable in isolation but forms a stable structure 
      when multiple copies are present.
    </p>

    <h3><a name="glos_seed">Seed alignment</a></h3>
    
    <p>
      An alignment of a set of representative sequences for a Pfam entry. We 
      use this alignment to construct the HMMs for the Pfam entry.
    </p> 

    <h3><a name="glos_seq_score">Sequence score</a></h3>
    
    <p>
      The total score of a sequence aligned to a HMM. If there is more than 
      one domain, the sequence score is the sum of all the domain scores for 
      that Pfam entry. If there is only a single domain, the sequence and the 
      domains score for the protein will be identical. We use the sequence 
      score to determine whether a sequence belongs to the full alignment of 
      a particular Pfam entry.
    </p>

    <h3><a name="glos_trusted_cutoff">Trusted cutoff (TC)</a></h3>
    
    <p>
      The bit scores of the lowest scoring match in the full alignment.
    </p>

  </div>
</div>
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
