
[%
# install.tt
# jt6 20070913 WTSI
# 
# installation instructions for the website
#
# $Id: install.tt,v 1.5 2009-10-28 17:07:52 jt6 Exp $
%]

<!-- start install block -->

<div class="block" id="helpInstallBlock">
  <div class="handle">
    <h1>Installing the Pfam website</h1>
  </div>
  <div class="blockContent">

    <p>
      The source code for this website and the ancillary systems that it uses
      are all freely available for download. The website is designed to be 
      portable, so that it can be installed and run at your local site if
      required. You can find the source code in our 
      <a class="ext" href="http://subversion.apache.org/">SVN</a> repository,
      at <a class="ext" href="http://pfamsvn.sanger.ac.uk/"><code>
        http://pfamsvn.sanger.ac.uk/</code></a>.
    </p>
    <p>
      Installing the website and search system has always been somewhat 
      complex and we are no longer supporting direct installation of the site.
      We are looking instead at distributing the site as a pre-built 
      <a class="ext" href="http://en.wikipedia.org/wiki/Virtual_machine">
        virtual machine</a> image. Installing the site would then require you
      simply to open the VM image in suitable virtualisation software.
    </p>
    <p>
      We hope to produce a distributable image soon, but if you would like 
      more information or have questions about installing the site, please
      contact us.
    </p>

  </div>
</div>

<!-- end install block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
