[%
# linking.tt
# rdf 20060927 WTSI
# 
# build the linking block for the help pages
#
# $Id: linking.tt,v 1.12 2009-12-07 22:30:46 jt6 Exp $
%]

<!-- start linking block -->

<div class="block" id="helpLinkingBlock">
  <div class="handle">
    <h1>Linking to the Pfam website</h1>
  </div>
  <div class="blockContent">

    <h3>Linking to family pages</h3>
    
    <p>
      You can refer to Pfam families either by accession or ID. You can also 
      refer to a family by &quot;entry&quot;, although this is a convenience 
      that should be used only if you&#39;re not sure if what you have is an 
      accession or an ID.
    </p>
    <p>
      Pfam accession numbers are more stable between releases than IDs and
      we <strong>strongly</strong> recommend that you link by accession number.
    </p>
    <p>
      Here are some examples of linking to Pfam at WTSI: 
    </p>
    <dl class="sitesList">
      <dt>Directly, using either accession or ID:</dt>
      <dd>
        <a href="[% c.uri_for('/family','PF00002') %]">
          [% c.uri_for('/family','PF00002') %]</a>
        or<br />
        <a href="[% c.uri_for('/family','7tm_2') %]">
          [% c.uri_for('/family','7tm_2') %]</a>
      </dd>
      <dt>Using a parameter, by accession:</dt>
      <dd>
        <a href="[% c.uri_for('/family', acc='PF00002') %]">
          [% c.uri_for('/family', acc='PF00002') %]</a>
      </dd>
      <dt>Using a parameter, by ID:</dt>
      <dd>
        <a href="[% c.uri_for('/family', id='7tm_2') %]">
          [% c.uri_for('/family', id='7tm_2') %]</a>
      </dd>
      <dt>Using the &quot;entry&quot; parameter with either accession or ID:</dt>
      <dd>
        <a href="[% c.uri_for('/family',entry='PF00002') %]">
          [% c.uri_for('/family',entry='PF00002') %]</a>
        or<br />
        <a href="[% c.uri_for('/family', entry='7tm_2') %]">
          [% c.uri_for('/family', entry='7tm_2') %]</a>
      </dd>
    </dl>

    <h3>Linking to protein sequence pages</h3>
    
    <p>
      As for Pfam family pages, you can refer to protein sequence pages by
      accession, ID or entry. Protein IDs are unstable and do change between
      releases, so, again, we <strong>strongly</strong> recommend that you use
      protein accessions where possible.
    </p>
    <p>
      Here are some examples of linking to protein sequence pages at WTSI: 
    </p>
    <dl class="sitesList">
      <dt>Directly:</dt>
      <dd>
        <a href="[% c.uri_for('/protein', 'P15498') %]">
          [% c.uri_for('/protein', 'P15498') %]</a>
        or<br />
        <a href="[% c.uri_for('/protein', 'VAV_HUMAN') %]">
          [% c.uri_for('/protein', 'VAV_HUMAN') %]</a>
      </dd>
      <dt>By accession:</dt>
      <dd>
        <a href="[% c.uri_for('/protein', acc='P15498') %]">
          [% c.uri_for('/protein', acc='P15498') %]</a>
      </dd>
      <dt>By ID:</dt>
      <dd>
        <a href="[% c.uri_for('/protein', id='VAV_HUMAN') %]">
          [% c.uri_for('/protein', id='VAV_HUMAN') %]</a>
      </dd>
      <dt>Using &quot;entry&quot;:</dt>
      <dd>
        <a href="[% c.uri_for('/protein', entry='P15498') %]">
          [% c.uri_for('/protein', entry='P15498') %]</a>
        or<br />
        <a href="[% c.uri_for('/protein', entry='VAV_HUMAN') %]">
          [% c.uri_for('/protein', entry='VAV_HUMAN') %]</a>
      </dd>
    </dl>

    <h3><a name="jump">Linking to the &quot;jump to&quot; search</a></h3>
      
    <p>
      The Pfam website features a      
      <span class="link" onclick="tabPage.switchTab('helpGetStartedBlock')">
        search tool</span> that tries to guess the type of
      any accession or ID that it is given. For example, if given 
      &quot;VAV_HUMAN&quot;, the search returns the URL for the protein 
      sequence page for the VAV_HUMAN entry. If given &quot;1w9h&quot;, the 
      search returns the URL for the PDB entry (structure) 1w9h.
    </p>
    <p>
      You can use the &quot;jump to&quot; search if you need to link to Pfam but
      can't be sure what type of accession or ID you will be using in your link.
      By default, the search returns the URL that it has found, as a simple, 
      plain text HTTP response. Adding the parameter <code>redirect=1</code> 
      will make the &quot;jump to&quot; tool redirect to the URL that it finds
      or, if it couldn't find an appropriate URL, to the Pfam homepage.
    </p>
    <dl class="sitesList">
      <dt>Return URL:</dt>
      <dd>
        <a href="[% c.uri_for('/search/jump', entry='P15498') %]">
          [% c.uri_for('/search/jump', entry='P15498') %]</a>
      </dd>
      <dt>Redirect:</dt>
      <dd>
        <a href="[% c.uri_for('/search/jump', entry='P15498',redirect=1) %]">
          [% c.uri_for('/search/jump', entry='P15498',redirect=1) %]</a>
      </dd>
    </dl>
    <p>
      Note that, although it may be convenient to link to Pfam using this 
      search tool, there is no error reporting for your users if the search
      fails to find an appropriate URL in the Pfam site. It is much safer to 
      link directly to the correct section of the site. Please contact us if
      you need help with building specific links. 
    </p>


  </div>
</div>

<!-- end linking block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
