[%
# linking.tt
# rdf 20060927 WTSI
# 
# build the linking block for the help pages
#
# $Id: linking.tt,v 1.7 2008-05-09 15:58:39 jt6 Exp $
%]

<!-- start linking block -->

<div class="block" id="helpLinkingBlock">
  <div class="handle">
    <h1>How to link to Pfam?</h1>
  </div>
  <div class="blockContent">
    <p>
      Pfam is maintained by a consortium of researchers based at the 
      <a class="ext" href="http://www.sanger.ac.uk/">Wellcome Trust 
        Sanger Institute</a>, Cambridge, UK (WTSI), 
      <a class="ext" href="http://www.sbc.su.se/">Stockholm Bioinformatics Center</a>, 
      Stockholm, Sweden (SBC), and 
      <a class="ext" href="http://pfam.janelia.org/">Janelia Farm</a>, Maryland, USA. 
      All three sites run the same Pfam website and linking to different sites
      only requires that you change the site name, not the parameters in the URL.
    </p>
    <p>
      Although we have no plans to change the locations of resources within 
      this site dramatically, webmasters are advised to link only to the 
      following types of page within the site.
    </p>
    
    <h3>Home pages</h3>
    <dl class="sitesList">
      <dt>WTSI:</dt>
      <dd>
        <a href="http://pfam.sanger.ac.uk/">http://pfam.sanger.ac.uk/</a>
      </dd>
      <dt>SBC:</dt>
      <dd>
        <a class="ext" href="http://pfam.sbc.su.se/">http://pfam.sbc.su.se/</a>
      </dd>
      <dt>Janelia:</dt>
      <dd>
        <a class="ext" href="http://pfam.janelia.org/">http://pfam.janelia.org/</a>
      </dd>
    </dl>
    
    <h3>Searching a protein sequence against Pfam</h3>
    <dl class="sitesList">
      <dt>WTSI:</dt>
      <dd>
        <a href="http://pfam.sanger.ac.uk/search?tab=sequenceSearchBlock">
          http://pfam.sanger.ac.uk/search?tab=sequenceSearchBlock</a>
      </dd>
      <dt>SBC:</dt>
      <dd>
        <a class="ext" 
           href="http://pfam.sbc.su.se/search?tab=sequenceSearchBlock">
          http://pfam.sbc.su.se/search?tab=sequenceSearchBlock</a>
      </dd>
      <dt>Janelia:</dt>
      <dd>
        <a class="ext" 
           href="http://pfam.janelia.org/search?tab=sequenceSearchBlock">
          http://pfam.janelia.org/search?tab=sequenceSearchBlock</a>
      </dd>
    </dl>

    <h3>Searching a DNA sequence against Pfam</h3>
    <dl class="sitesList">
      <dt>WTSI:</dt>
      <dd>
        <a href="http://pfam.sanger.ac.uk/search?tab=sequenceDnaBlock">
          http://pfam.sanger.ac.uk/search?tab=sequenceDnaBlock</a>
      </dd>
      <dt>SBC:</dt>
      <dd>
        <a class="ext" 
           href="http://pfam.sbc.su.se/search?tab=sequenceDnaBlock">
          http://pfam.sbc.su.se/search?tab=sequenceDnaBlock</a>
      </dd>
      <dt>Janelia:</dt>
      <dd>
         <a class="ext" 
            href="http://pfam.janelia.org/search?tab=sequenceDnaBlock">
           http://pfam.janelia.org/search?tab=sequenceDnaBlock</a>
      </dd>
    </dl>

    <h3>Linking to Pfam family pages</h3>
    
    <p>
      You can refer to Pfam families either by accession or ID. You can also 
      refer to a family by &quot;entry&quot;, although this is a convenience 
      that should be used only if you&#39;re not sure if what you have is an 
      accession or an ID.
    </p>
    <p>
      Pfam accession numbers are more stable between releases than IDs and
      we <strong>strongly</strong> recommend that you link by accession number.
    </p>
    <p>
      Here are some examples of linking to Pfam at WTSI: 
    </p>
    <dl class="sitesList">
      <dt>By accession:</dt>
      <dd>
        <a href="http://pfam.sanger.ac.uk/family?acc=PF00002">
          http://pfam.sanger.ac.uk/family?acc=PF00002</a>
      </dd>
      <dt>By ID:</dt>
      <dd>
        <a href="http://pfam.sanger.ac.uk/family?id=7tm_2">
          http://pfam.sanger.ac.uk/family?id=7tm_2</a>
      </dd>
      <dt>Using &quot;entry&quot;:</dt>
      <dd>
        <a href="http://pfam.sanger.ac.uk/family?entry=PF00002">
          http://pfam.sanger.ac.uk/family?entry=PF00002</a>
        or<br />
        <a href="http://pfam.sanger.ac.uk/family?entry=7tm_2">
          http://pfam.sanger.ac.uk/family?entry=7tm_2</a>
      </dd>
    </dl>

    <p>
      You can link to Pfam family data at the other sites by changing
      &quot;<tt>pfam.sanger.ac.uk</tt>&quot; to &quot;<tt>pfam.sbc.su.se</tt>&quot;
      or &quot;<tt>pfam.janelia.org</tt>&quot;.
    </p>

    <h3>Linking to protein sequence pages</h3>
    
    <p>
      As for Pfam family pages, you can refer to protein sequence pages by
      accession, ID or entry. Protein IDs are unstable and do change between
      releases, so, again, we <strong>strongly</strong> recommend that you use
      protein accessions where possible.
    </p>
    <p>
      Here are some examples of linking to protein sequence pages at WTSI: 
    </p>
    <dl class="sitesList">
      <dt>By accession:</dt>
      <dd>
        <a href="http://pfam.sanger.ac.uk/protein?acc=P15498">
          http://pfam.sanger.ac.uk/protein?acc=P15498</a>
      </dd>
      <dt>By ID:</dt>
      <dd>
        <a href="http://pfam.sanger.ac.uk/protein?id=VAV_HUMAN">
          http://pfam.sanger.ac.uk/protein?id=VAV_HUMAN</a>
      </dd>
      <dt>Using &quot;entry&quot;:</dt>
      <dd>
        <a href="http://pfam.sanger.ac.uk/protein?entry=P15498">
          http://pfam.sanger.ac.uk/protein?entry=P15498</a>
        or<br />
        <a href="http://pfam.sanger.ac.uk/protein?entry=VAV_HUMAN">
          http://pfam.sanger.ac.uk/protein?entry=VAV_HUMAN</a>
      </dd>
    </dl>

    <p>
      Again, to generate links to the other Pfam sites, change
      &quot;<tt>pfam.sanger.ac.uk</tt>&quot; to &quot;<tt>pfam.sbc.su.se</tt>&quot;
      or &quot;<tt>pfam.janelia.org</tt>&quot;.
    </p>

  </div>
</div>

<!-- end linking block -->
