[%
# mirrors.tt
# rdf 20060927 WTSI
# 
# build the mirrors block for the help pages
#
# $Id: mirrors.tt,v 1.2 2007-04-16 16:07:20 jt6 Exp $
%]

<!-- start mirrors block -->

<div class="block" id="helpMirrorsBlock">
  <div class="handle">
    <h1>Pfam Mirrors</h1>
  </div>
  <div class="blockContent">

    <p>
      Pfam is maintained by the three member sites of the Pfam consortium:
    </p>
    <ul class="mirrors">
    	<li><a href="http://pfam.cgb.ki.se/" class="se mirror">Stockholm Bioinformatics Center, Sweden</a></li>
    	<li><a href="http://pfam.janelia.org/" class="us mirror">Janelia Farm Research Campus, USA</a></li>
    	<li><a href="http://pfam.jouy.inra.fr/" class="fr mirror">Institut National de la Recherche Agronomique, France</a></li>
    	<li><a href="http://pfam.ccbb.re.kr/" class="kr mirror">Center for Computational Biology &amp; Bioinformatics, South Korea</a></li>
    </ul>	

  </div>
</div>

<!-- end mirrors block -->
