[%
# scores.tt
# rdf 20060926 WTSI
# 
# build the scores block for the help pages
#
# $Id: scores.tt,v 1.4 2009-10-28 17:07:52 jt6 Exp $
%]

<!-- start scores block -->

<div class="block" id="helpScoresBlock">
  <div class="handle">
    <h1>Help With Pfam HMM scores</h1>
  </div>
  <div class="blockContent">

    <h2>E-values and Bit-scores</h2>

    <p>
      Pfam-A is based around hidden Markov model (HMM) searches, as provided by
      the <a href="http://hmmer.janelia.org/">HMMER3</a> package. In HMMER3, like
      BLAST, E-values (expectation values) are calculated. The E-value is the number
      of hits that would be expected to have a score equal to or better than this
      value by chance alone. A good E-value is much less than 1. A value of 1 is what
      would be expected just by chance. In principle, all you need to decide on the
      significance of a match is the E-value.
    </p>
    <p>
      E-values are dependent on the size of the database searched, so we use a
      second system in-house for maintaining Pfam models, based on a bit score
      (see below), which is independent of the size of the database searched.
      For each Pfam family, we set a bit score gathering (GA) threshold by
      hand, such that all sequences scoring at or above this threshold appear
      in the full alignment. It works out that a bit score of 20 equates to an
      E-value of approximately 0.1, and a score 25 of to approximately 0.01.
      From the gathering threshold both a &quot;trusted cutoff&quot; (TC) and a
      &quot;noise cutoff&quot; (NC) are recorded automatically. The TC is the
      score for the next highest scoring match above the GA, and the NC is the
      score for the sequence next below the GA, i.e. the highest scoring
      sequence not included in the full alignment.
    </p>

    <h2>Sequence versus domain scores</h2>

    <p>
      There's an additional wrinkle in the scoring system. HMMER3 calculates
      two kinds of scores, the first for the sequence as a whole and the second
      for the domain(s) on that sequence. The &quot;sequence score&quot; is the
      total score of a sequence aligned to the model (the HMM); the
      &quot;domain score&quot; is the score for a single domain &mdash; these
      two scores are virtually identical where only one domain is present on a
      sequence. Where there are multiple occurrences of the domain on a
      sequence any individual match may be quite weak, but the sequence score
      is the sum of all the individual domain scores, since finding multiple
      instances of a domain increases our confidence that that sequence belongs
      to that protein family, i.e. truly matches the model.
    </p>

    <h2>Meaning of bit-score for non-mathematicians</h2>

    <p>
      A bit score of 0 means that the likelihood of the match having been
      emitted by the model is equal to that of it having been emitted by the
      Null model (by chance). A bit score of 1 means that the match is twice as
      likely to have been emitted by the model than by the Null. A bit score of
      2 means that the match is 4 times as likely to have been emitted by the
      model than by the Null. So, a bit score of 20 means that the match is 2
      to the power 20 times as likely to have been emitted by the model than by
      the Null. 
    </p>

  </div>
</div>

<!-- end scores block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
