[%
# theTeam.tt
# rdf 20060927 WTSI
# 
# build the theTeam block for the help pages
#
# $Id: theTeam.tt,v 1.10 2009-10-28 10:15:45 jt6 Exp $
%]

<!-- start theTeam block -->

<div class="block" id="helpTheTeamBlock">
  <div class="handle">
    <h1>The Pfam Consortium</h1>
  </div>
  <div class="blockContent">
    <p>
      Pfam is the product from an international consortium of researchers that has 
      been borne out of its original development by Erik Sonnhammer, Sean Eddy 
      and Richard Durbin. The current list of consortium members, their institutes 
      and primary roles are listed below.
    </p>  
  
    <h3>European Bioinformatics Institute (EMBL-EBI), UK</h3>
  
    <ul>
      <li>Alex Bateman - EMBL-EBI Protein cluster head</li>
      <li>Rob Finn - Protein Families team leader</li>
      <li>Penny Coggill - Pfam database annotator</li>
      <li>Ruth Eberhardt - Pfam database developer and annotator</li>
      <li>Jaina Mistry - Pfam developer</li>
      <li>Fabian Schreiber - Web developer</li>
      <li>Matloob Qureshi - Web developer</li>
    </ul>
    
    <h3>Janelia Farm Campus, USA</h3>
  
    <ul>
      <li>Sean Eddy - Founding developer and author of HMMER software</li>
    </ul>
    
    <h3>Stockholm Bioinformatics Center, Sweden</h3>
  
    <ul>
      <li>Erik Sonnhammer - Coordinator of Pfam-Sweden and founding developer</li>
    </ul>
    
    <h3>External contributors</h3>

    <p>
      Pfam includes families that have been built by external contributors:
    </p>

    <h4>NCBI, USA</h4>
    <ul>
      <li>Lakshminarayan Iyer</li>
      <li>L. Aravind</li>
      <li>Zhang Dapeng</li>
      <li>Vivek Anantharaman</li>
    </ul>

    <h4>Sanford-Burnham Medical Research Institute, USA</h4>
    <ul>
      <li>Adam Godizk</li>
    </ul>

    <h3>Previous contributors</h3>
  
    <ul>
      <li>Gabriel Aldam</li>
      <li>Shimelis Assefa</li>
      <li>Matthew Bashton</li>
      <li>Ewan Birney</li>
      <li>Lorenzo Cerrutti</li>
      <li>Yuanyuan Chang</li>
      <li>Jody Clements</li>
      <li>Lachlan Coin</li>
      <li>Robson De Souza</li>
      <li>Richard Durbin</li>
      <li>Kyle Ellrott</li>
      <li>Matthew Fenech</li>
      <li>Kristoffer Forslund</li>
      <li>O. Luke Gavin</li>
      <li>Prasad Gunasekaran</li>
      <li>Sam Griffiths-Jones</li>
      <li>Kevin Howe</li> 
      <li>Lukasz Jaroszewski</li>
      <li>Nicola Kerrison</li>
      <li>Marta Llagostera</li>
      <li>Mhairi Marshall</li>
      <li>Nina Mian</li>
      <li>William Mifsud</li>
      <li>Simon Moxon</li>
      <li>Joanne Pollington</li>
      <li>Marco Punta</li>
      <li>Stephen-John Sammut</li>
      <li>Benjamin Schuster-B&ouml;ckler</li>
      <li>David Studholme</li>
      <li>John Tate</li>
      <li>Benjamin Vella-Briffa</li>
      <li>Corin Yeats</li>
      <li>Arthur Wuster</li>
    </ul>
  
    <p>
      Pfam is a collaborative venture and we hope to be able to interact
      with as many people as possible, in order to provide a quality database. 
      Please get in touch with any one of us for more information about Pfam. 
      You can email Pfam using the address found at the bottom of the page.
    </p>
    
  </div>
</div>
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
