[%
# getStarted.tt
# rdf 20060927 WTSI
# 
# build the getStarted block for the help pages
#
# $Id: getStarted.tt,v 1.15 2009-10-28 14:02:00 jt6 Exp $
%]

<!-- start getStarted block -->

<div class="block" id="helpWikiBlock">
  <div class="handle">
    <h1><a name="wikiTop">Pfam annotation in Wikipedia</a></h1>
  </div>
  <div class="blockContent">

    <div class="sections">
      <p>Contents:</p>
      <ol>
        <li><a class="link" rel="newApproach">A new approach to annotation</a></li>
        <li><a class="link" rel="wikiContent">Wikipedia content in Pfam</a></li>
        <li><a class="link" rel="contributing">Contributing</a></li>
        <li><a class="link" rel="editingWP">Editing Wikipedia</a></li>
        <li><a class="link" rel="agree">Does Pfam agree with Wikipedia ?</a></li>
        <li><a class="link" rel="wikiContact">Contact us</a></li>
      </ol> 
    </div>
  
  	<p>
      The Pfam consortium is now coordinating the annotation of Pfam families
      via <a class="ext" href="http://en.wikipedia.org/wiki/Main_Page">
        Wikipedia</a>. This is some background on the process.
    </p>
    
    <h2><a name="newApproach">A new approach to annotation</a></h2>
    
    <p>
      Pfam families have traditionally been annotated by our curators as
      they were added into the Pfam database, but the annotation step has
      become by far the most time-consuming part of building a Pfam family.
      As we adapt the Pfam model to cope with the dramatic increases in
      sequence data that are on the horizon, we have had to consider ways to
      make this step quicker and more efficient. We are also striving
      constantly to improve the quality and depth of our annotations, and to
      this end we have now adopted the Wikipedia model of annotation that was
      pioneered by the <a class="ext" href="http://rfam.sanger.ac.uk/">
        Rfam</a> resource.
    </p>
    <p>
      In this approach we will gradually reduce the prominence of our
      traditional, curator-produced family annotations, replacing them with
      Wikipedia articles. Starting from Pfam release 25.0, you will see that
      some family pages in the Pfam website show 
      <a href="[% c.uri_for( '/static/images/help/piwi_page.png' ) %]" 
         rel="lightbox" 
         title="A Pfam family page with Wikipedia content">
        Wikipedia content</a> rather than our own annotations. Ultimately 
      we hope to be able to assign a detailed, high-quality Wikipedia article
      in Pfam, but we need the help of the Pfam and Wikipedia communities to
      make this happen. 
    </p>

    <p><a class="link" rel="wikiTop">back to top</a></p>

    <h2><a name="wikiContent">Wikipedia content in the Pfam website</a></h2>

    <img class="jumpTo" 
         src="[% c.uri_for( '/static/images/help/wikipedia_tab_small.png' ) %]" 
         alt="wikipedia tab..." />
    <p>
      When we build a new Pfam family, we try to find a Wikipedia article that
      describes the family and provides what we feel to be a valuable
      annotation for it. If we can't find a suitable article we will, in many
      cases, generate a new Wikipedia article ourselves. Hence, most new
      families will be assigned a Wikipedia article as soon as they are
      created.
    </p>
    <p>
      Where a Wikipedia article has been assigned to a family, the main summary
      tab of the family page will show the content of the article, rather than
      the Pfam annotation. You can still see the old Pfam annotation, along
      with the Interpro annotation text, in adjacent tabs.  Note that we will
      no longer be updating Pfam annotation text for any family that has a
      Wikipedia article. Instead we will try to make improvements or
      corrections to the article itself and will encourage our users to make
      improvements and corrections themselves.
    </p>
    <img class="jumpTo" 
         src="[% c.uri_for( '/static/images/help/pfam_tab_small.png' ) %]" 
         alt="pfam tab..." />
    <p>
      Unfortunately, while new Pfam families will have Wikipedia articles
      assigned when they are created, we simply do not have the resources to
      be able to revisit older, pre-existing Pfam families. The family pages
      for these families still continue to show the Pfam annotation, but we
      hope to replace this with Wikipedia content wherever possible.
    </p>

    <div class="cleaner"<!-- empty --></div>

    <p><a class="link" rel="wikiTop">back to top</a></p>

    <h2><a name="contributing">Contributing annotations</a></h2>

    <p>
      You can now contribute to the improvement of Pfam annotations in several
      ways. First and foremost, if you come across a family that does not yet
      have a Wikipedia article assigned to it, we would really like to add
      one. If you know of an article that would provide a useful description
      of a family, please let us know via our annotation submission form
      (click the "Add annotation" button on the family page) or by email. You
      can find our email address at the bottom of every page.
    </p>
    <p>
      One of the advantages of using Wikipedia to provide our annotations is
      that any user can now contribute to that annotation text. In many cases,
      families that do not yet have a Wikipedia article can be assigned an
      article that already exists. In some cases, however, no suitable article
      exists, and in that case we would encourage you to consider adding one
      to Wikipedia yourself. 
    </p>
                
    <p><a class="link" rel="wikiTop">back to top</a></p>

    <h2><a name="editingWP">Editing Wikipedia articles</a></h2>

    <p>
      You can see these notes on every family page by clicking
      &quot;More&quot; on the Wikipedia content tab.
    </p>
    
    <h3>Before you edit for the first time</h3>

    <p>
      Wikipedia is a free, online encyclopedia. Although anyone can edit or
      contribute to an article, Wikipedia has some strong editing guidelines
      and policies, which promote the Wikipedia standard of style and
      etiquette. Your edits and contributions are more likely to be accepted
      (and remain) if they are in accordance with this policy.
    </p>
    <p>
      You should take a few minutes to view the following pages:
    </p>
    <ul>
      <li><a class="ext" href="http://en.wikipedia.org/wiki/Wikipedia:Five_pillars">
            Five pillars</a></li>
      <li><a class="ext" href="http://en.wikipedia.org/wiki/Help:Contents/Policies_and_guidelines">
            Policies and quidelines</a></li>
      <li><a class="ext" href="http://en.wikipedia.org/wiki/Help:Contents">
            Wikipedia help contents</a></li>
      <li><a class="ext" href="http://en.wikipedia.org/wiki/Wikipedia:Tips">
            Wikipedia Tips</a></li>
      <li><a class="ext" href="http://en.wikipedia.org/wiki/Help:Contents/Editing_Wikipedia">
            Editing help</a></li>
    </ul>

    <h3>How your contribution will be recorded</h3>

    <p>
      Anyone can edit a Wikipedia entry. You can do this either as a new user
      or you can register with Wikipedia and log on.  When you click on the
      &quot;Edit Wikipedia article&quot; button, your browser will direct you
      to the edit page for this entry in Wikipedia. If you are a registered
      user and currently logged in, your changes will be recorded under your
      Wikipedia user name. However, if you are not a registered user or are not
      logged on, your changes will be logged under your computer's IP address.
      This has two main implications.  Firstly, as a registered Wikipedia user
      your edits are more likely seen as valuable contribution (although all
      edits are open to community scrutiny regardless).  Secondly, if you edit
      under an IP address you may be sharing this IP address with other users.
      If your IP address has previously been blocked (due to being flagged as a
      source of 'vandalism') your edits will also be blocked. You can find more
      information on this and creating a <a class="ext"
        href="http://en.wikipedia.org/wiki/Wikipedia:Why_create_an_account">
        user account</a> at Wikipedia.
    </p>      
    <p>
      If you have problems editing a particular page, contact us at 
      <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#112;&#102;&#97;&#109;&#45;&#104;&#101;&#108;&#112;&#64;&#115;&#97;&#110;&#103;&#101;&#114;&#46;&#97;&#99;&#46;&#117;&#107;">
        &#112;&#102;&#97;&#109;&#45;&#104;&#101;&#108;&#112;&#64;&#115;&#97;&#110;&#103;&#101;&#114;&#46;&#97;&#99;&#46;&#117;&#107;</a>
      and we will try to help.
    </p>
    
    <p><a class="link" rel="wikiTop">back to top</a></p>

    <h2><a name="agree">Does Pfam agree with the content of the Wikipedia 
      entry ?</a></h2>

    <p>
      Pfam has chosen to link families to Wikipedia articles. In some case we
      have created or edited these articles but in many other cases we have not
      made any direct contribution to the content of the article. The Wikipedia
      community does monitor edits to try to ensure that (a) the quality of
      article annotation increases, and (b) vandalism is very quickly dealt
      with. However, we would like to emphasise that Pfam does not curate the
      Wikipedia entries and we cannot guarantee the accuracy of the information
      on the Wikipedia page.
    </p>
    
    <p><a class="link" rel="wikiTop">back to top</a></p>

    <h2><a name="wikiContact">Contact us</a></h2>
    
    <p>
      Community annotation is a new facility of the Pfam web site. If you 
      have problems editing or experience problems with these pages please 
      <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#112;&#102;&#97;&#109;&#45;&#104;&#101;&#108;&#112;&#64;&#115;&#97;&#110;&#103;&#101;&#114;&#46;&#97;&#99;&#46;&#117;&#107;">
        contact us</a>.
    </p>

    <p><a class="link" rel="wikiTop">back to top</a></p>

    <script type="text/javascript">
      // <![CDATA[

      var lb;
      document.observe( "dom:loaded", function() {
        lb = new Lightbox(); // set up the lightbox
      } );

      // ]]>
    </script>

  </div>
</div>
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
