
[%
# protein.tt
# jt6 20061108 WTSI
# 
# build the protein name or sequence search block
#
# $Id: protein.tt,v 1.2 2009-10-08 16:01:49 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

# using styles from the help pages, plus the common styles for forms
requirements.css.push( "help.css" );
requirements.css.push( "forms.css" );
requirements.cssIeAll.push( "forms_all_ie.css" );

#-------------------------------------------------------------------------------

%]

<!-- start protein search block -->

<div class="block" id="searchProteinBlock">
  <div class="handle">
    <h1>Protein name or sequence search</h1>
  </div>
  <div class="blockContent">
    
    <p>
      Find information about a specific UniProt sequence entry.
      <span class="moreLink" onclick="reveal(this,'pNotes',false, true)">More...</span>
    </p>

    <div id="pNotes" style="display: none">
      <p>
        You can enter either a UniProt accession or identifier. The search is 
        case insensitive.
      </p>
    </div>

    <div class="formWrapper">
  
      <form id="proteinSearchForm"
            action="[% c.uri_for( "/protein" ) %]">
        <div>
          <input type="hidden" name="type" value="Protein" />
        </div>
  
        <div class="row">
          <label for="unp">UniProt ID or accession</label>
          <input type="text" size="20" maxlength="40" name="entry" id="unp" />
        </div>
  
        <div class="row">
          <label class="blankLabel">Submit</label>
          <input class="submit"  type="submit" name="submit" value="Submit" />
          <input class="reset"   type="reset"  name="reset"  value="Reset" />
          <input class="example" type="button" value="Example" onclick="$('unp').value=exUnp" />
        </div>

      </form>
        
    </div>
  </div>

  <script type="text/javascript">
    // <![CDATA[
    var exUnp = "VAV_HUMAN";
    // ]]>
  </script>

</div>

<!-- end protein search block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
