
<h1>Users</h1>

<p>
  This is the list of wikipedia users who have edited Xfam articles.
</p>

<table summary="Users list"
       id="userList"
       class="users sortable">
  <thead>
    <tr>
      <th>Wikipedia editor</th>
      <th>Number of edits</th>
    </tr>
  </thead>
  <tbody>
    [%- edit_counts = [];
    user_list = [];
    FOREACH user IN users;
      edit_counts.push(user.number_edits);
      user_list.push( user.user_name ); %]
      <tr class="[% loop.index % 2 ? 'odd' : 'even' %]">
        <td class="left">
           <a class="ext user[% ' approved' IF user.approved %]" 
              rel="[% user.user_name %]"
              target="blank" 
              href="http://en.wikipedia.org/wiki/Special:Contributions/[% user.user_name | uri %]">
            [% user.user_name %]</a>
        </td>
        <td>[% user.number_edits %]</td>
      </tr>
    [%- END %]
  </tbody>
</table>

<div id="barChart"></div>

<script type="text/javascript">
  // <![CDATA[

  document.observe( "dom:loaded", function() {

    // add the controls to the user names
    var userApprover = new UserApprover( "[% c.uri_for( '/user' ) %]", 
                                         [% c.user_exists ? "true" : "false" %] );

    // make the table sortable
    var tk = new TableKit( "userList", {
      resizeable: false,
      editable: false
    } );

    // draw a bar-chart of the edit counts
    //console.debug( "starting chart" );
    //var r    = Raphael("barChart");
    //    fin  = function () {
    //      this.flag = r.g.popup(this.bar.x, this.bar.y, this.bar.value || "0").insertBefore(this);
    //    },
    //    fout = function () {
    //      this.flag.animate({opacity: 0}, 300, function () {this.remove();});
    //    };

    //r.g.txtattr.font = "12px 'Fontin Sans', Fontin-Sans, sans-serif";
    //
    //r.g.barchart( 10, 10, 300, 220, [[ [% edit_counts.join(",") %] ]], 0, {stacked:false} )
    //   .hover(fin, fout)
    //   .label( [ [ [% FOREACH user IN user_list; '"' _ user _ '"'; ',' UNLESS loop.last; END %] ] ] );

    //console.debug( "done drawing chart" );

  } );
  
  // ]]>
</script>

