[%
# fsError.tt
# jt6 20070518 WTSI
# 
# functional similarity search error page
#
# $Id: error.tt,v 1.5 2009-10-08 10:14:16 jt6 Exp $

META title = "Functional similarity search results";
META fullPage = 1;
-%]

<div class="tips">

  <h1>No results</h1>

  <p>
    We did not find any families with significant functional similarity to
    your search family <em>[% pfam.pfama_id %]</em> ([% pfam.pfama_acc %]).
  </p>
  [% IF goTerms.size %]
  <p>
    The functional similarity search relies on the assignment of 
    <a class="ext" href="http://www.ebi.ac.uk/GO/">Gene Ontology</a> (GO) terms 
    to Pfam families. Unfortunately, your search family does not have any GO 
    assigned to it and therefore could not be included in functional similarity
    calculations.
  </p>
  [% END %]
    
  <p class="back">
    Go <a href="[% c.uri_for( "/search", { tab = "searchFunshiftBlock" } ) %]">back</a>
    to the search form to search with a new family.
  </p>

  <hr />
  
</div>

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
