
[%#
# sequence.tt
# rdf 20060424 WTSI
# 
# Lists the domain:ligand interactions
#
# $Id: sequence.tt,v 1.1 2006-08-22 13:30:00 rdf Exp $
%]

<!-- start ipfam summary block -->

<div class="block" id="iDomainSequenceBlock">
  <div class="handle">
    <h1>Seqeuences containing Domain Interactions</h1>
  </div>
  <div class="blockContent">

    <h3>list of sequences:...</h3>

  </div>

</div>

<!-- end ipfam summary block -->
