[%
# db_down.tt
# jt6 20071109 WTSI
#
# A simple page to say that the Pfam database is currently down.
#
# $Id: db_down.tt,v 1.1.1.1 2008-03-17 16:37:43 jt6 Exp $

META naked = 1;

# the base URL for static content
staticUri = c.uri_for( "/static" );
sharedUri = c.uri_for( "/shared" );
-%]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>

  <head>
    <title>Pfam: Database unavailable</title>
    <link rel="stylesheet" type="text/css" href="[% staticUri %]/css/pfam.css" />
    <link rel="stylesheet" type="text/css" href="[% staticUri %]/css/[% c.config.site %].css" /> 
  </head>

  <body>

    <div id="dbd">

      <a class="siteLogoHolder" style="float: left" href="[% c.config.site_home %]">
        <img alt="[% c.config.site_name %]" 
             id="siteLogo"
             src="[% sharedUri %]/images/blank.gif" /></a>
      
      <a class="pfamLogoHolder" style="float: right" href="[% c.uri_for( "/" ) %]">
        <img alt="Pfam" 
             id="pfamLogo" 
             src="[% sharedUri %]/images/blank.gif" /></a>

      <div class="cleaner"><!-- empty --></div>
  
      <h1>The Pfam database is currently unavailable</h1>

      <p>
        We are currently unable to connect to the database that drives the 
        Pfam website. We apologise for this temporary outage. We're working
        to fix the problem as soon as possible.
      </p>
      <p>
        The Pfam Group.
      </p>
    </div>

    [% TRY;
      PROCESS "components/footer_${c.config.site}.tt";
    CATCH file;
      CALL c.log.error( "wrapper.tt: couldn't find the site-specific footer" );
    END -%]

  </body>

</html>
