[%
# about.tt
# jt6 20061003 WTSI
# 
# build an "about Pfam" page
#
# $Id: about.tt,v 1.4 2007-01-15 16:04:07 jt6 Exp $

# tell the wrapper not to add any header or footer. We will generate a complete 
# page here ourselves
META naked = 1;

# format the date nicely
USE date( format = "%b %Y" );
r = String.new( relData.pfam_release_date );

d = relData.pfam_release_date.match( '(\d+)\-(\d+)\-(\d+)' );

release_date = String.new( "00:00:00 " );
CALL release_date.append( d.2, ":", d.1, ":", d.0 );

# set the title for the tools window
title = "About the Pfam website";

pageContent = BLOCK -%]

<h2>Version [% relData.pfam_release ? relData.pfam_release : "21.0" %]</h2>
<h3>Released [% relData.pfam_release_date ? date.format( release_date ) : "Nov 2006" %]</h3>

<p>
  The Pfam website is developed on linux and is tested during
  development using recent builds of <a target="new"
	href="http://www.mozilla.com/firefox/">Firefox</a>, the latest
  incarnation of the Mozilla web browser. It is also tested
  regularly in <a target="new"
	href="http://www.microsoft.com/windows/ie/default.mspx">Internet Explorer</a>, 
  running on Windows, and <a target="new" 
      href="http://www.apple.com/macosx/features/safari/">Safari</a> on Mac OS X.
</p>
<p>
  The current site has been checked in the following versions of
  these browsers:
</p>
<ul>
  <li>Firefox v2.0</li>
  <li>Internet Explorer v6 and v7</li>
  <li>Safari v1.3.1</li>
</ul>
<p>
  Whilst we make every effort to ensure that the Pfam site will
  work well with most browsers, older versions in particular will
  not always render pages correctly. If you are having problems
  with the site, please consider upgrading to a recent version of
  your chosen browser.
</p>

<a href="#" onclick="window.close()" class="closer">Close window</a>

[% END; # of BLOCK

PROCESS components/tools/toolWindow.tt %]