
[%
# av.tt
# jt6 20060802 WTSI
# 
# build a page for the AstexViewer applet
#
# $Id: av.tt,v 1.6 2007-07-23 14:51:25 jt6 Exp $

META naked = 1;

pageContent = BLOCK;

title = "AstexViewer"
# we apparently need to set explicitly the name of the window, otherwise it takes the 
# name of the parent, so targetted links back to the parent wont work
-%]
<script type="text/javascript">
  // <![CDATA[
  window.name = "avWin";
  // ]]>
</script>

<h1>PDB entry [% pdb.pdb_id %]</h1>

<applet width="500"
        height="500"
        name="av"
        code="MoleculeViewerApplet"
        archive="[% base %]static/av/AstexViewer2.jar">
  <param name="script" value="
background '0xE7E7E7';
molecule load mol '[% base %]structure/getpdbfile/[% pdbId %].pdb';
display lines off all;
color '0xDDDDDD' aminoacid;
[%- FOREACH m IN mapping;
  IF m.hex_colour %]
    color '0x[% m.hex_colour ? m.hex_colour : "red" %]' residue [% m.pdb_start_res %] to [% m.pdb_end_res %][% IF m.chain %] and chain [% m.chain ; END %];
  [%- END;
END -%]
secstruc molecule mol;
schematic -name cartoonObj
          -quality 3
          molecule mol;
cylinder_radius 10 aminoacid;
[%- FOREACH markup IN markups;
  IF markup.auto_markup == 1 -%]
    color '255,51,102' residue [% markup.pdb_seq_number %][% IF markup.chain %] and chain [% markup.chain ; END %];
  [%- ELSIF markup.auto_markup == 2 -%]
    color '153,0,204' residue [% markup.pdb_seq_number %][% IF markup.chain %] and chain [% markup.chain ; END %];
  [%- ELSE -%]
    select residue [% markup.pdb_seq_number %][% IF markup.chain %] and chain [% markup.chain ; END %];
    color_by_atom;
  [%- END -%]
  display sticks on residue [% markup.pdb_seq_number %][% IF markup.chain %] and chain [% markup.chain ; END %];
[%- END -%]
select none;
/*
surface -solid true surfObj '0xE7E7E7' aminoacid;
object surfObj transparency 128;
texture close simple;
object surfObj texture close;
object surfObj -map { current }; 
*/
" />
</applet>

<table class="details" summary="Mappings from PDB to UniProt to Pfam">
  <thead>
    <tr class="caption">
      <th colspan="3">PDB</th>
      <th colspan="3">UniProt</th>
      <th rowspan="2">Pfam family</th>
      <th rowspan="2">Colour</th>
    </tr>
    <tr class="caption">
      <th>Chain</th>
      <th>Start</th>
      <th>End</th>
      <th>ID</th>
      <th>Start</th>
      <th>End</th>
    </tr>
  </thead>
  <tbody>
    [% oe = 0;
    FOREACH m IN mapping %]
    <tr class="[% IF oe % 2 %]odd[% ELSE %]even[% END %][% oe = oe + 1 %]">
      <td>[% IF m.chain; m.chain; ELSE %]<span class="inactive">n/a</span>[% END %]</td>
      <td>[% m.pdb_start_res %]</td>
      <td>[% m.pdb_end_res %]</td>
      <td><a href="[% c.uri_for( "/protein", id=m.pfamseq_id ) %]" target="pfamParentWin">[% m.pfamseq_id %]</a></td>
      <td>[% m.pfam_start_res %]</td>
      <td>[% m.pfam_end_res %]</td>
      <td><a href="[% c.uri_for( "/family", id=m.pfamA_id ) %]">[% m.pfamA_id %]</a> (<a href="[% c.uri_for( "/family", acc=m.pfamA_acc ) %]" target="pfamParentWin">[% m.pfamA_acc %]</a>)</td>
      <td style="background: #[% m.hex_colour %]">&nbsp;</td>
    </tr>
    [% END %]
  </tbody>
</table>

<div>
  <a href="#" onclick="window.close()" class="closer">Close window</a>
</div>

[% END # of "pageContent = BLOCK" %]

[% PROCESS components/tools/toolWindow.tt %]