
[%
# seqView.tt
# jt6 20061101 WTSI
# 
# build a page for viewing the sequences selected from a species tree
#
# $Id: seqViewGraphic.tt,v 1.2 2007-08-16 09:08:26 rdf Exp $

# tell the wrapper not to add any header or footer. We'll generate a complete 
# page here ourselves
META naked = 1;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";
requirements.js.push( "scriptaculous/scriptaculous.js?load=effects" );
requirements.js.push( "family.js" );

#-------------------------------------------------------------------------------

pageContent = BLOCK;

CALL c.log.debug( "in seqView.tt" );

title = "View selected sequences"
-%]

<p>You selected the following sequences: [% subTreeSeq %]</p>

<div>

		<p>Style requsted:[% subTreeStyle %]</p>
		
      [%- FOREACH image IN images.each_image;
        CALL image.print_image;
        id = image.image_name -%]

        <img class="graphicImage"
             src="[% constants.tmp %]/[% image.file_location %]"
             usemap="#domainGraphicsMap[% loop.index %]"
             alt="" />
        <div class="cleaner"><!-- empty --></div>

        <map name="domainGraphicsMap[% loop.index %]"
             id="domainGraphicsMap[% loop.index %]">
          [% image.image_map %]
        </map>
      [% END %]
      </div>
     
<div id="stdgph">
  <p class="loading">
  Loading domain graphics...
  </p>
</div>

<script type="text/javascript">
  // <![CDATA[
    new Ajax.Request( "[% base %]domaingraphics",
                      { method:     'get', 
                        parameters: { acc:     "[% subTreeAcc %]",
                        							seq:     "[% subTreeSeq %]",
                        							subTree: "1"},
                        onSuccess:  stdgSuccess,
                        onFailure:  stdgFailure
                      } );
  // ]]>
  
</script>

<a href="#" onclick="window.close()" class="closer">Close window</a>

[% END # of "pageContent = BLOCK" %]

[% PROCESS components/tools/toolWindow.tt %]
