[%
# taxSearchResults.tt
# jt6 20071004 WTSI
# 
# a page fragment showing taxonomy search results
#
# $Id: taxSearchResults.tt,v 1.2 2007-11-05 13:38:18 jt6 Exp $

META naked = 1;

searchUri = c.uri_for( "/search", { tab = "searchTaxBlock" } );

# first, check for error messages
IF taxSearchError %]

  <div class="error">
    <h2>Error</h2>
    [% taxSearchError %]
  </div>
  
  <p>
    Please return to the 
    <a href="[% searchUri %]">
      taxonomy search</a> page to try another query.
  </p>

[% ELSE;

  IF families.keys.size > 0 -%]

    <p>
      We found <strong>[% families.keys.size %]</strong> families matching your
      criteria:
    </p>
    
    [% PROCESS pages/search/taxonomy/resultsTable.tt;

  ELSE; # there are no families with this query... %]
    <p>
      We did not find any families using this query. Please return to the 
      <a href="[% searchUri %]">search form</a> to try
      another.
    </p>
  [% END; # of "IF families.keys.size"

END; # of "IF taxSearchError" %]
