[%
# keyword.tt
# jt6 20061108 WTSI
# 
# build the keyword search block
#
# $Id: keyword.tt,v 1.3 2009-10-08 16:01:49 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "search.css" );
requirements.css.push( "forms.css" );
requirements.cssIeAll.push( "forms_all_ie.css" );

#-------------------------------------------------------------------------------
%]

<!-- start keyword search block -->

<div class="block" id="searchKeywordBlock">
  <div class="handle">
    <h1>Keyword search</h1>
  </div>
  <div class="blockContent">

    <p>
      Search for keywords within the textual data in the Rfam database.
      <span class="moreLink" onclick="reveal(this,'kwNotes',false, true)">More...</span>
    </p>

    <div id="kwNotes" style="display: none">
      <p>
        The search currently covers the following sections of the database:
      </p>
      <ul>
        <li>text fields within rfam entries, such as description and comments</li>
        <li>Wikipedia annotations</li>
      </ul>
      <p>
        You can perform the same search from anywhere within the Rfam site, using
        the keyword search box at the top right-hand side of every page.
      </p>
      <hr />
    </div>

    <div class="formWrapper">

      <form id="keywordSearchForm"
            action="[% c.uri_for( "/search/keyword" ) %]">
        <div>
    	    <input type="hidden" name="queryType" value="unp" />
        </div>

  	    <div class="row">
          <label for="query">Keyword(s)</label>
  	      <input class="entryField entryField"
                 type="text"
                 size="30"
                 maxlength="100"
                 name="query"
                 id="query" />
        </div>
  
  	    <div class="row">
          <label class="blankLabel">Submit</label>
  	      <input class="submit"  type="submit" name="submit" value="Submit" />
  	      <input class="reset"   type="reset"  name="reset"  value="Reset" />
  	      <input class="example" type="button" value="Example" onclick="$('query').value=exKw" />
        </div>

      </form>

    </div>
  </div>

  <script type="text/javascript">
    // <![CDATA[
    var exKw = "tRNA";
    // ]]>
  </script>

</div>

<!-- end keyword search block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
