
[%
# batch.tt
# jt6 20070419 WTSI
# 
# build the batch search block
#
# $Id: batch.tt,v 1.15 2009-12-16 14:55:39 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

# using styles from the help pages, plus the common styles for forms
requirements.css.push( "help.css" );
requirements.css.push( "forms.css" );
requirements.cssIeAll.push( "forms_all_ie.css" );

#-------------------------------------------------------------------------------

%]

<!-- start batch search block -->

<div class="block" id="searchBatchBlock">
  <div class="handle">
    <h1>Batch sequence search</h1>
  </div>
  <div class="blockContent">

    <p>
      Upload a FASTA-format file containing multiple protein sequences to be 
      searched for matching Pfam families. Results of the search will be 
      returned to you at the email address that you specify. Please check the 
      <span onclick="reveal($('batchNotesSwitch'),'batchNotes',false, true)" 
            class="link">notes</span>
      below for the restrictions on uploaded sequence files.
      <span id="batchNotesSwitch"
            class="moreLink" 
            onclick="reveal(this,'batchNotes',false, true);">More...</span>
    </p>

    <div id="batchNotes" style="display: none">

      <h2>File contents</h2>
      
      <p>
        We accept only <strong>protein sequences</strong> and your uploaded file
        must conform to a fairly strict interpretation of the 
        <a class="ext" href="http://www.ncbi.nlm.nih.gov/blast/fasta.shtml">
          FASTA file format</a>. 
        We apply the following checks to the format of uploaded sequence files. 
        Files that do not conform to the following rules will be rejected by
        the server
      </p>

      <h3>File contents</h3>
      
      <p>
        Files must contain only header lines and sequence lines. Header lines, 
        which begin with &quot;&gt;&quot;, can be used to describe the sequence 
        that follows. There is no fixed format for header lines but we restrict 
        the characters that are allowed. If your header lines contain any of the 
        following characters, your file will be rejected:
      </p>
      <strong><code>; \ ! *</code></strong>
      <p>
        Note that we explicitly include the semi-colon (;) in the list of 
        forbidden characters, although this may be used to denote comments in 
        some versions of the FASTA-format. Please do not use comments in the 
        FASTA files that you upload here.
      </p>

      <h3>Header rows</h3>

      <p>
        The FASTA-format specification recommends that header lines are kept 
        shorter than <strong>80</strong> characters. Batch searches are run
        using our <code>pfam_scan.pl</code> script, which uses programs from
        the HMMER suite. Because of the way that HMMER handles header lines in
        FASTA files, only the first 60 characters are actually used. Please 
        make sure that your header lines are 60 characters or less in length.
      </p>
      <p>
        Header rows must not have any whitespace between the &quot;&gt;&quot;
        and the remainder of the header row. Header rows must also have content;
        files with blank header lines will not be accepted.
      </p>
      <p>
        In order to avoid generating strange or ambiguous search results, we 
        require that header lines in your file are unique, at least within the
        first 60 characters. Uploaded files which contain duplicate header lines
        will be rejected.
      </p>

      <h3>Sequence symbols</h3>

      <p>
        Your sequence should be a <strong>valid protein sequence</strong>. As 
        such, the sequence line should contain only amino-acid symbols, i.e. 
        capital letters excluding &quot;J&quot;. In the context of a Pfam 
        search gaps and translation stops have little meaning and should not 
        normally be used, but we do accept &quot;-&quot; or &quot;*&quot; to 
        denote gaps and translation stops respectively. Nucleotide sequences
        are not considered valid and will be rejected.
      </p>

      <h2>Service limits</h2>
      
      <p>
        Searches run on a &quot;compute farm&quot; with a limited number of 
        &quot;slots&quot;. Each search takes one slot and once all slots are
        in use, new jobs wait in a queue for the next slot to become free. In 
        order to prevent large jobs occupying slots for very long periods, 
        which can impact the availability of the system for other users, we 
        place a number of restrictions on the size of job that we will accept. 
      </p>

      <h3>File size</h3>
        
      <p>
        Files must have fewer than<strong> 500,000</strong> lines and fewer than 
        <strong>5000</strong> sequences.  
      </p>

      <h3>Sequence length</h3>
      
      <p>
        Each sequence must be between <strong>6</strong> and <strong>20000</strong>
        amino-acids in length.
      </p>
      
      <h3>Sequence variation</h3>
      
      <p>
        We use heuristics to check that a sequence has a reasonable level of 
        variation, in order to prevent large strings of identical sequence or
        a large number of duplicate residues being searched. If you find that 
        you cannot submit a valid sequence because of this restriction, please 
        let us know.
      </p>

      <h2>E-value limit</h2>
      
      <p>
        If you specify an E-value cut-off for your search, that E-value must
        be a positive number.
      </p>  

      <hr />
    </div>

    <div class="formWrapper">

      [% IF batchSearchError %]
      <div class="error">
        <h2>Error</h2>
        [% batchSearchError %]
      </div>
      [% END %]

      <form method="post" 
            id="proteinBatchSearchForm"
            action="[% c.uri_for( "/search/batch" ) %]"
            enctype="multipart/form-data">
    
        <div class="row">
          <label for="batchSeq">Sequences file</label>
          <input type="file" 
                 accept="text/plain"
                 size="20"
                 name="batchSeq"
                 id="batchSeq" />
        </div>
  
        <div class="row">
          <span class="label">Cut-off</span>
          <label for="batchGaButton" class="subLabel">
            <input class="radio"
                   type="radio" 
                   name="ga" 
                   id="batchGaButton" 
                   value="1" 
                   onclick="$('batchEvalue').disable()" />
            Gathering threshold
          </label>
        </div>

        <div class="row">
          <span class="label blankLabel">Cut-off</span>
          <label for="batchEButton" class="subLabel">
            <input class="radio"
                   type="radio" 
                   name="ga" 
                   id="batchEButton" 
                   value="0"
                   checked="checked" 
                   onclick="$('batchEvalue').enable()" />
            Use E-value
          </label>
        </div>
        
        <div class="row">
          <label for="batchEvalue">E-value</label>
          <input type="text" 
                 size="10" 
                 maxlength="10" 
                 value="1.0" 
                 name="evalue" 
                 id="batchEvalue" />
        </div>
  
        <div class="row">
          <label for="searchBs">Search for PfamBs</label>
          <input class="radio"
                 type="checkbox" 
                 name="searchBs" 
                 id="batchSearchBs" 
                 value="1" />
        </div>

        <div class="row">
          <label for="pEmail">Email address</label>
          <input type="text" size="20" maxlength="100" name="email" id="pEmail" />
        </div>
  
        <div class="row">
          <label class="blankLabel">Submit</label>
          <input class="submit"  type="submit" name="submit" value="Submit" />
          <input class="reset"   type="reset"  name="reset"  value="Reset" />
        </div>

      </form>
      
    </div>
  </div>
</div>

<!-- end batch search block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
