[%
# domain.tt
# jt6 20061108 WTSI
# 
# build the domain search block
#
# $Id: domain.tt,v 1.11 2009-10-27 14:16:53 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

# tooltip library and Pfam-style tip definition
requirements.js.push( "prototip.js" );
requirements.css.push( "prototip.css" );
requirements.js.push( "tip_definition.js" );

# this needs to be loaded before we try to load the canvas text library,
# but if we include it specifically for IE, it gets added below everything
# else. We can add it here safely, however, because excanvas checks to see
# if canvas is implemented before trying to inject itself
requirements.js.push( "excanvas.js" );

# need to load the canvas.text.js file before trying to load the font file, 
# otherwise it bails with an error about "face.glyphs is undefined"
requirements.js.push( "canvas.text.js?reimplement=true&amp;dontUseMoz=true" ); #reimplement=true&amp;
requirements.js.push( "faces/optimer-bold-normal.js" );

requirements.js.push( "domain_graphics.js" );
requirements.js.push( "domain_graphics_loader.js" );

#-------------------------------------------------------------------------------

# the pages to be offered
pages = [ "new", "top twenty", "numbers",
          "a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m",
          "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z" ];

# generate the list of browse pages, for inclusion at the top and bottom of
# the page

# generate the page list
pageList = PROCESS "components/pageList.tt",
                   lcChar=lcChar;
                             
-%]

<!-- start domain search block -->

<div class="block" id="searchDomainBlock">
  <div class="handle">
    <h1>Domain search</h1>
  </div>
  <div class="blockContent">

    <p>
      Search for sequence architectures with the specified composition.
      <span class="moreLink" onclick="reveal(this,'dsNotes',false, true)">More...</span>
    </p>

    <div id="dsNotes" style="display: none">
      <p>
        You can specify one or more domains that <strong>must</strong> appear 
        in an architecture and one or more domains that must 
        <strong>not</strong> appear in the result architectures:
      </p>
      <ol>
        <li>choose a group of families or the first letter of the family ID
          from the list below</li>
        <li>in the left-most list, select the ID of a domain</li>
        <li>choose <em>Includes</em> or <em>Does NOT include</em> to add the
          selected domain to the appropriate list</li>
        <li>continue until the <em>Includes</em> and <em>Does NOT include</em>
          lists show all of the domains that you need</li>
        <li>press <em>Submit query</em> to search for architectures matching
          your specification</li>
      </ol>
      <p>
        Note that the query itself can take some time to run, depending on how
        many domains you add to each constraint. If the search returns a lot of
        results, you may also find that your browser hangs momentarily, while 
        the domain graphics are rendered in the page.
      </p>
    </div>

    <div id="pageListWrapper">
      [% pageList -%]
    </div>

    <form id="domainSearchForm" 
          onsubmit="submitter();return false" 
          action="[% c.uri_for( "/search/domain" ) %]">

      <div id="idList" class="domainList">

        <h3>Pfam domains</h3>
  
        <p class="domainQueryInstruction">
          Select a Pfam domain from this list and choose &quot;Includes&quot; or
          &quot;Does NOT include&quot; to add it to the query.<br />
          <span id="nlUpdateSpinner" 
                style="display: none"
                class="loading">Loading IDs...</span>
        </p>
  
        <div class="cleaner"><!-- empty --></div>
  
        <div id="idSelectionWrapper">
          <select id="idSelection" size="15">
            <option id="idBlank"></option>
          </select>
        </div>
  
        <span class="buttons">
          <input id="haveButton" type="button" onclick="addId('have')" value="Includes"/>
          <input id="notButton"  type="button" onclick="addId('not')"  value="Does NOT include" />
        </span>
  
      </div>

      <div id="haveList" class="domainList">

        <h3>Architecture must include...</h3>
  
        <p class="domainQueryInstruction">
          These are the families that must appear in the architecture.
          Remove unwanted domains by selecting them and pressing &quot;Remove&quot;.
        </p>
    
        <div class="cleaner"><!-- empty --></div>
    
        <select id="have" size="15">
          <option id="haveBlank"></option>
        </select>
    
        <span class="buttons">
          <input type="button" onclick="removeId('have')" value="Remove" />
        </span>
    
      </div>

      <div id="notList" class="domainList">

        <h3>Architecture must <em>not</em> include...</h3>
  
        <p class="domainQueryInstruction">
          These are the families that must <em>not</em> appear in the architecture.
          Remove unwanted domains by selecting them and pressing &quot;Remove&quot;.
        </p>
  
        <div class="cleaner"><!-- empty --></div>
  
        <select id="not" size="15">
          <option id="notBlank"></option>
        </select>
  
        <span class="buttons">
          <input type="button" onclick="removeId('not')" value="Remove"/>
        </span>
  
      </div>
  
      <div id="domainSearchButtons">
        <input type="submit" value="Submit query" id="domainSearchSubmit" />
        <input type="button" value="Reset" id="resetDomainQuery" />
        <span id="searchUpdateSpinner"
              style="display: none"
              class="loading">Finding matching architectures&hellip;</span>
      </div>

    </form>

    <p id="resultsHeader"
       style="display: none">
      The following architectures match your query architecture:
    </p>

    <div id="textResults"><!-- empty --></div>
        
  </div>

  <script type="text/javascript">
    // <![CDATA[
    function submitter() {
      dsStarted();
      var r = new Ajax.Updater( 
        "textResults",
        "[% c.uri_for( '/search/domain' ) %]", 
        {
          evalScripts: true,
          parameters: $("domainSearchForm").serialize(true),
          onComplete: function() {
            dsCompleted(); 
          }
        }
      );
    }

    // the select fields have children just to make the HTML validate, but we
    // really want them empty, so do that now
    $( "idSelection", "have", "not" ).each(
      function(s) {
        $A( s.childNodes ).each(
          function(c) {
            s.remove(c);          
          }
        );      
      }
    );

    var letters = $("pageListWrapper").select("span.letter");
    var browseUri = "[% c.uri_for( "/family/browse" ) %]";
    
    letters.each( function(letter) {
      letter.observe( "click", function(e) {
        
        var r = new Ajax.Updater(
          "idSelectionWrapper",
          browseUri,
          {
            parameters: { list: 1,
                          browse: letter.innerHTML.toLowerCase().strip() },
            onCreate: function() {
              $("nlUpdateSpinner").show();
              $("domainSearchForm").disable();
            },
            onComplete: function () {
              $("nlUpdateSpinner").hide();
              $( "domainSearchForm" ).enable();
            }
          }
        );
      } );
    } );

    $("resetDomainQuery").observe( "click", function() {
      $w( "idSelection have not" ).each( function(list) {
        $(list).descendants().invoke("remove");
      } );
    } );

    // ]]>
  </script>

</div>

<!-- end domain search block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
