
[%
# align.tt
# jt6 20061018 WTSI
# 
# build the align block for PfamBs
#
# $Id: align.tt,v 1.4 2007-05-30 08:09:20 jt6 Exp $
%]

<!-- start align block -->

<div class="block" id="pfambAlignBlock">
  <div class="handle">
    <h1>Alignments</h1>
  </div>
  <div class="blockContent">

    <h3>View options</h3>

    <form id="viewerForm"
	      action="[% base %]family/downloadalignment"
	      method="get">
      <div>
        <input type="hidden" name="acc" value="[% pfam.pfamB_acc %]" />

    	  <table class="details alignOpts" summary="Alignment display options">
    	    <tbody>
            <tr class="odd">
              <td class="label">Viewer:</td>
              <td>
                <span class="button">
                  <select name="viewer" id="viewer">
                    <option value="jalview" selected="selected">jalview</option>
                    <option value="html">HTML</option>
                    <option value="viewer">Pfam viewer</option>
                  </select>
                </span>
      	      </td>
            </tr>
          </tbody>
        </table>

        <input type="button" value="View" onclick="launch()" />
      </div>
    </form>

  	<script type="text/javascript">
      // <![CDATA[
      function launch() {
        if( $F("viewer") == "jalview" ) {
       	url = "[% base %]family/jalview?" + Form.serialize("viewerForm");
          //console.debug( "visiting: |" + url + "|" );
          popUp( url, 'console', 800, 800, 'jalviewWin');
      
        } else if( $F("viewer") == "viewer" ) {
      	url = "[% base %]family/alignmentviewer?" + Form.serialize("viewerForm");
          //console.debug( "visiting: |" + url + "|" );
          popUp( url, 'console', 800, 800, 'viewerWin');
      
        } else {
        	url = "[% constants.alignURLRoot %]/pfamB/[% pfam.pfamB_acc %].shtml";
        	window.open( url );
        }
      
        return false;
      }
      // ]]>
    </script>

    <h3>Download options</h3>

    <form id="optionsForm"
          action="[% c.uri_for( "/family/formatalignment" ) %]"
          method="get">
      <div>
        <input type="hidden" name="acc" value="[% pfam.pfamB_acc %]" />

        <table class="details alignOpts" summary="Alignment display options">
          <tbody>
            <tr class="odd">
              <td class="label">Format:</td>
              <td>
                <span class="button">
                  <select name="format" id="format">
                    <option value="pfam" selected="selected">Selex</option>
                    <option value="stockholm">Stockholm</option>
                    <option value="fasta">FASTA</option>
                    <option value="msf">MSF</option>
                  </select>
                </span>
      	      </td>
            </tr>
            <tr class="even">
              <td class="label">Gaps:</td>
              <td>
                <span class="button">
                  <select name="gaps" id="gaps">
                    <option value="default" selected="selected">Gaps as "." or "-" (mixed)</option>
                    <option value="dots">Gaps as "." (dots)</option>
                    <option value="dashes">Gaps as "-" (dashes)</option>
                    <option value="none">No gaps (unaligned)</option>
                  </select>
                </span>
      	      </td>
            </tr>
            <tr class="odd">
              <td class="label">Download/view:</td>
              <td>
                <span class="button">
                  <input type="radio" name="download" id="downloadD" value="1" checked="checked" />
                  <label for="downloadD">Download</label>
                </span>
                <span class="button">
                  <input type="radio" name="download" id="downloadV" value="0" />
                  <label for="downloadV">View</label>
                </span>
      	      </td>
            </tr>
          </tbody>
        </table>    

        <input type="submit" value="Download" />
      </div>    
    </form>

  </div>

</div>

<!-- end align block -->
