[%
# header.tt
# jt6 200670326 WTSI
#
# the slimmed down, re-vamped, googlized page header...
#
# $Id: header.tt,v 1.2 2008-06-17 09:22:05 jt6 Exp $

# the names for the links in the page
navNames = { 
  home   = "HOME",
  search = "SEARCH",
  browse = "BROWSE",
  ftp    = "FTP",
  help   = "HELP" };

# the URIs for the links
navLinks = {
  home   = c.uri_for( "/" ),
  search = c.uri_for( "/search" ),
  browse = c.uri_for( "/browse" ),
  ftp    = "ftp://ftp.sanger.ac.uk/pub/databases/Rfam",
  help   = c.uri_for( "/help" ) };

# the order of the items in the navbar - these are the keys for the two
# hashes above
navItems = [ "home", "search", "browse", "ftp", "help" ];

# the base URL for static content
staticUri = c.uri_for( "/static" );
sharedUri = c.uri_for( "/shared" );
-%]

<!-- header starts here -->

<div id="header">

  <div id="navbar" class="column">
    <ul>
    [% FOREACH navItem IN navItems -%]
      <li>
        [% IF c.stash.nav == navItem -%]
          <a class="here" href="[% navLinks.$navItem %]">[% navNames.$navItem %]</a>
        [% ELSE -%]
          <a href="[% navLinks.$navItem %]">[% navNames.$navItem %]</a>
        [% END;
        IF ! loop.last %]&nbsp;|&nbsp;[% END -%]
       </li>
    [% END -%]
    </ul>
  </div>
  
  <div class="siteLogoHolder column">
    <a href="[% c.config.site_home %]">
      <img alt="[% c.config.site_name %]" 
           id="siteLogo" 
           src="[% sharedUri %]/images/blank.gif" /></a>
  </div>

  <div class="rfamLogoHolder column">
    <a href="[% c.uri_for( "/" ) %]">
      <img alt="rfam" 
           id="rfamLogo" 
           src="[% sharedUri %]/images/blank.gif" /></a>
    <form action="[% c.uri_for( "/search/keyword" ) %]" 
          method="get" 
          id="siteSearchForm">
      <div id="searchBox">
        <input class="entryField"
             type="text" 
             onfocus="if(!ssCleared){this.value='';ssCleared=true;}" 
             name="query" 
             id="siteSearchField" />
        <div onclick="if($F('siteSearchField')){if(ssCleared){$('siteSearchForm').submit();}}"
             class="glassButton goButton">&nbsp;</div>
      </div>
    </form>
  </div>

</div>

<div class="cleaner"><!-- empty --></div>

<script type="text/javascript">
  // <![CDATA[
  $("siteSearchField").value = "keyword search";
  var ssCleared = false;
  // ]]>
</script>

[%- # dump out the name of the host that served the file -%] 
[%- # <!-- {% c.config.server_name %} / {% c.config.server_pid %} --> -%]

<!-- header end -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
