[%
# mirrors.tt
# jt6 20090604 WTSI
# 
# build the list of Rfam mirrors
#
# $Id: mirrors.tt,v 1.4 2009-06-09 09:33:30 jt6 Exp $

META naked = 1;
%]

<ul class="mirrors">
  <li class="uk mirror"><a href="http://rfam.sanger.ac.uk/" class="ext flag">WTSI, UK</a></li>
  <li class="us mirror"><a href="http://rfam.janelia.org/" class="ext flag">JFRC, USA</a></li>
</ul>
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
