[%
# 404.tt
# jt6 20060918 WTSI
#
# the main site 404 page
#
# $Id: 404.tt,v 1.2 2007-06-01 15:01:54 jt6 Exp $

# tell the wrapper to add the full page footer
META fullPage = 1;

META title = "Page not found"
-%]

<!-- start 404 page -->

<div class="tips">

  <h1>404: Page not found</h1>

  <p>
    The link that you followed appears to be broken.
    [% IF where == "internal" %]
      Looks like it&apos;s our link too... We&apos;ve recorded this error
      and someone will look at it as soon as possible.
    [% END %]
    [% IF where == "external" %]
      It looks as though the link that you followed was on another site.
      You might want to let the adminstrator know that it&apos;s broken. 
    [% END %]
  </p>
  
  <h2>Where to go from here...</h2>
  
  <p>
    Here are a few suggestions as to how to find what you&apos;re looking for
    in the Pfam site:
  </p>
  <dl>
    <dt>
      go back
    </dt>
    <dd>
      you could return to the
      [%- IF c.req.referer AND c.req.referer != c.req.uri -%]
        <a href="[% c.req.referer %]">referring page</a>
      [%- ELSE -%]
        <a href="#" onclick="history.go(-1)">previous page</a> in your browser history
      [%- END -%]
      and see if you can find a link that works
    </dd>
    <dt>
      search Pfam
    </dt>
    <dd>
      you could try searching Pfam, using the 
      <a onclick="$('siteSearchField').focus();return false;" href="#">
        search box</a> in the top of the page
    </dd>
    <dt>
      check out the menus
    </dt>
    <dd>
      you could try navigating to the page that you want, using the menus
      at the top of the page
    </dd>
    <dt>
      browse Pfam
    </dt>
    <dd>
      you could try <a href="[% c.uri_for( "/family/browse", browse="new" ) %] ">browsing</a> the families in the Pfam database,
      or you could look around the Pfam site, starting at our
      <a href="[% c.uri_for( "/" ) %]">home page</a>
    </dd>  
  </dl>
 
  <hr />
  
</div>

<!-- end 404 page -->
