[%
# about.tt
# jt6 20091027 WTSI
#
# An about page...
#
# $Id: about.tt,v 1.1 2009-10-29 14:36:40 jt6 Exp $

META fullPage = 1;
-%]

<div id="about">

  <h1>About Pfam</h1>

  <p>
    Pfam version [% relData.pfam_release %] was produced at the
    <a class="ext"
      href="https://www.ebi.ac.uk/">European Bioinformatics Institute</a>
    using a sequence database called <em>Pfamseq</em>, which is based on
    <a class="ext" href="http://www.uniprot.org/">UniProt</a> release
    [% relData.swiss_prot_version %].
  </p>
  <p>
    Pfam is freely available under the
    <a class="ext" href="https://creativecommons.org/publicdomain/zero/1.0/">
      Creative Commons Zero</a> (&quot;CC0&quot;) licence.
  </p>
  <p>
    Pfam is powered by the <a class="ext" href="http://hmmer.org/">HMMER3</a>
    package written by
    <a class="ext" href="http://eddylab.org/">
      Sean Eddy and his group</a> at
    <a class="ext" href="https://www.hhmi.org/">
      HHMI</a>/
    <a class="ext" href="https://www.mcb.harvard.edu/mcb/home/">
      Harvard University</a>, and built by the
    <a class="ext" href="http://xfam.org/">Xfam consortium</a>.
  </p>
  <div class="logos">
      <a href="https://www.ebi.ac.uk/">
        <img src="[% c.secure_uri_for('/static/images/site_logos/embl_ebi_logo.jpg') %]" alt="EMBL-EBI">
      </a>
      <a href="https://www.mcb.harvard.edu/mcb/home/">
        <img src="[% c.secure_uri_for('/static/images/site_logos/harvard_logo.png') %]" alt="Harvard University">
      </a>
      <a href="https://www.sbc.su.se/">
        <img src="[% c.secure_uri_for('/static/images/site_logos/sbc_logo.png') %]" alt="SBC">
      </a>
  </div>
  <ul class="funding">Pfam is supported by the following organisations:
    <li>
      <div>
        <a href="http://www.embl.org/">
          <img
            src="[% c.secure_uri_for('/static/images/site_logos/embl_logo.png') %]"
            alt="EMBL-EBI"
          >
        </a>
      </div>
      <div>
        EMBL is EMBL-EBI's parent organisation. It provides core funding
        (staff, space, equipment) for Pfam.
      </div>
    </li>
    <li>
      <div>
        <a href="http://www.wellcome.ac.uk/">
          <img
            src="[% c.secure_uri_for('/static/images/site_logos/wt_logo.jpg') %]"
            alt="Wellcome Trust"
          >
        </a>
      </div>
      <div>
        The Wellcome Trust has supported Pfam since the database inception,
        via core funding when based at the Wellcome Trust Sanger Institute.
        As well as providing and maintaining the campus on which the EMBL-EBI
        is located, the Wellcome Trust also now provides significant funding
        for Pfam (grant 108433/Z/15/Z). The current grant runs from October
        2015 to September 2020.
      </div>
    </li>
    <li>
      <div>
        <a href="http://www.bbsrc.ac.uk/">
          <img
            src="[% c.secure_uri_for('/static/images/site_logos/bbsrc_logo.jpg') %]"
            alt="BBSRC"
          >
        </a>
      </div>
      <div>
        BBSRC currently supports Pfam activities via the grants
        (BB/L024136/1 and BB/N00521X/1).
      </div>
    </li>
    <li>
      <div>
        <a href="https://www.hhmi.org/">
          <img
            src="[% c.secure_uri_for('/static/images/site_logos/hhmi_logo.jpg') %]"
            alt="HHMI"
          >
        </a>
      </div>
      <div>
        The Howard Hughes Medical Institute supports the Eddy group.
      </div>
    </li>
  </ul>
  <p>
    Many organisations have supported Pfam activities in the past.
  </p>
  <p>
    For more information, please contact the Pfam helpdesk.
  </p>
</div>

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
