[%
# about.tt
# jt6 20091027 WTSI
#
# An about page...
#
# $Id: about.tt,v 1.1 2009-10-29 14:36:40 jt6 Exp $

META fullPage = 1;
-%]

<div id="about">

  <h1>About Pfam</h1>
  
  <p>
    Pfam version [% relData.pfam_release %] was produced at the 
    <a class="ext"
      href="http://www.ebi.ac.uk/">European Bioinformatics Institute</a> 
    using a sequence database called <em>Pfamseq</em>, which is based on
    <a class="ext" href="http://www.uniprot.org/">UniProt</a> release 
    [% relData.swiss_prot_version %].
  </p>
  <p>
    Pfam is freely available under the
    <a class="ext" href="http://creativecommons.org/publicdomain/zero/1.0/">
      Creative Commons Zero</a> (&quot;CC0&quot;) licence. 
  </p>
  <p> 
    Pfam is powered by the <a class="ext" href="http://hmmer.org/">HMMER3</a>
    package written by 
    <a class="ext" href="http://selab.janelia.org/people/eddys/blog">
      Sean Eddy and his group</a> at the 
    <a class="ext" href="http://www.hhmi.org/janelia/labs.html">
      Howard Hughes Janelia Research Campus</a>, and built by the 
    <a class="ext" href="http://xfam.org/">Xfam consortium</a>.
  </p>
  <table id="logos">
    <tbody>
      <tr>
        <td>
          <a href="http://www.ebi.ac.uk/">
            <img src="[% c.uri_for('/static/images/site_logos/embl_ebi_logo.png') %]" alt="EMBL-EBI"></img></a>
        </td>
        <td>
          <a href="http://janelia.hhmi.org/">
            <img src="[% c.uri_for('/static/images/site_logos/janelia_logo.png') %]" alt="JFRC"></img></a>
        </td>
        <td>
          <a href="http://www.sanger.ac.uk/">
            <img src="[% c.uri_for('/static/images/site_logos/sanger_logo.png') %]" alt="WTSI"></img></a>
        </td>
        <td>
          <a href="https://www.sbc.su.se/">
            <img src="[% c.uri_for('/static/images/site_logos/sbc_logo.png') %]" alt="SBC"></img></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
