
[%
# annotation.tt
# jt6 20061020 WTSI
# 
# An annotation upload form
#
# $Id: annotation.tt,v 1.4 2007-03-13 10:32:59 jt6 Exp $

META fullPage = 1;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "forms.css" );
requirements.cssIeAll.push( "forms_all_ie.css" );

#-------------------------------------------------------------------------------

IF success -%]

  <p>Your annotation was received successfully.</p>

[% ELSE %]

  <h2>Submit an annotation[% acc ? " for entry $acc" : "" %]</h2>

  <p>Please supply all of the fields marked with &quot;*&quot;.</p>

  <div id="annForm" class="formWrapper">
  [% IF error %]
    <p>[% error %]</p>
  [% END %]

    [% widget.as_xml %]
  </div>

  <script type="text/javascript">
    $("annotationForm_user").focus();
  </script>

[% END # of "if success" %]
