[%
# browseIds.tt
# jt6 20060717 WTSI
# 
# builds a form selection field with a list of family IDs.
#
# $Id: browseIds.tt,v 1.2 2007-07-06 09:59:52 jt6 Exp $

META naked = 1
%]
<select id="idSelection" size="15">
[%- FOREACH pfam IN browse %]
  <option value="[% pfam.pfamA_acc %]">[% pfam.pfamA_id %]</option>
[%- END %]
</select>
