
[%
# dead.tt
# jt6 20070830 WTSI
#
# build a page that redirects from a dead family to its replacement
#
# $Id: dead.tt,v 1.2 2007-12-10 14:52:18 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "family.css" );

#-------------------------------------------------------------------------------

META title    = "Dead family";
META fullPage = 1;

%]

<h1>Dead Pfam-A family</h1>

<p>
  The Pfam-A family that you are trying to view is now a dead family. That
  means that it has been removed from the Pfam database and is no longer
  available through the website.
[% IF pfam.comment %]
  The family was removed for the following reason: 
</p>
<div class="dead_comment">
  [% pfam.comment %]
</div>
[% ELSE %]
</p>
[% END;
IF pfam.forward_to %]
<p>
  However, <strong>[% pfam.pfamA_id %]</strong> ([% pfam.pfamA_acc %]) has been
  replaced by or merged into 
  <a href="[% refreshUri %]"><strong>[% pfam.forward_to %]</strong></a>.  
</p>
<p>
  In 5 seconds you will be redirected to the Pfam family page for 
  <a href="[% refreshUri %]">[% pfam.forward_to %]</a>, or you can click 
  <a href="[% refreshUri %]">here</a> to go there immediately.
</p>
[% ELSE %]
<p>
  In 5 seconds you will be redirected to the Pfam home page, or you can click 
  <a href="[% refreshUri %]">here</a> to go there immediately.
</p>
[% END %]

<hr />
