[%
# error.tt
# jt6 20060918 WTSI
#
# the main site error page
#
# $Id: error.tt,v 1.7 2007-11-05 13:38:19 jt6 Exp $

# tell the wrapper to add the full page footer
META fullPage = 1;
-%]

<!-- start error report -->

<div class="errorReport">

  <p>
    There was a problem loading the requested page.
  </p>
  [% IF c.debug AND errorMsg %]
    <ul>
    [% FOREACH error IN errorMsg %]  
      <li>
        [% error %]
      </li>
    [% END %]
    </ul>
  [% ELSE %]
  <p>
    This could be due to an error in the server, or because you followed a 
    broken link from within the Pfam site, or on an external site that links
    to us.
  </p>
  [% END %]

  <p>
    You might like to go <span class="link" onclick="history.go(-1)">back</span>
		to the previous page, <a href="[% c.uri_for( "/search" ) %]">search</a> for the entry 
    you&rsquo;re looking for. If you think that there is a problem with the
    server, please report it via the email address at the bottom of the page.
    Please be sure to include the URL for the page that you were trying to view.
  </p>

</div>

<!-- end error report -->
