
[%
# generateUniprotGraphic.tt
# jt6 20070417 WTSI
#
# builds the form for specifying a UniProt entry for which to show the graphics
# XML.
#
# $Id: generatedUniprotGraphic.tt,v 1.8 2009-01-09 12:59:24 jt6 Exp $

META title = "Pfam graphic for UniProt entry";
META fullPage = 1;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "graphicTools.css" );

#-------------------------------------------------------------------------------

%]

<h1>Domain graphics for [% pfamseq.pfamseq_acc %] ([% pfamseq.pfamseq_id %])</h1>

<p>
  This is the Pfam-style domain graphic for 
  <a href="http://www.uniprot.org/">UniProt</a> sequence entry 
  [% pfamseq.pfamseq_acc %]. Beneath the graphic is the XML that was used to 
  generate the image itself.    
</p>
 
<form method="post" 
      action="[% c.uri_for( "/renderUniprotGraphic" ) %]">
  <div id="form">
    <input type="hidden"
           name="formSubmit"
           value="yes" />
    <strong>Generate another: </strong>
  	<label for="seqId">UniProt accession or ID:</label>
  	<input type="text"
           name="entry"
           tabindex="1"
           size="10"
           id="seqId" />
  	<input type="submit" 
           tabindex="2" 
           name="upload" 
           value="Generate graphic" 
           class="button" />
    <input type="reset" 
           tabindex="3" 
           name="Reset" 
           value="Reset" 
           class="button" />
  </div>
</form>

<script type="text/javascript">
  // <![CDATA[
  $("seqId").focus();
  // ]]>
</script>

<div id="generatedGraphic" class="graphicItem">

  [% IF pfamseq.description %]
  <p>[% pfamseq.description %]</p>
  [% END;

  IF c.config.use_image_store;
    image_uri = c.uri_for( image.file_location );
  ELSE;
    image_uri = image.file_location;
  END; %]

  <img class="graphicImage" 
       src="[% image_uri %]" 
       alt="" 
       usemap="#singleImageMap" />
  <div class="cleaner"><!-- empty --></div>        

  <map id="singleImageMap">
    [% image.image_map %]
  </map>

</div>

<div id="generatedXml" class="graphicItem">

  <span class="link" onclick="reveal( this, 'xmlFragment', true )">Hide XML</span>

  <div id="xmlFragment">
    <pre>
[% xml | html %]
    </pre>
  </div>

</div>
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
