[%
# index.tt
# jt6 20060717 WTSI
# 
# build the main Pfam home page.
#
# $Id: index.tt,v 1.15 2007-02-14 16:02:45 jt6 Exp $

META title = "Home page";
META fullPage = 1;

# format the date nicely
USE date( format = "%b %Y" );
r = String.new( relData.pfam_release_date );

d = relData.pfam_release_date.match( '(\d+)\-(\d+)\-(\d+)' );

release_date = String.new( "00:00:00 " );
CALL release_date.append( d.2, ":", d.1, ":", d.0 );

%]

[%# a warning message for users who don't have javascript turned on. The 
  # message should be hidden immediately after it's displayed, but if 
  # javascript is not working, the prototype call will fail and the message
  # will stay visible %]
<div id="jsWarning">
  <strong>Please note:</strong> this site relies heavily on the use of javascript. 
  Without a javascript-enabled browser, this site will not function correctly. 
  Please enable javascript and reload the page, or switch to a different browser.
</div>
<script type="text/javascript">
  Element.hide("jsWarning");
</script>

<!-- start of index page -->
<div id="outerIndexWrapper">

  <div id="innerIndexWrapper">

    <!-- start of "indexContainer" -->
    <div id="indexContainer">
      <div id="indexContents">
            
        <!-- start of left sidebar -->
        <div id="leftSidebar">
                  
          [% PROCESS components/indexPage/versionData.tt %]
          
          <hr />      

          [% PROCESS components/indexPage/topTen.tt %]

        </div>
        <!-- end of left sidebar -->
                
        <!-- start of page contents -->
        <div id="indexBody">
          <div class="middleComponent">
            <h1>Protein Family database</h1>
            <p>
              Proteins are generally comprised of one or more functional regions, 
              commonly termed <em>domains</em>. Different combinations of domains give 
              rise to the diverse repertoire of proteins found in nature. Thus, 
              the identification of domains that occur within proteins can provide 
              insights to their function.
            </p>
            <p>
              The <em>Pfam</em> database is a large collection of 
              <em>P</em>rotein domain <em>fam</em>ilies. Each family is represented 
              by <em>multiple sequence alignments</em> and <em>hidden Markov 
              models</em> (HMMs).
            </p>
            <p>
              There are two components to Pfam, Pfam-A and Pfam-B. <em>Pfam-A</em> 
              entries are <em>high quality</em>, manually curated domain families. 
              Although these Pfam-A entries cover a large proportion of the sequences
              in the underlying sequence database, to give a more comprehensive 
              coverage of known proteins we generate a supplement automatically 
              using the <a href="http://prodom.prabi.fr/prodom/current/html/home.php">
                PRODOM</a> database. These entries automatically generated entries are 
              called <em>Pfam-B</em>. Although of lower quality, Pfam-B families can 
              be useful for identifying functionally conserved regions when no 
              Pfam-A entries are found.
            </p>
            <div id="indexIcons" class="box grad">
              <img src="[% c.uri_for( "/images/icon_gradient.gif" ) %]" alt="" />
              <p>The web interface to Pfam allows users to:</p>
              <ul>
                <li id="archIcon"><a href="[% c.uri_for( "help" ) %]">View the domain organisation of sequences</a></li>
                <li id="seqIcon"><a href="[% c.uri_for( "help" ) %]">View multiple sequence alignments</a></li>
                <li id="ipfamIcon"><a href="[% c.uri_for( "help" ) %]">List domain interactions</a></li>
                <li id="specIcon"><a href="[% c.uri_for( "help" ) %]">Examine the species distribution</a></li>
                <li id="structIcon"><a href="[% c.uri_for( "help" ) %]">View known 3D structures</a></li>
              </ul>
            </div>
            <p>
              More details on the interface and other methods of access can be found 
              in the <a href="[% c.uri_for( "/help" ) %]">help</a> section.
            </p>
          </div>

          <hr />

          <div id="indexCitation" class="middleComponent">
            <h1>Citing Pfam</h1>
            <p>
              If you find Pfam useful, please consider 
              <a href="[% c.uri_for( "/help", tab="helpReferencesBlock" ) %]">
                citing</a> the reference that describes this work:
            </p>
            <div class="citation">
              <span class="title">
                <a href="http://nar.oxfordjournals.org/cgi/content/full/34/suppl_1/D247">Pfam: 
                clans, web tools and services</a>: 
              </span>
              <span class="authors">
                Robert D. Finn, Jaina Mistry, Benjamin Schuster-B&#246;ckler, Sam 
                Griffiths-Jones, Volker Hollich,Timo Lassmann, Simon Moxon, Mhairi 
                Marshall, Ajay Khanna, Richard Durbin, Sean R. Eddy, Erik L. L. 
                Sonnhammer and Alex Bateman
              </span>
              <span class="ref">
                <span class="jrnl">Nucleic Acids Research</span>&nbsp;(2006)
                &nbsp;Database Issue 34:D247-D251
              </span>
            </div>
          </div>
          <!-- end of "indexCitation" -->

        </div>      
        <!-- end of page contents -->
                
      </div> <!-- end of "indexContents" -->
    </div>
    <!-- end of "indexContainer" -->

    <!-- start of right sidebar -->
    <div id="rightSidebar">
      
      [% PROCESS components/indexPage/newsItems.tt %]
        
      <hr />
    
      [% PROCESS components/jumpBox.tt addHeader=1, short=1 %]
    
      <hr />
      
      [% PROCESS components/indexPage/mirrors.tt %]
  
    </div>
    <!-- end of right sidebar -->

    <div class="cleaner">&nbsp;</div>

  </div> <!-- end of "innerIndexWrapper" -->

</div> <!-- end of "outerIndexWrapper" -->
