
[%#
# page.tt
# jt6 20060406 WTSI
# 
# build a tab-layout page
#
# $Id: layout.tt,v 1.4 2006-04-20 16:34:10 jt6 Exp $
%]

[% USE String %]
[% USE date %]

[%# generate a sidebar tab %]
[% BLOCK generateTab %]

  [% # see if the tab should be activated or not
  suffix = String.new;
  IF NOT active OR firstTab;
    IF NOT active;
      CALL suffix.append( "inactive" );
    END;
    IF firstTab;
      CALL suffix.append( " selected" );
    END;
    CALL suffix.trim();
  END
  %]

  <li id="[% blockName %]Selector"[% IF suffix %] class="[% suffix %]"[% END %]>
    [% IF active %]
      <a href="javascript:show('[% blockName %]')">[% blockTitle %]</a>
    [% ELSE %]
      <span class="inactive">[% blockTitle %]</span>
    [% END %]
  </li>

[% END %]

[%
firstTab    = 1;
tabsContent = String.new;
pageContent = String.new;

activity = {};

FOREACH block IN layouts.${pageType}.blocks;

  blockName = block.keys.first;
  blockFile = blocks.${blockName};
  blockTitle = block.values.first;

  # build the contents of the tab, if it's active
  pageOutput = PROCESS $blockFile;
  CALL pageContent.append( pageOutput );

  IF pageOutput;
    blockActive = 1;
  ELSE;
    blockActive = 0;
  END;
  activity.$blockName = blockActive;

  # build the tab label
  tabsOutput = PROCESS generateTab active = blockActive;
  CALL tabsContent.append( tabsOutput );

  firstTab = 0;

END;
%]

<div id="tabHeader"></div>

[% PROCESS components/blocks/icons.tt %]

<div id="tabTitle">
  <div id="corner">
    <h2>[% layouts.${pageType}.title %]: <em>[% pfam.pfamA_id %]</em>&nbsp;([% pfam.pfamA_acc %])</h2>
  <div class="cleaner"></div>
</div>


<div id="columnContainer">

  <div id="sidebar" class="column">
    <ul>
      [% tabsContent %]
    </ul>
  </div> <!-- end of "sidebar" -->

  <div id="contentContainer" class="column">

    <div id="content">
      [% pageContent %]
    </div> <!-- end of "content" -->

  </div> <!-- end of "contentContainer" -->

</div>