
[%#
# page.tt
# jt6 20060406 WTSI
# 
# build a tab-layout page
#
# $Id: layout.tt,v 1.1 2006-04-07 10:23:16 jt6 Exp $
%]

<div id="tabHeader"></div>

[% PROCESS components/blocks/icons.tt %]

<div id="tabTitle">
  <h1><em>[% pfam.pfamA_id %]</em> ([% pfam.pfamA_acc %])</h1>
</div>

<div id="sidebar">

  <div id="pageType">
    <h3>[% pageType %]</h3>
  </div>

  <ul>
  [% firstTab = 1 %]
  [% FOREACH block IN tabLayout.${style} %]
    [% blockName = block.keys.first %]
    [% blockTitle = block.values.first %]
    <li id="[% blockName %]Selector"[% IF firstTab %] class="selected"[% END %]>
      <a href="javascript:show('[% blockName %]')">[% blockTitle %]</a>
    </li>
    [% firstTab = "" %]
  [% END %]
  </ul>

  [%#
  <div id="newEntryForm">
    <form action="http://temple.dynamic.sanger.ac.uk:3000/summary">
      <input type="hidden" name="view" value="tabs"/>
  	<label for="idField">ID:</label>
      <input type="text" id="idField" name="id" size="10"/>
      <input type="submit" id="idSubmit" Value="Go"/>
    </form>
  </div>
  %]

</div>

<div id="content">
  [% FOREACH block IN tabLayout.${style} %]
    [% blockName = block.keys.first %]
    [% blockFile = blocks.${blockName} %]
    [% PROCESS $blockFile %]
  [% END %]
</div>

