
[%
# polling.tt
# jt6 20070410 WTSI
#
# $Id: polling.tt,v 1.2 2007-04-16 16:06:56 jt6 Exp $

META title    = "Checking for results of a sequence search";
META fullPage = 1;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "job.css" );
requirements.js.push( "job.js" );
requirements.js.push( "logger.js" );

#-------------------------------------------------------------------------------

%]

<h1>Polling page</h1>

<div id="pfamABar">
  <p>PfamA search status is <span id="pfamAStatus" class="jobStatus">unknown</span>.</p>
  <div id="pfamAError" class="error" style="display: none"></div>
</div>


<div id="logger" style="background: #e7e7e7; border: 1px solid #666">
  <h3>Status</h3>
  <div id="logScroller"></div>
</div>

<script type="text/javascript">
  
  var jobStatus;
  try {
    jobStatus = '[% jobStatus %]'.evalJSON( true );
  } catch( e ) {
    $("pfamAError")
      .update( "There was a problem retrieving job parameters from the server.")
      .show();
  }
  
  if( ! ( jobStatus === undefined ) ) {
    
    var jobConfig = {
      'name':      'Pfam A search',
      'elId':      'pfamABar',
      'statusMsg': 'pfamAStatus',
      'errorMsg':  'pfamAError',
      'checkURI':  '[% c.uri_for( "/seqsearch/checkStatus" ) %]',
      'doneURI':   '[% c.uri_for( "/seqsearch/jobDone" ) %]',
      'status':    jobStatus,
    };
    
    var p;
    try {
      p  = new Job( jobConfig );
    } catch( e ) {
    $("pfamAError")
      .update( "There was a problem submitting your job to the server.")
      .show();
    }
    
  }

</script>
