[%
# grid.tt
# jt6 20090205 WTSI
# 
# page wrapper for the grid tests
#
# $Id: prototype_grid.tt,v 1.1 2009-03-02 13:34:45 jt6 Exp $

META naked = 1;

-%]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html>

  <head>
    <title>Prototype Livegrid</title>

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load("prototype", "1.6.0.3");</script>

    <script type="text/javascript" src="/static/javascripts/livegrid.js"></script>

    <style type="text/css">
      #grid {
        overflow: hidden;
        white-space: nowrap;
        float: left;
        width: 600px;
        border: 1px solid #ababab;
        border-right: none;
        font-family: monospace;
      }
      #grid .seq_acc {
        float: left;
        width: 10em;
        position: fixed;
      }
      #grid .seq_seq {
        margin-left: 10em;
      }
      #grid .odd {
        background-color: #EEE;
      }
      #grid .even {
        background-color: #e0e0e0;
      }
      #grid .odd .seq_acc {
        background-color: #eeddee;
      }
      #grid .even .seq_acc {
        background-color: #e0d0e0;
      }
    </style>

  </head>

  <body onLoad="onBodyLoad()">

    <h1>Prototype Live Grid Example</h1>

    <p id="gridResultRange"></p>
    
    <div id="grid"></div>

    <p>
      <span class="loading" id="spinner">Loading alignment...</span>
    </p>

    <script type="text/javascript">
      // <![CDATA[

      var myGridUpdater;
      
      function onBodyLoad() {

        var opts = {
          prefetchBuffer: true,
          onscroll: updateTopicsGridHeader,
          onComplete: function() {
            console.log( "onComplete: hiding spinner" );
            $('spinner').hide();
          },
          onLoading: function() {
            console.log( "onLoading: showing spinner" );
            $('spinner').show();
          },
          onFirstContent: function() {
            console.log( "onFirstContent: updating row count" );
            updateTopicsGridHeader( 0 );
          }
        };

        myGridUpdater = new LiveGrid( 'grid', 
                                       20, 
                                       2000,
                                       "[% c.uri_for('/prototype_row_data') %]",
                                       opts );

      }
    
      // called on the onscroll event
      function updateTopicsGridHeader( offset ) {
        console.log( "updateTopicsGridHeader: offset: |" + offset + "|" );
        if ( myGridUpdater && myGridUpdater.metaData ) {
          var metaData = myGridUpdater.metaData;
          $('gridResultRange').innerHTML =
            'Rows %1 from %2'.replace( '%1', ( offset + 1 ) + ' - ' + ( offset + metaData.pageSize ) )
                             .replace( '%2', metaData.getTotalRows() );
        }
      }
      
      // ]]>
    </script>

  </body>
  
</html>
