<html>

  <head>
	[% PROCESS components/head.tt title = "Swiss Pfam page"
                                  style = "blocks"  %]
  </head>

  <body>
	[% PROCESS components/header.tt %]
	<h1>Swiss PFam</h1>
	
	<ul>
	[% FOREACH image IN images.each_image %]
		<li style="border: 1px solid red"><img src="/[% image.file_location %]"/></ul>
	[% END %]
	</ul>
[%#	
foreach my $image ($imageset->each_image){
              my @acc = split(/\./, $image->image_name);
              my $acc = $acc[0];
              next if($acc ne $id);
              my $link;
              eval("\$link = \"$swiss_link\";");
              print "<tr><td><a href=$link>$acc</font></a><span class=normaltext>".$image->image_info."</span><p class=gfxspace>";              print "<img src=$Bio::Pfam::Web::PfamWWWConfig::WWW_root/".$image->file_location." usemap=\#".$image->image_name." border=0><NOBR><span class=normaltext>[".$image->length/$image->scale_x." residues]</span>";
              print "<map name =".$image->image_name.">";
              print $image->image_map;
              print "</map><br><br></td></tr>";cc ne $id);
%]



	
	
	[% PROCESS components/footer.tt %]
	
  </body>
</html>
