
[%#
# view.tt
# jt6 20060316 WTSI
# 
# build the main Pfam family page. Still a test-bed.
#
# $Id: view.tt,v 1.4 2006-03-24 11:43:52 jt6 Exp $
%]

<html>

  <head>
	[% PROCESS components/head.tt title = "Pfam family $pfam.pfamA_id"
                                  style = "blocks" %]
  </head>

  <body>
	[% PROCESS components/header.tt %]

    [%# hidden form that will be used for submitting layout changes to 
        the server %]
	<form name="storeLayout" method="GET">
	  <input type="hidden" name="layout" id="layoutInput"/>
	</form>

<!--
	<h1>Pfam entry [% pfam.pfamA_id %]</h1>
    [% IF c.session.layout %]
	  [% pattern = c.session.layout %]
      <h3>Custom session</h3>
    [% END %]
-->

    <div id="content">

    <div id="left" class="column">
 	  [% FOREACH blockName IN layout.left %]
	<!-- 	    <div class="shadow"> -->
	    [% blockFile = blocks.${blockName} %]
		[% state = pattern ? pattern.${blockName} : 1 %]

        [% PROCESS $blockFile open = state %]
	<!--	    </div> -->
	  [% END %]
    </div> <!-- end of left column -->

    <div id="right" class="column">
	[% CALL c.log.debug( "right column" ) %]
	  [% FOREACH blockName IN layout.right %]
	<!--	    <div class="shadow"> -->
	    [% blockFile = blocks.${blockName} %]
		[% state = pattern ? pattern.${blockName} : 1 %]

        [% PROCESS $blockFile open = state %]
	<!--	    </div> -->
	  [% END %]
    </div>

    <div class="cleaner">&nbsp;</div>

	</div><!-- end of "content" div -->

	[% PROCESS components/footer.tt %]
	
  </body>
</html>
