
[%# define the lookup that will point to the actual files for the blocks
    and specify a default layout %]
[% blocks = {
	 buildBlock     = "components/blocks/build.tt"
	 clanBlock      = "components/blocks/clan.tt"
	 clanHeadBlock  = "components/blocks/clanHead.tt"
	 goBlock        = "components/blocks/go.tt"
	 interproBlock  = "components/blocks/interpro.tt"
	 loggerBlock    = "components/blocks/logger.tt"
	 pdbBlock       = "components/blocks/pdb.tt"
	 pfamBlock      = "components/blocks/pfam.tt"
	 pfamRefBlock   = "components/blocks/pfamRef.tt"
  }
  defaultLayout = {
    left = {
      "0" = { pfamBlock     = 1 }
      "1" = { pfamRefBlock  = 1 }
      "2" = { interproBlock = 1 }
      "3" = { loggerBlock   = 1 }
    }
    right = {
      "0" = { goBlock   = 1 }
      "1" = { clanBlock = 1 }
      "2" = { pdbBlock = 1 }
    }
  }
%]


<html>

  <head>
	[% PROCESS components/head.tt title = "Pfam family $pfam.pfamA_id"
                                  style = "blocks"  %]
  </head>

  <body>
	[% PROCESS components/header.tt %]

    [%# hidden form that will be used for submitting layout changes to 
        the server %]
	<form name="storeLayout" method="GET">
	  <input type="hidden" name="layout" id="layoutInput"/>
	</form>

	<h1>Pfam entry [% pfam.pfamA_id %]</h1>

<!--
	<form name="new" action="http://web-1-14.internal.sanger.ac.uk:3000/summary">
	    <label for="idEntryField">Id:</label>
		<input type="text" name="id" id="idEntryField" size="10" />
		<input type="submit" value="Go" />
	</form>

	<form name="new" action="http://web-1-14.internal.sanger.ac.uk:3000/summary">
	    <label for="accEntryField">Accession:</label>
		<input type="text" name="acc" id="accEntryField" size="10" />
		<input type="submit" value="Go" />
	</form>
-->

    <div id="content">

    [% IF c.session.layout %]
	  [% pattern = c.session.layout %]
      <h3>Custom layout</h3>
    [% ELSE %]
	  [% pattern = defaultLayout %]
      <h3>Default layout</h3>
    [% END %]

    <div id="left" class="column">

	  [% FOREACH block IN pattern.left %]
	  <div class="draggable">
	    [% blockFile = blocks.${block.value.keys.first} %]
        [% PROCESS $blockFile open = block.value.values.first %]
	  </div>
	  [% END %]

    </div> <!-- end of left column -->

    <div id="right" class="column">

	  [% FOREACH block IN pattern.right %]
	  <div class="draggable">
	    [% blockFile = blocks.${block.value.keys.first} %]
        [% PROCESS $blockFile open = block.value.values.first %]
	  </div>
	  [% END %]

    </div>

    <div class="cleaner">&nbsp;</div>

	</div><!-- end of "content" div -->

	[% PROCESS components/footer.tt %]
	
  </body>
</html>
