
[%#
# view.tt
# jt6 20060316 WTSI
# 
# build the main Pfam family page. Still a test-bed.
#
# $Id: view.tt,v 1.2 2006-03-16 17:41:03 jt6 Exp $
%]

<html>

  <head>
	[% PROCESS components/head.tt title = "Pfam family $pfam.pfamA_id"
                                  style = "blocks" %]
  </head>

  <body>
	[% PROCESS components/header.tt %]

    [%# hidden form that will be used for submitting layout changes to 
        the server %]
	<form name="storeLayout" method="GET">
	  <input type="hidden" name="layout" id="layoutInput"/>
	</form>

	<h1>Pfam entry [% pfam.pfamA_id %]</h1>

<!--
	<form name="new" action="http://web-1-14.internal.sanger.ac.uk:3000/summary">
	    <label for="idEntryField">Id:</label>
		<input type="text" name="id" id="idEntryField" size="10" />
		<input type="submit" value="Go" />
	</form>

	<form name="new" action="http://web-1-14.internal.sanger.ac.uk:3000/summary">
	    <label for="accEntryField">Accession:</label>
		<input type="text" name="acc" id="accEntryField" size="10" />
		<input type="submit" value="Go" />
	</form>
-->

    <div id="content">

    [% IF c.session.layout %]
	  [% pattern = c.session.layout %]
      <h3>Custom layout</h3>
    [% ELSE %]
	  [% pattern = defaultLayout %]
      <h3>Default layout</h3>
    [% END %]

    <div id="left" class="column">

	  [% FOREACH block IN pattern.left %]
	  <div class="draggable">
	    [% blockFile = blocks.${block.value.keys.first} %]
        [% PROCESS $blockFile open = block.value.values.first %]
	  </div>
	  [% END %]

    </div> <!-- end of left column -->

    <div id="right" class="column">

	  [% FOREACH block IN pattern.right %]
	  <div class="draggable">
	    [% blockFile = blocks.${block.value.keys.first} %]
        [% PROCESS $blockFile open = block.value.values.first %]
	  </div>
	  [% END %]

    </div>

    <div class="cleaner">&nbsp;</div>

	</div><!-- end of "content" div -->

	[% PROCESS components/footer.tt %]
	
  </body>
</html>
