[%
# announcements.tt
# jt6 20090122 WTSI
#
# a page snippet showing the RSS feeds from the blog
#
# $Id: announcements.tt,v 1.2 2009-03-20 16:45:46 jt6 Exp $

META naked = 1;

FOREACH issued IN entries.keys.sort.reverse;
  entry = entries.${issued};
  
  IF type == "posts";
    NEXT IF entry.content.body == "" -%]
    <h3>
      <a class="ext" href="[% entry.link %]">[% entry.title %]</a>
      [% IF entry.issued %]
      <span class="small nonbold">
        (posted [% entry.issued.day _ " " _ entry.issued.month_name _ " " _ entry.issued.year %])
      </span>
      [% END %]
    </h3>
    <p>[% entry.content.body %]</p>
  [% ELSE -%]
    [% entry %]
  [% END -%]

[% END -%]

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
