
[%
# layout.tt
# jt6 20060406 WTSI
# 
# build a tab-layout page
#
# $Id: layout.tt,v 1.11 2009-11-12 15:50:10 jt6 Exp $

USE String;
USE date;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "tab_layout.css" );
requirements.cssIe.push( "tab_layout_ie.css" );

# get the CSS for the curved corners from the application-specific area, so 
# that we can have differently coloured backgrounds in each of the websites
requirements.css.push( "cb.css" );

#--------------------------------------
# a BLOCK that will generate a sidebar tab

BLOCK generateTab; -%]
  <li id="[% blockName %]Selector" 
      class="[% IF index == 1; 'selected'; END; IF NOT active; ' disabled'; END %]">
    <a href="#[% blockName %]">[% blockTitle %]</a>
  </li>
[% END; # of BLOCK

#--------------------------------------
# actually generate the blocks for this page

firstTab    = 1;
tabsContent = String.new;
pageContent = String.new;

activity = {};

FOREACH block IN layouts.${pageType}.blocks;

  blockName  = block.keys.first;
  blockFile  = blocks.${blockName};
  blockTitle = block.values.first;

  # build the contents of the tab, if it's active
  
  # if we're in debug mode, just try to render the file, without a safety net,
  # so that we can see where the template breaks (if it breaks at all)

  # a bit dangerous. If we happen to leave debugging on in the live server, we
  # expose all sorts of stuff when we hit an error.
  # jt6 20071212 WTSI. 
  IF c.debug;
    CALL c.log.debug( "layout.tt: processing '$blockFile'" );
    pageOutput = PROCESS $blockFile;
    IF pageOutput;
      # we got some output from the block template; add it to the page content
      CALL pageContent.append( pageOutput );
    ELSE;
      # there was no content from the block template, meaning that the block
      # should be disabled. However, we still need a placeholder div in the 
      # body of the page, otherwise TabView gets confused
      CALL pageContent.append( "<div><!-- disabled --></div>" );
    END;

  ELSE;
    # we're not debugging, so catch the errors from the template and carry on
    TRY;
      pageOutput = PROCESS $blockFile;
      IF pageOutput;
        CALL pageContent.append( pageOutput );
      ELSE;
        CALL pageContent.append( "<div><!-- disabled --></div>" );
      END;
    CATCH;
      CALL c.log.error( "layout.tt: Couldn't render template file \"$blockFile\"" );
    END;
  END;

  blockActive = pageOutput ? 1 : 0;
  activity.$blockName = blockActive;

  # build the tab label
  tabsOutput = PROCESS generateTab, active = blockActive, index = loop.index+1;
  CALL tabsContent.append( tabsOutput );

  firstTab = 0;

END; # of "FOREACH block"

#--------------------------------------
# add the icons

PROCESS components/icons.tt;

#--------------------------------------
# and construct the page from the components that we've assembled

# page components that are needed by the history manager %]

<div id="tabTitle">
  [%
  titleFile = "components/blocks/${pageType}/title.tt";
  TRY;
    PROCESS $titleFile titleType="tab";
  CATCH;
    CALL c.log.error( "layout.tt: Couldn't render title file \"$titleFile\" (page type \"$pageType\")" )
      IF c.debug;
  END
  %]
</div>

<div id="loadingComponents" 
     class="loading" 
     style="display: none">
  Loading page components<span id="loadingComponentsCount"></span>&hellip;
</div>

<div class="cleaner"><!-- empty --></div>

[%-#--------------------------------------
   # this script block set up the YUI history and tab management components -%]

<script type="text/javascript">
  // <![CDATA[

  var section    = "[% pageType # the site section, e.g. family, protein, etc. %]";
  var showTab    = "[% showTab  # the tab, specified by a parameter %]";

  var tabPage;
  document.observe( "dom:loaded", function() {

    [%-# add curved corners, where needed -%]
    var cb = new CurvedBorders();

    [%-# add the various behaviours to the page -%] 
    tabPage = new TabPage();
  } );
  
  // ]]>
</script> 

[%-#--------------------------------------
   #
   # build the mark up for the page proper. Everything is classed appropriately for the 
   # YUI components -%]

<div id="wrap">

  <div id="tabset" class="yui-navset">

    <div id="sidebar">
      <ul class="yui-nav">
        [% tabsContent %]
      </ul>

      [% PROCESS components/jumpBox.tt %]

    </div> <!-- end of "sidebar" -->

    <div id="content" class="yui-content">
      [% pageContent %]
    </div> <!-- end of "content" -->

  </div>

  <div class="cleaner"></div>

</div> <!-- end of "wrap" -->

<!-- ====================================================================== -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
