
[%
# batchSubmitted.tt
# jt6 20070731 WTSI
# 
# build the page saying that a batch search has been submitted
#
# $Id: batchSubmitted.tt,v 1.2 2008-09-18 12:57:20 jt6 Exp $

META title    = "Batch sequence search";
META fullPage = 1;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

#PROCESS "components/require.tt";

# none

#-------------------------------------------------------------------------------

%]

<h1>Searching</h1>

<p>
  Thanks for using the Rfam batch search tool. Your search has been submitted 
  to the server and your results will be emailed to you at <em>[% email %]</em>
  when they are ready.  
</p>
<p>
  The identifier for this search is <strong>[% jobId %]</strong>. Please make
  a note of this if you are submitting multiple jobs; this is the unique 
  identifier for this particular job. 
</p>
[% IF numPending > 1 %]
  <p>
    There are <strong>[% numPending %]</strong> jobs ahead of yours in the 
    batch queue.
  </p>
[% ELSIF numPending == 1 %]
  <p>
    There is <strong>1</strong> job ahead of yours in the batch queue.
  </p>
[% END %]
<p>
  In [% refreshDelay || 30 %] seconds you will be redirected to the 
  <a href="[% refreshUri %]">Rfam search page</a>, or you can click 
  <a href="[% refreshUri %]">here</a> to go there immediately.
</p>

<hr />

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
