
[%
# polling.tt
# jt6 20070410 WTSI
#
# a page that polls the server for results of a sequence search 
#
# $Id: polling.tt,v 1.1 2008-09-12 09:27:32 jt6 Exp $

META title    = "Checking for results of a sequence search";
META fullPage = 1;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

sharedRequirements.css.push( "job.css" );
sharedRequirements.js.push( "job.js" );

#-------------------------------------------------------------------------------

%]

<div class="key">
  
  <h2>Sequence search</h2>
  
  <p>
    We have queued your sequence search. Once it has completed, you will be 
    redirected automatically to the results page. While searches are running, 
    please don&#39;t close this window or browse to a different page, otherwise 
    your results will be lost.
  </p>
  
  <div id="logger">
    <h3>Status</h3>
    <div id="logScroller"></div>
  </div>
  
</div>

<div id="errors"></div>

<div id="jobs"></div>

<script type="text/javascript">
  // <![CDATA[
  
  var oJobStatus;
  try {
    oJobStatus = '[% jobStatusJSON %]'.evalJSON( true );
  } catch( e ) {
    $("errors")
      .update( "There was a problem retrieving job parameters from the server." )
      .show();
  }
  
  if( ! ( oJobStatus === undefined ) ) {

    var jobs = [];
    $A( oJobStatus ).each( 
      function( jobConfig ) {
        
        var p;
        try {
          p  = new Job( jobConfig );
        } catch( e ) {
          $("errors")
            .update( "There was a problem submitting your job to the server: "
                     + e ? e : e.description )
            .show();
        }
        jobs.push( p );
      }
    );

  }

  // ]]>
</script>
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
