[% USE String %]

<h1>Wikipedia approval tool</h1>

<ul>
  <li><a href="[% c.uri_for( '/articles' ) %]">Articles</a></li>
  <li>
    <ul>
      [% FOREACH type IN handled_article_types;
        Type = String.new(type) %]
        <li>
          <a href="[% c.uri_for( '/articles', type ) %]">[% Type.capital %]-specific articles</a>
        </li>
      [% END %]
    </ul>
  </li>
  <li><a href="[% c.uri_for( '/users' ) %]">Users</a></li>
</ul>

<!--

* "update" edit button should call update the wikipedia table's last revision ID 
  for all articles in the page

-->

