
[%
# seqViewAlignmentResults.tt
# jt6 20061101 WTSI
# 
# part of the species tree. This template displays the alignment of the 
# sequences that the user selected from the species tree.
#
# $Id: seqViewAlignmentResults.tt,v 1.1.1.1 2007-10-26 13:00:58 rdf Exp $

# tell the wrapper not to add any header or footer
META naked = 1;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";
requirements.css.push( "job.css" );
requirements.js.push( "job.js" );

#-------------------------------------------------------------------------------

USE dumper;

pageContent = BLOCK;

CALL c.log.debug( "in seqView.tt" );

title = "View selected sequences"
-%]

<h1>An alignment of your selected sequences</h1>

<p>
  You selected <strong>[% selectedSeqAccs.size %]</strong> sequences.
  [% IF selectedSeqAccs.size >= 10 %]
    <span onclick="reveal( this, 'extraAccs', false, true )"
          class="moreLink">Show all accessions...</span>
  [% END %]
</p>

<div id="selectedAccs">
[% IF selectedSeqAccs.size >= 10 %]
  <p>
    [% i = 0;
    WHILE i < 10 %]
      <a href="[% base %]protein?acc=[% selectedSeqAccs.$i %]">
        [% selectedSeqAccs.$i %]</a>
    [% i = i + 1;
    END %]
    <span>&hellip;</span>
  </p>
  <div class="cleaner"><!-- empty --></div>
      
  <div id="extraAccs" style="display: none">
    [% i = 10;
    WHILE i < selectedSeqAccs.size %]
    <a href="[% base %]protein?acc=[% selectedSeqAccs.$i %]">
      [% selectedSeqAccs.$i %]</a>
    [% i = i + 1;
    END %]
  </div>
  <div class="cleaner"><!-- empty --></div>
[% ELSE %]
  <p>
  [% FOREACH seq IN selectedSeqAccs %]
    <a href="[% base %]protein?acc=[% seq %]">[% seq %]</a>
  [% END %]
  </p>
[% END %]  
</div>

[% IF errorMsg %]
  <p class="message">[% errorMsg %]</p>
[% ELSE; %]

  CALL c.log.debug( "alignment results: " );
  CALL c.log.debug( dumper.dump( results ) );

END %]

<a href="#" onclick="window.close()" class="closer">Close window</a>

[% END # of "pageContent = BLOCK" %]

[% PROCESS components/tools/toolWindow.tt %]
