
[%
# summary.tt
# jt6 20071010 WTSI
# 
# build the summary block for NCBI sequences
#
# $Id: summary.tt,v 1.5 2009-10-28 14:03:44 jt6 Exp $

USE String;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

# we use the same stylesheets and JS for both uniprot and ncbiseq sequences 
requirements.css.push( "protein.css" );
requirements.cssIeAll.push( "protein_all_ie.css" );

requirements.js.push( "protein.js" );
requirements.js.push( "updater.js" );

# this needs to be loaded before we try to load the canvas text library,
# but if we include it specifically for IE, it gets added below everything
# else. We can add it here safely, however, because excanvas checks to see
# if canvas is implemented before trying to inject itself
requirements.js.push( "excanvas.js" );

# need to load the canvas.text.js file before trying to load the font file, 
# otherwise it bails with an error about "face.glyphs is undefined"
requirements.jsIe.push( "canvas.text.js?reimplement=true&amp;dontUseMoz=true" ); #reimplement=true&amp;
requirements.jsIe.push( "faces/optimer-bold-normal.js" );

requirements.js.push( "domain_graphics.js" );

#-------------------------------------------------------------------------------

# a row counter
oe = 0;
-%]

<!-- start ncbiseq summary block -->

<div class="block" id="ncbiSummaryBlock">
  <div class="handle">
    <h1>Summary</h1>
  </div>
  <div class="blockContent">
    
    <p>
      This is the summary of 
      <acronym title="National Center for Biotechnology Information">NCBI</acronym>
      sequence entry 
      <strong><a href="http://www.ncbi.nlm.nih.gov/protein/[% gi %]"
           class="ext">GI:[% gi %]</a></strong>
      (<a href="http://www.ncbi.nlm.nih.gov/protein/[% gi %]"
          class="ext">[% secondary_acc %]</a>).
    </p>

    <table class="layout" summary="NCBI sequence summary information">
      <tbody>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
          <td class="label">Description:</td>
          <td class="data">
            [% desc %]
          </td>
        </tr>
        <tr class="[% oe % 2 ? "odd" : "even"; oe=oe+1 %]">
          <td class="label">Length:</td>
          <td class="data">
            [% sequence.length %] amino acids
          </td>
        </tr>
      </tbody>
    </table>

    <h2>Pfam domains</h2>

    <div id="imageKey" style="display: none">
      <p>
        This image shows the arrangement of the Pfam domains that we found on 
        this sequence. Clicking on a domain will take you to the page describing 
        that Pfam entry.
      </p>
    </div>
    
    <div id="pgholder" class="pgholder"></div>

    <div id="imageLoading" class="loading">Loading...</div>

    <script type="text/javascript">
      // <![CDATA[

      var u = new Updater(
        "[% c.secure_uri_for( '/search/sequence/graphic', jobId ) %]",
        {
          method:    "get",
          frequency: 1,
          decay:     1.2,
          on202:     function( response ) { /* nothing to do; poll again */ },
          onSuccess: function( response ) {
            u.stop();
            try {
              var pg = new PfamGraphic( "pgholder", response.responseJSON[0] );
              pg.render();
            } catch ( e ) {
              $("imageKey").update( "We could not load the domain graphic for this sequence" );
            }
            $("imageKey").show();
            $("imageLoading").hide();
          },
          onFailure: function( response ) {
            u.stop();
            $("imageKey")
              .update( "We could not load the domain graphic for this sequence" )
              .show();
            $("imageLoading").hide();
          }
        }
      );

      // ]]>
    </script>
      
  </div> <!-- end of "blockContent" -->
</div>

<!-- end protein summary block -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
