[%
# jalview.tt
# jt6 20120207 WTSI
# 
# build a page for the jalview applet
#
# $Id$

# tell the wrapper not to add any header or footer. We will generate a complete 
# page here ourselves
META naked = 1;

pageContent = BLOCK;

title = "Jalview: $alnType alignment for $acc";
-%]

<h1>
  View [% alnType %] alignment for <em>[% acc %]</em> using <a class="ext" href="http://www.jalview.org/">Jalview</a>
</h1>

<div class="jalview">
  <applet code="jalview.bin.JalviewLite" 
          width="780" 
          height="550"
          archive="[% c.uri_for( "/shared/jalview/jalviewApplet.jar" ) %]">
    <param name="file" value="[% c.uri_for( "/family/$acc/alignment/$alnType/fasta" ) %]" />
    <param name="defaultColour" value="Taylor" />
    <param name="linkLabel_1" value="UniProt" />
    <param name="linkUrl_1" value="http://www.uniprot.org/uniprot/$SEQUENCE_ID$" />
    <param name="linkLabel_2" value="Rfam sequence page" />
    <param name="linkUrl_2" value="[% c.uri_for( '/sequence/$SEQUENCE_ID$' ) %]" />
    <param name="database" value="rfamseq" />
    <param name="embedded" value="true" /> 
    <param name="nojmol" value="true" />
  </applet>
</div>

<p>
  You can also 
  <strong><a href="http://www.jalview.org/services/launchApp?colour=Taylor&amp;open=[% alignmentURI | uri %]">
    start Jalview</a></strong> via 
  <a class="ext" href="http://en.wikipedia.org/wiki/Java_Web_Start">Java Web Start</a>
</p>
<p>
  Both versions of Jalview will enable you to view the sequence alignment interactively,
  but the Web Start application offers slightly more functionality.
</p>

<a href="#" onclick="window.close()" class="closer">Close window</a>

[% END; # of "pageContent = BLOCK"

PROCESS components/tools/toolWindow.tt %]
[%#
Copyright (c) 2011: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
