[%
# jmol.tt
# jt6 20060728 WTSI
# 
# build a page for the Jmol applet
#
# $Id: jmol.tt,v 1.3 2009-06-05 14:31:57 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

sharedRequirements.js.push( "Jmol.js" );

#-------------------------------------------------------------------------------

# tell the wrapper not to add any header or footer. We will generate a complete 
# page here ourselves
META naked = 1;

USE String;

pageContent = BLOCK;

title = "Jmol";

activeSites = String.new( 'select none; ' );
unassigned  = String.new( 'select not (' );

script      = String.new( 'background white; load "' );
CALL script.append( c.uri_for( "/structure/getpdbfile", id=pdbId ) );
CALL script.append( '"; select protein; color cartoons structure; select all; cartoons on; cpk off; wireframe off; ' );

FOREACH m IN mapping;

  CALL unassigned.append( " ${m.pdb_res_start}-${m.pdb_res_end}" );

  CALL script.append( "select ${m.pdb_res_start}-${m.pdb_res_end}" );

  IF m.chain;
    CALL script.append( ":${m.chain}; " );
    CALL unassigned.append( ":${m.chain} " );
  ELSE;
    CALL script.append( "; " );
  END;
  IF loop.last;
    CALL unassigned.append( "); " );
    #CALL unassigned.append( "); isoSurface surface_unassigned molecular; " );
    #CALL unassigned.append( "color isoSurface [xe7e7e7]; " ); 
  ELSE;
    CALL unassigned.append( " or " );
  END; 

  IF m.hex_colour;
    CALL script.append( "color [x${m.hex_colour}]; " );
    #surfName = "surface_${m.chain}${m.pdb_res_start}${m.pdb_res_end}";
    #CALL script.append( "isoSurface ${surfName} molecular; " );
    #CALL script.append( "color isoSurface [x${m.hex_colour}]; " );
  END;

  FOREACH markup IN markups;
    CALL activeSites.append( "select ${markup.pdb_seq_number}" );
    IF markup.chain;
      CALL activeSites.append( ":${markup.chain}; " );
    ELSE;
      CALL activeSites.append( "; " );
    END;

    IF markup.auto_markup == 1;
      CALL activeSites.append( "colour [255,51,102]; " );
    ELSIF markup.auto_markup == 2;
      CALL activeSites.append( "colour [153,0,204]; " );
    END;

    CALL activeSites.append( "wireframe 100; " );

  END; # of FOREACH markup

END; # of FOREACH mapping

CALL script.append( activeSites );
CALL script.append( "select none; select ligand; cpk on; color cpk; " );
CALL script.append( unassigned );
-%]

<h1>PDB entry [% pdbId %]</h1>

<script type="text/javascript">
  // <![CDATA[
  // [%# we apparently need to set explicitly the name of the window, otherwise 
  //   # it takes the name of the parent, so targetted links back to the parent
  //   # will fail (stupid commenting to keep eclipse happy...) %]
  window.name = "jmolWin";
  jmolInitialize(" [% c.uri_for( '/shared/jmol' ) %]"); // REQUIRED
  jmolSetAppletColor( "white" );
  jmolApplet(500, '[% script %]');
  // ]]>
</script>

<table class="details wide" 
       summary="Mappings from PDB to EMBL to Rfam">
  <thead>
    <tr class="caption">
      <th colspan="3">PDB</th>
      <th colspan="3">EMBL</th>
      <th rowspan="2">Rfam family</th>
      <th rowspan="2">Colour</th>
    </tr>
    <tr class="caption">
      <th>Chain</th>
      <th>Start</th>
      <th>End</th>
      <th>ID</th>
      <th>Start</th>
      <th>End</th>
    </tr>
  </thead>
  <tbody>
    [% oe = 0;
    FOREACH m IN mapping %]
    <tr class="[% oe % 2 ? "odd" : "even"; oe = oe + 1 %]">
      <td>[% IF m.chain; m.chain; ELSE %]<span class="inactive">n/a</span>[% END %]</td>
      <td>[% m.pdb_res_start %]</td>
      <td>[% m.pdb_res_end %]</td>
      <td>
        <a href="[% c.uri_for( "/protein", entry=m.rfamseq_acc ) %]" 
           onclick="opener.location=this.href;return false;">[% m.rfamseq_acc %]</a>
      </td>
      <td>[% m.seq_start %]</td>
      <td>[% m.seq_end %]</td>
      <td>
        <a href="[% c.uri_for( "/family", id=m.auto_rfam.rfam_id ) %]"
          onclick="opener.location=this.href;return false;">
          [% m.auto_rfam.rfam_id %]</a>
        (<a href="[% c.uri_for( "/family", acc=m.auto_rfam.rfam_acc ) %]" 
            onclick="opener.location=this.href;return false;">
          [% m.auto_rfam.rfam_acc %]</a>)
      </td>
      <td style="background: #[% m.hex_colour %]">&nbsp;</td>
    </tr>
    [% END %]
  </tbody>
</table>

<div>
  <a href="#" onclick="window.close()" class="closer">Close window</a>
</div>

[% END # of "pageContent = BLOCK" %]

[% PROCESS components/tools/toolWindow.tt %]
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: Rob Finn (rdf@sanger.ac.uk), John Tate (jt6@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
