<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Wiki approval application</title>
    <link rel="stylesheet" href="[% c.uri_for('/static/css/articles.css') %]" type="text/css" />
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load("prototype", "1.6.1");</script>
    <script type="text/javascript" src="[% c.uri_for('/static/js/articles.js') %]"></script>
    <script type="text/javascript" src="[% c.uri_for('/static/js/tablekit.js') %]"></script>
<!--    <script type="text/javascript" src="[% c.uri_for('/static/js/raphael-min.js') %]"></script> -->
<!--    <script type="text/javascript" src="[% c.uri_for('/static/js/g.raphael-min.js') %]"></script> -->
<!--    <script type="text/javascript" src="[% c.uri_for('/static/js/g.bar.js') %]"></script> -->
  </head>
  <body>

    <div id="navbar">
      <table summary="Navigation bar">
        <tbody>
          <tr>
            <td id="colOne">
              <img alt="Sanger logo" 
                   src="[% c.uri_for( '/static/images/sanger_logo_light.png' ) %]" />
            </td>
            <td id="colTwo">
              <ul>
                <li><a href="[% c.uri_for( '/' ) %]">HOME</a>&nbsp;|&nbsp;</li>
                <li><a href="[% c.uri_for( '/articles' ) %]">ARTICLES</a>&nbsp;|&nbsp;</li>
                <li><a href="[% c.uri_for( '/users' ) %]">USERS</a></li>
              </ul>
            </td>
            <td id="colThree">
              [%- IF c.user_exists %]
              <span id="loginStatus">
                You are logged in as <strong>[% c.user.uid %]</strong> ([% c.user.cn %]). 
                <a href="[% c.uri_for('/logout') %]">Logout</a>
              </span>
              [%- ELSE %]
              <p>
                You are <strong>not</strong> logged in.
                <a href="[% c.uri_for('/login') %]">Login</a>
              </p>
              [%- END %]
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="content">
      <div id="message" 
           [%- UNLESS message %]style="display: none"[% END %]
           class="message">[% message %]</div>
      [% content %]
    </div>

    <div id="footer">
      <p>
        <a href="mailto:[% c.config.mailto %]">Contact</a> server admin
      </p>
    </div>

  </body>
</html>

